.top-menu:before, .top-menu:after, .top-menu, .cat-wrapper, .search-wrapper .fa, .cart-drop a:hover, .product .fa-eye:hover, .product .fa-heart:hover{ background:#2a3278 !important;}
.cart-drop a, .product:hover, .product .fa-eye:hover, .product .fa-heart:hover{ border-color:#2a3278;}
.cart-container span, .fa-shopping-bag, .navigation ul li a:hover, .products h1{ color:#fff;}
.pdt-cart:hover{ color:#2a3278;text-decoration: underline;}
.cat-wrapper:hover, .search-wrapper .fa:hover, .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{ background:#2a3278;}
.cart-content-bg a .shopping-btn-bg, .cart-content-bg button {background: #2a3278; }
.cart-content-bg a .shopping-btn-bg:hover, .cart-content-bg button:hover {  background: #1e1e1e;}  
.site-checkout .continue,.cont ,.empty-wrapper a,.pdt-btn,.submit-wishbtn,.btn-primary,.btn-success{background: #2a3278 !important; } 
.site-checkout .continue:hover,.cont:hover,.empty-wrapper a:hover,.pdt-btn:hover,.submit-wishbtn:hover,.btn-primary:hover,.btn-success:hover{background: #1e1e1e !important;}  
 button.apply-code {background: #282828;}  
 button.apply-code:hover {background: black;}
 .modal-dialog .pdt-btm .fa-heart:hover {border-color: #2a3278;background: #2a3278;color: #fff !important;text-decoration: none;}
 a {color: #2b2b2b;}
 .pdt-cart{color: #000;}
 .detail_cart a.pdt-btn {background: #2A3278 !important;}
 .detail_cart a.pdt-btn:hover {background: #000 !important;}
 .site-checkout .returning-customer .login-button {
background: #2a3278;
}