body{ margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#fff; line-height:18px;
color:#4c4c4c; }
.clear{ clear:both!important; float:none!important; margin:0!important; padding:0!important; line-height:0!important; height:0!important; font-size:0!important;border:0!important;background:none;}
a{outline: none!important;color: ##DC2522;}
img{outline: none!important;border: none;}

/*=================iPad======================*/
input[type="text"], input[type="password"], input[type="submit"]{
    -webkit-appearance: none !important;
    -webkit-border-radius:0 !important; 
    border-radius:0 !important;
}
body{min-width: 1000px;}
/*=================end iPad======================*/
textarea{font-family:Arial, Helvetica, sans-serif; font-size:12px;}

.wrapper{margin: 0 auto;width: 1000px;min-height: 525px;}
.header{background: url('images/header_bg.jpg') repeat-x top center; margin-bottom:-10px; }
.header-container{margin: 0 auto;width: 1000px;}
.logo{float: left;width: 280px;padding-top: 7px;}
.logo a,.logo img{display: block;}
.topsec{width: 720px;float: right;}
.shopcart a{display: block;background: url('images/shop_cart.png') no-repeat top left;padding-left: 24px;color: #1a1a1a;text-transform: uppercase;text-decoration: none;margin-top: 5px;float: right;}
.shopcart a:hover{color: ##DC2522;}
.acc-area{float: right;margin-top: 5px;}
.links{float: left;padding: 9px;}
.links ul{margin: 0;padding: 0;}
.links ul li{list-style: none;display: inline-block;color: #1a1a1a;text-transform: uppercase;line-height: 1;margin-right: 10px;}
.links ul li a{text-decoration: none;color: #1a1a1a;text-transform: uppercase;}
.links ul li a:hover{color: ##DC2522;}
.links ul li span{color: #aa001a;}
.topsearch{width: 300px;float: left;background: #323232;}
.topsearch input[type="text"]{border: none;background: #323232;padding: 10px;color: #b0afaf;width: 250px;margin: 0;}
.topsearch input[type="submit"]{background: url('images/search_icon.png') no-repeat top center;border: none; width: 25px;height: 23px;vertical-align: middle;}

/********** < Navigation */


/* ===================BANNER SECTION============================= */
.bannerarea{background: #8da0b3 url('images/banner_bg.jpg') repeat-x top center;padding: 15px 0;}
.banner{margin: 0 auto;width: 1000px;border: #ccc 1px solid;}
#slider {position:relative;height:396px!important; width:1000px!important;overflow:hidden;}
#slider img {position:absolute;top:0px;left:0px;display:none;width:1000px;height:396px;}
#slider a {border:0;display:block;}
.nivo-controlNav {position:absolute;bottom:10px;z-index:1000;right:10px;}
.nivo-controlNav a {cursor: pointer; display:block;width:15px;height:15px;background:url(images/bullets.png) no-repeat;text-indent:-9999px;border:0;margin-left:3px;float:left;}
.nivo-controlNav a.active {background-position:0 -16px;}
.nivo-directionNav a{ display:none!important; text-indent:-9999px;}
.nivo-directionNav a:hover {display:none!important;width:30px;height:30px;text-indent:-9999px;border:0;}
a.nivo-nextNav {background-position:-30px 0;right:15px;}
a.nivo-prevNav {left:15px;}
.nivo-imageLink {border: 0 none;height: 100%;left: 0;margin: 0;padding: 0;position: absolute;top: 0;width: 100%;z-index: 6;}

.wrapper_home{margin: 0 auto;width: 1000px;}
.mainarea{background:#fff url('images/main_bg.jpg') repeat-x top center;padding: 15px 0;min-height: 530px;}
.loginmainarea{min-height: 560px!important;}
.wrapper_inner{width: 1000px!important;margin: 0 auto;padding: 15px;border: #ccc 1px solid;background: #fff;min-height: 423px;}

/** HOME PAGE BLOCK STYLES **/
.blocks{padding: 5px 0 25px 0;}
.box{float: left;background: #fff; width: 312px;height: 158px;-webkit-box-shadow: 0px 0px 5px 2px #acb0b5;-moz-box-shadow: 0px 0px 5px 2px #acb0b5;box-shadow: 0px 0px 5px 2px #acb0b5;}
.midbox{margin: 0 31px;}
.box_orders:hover,.box:hover{box-shadow: 0px 0px 5px 2px #5e5c5c;}
.box_orders{float: left;background: #fff; width: 292px;height: 138px;padding: 10px; -webkit-box-shadow: 0px 0px 5px 2px #acb0b5;-moz-box-shadow: 0px 0px 5px 2px #acb0b5;box-shadow: 0px 0px 5px 2px #acb0b5;line-height: 1;}
.box_orders label{display: block;margin-bottom: 5px;color: #1a1a1a;font-size: 15px;text-transform: uppercase;}
.box_orders a{display: block;width: 281px;padding: 10px 5px 9px;margin-bottom: 6px; cursor: pointer; color: #fff;background: url('images/box_button.png') no-repeat top center;font-size: 15px;text-decoration: none;text-transform: uppercase;text-align: center;text-shadow: 1px 1px #000;}
.box_orders a:hover{opacity:0.8;filter:alpha(opacity=80); /* For IE8 and earlier */}

.content h3{font-size: 25px;color: ##DC2522;text-transform: uppercase;line-height: 1;margin:0 0 10px 0;font-weight: normal;}
.wrapper h1,.page-title h1{color: ##DC2522;font-size: 25px;text-transform: uppercase;line-height: 1;margin:8px 0 10px 0;font-weight: normal;}
.col-main h2{color: ##DC2522;font-size: 22px;text-transform: capitalize;line-height: 1;margin:5px 0 8px 0px;font-weight: normal;padding-bottom: 10px;}
.col-main a{text-decoration: none;}
.dashboard-login-index .footerarea{ position:fixed; bottom:0; width:100%; }
.footer-container{width: 1000px;margin: 0 auto;}
.footer{float: left;}
.footer ul{margin: 0;padding: 0;}
.footer ul li{list-style: none;display: inline-block;}
.footer ul li a{padding: 15px 20px 15px 0;color: #9FA3A6;text-decoration: none;text-transform: uppercase;display: block;}
.footer ul li a:hover{color: #fff;}
.copyright{float: right;padding: 15px 0;}


/** =========LOGIN PAGE STYLES========= **/
.dashboard-login-index .mainarea{min-height: 423px;}
.header-log{width: 635px;margin: 0 auto;}
.logo_login{text-align: center;padding: 80px 0 45px 0;}
.wrapper_login{width: 445px;margin: 0 auto;padding: 15px;border: #ccc 1px solid;background: #fff;
-webkit-box-shadow: 11px 7px 20px -10px rgba(204,204,204,1);
-moz-box-shadow: 11px 7px 20px -10px rgba(204,204,204,1);
box-shadow: 11px 7px 20px -10px rgba(204,204,204,1);
}
.copyright_login{text-align: center;padding: 15px 0;}
.wrapper_login form{width: 450px; margin: 0 auto;}
/*.wrapper_login .textfeild{padding:10px 0;}*/
.wrapper_login input[type='text']{ width: 432px; height: 24px; padding: 5px; border: 1px solid #b2b9c0; color: #919090;}
.wrapper_login input[type='text']:hover, .wrapper_login input[type='password']:hover{-webkit-box-shadow: 0px 0px 5px 2px #acb0b5;-moz-box-shadow: 0px 0px 5px 2px #acb0b5;box-shadow: 0px 0px 5px 2px #acb0b5;}
.wrapper_login input[type='password']{ width: 432px; height: 24px; padding: 5px; border: 1px solid #b2b9c0; color: #919090;}
.wrapper_login input[type='submit']{width: 111px;}
.wrapper_login a{display: block; float: right; color: #5f5e5e; text-decoration: none;}
.wrapper_login a:hover{color: #000;}
.dashboard-login-index{ background:#f1f2f4;}


/** =========MESSAGES========= **/
/**.messages{margin: 0; padding: 0; border: 1px solid ##DC2522; background: #dce0e5;}
.messages li{display: inline; }
.messages li ul{margin: 0; padding: 0;}
.messages li ul li{padding: 10px;}
.error-msg{color: red;}**/


.messages,.messages ul { list-style:none !important; margin:0 !important; padding:0 !important; }
.messages { width:100%; overflow:hidden; }
.messages li { margin:0 !important; }
.messages li li { margin:0  !important; }
.error-msg,.success-msg,.note-msg,.notice-msg {padding: 0.833em 0.833em 0.833em 3em; /* 10/12 36/12 */	margin-bottom: 0.833em; /* 20/12 */ }
.error-msg { background: #fde8e4 url('images/error.png') no-repeat 0.833em center;border: 1px solid #e6bbb3;color: #cf4425; }
.success-msg {background: #e7fae6 url('images/confirmation.png') no-repeat 0.833em center;border: 1px solid #b7cbb6;color: #52964f; }
.note-msg,.notice-msg { background: #e5f5f9 url('images/information.png') no-repeat 0.833em center;border: 1px solid #cae0e5;color: #5a9bab; }

.msgmargin ul.messages{margin-bottom: 8px;}
.msgpadding{padding: 15px;}

.bestsellers .lis{width: 235px;margin:0 auto;}
.bestsellers .lis img{display: block;padding-top: 8px;}
.bestsellers .lis a{display: block;text-decoration: none;text-transform: uppercase;color: #1d1d1d;font-size: 15px;padding: 4px 0;}
.bestsellers .lis .product-name{height: 41px;overflow: hidden;margin-bottom: 8px;}
.pricebox{padding-bottom: 5px;}
.price{display: block;color: ##DC2522;font-size: 18px;padding: 7px 0;font-weight: bold;}
.vsamll{border: #ccc 1px solid;padding: 7px;width: 18px;}
.vsamll_select{border: #ccc 1px solid;padding: 6px;}
.addto span{color: ##DC2522;font-size: 15px;display: block;float: left;margin-right: 10px;margin-top: 6px;}
.addto select{float: left;}
.addto input[type="text"]{float: left;}
.addto input[type="submit"]{float: right;width: 111px;}
.button{background: #DC2522;color: #fff;text-align: center;cursor: pointer;border: none;padding: 7px 15px;outline: none!important;}
.button:hover{background: #000;}
.desc{padding-bottom: 8px;height: 26px;overflow: hidden;display: none;}
.sku{padding: 4px 0 ;display: inline-block;}
.sku span{color: ##DC2522;}
.sku b{}
.sku1{padding: 4px 0 0;display: inline-block;}
.sku1 span{color: ##DC2522;}
.sku1 b{}

.phead{float: left;}
#showform{float: right;}
#showform a{color: ##DC2522;font-size: 15px;cursor: pointer;font-weight: bold;text-decoration: none;padding-top: 5px;display: block;}
.view{float: right;color:##DC2522;font-size: 15px;}
.view span{float: left;display: block;padding-top: 15px;padding-right: 5px;}
.view a{color: #979a9e;font-size: 11px;display: block;float: left;margin: 0 5px;text-decoration: none;text-align: center;}
.grid{background: url('images/grid.png') no-repeat 2px 16px;width: 20px;padding-bottom: 23px;}
.grid.active{background-position: -30px 16px;color: #2d2e30;}
.list{background: url('images/list.png') no-repeat 0px 16px;width: 23px;padding-bottom: 23px;margin-right: 0!important;}
.list.active{background-position: -29px 16px;color: #2d2e30;}

.product_grid{min-height: 450px;}
.product_grid ol{margin: 0;padding: 0;list-style: none;}
.product_grid ol li{margin: 0;list-style: none;padding: 10px;border: #ccc 1px solid;background: #fff;margin-right: 20px;margin-bottom: 20px; width: 205px;float: left;text-align: center;}
.product_grid ol li:hover{-webkit-box-shadow: 0px 4px 5px 0px rgba(204,204,204,1);-moz-box-shadow: 0px 4px 5px 0px rgba(204,204,204,1);box-shadow: 0px 4px 5px 0px rgba(204,204,204,1);}
.product_grid ol li.nomargin{margin-right: 0!important;}
.product_grid ol li .button{width: 111px;margin-bottom: 8px;}
.product_grid ol li a{display: block;text-decoration: none;color: #1d1d1d;font-size: 15px;padding: 10px 0;font-weight: bold;}
.product_grid ol li a:hover{color: ##DC2522;}
.product_grid ol li .product-name {min-height: 56px;}

.product_list{float:left; background: #fff;/** -webkit-box-shadow: 0px 0px 5px 2px #acb0b5;-moz-box-shadow: 0px 0px 5px 2px #acb0b5;box-shadow: 0px 0px 5px 2px #acb0b5;**/}
.product_list ol{margin: 0;padding: 0;list-style: none;}
.product_list ol li{margin: 0;padding: 15px;border-bottom: #ccc 1px solid;}
.product_list ol li img{display: block;border: #ccc 1px solid;}
.product_list ol li img:hover{-webkit-box-shadow: 0px 4px 5px 0px rgba(204,204,204,1);-moz-box-shadow: 0px 4px 5px 0px rgba(204,204,204,1);box-shadow: 0px 4px 5px 0px rgba(204,204,204,1);}
.product_list ol li a{display: block;text-decoration: none;color: #1d1d1d;font-size: 15px;padding:0 0 4px 0;text-transform: uppercase;font-weight: bold;}
.product_list ol li a:hover{color: ##DC2522;}
.floatimg{float: left;}
.floatchk{float: left;text-align: center;padding-top: 18px;}
.floatchk input[type="checkbox"]{}
.floatchk .trayid{display: block;color: ##DC2522;font-size: 15px;font-weight: bold;}
.floatimg input[type="checkbox"]{float: left;display: block;margin: 3px 5px 0 10px;}
.floatimg a{float: left;margin-right: 10px;margin-left: 15px;padding: 0!important;}
.floatinfo{float: left;width: 590px;margin-right: 10px;}
.floatinfo span{padding: 4px 10px 4px 0!important;}
.floatleft{float: left;}

.floatright{float: right;}
.desclist{height: 20px;overflow: hidden;display: none;}
.list_bttn{width: 115px;font-weight: bold;float: right;margin-top: 15px;}
.animation_image{padding: 5px 0;}
#list_form_pro{position: relative;}
#checkall a{display: inline-block;padding: 10px;color: ##DC2522;text-decoration: none;}

/** Attribute table **/
.attr_table{float:left;margin:7px;border:1px solid #839EBD;border-collapse: collapse;min-width: 110px;color: #1A1A1A;}
.attr_table thead{background:#96AFCC;}
.attr_table thead tr td{padding:8px;border:none;text-align:center;font-size:13px;font-weight:bold;color: #1A1A1A;}
.attr_table tbody{background:#D2DEED;}
.attr_table tbody tr td{padding:10px;font-size:12px;border:1px solid #839EBD;text-align:center;}
.attr_table tbody tr td a{padding:0 5px;color:#0877B9;font-weight:bold;text-decoration:none;}
.attr_table input[type="text"]{width: 65px;border: #ccc 1px solid;padding: 3px;}
.minh{min-height: 69px;}

.catlink{color: ##DC2522;font-size: 15px;font-weight: bold;float: left;padding-top: 10px;}
.catlink a{display: inline-block;text-decoration: none; color: ##DC2522;font-size: 15px;font-weight: bold;}
.search_btn{float: right;margin-right: 10px;}
.search_btn .button{width: 120px;font-weight: bold;}
.results_area{}
.results_area .product_grid ol li{width: 205px!important;}
.results_area .product_list{border: #ccc 1px solid;box-shadow:none;}

/** Shopping cart **/
.shopping_cart{}
.shopping_cart table {width: 100%;border-collapse: collapse;}
.proceed_order a{text-decoration: none; display:inline-block; padding: 10px 20px; background: ##DC2522; color: white; font-size: 12px; text-transform: uppercase; font-weight: bold; text-align: center;margin-left: 10px;}
.proceed_order a:hovera{background: #000;}
/* Zebra striping */
.shopping_cart tr:nth-of-type(odd) { /**background: #eee;*/}
.shopping_cart td, th {padding: 6px;border: 1px solid #ccc;text-align: center;}
.shopping_cart .action{text-align: center;}
.shopping_cart .action a{text-decoration: none; margin: 0 5px;}
.shopping_cart .editabletd{background: #eee;}
.shopping_cart .continue_shopping a{text-decoration: none; display:inline-block; padding: 10px 20px; background: ##DC2522; color: white; font-size: 12px; text-transform: uppercase; font-weight: bold;text-align: center;}
.shopping_cart .continue_shopping a:hover{background: #000;}
.shopping_cart .total{float: right; font-weight: bold; padding: 15px 0 20px 0;font-size: 16px;color: ##DC2522;}
.shopping_cart .proceed_order{float: right;}
.continue_shopping{float: left;}

/**  CHECKOUT **/
.checkout{}
.checkout .head{background: none repeat scroll 0 0 #ccc;color: #202020;font-weight: bold;margin-right: 0;padding: 10px 8px 8px 10px;text-transform: uppercase; }
.checkout textarea{height: 75px;margin: 10px 0;padding: 10px;width: 97%;border: #ccc 1px solid;}
.checkout table {width: 100%;border-collapse: collapse;}
#select_store{margin: 10px 0;padding: 6px;width: 100%;border: #ccc 1px solid;}
#select_store option{cursor: pointer;}
/* Zebra striping */
.checkout tr:nth-of-type(odd) { background: #eee;}
.checkout th {background: #333;color: white;font-weight: bold;}
.checkout td, th {padding: 6px;border: 1px solid #ccc;text-align: center;}
.checkout .action{text-align: center;}
.checkout .action a{text-decoration: none; margin: 0 5px;}
.checkout .editabletd{background: #eee;}
.checkout .continue_shopping a{color: #AA001A;}
.checkout .continue_shopping a:hover{color: #000;}
.checkout .total{float: right; font-weight: bold; padding: 13px 0 15px;font-size: 16px;color: ##DC2522;}
.checkout .proceed_order{float: right;}
.checkout .proceed_order .button{padding: 10px 20px;font-size: 12px; text-transform: uppercase; font-weight: bold;width: 150px;}

/* ORDERS */
.ordersa{}
.data-table a{color: ##DC2522; text-decoration: none; white-space: nowrap;}
.data-table a:hover{color: #4C4C4C;}
.data-table td.nobr a{white-space: pre-wrap!important;}

#my-orders-table a{white-space: normal!important;}
/* ORDER */
.order{}
.order .orderId{float: left; width: 50%; color: ##DC2522;}
.order .orderId span{font-weight: bold; color: #000000;}
.order .orderDate{float: right; width: 50%; text-align: right; color: ##DC2522;}
.order .orderDate span{font-weight: bold; color: #000000;}
.order h3{border-bottom: 1px solid ##DC2522; text-transform: uppercase;}
.order .order_billing{float: left; width: 350px;}
.order .order_billing h4{border-bottom: 1px solid #ccc; text-transform: uppercase;}
.order .order_shipping{float: right; width: 350px;}
.order .order_shipping h4{border-bottom: 1px solid #ccc; text-transform: uppercase;}
.order .supplierorder{}
.order .supplierorder h3{}

.order table {width: 100%;border-collapse: collapse; margin-top: 10px;}
.order tr:nth-of-type(odd) { background: #eee;}
.order th {background: #333;color: white;font-weight: bold;}
.order td, th {padding: 6px;border: 1px solid #ccc;text-align: center;}
.order .total{float: right; font-weight: bold; padding: 5px 0;}
.order .grand_total{font-weight: bold; color: ##DC2522; float: right;}

/** Product Detail Page **/
.product_detail{min-height: 450px; padding: 10px; background: #fff;-webkit-box-shadow: 0px 0px 5px 2px #acb0b5;-moz-box-shadow: 0px 0px 5px 2px #acb0b5;box-shadow: 0px 0px 5px 2px #acb0b5;}
.product-img-box{width: 462px;float: left;text-align: center;}
.product-img-box .large{margin-right: 10px;}
.product-img-box .large a{display: block;cursor: -moz-zoom-in;}
.product-img-box .large{border: #ccc 1px solid;}
.product-img-box .thumbnails{display: none;/** NOT DISPLAY OTHER IMAGES **/}
.product-info{float: left;width: 510px;}
.product-info .pricebox{float: left;}
.product-info .addtobox{float: right;}
.addtobox span{color: ##DC2522;font-size: 15px;display: block;float: left;margin-right: 10px;margin-top: 6px;}
.addtobox input[type="text"]{float: left;}
.addtobox input[type="submit"]{float: right;margin-left: 8px;width: 111px;}
.pricebox .label{display: inline-block;color: #4c4c4c;font-size: 18px;padding: 7px 0;font-weight: normal;margin-right: 15px;}
.product-info .price{display:inline-block;}
.productattribute{border:1px solid #E7E7E7;margin:5px 0;border-collapse: collapse;width: 100%;margin: 0;}
.productattribute tbody td{padding:7px 7px 6px 8px;border-bottom: 1px solid #E7E7E7;border-right: 1px solid #E7E7E7;vertical-align:middle;}
.productattribute tbody td.hed{background: url("images/tail-manuf.gif") repeat-x scroll 0 0 #F8F8F8;color: #191919;font-weight: bold;padding:7px 7px 6px 8px;width: 33%;}
.description{text-align: left;}
.description h3{margin: 6px 0 10px 0;}

.related_products{min-height: 370px!important;}
.related_products h3{color: ##DC2522;font-size: 16px;margin: 20px 0 10px 0;line-height: 1;}
.related_products ol li{margin: 0 13px 0 0;}


/** leftside and rightside **/
.leftside{float: left;width: 730px;}
.rightside{float: right;width: 220px;}
.block {background:#FFFFFF;border: 1px solid #DDDDDD;line-height: 1.35;margin: 0 0 15px;padding-right: 0;}
.block .block-title {background:#1A1A1A;margin-right: 0;font-weight: bold; padding: 10px 8px 8px 10px;color: #fff;text-transform: uppercase;}
.block .block-content {font-size: 12px;padding: 10px;}
.block-content ul{margin: 0;padding: 0;list-style: none;}
.block-account .block-content li a {border-bottom: 1px solid #DDDDDD;color: #5F5D5C;display: block;padding: 6px 0;text-decoration: none !important;}
.block-account .block-content li a:hover{color: ##DC2522;}
.block-account .block-content li.last a{border: none;}

.acc-address p{margin: 0;}
.myaccount h3{margin: 0;padding-bottom: 5px;color: ##DC2522;}
.box-address{float: left;margin-right: 20px;width: 340px;}
.box-address label{font-weight: bold;display: block;padding: 5px 0;}
.box-address textarea{border: #ccc 1px solid;padding: 5px;background: #fff;width: 300px;height: 125px;}
.acc-address input[type='submit']{margin-top: 10px;}

.box-account .box-head { margin: 0 0 5px;text-align: right;}
.box-account .box-head h3 {float: left;}
.box-account a{color: ##DC2522;text-decoration: none;white-space: nowrap;}
.box-account a:hover{color: #c51637;}
.box-recent{margin-bottom: 10px;}
.data-table thead th{background: url("images/tail-manuf.gif") repeat-x scroll 0 0 #F8F8F8;border-right: 1px solid #DDDDDD; color: #191919;font-weight: bold;padding:7px 7px 6px 8px;border-bottom: 1px solid #E7E7E7; white-space: nowrap;}
.data-table {border:1px solid #E7E7E7;margin:5px 0;border-collapse: collapse;    width: 100%;}
.data-table tbody td{border-bottom: 1px solid #E7E7E7;border-right: 1px solid #E7E7E7;}
.data-table th,td{vertical-align:middle;}
.data-table tbody td{padding:10px;text-align: center;}.data-table tfoot td{padding:3px;}

/** Create order **/
.createorder label{color: ##DC2522;font-size: 14px;display: block;}
.createorder .vmedium{width:137px;padding: 8px;border: #ccc 1px solid;display: block;margin-right: 15px; margin-top: 18px;}
.createorder .qty{display: block;float: left;margin-right: 10px;color: ##DC2522;font-size: 15px;}
.createorder .vsmall{padding: 8px;border: #ccc 1px solid;display: block;float: left;width: 65px !important;}
.parea{float: left;margin-right: 15px;}
#add_icon{margin:12px 0 0 10px;}
#add_icon a{display: block;line-height: 1;}
.droplist{position: relative;float: left;}
.lislitem{position: absolute;top: 33px;z-index: 10;}
.lislitem ul{margin: 0;padding: 0;list-style: none;border: #ccc 1px solid;width: 153px;background: #f2f2f2;max-height: 200px;overflow-x:hidden; -webkit-box-shadow: 1px 15px 22px -18px #ccc;-moz-box-shadow: 1px 15px 22px -18px #ccc;box-shadow: 1px 15px 22px -18px #000;}
.lislitem ul li{list-style: none;padding: 5px;display: block;border-bottom: #ccc 1px solid;}
.lislitem ul li a{cursor: pointer;color: #414141;text-transform: capitalize;text-transform: uppercase;text-decoration: none;display: block;}
.items{margin-bottom: 15px;}
.loading{ background: url("images/loading.gif") no-repeat 125px center;background-size: 18px Auto;}
.createorder .button{margin-right: 20px;width: 125px;font-weight: bold;}

#table_create_order{margin-bottom: 15px;}
#table_create_order th{text-align: left;padding: 0 20px 0 0;border: none;vertical-align: middle;white-space: nowrap;}
#table_create_order td{padding: 5px 10px 5px 0;}
.unitcost .price{font-size: 13px!important; padding-top: 20px !important;}
.tithed{color: #1D1D1D;font-size: 15px; padding-top: 22px !important;}




/** ====================== SUPPLIER DASHBOARD STYLES ======================= **/
.topsecsupplier{margin-top: 23px;}
.data-table thead th span{display: block;padding-right: 15px;cursor: pointer; background: url("images/sort_both.png") no-repeat scroll right center;}
.filter{width: 800px;color: #414141;}
.filter .dat{float: left;}
.filter .sto{float: left;}
.filter .button{float: left;width: 110px;padding: 5px 15px 4px!important;}
.filter input[type="text"]{border: #ccc 1px solid;padding: 5px;display: block;float: left;margin-right: 10px;width: 170px;}
.ui-widget{font-size: 12px!important;}
.filter select{width: 170px;padding: 4px 5px 3px;border: #ccc 1px solid;color: #414141;margin-right: 10px;}
.supp_grand{margin-top: 8px;}
.supp_order .button{float: right;margin-top: 10px;padding: 5px 20px 5px!important;}
.filter-table input{border: #ccc 1px solid;padding: 5px;display:inline-block;width: 170px;}
#selectall{vertical-align: sub;margin-left: 10px;}


/** ===================== promotion ======================== **/

.promotion{}
.date_offer .offer{display: block;float: left;width: 45%;padding:10px 0;font-size: 16px;}
.date_offer .offer span{color: ##DC2522;}
.promotion p{margin:0 0 15px 0;}
.btnarea{padding: 10px 0;}
.btnarea input[type="checkbox"]{vertical-align: sub;}
.btnarea .button{font-weight: bold;margin-left: 15px;width: 245px;border-radius: 17px;font-size: 13px;font-weight: bold;padding: 10px 16px;font-family: arial;}

.cost_html b{display: block;padding: 8px 0;color: ##DC2522;font-size: 13px;}
.cost_html label{display: block;float: left;margin-right: 10px;line-height: 1;margin-top: 7px;font-weight: bold;}
.cost_html input[type="text"]{border: #ccc 1px solid;padding: 5px;display: block;float: left;margin-right: 10px;width: 170px;}

.catalogue ul{margin: 15px 0 0 0;padding: 0;list-style: none;}
.catalogue ul li{display: inline-block;width: 307px;margin-bottom:15px;}
.catalogue ul li.mid{margin: 0 20px;}
.catalogue ul li .tit a{color: #414141;font-size: 13px;font-weight: bold;padding: 5px 0 8px 0;text-decoration: none;display: block;}
.catalogue ul li .img{width: 307px;height: 217px;text-align: center;-webkit-box-shadow: 6px 5px 4px -2px #ccc;-moz-box-shadow: 6px 5px 4px -2px #ccc;box-shadow: 6px 5px 4px -2px #ccc;}

.desc_cata{}
.desc_cata iframe{width: 100%!important;}
.desc_cata object{width: 100%!important;}
.issuuembed{width: 100%!important;height: 390px;}
.issuuembed a{display: none;}
.issuuembed span{display: none;}
.promo_view .date_offer .offer{width: 350px!important;}
.offer1{float: right;width: 150px;text-align: right;padding: 10px 0;}
.offer1 a{text-decoration: none;font-size: 16px;display: block;}
.promo_view .product_list{box-shadow:none!important;}
.promo_view .product_grid ol li{/** margin: 0 10px 20px 0;**/}


/** area_filter Category  **/
.area_filter{float: left;width: 860px;margin-top: 2px;margin-bottom: 15px;}
.flit_search{float: left;}
.filt_select{float: right;}
.flit_search input[type="text"]{border: #ccc 1px solid;padding:8px 7px;width: 215px;margin-right: 5px;}
.filt_select select{border: #ccc 1px solid;padding: 6px;}

/** Quicklist Styles **/
.col-main{position: relative;}
.popupsave{width: 300px;margin: 0 auto;border: #ccc 1px solid;background: #fff;z-index: 9999;box-shadow:0 30px 390px #000}
.popupsave label{display: block;float: left;font-weight: bold;font-size: 12px;color: ##DC2522;}
.close{display: block;background: url('images/error.png') no-repeat top center;width: 16px;height: 16px;text-indent: -9999px;cursor: pointer;}
.popupsave .close{float: right;}
.pophed{background: none repeat scroll 0 0 #f2f2f2;padding: 5px;border-bottom: #ccc 1px solid;}
.popupsave form{padding: 10px;display: block;text-align: center;}
.popupsave input[type="text"]{border: #f0f0f0 1px solid;padding: 8px;width: 260px;}
.popupsave .button{margin-top: 9px;padding: 5px; width: 70px;}


.attcon{ font-size: 12px; height: 78px;overflow: hidden;}

/** Chrome styles **/
@media screen and (-webkit-min-device-pixel-ratio:0){ 
.loginmainarea{min-height: 590px!important;}
input{margin: 0;}
.topsearch input[type="submit"]{vertical-align: middle;}
}

/**  Conference products identification */
.conference_tr{background: ##DC2522 !important; display: block; width: 100%; color: white; padding: 1px;}
.conference_text{color: ##DC2522;}

.filter-tray{font-weight: bold;font-size: 12px;color: #191919;}
.filter-tray input{border: #ccc 1px solid;padding: 5px;display:inline-block;width: 250px;}
#my-tray-table tbody td{font-weight: bold;text-align: left;}
#my-tray-table tbody td a{color: #191919;}
#my-tray-table tbody td a:hover{color: ##DC2522;}
.quicklisttable tbody td{font-weight: bold;}

/** Contact us **/

.contact{width: 508px; float: left;}
.contact_feilds{margin-bottom: 10px;}
.contact_feilds label{display: block; float: left; width: 100px;}
.contact_feilds input[type='text']{width: 400px; height: 25px; padding: 2px; float: left; border: 1px solid #ccc;}
.contact_feilds textarea{width: 403px; height: 150px; border: 1px solid #ccc;}
.contact_feilds input[type='submit']{float: right; }
.contact_feilds span{color: red;}
.contact_right{float: right; width: 400px;}
.contact_right img{}


/** AT 18-03-2014 **/
.product-img-box .large,.product_grid ol li{position: relative;}
.made_to_order{position: absolute;top: -10px;right:-10px;}
.made_to_order_list{position: absolute;top:-7px;right: -7px;}
.made_to_order img{border: none!important;}
.our_brands img:hover{opacity:0.5;
filter:alpha(opacity=50); /* For IE8 and earlier */}


/** Address Book **/
.box-add{float: left;margin-right: 20px;width: 340px;margin-bottom: 15px;}
.box-add label{font-weight: bold;display: block;padding: 5px 0;}
.box-add textarea{border: #ccc 1px solid;padding: 5px;background: #fff;width: 300px;height: 125px;}
.box-add input[type="text"],.box-add input[type="password"]{border: #ccc 1px solid;padding: 5px;background: #fff;width: 300px;}
.link{display: block;font-weight: bold;color: #4C4C4C;padding: 5px 0 5px 0;margin-left: 6px;font-size: 13px;}
.link:hover{color: ##DC2522;}

.clearcart{display: block;float: right;font-weight: bold;padding: 3px 8px;margin-top: 6px;}

/** FORM 13-05-2014 **/
.short_tags > span{font-weight: bold;color: ##DC2522;}
.short_comment{float: left;padding: 10px 0;}
.short_comment label{margin-right: 10px;font-weight: bold;}
.short_comment textarea{border: #ccc 1px solid;padding: 5px;width: 250px;height: 30px;vertical-align: middle;}
.short_comment select{border: #ccc 1px solid;padding: 5px;width: 250px;height: 30px;vertical-align: middle;}
#shortareaspan{vertical-align: middle;}
#loadw{font-size: 11px;margin-left: 10px;}
.shortcmnt {padding: 8px 0;}
.shortcmnt label{color: #000000;font-weight: bold;}
.shortcmnt > span {color: ##DC2522;}

.multi_cart_head{width: auto; background: #333333; padding: 10px;}
.multi_cart_head h2{color: #ffffff; text-transform: uppercase; font-size: 13px; font-weight: bold; margin: 0 !important; padding: 0 !important;}
.multi_cart_head_left{float: left; width: 650px;}
.multi_cart_head_left p{color: #d1d1d1; margin: 0 !important; padding: 0 !important;}
.multi_cart_head_right{float: right; width: 200px; color: #d1d1d1; font-size: 16px; text-align: right; font-weight: bold;}
.checkout .multi_cart_head_left{width: 500px;}
.store_total{text-align: right; color: ##DC2522; font-size: 14px; font-weight: bold; padding: 10px 0 15px 0;}


#myOverlay{

    background: url('images/loading.gif') no-repeat left;
    color: green;
    left: -6px;
    padding: 5px 0 5px 38px;
    position: absolute;
    top: -57px;
    width: 100%;
    font-weight: bold;
    display: none;
        
}
.jcarousel-list{}

.jcarousel-container {}
.jcarousel-direction-rtl {direction: rtl;}
.jcarousel-container-horizontal {background: #fff;margin-bottom: 25px; -webkit-box-shadow: 0px 0px 5px 2px #acb0b5;-moz-box-shadow: 0px 0px 5px 2px #acb0b5;box-shadow: 0px 0px 5px 2px #acb0b5;padding: 20px 55px;width: 890px;}
.jcarousel-clip {overflow: hidden;}

.jcarousel-clip-horizontal {width:890px;height:335px;}
.jcarousel-item { border-right: 1px solid #959595;height: 335px;padding: 0 6px;text-align: center;width: 295px;}

.our_brands .jcarousel-clip-horizontal {width:890px;height:100px;}
.our_brands .jcarousel-item {width: 299px;height: 100px;padding: 0 2px;text-align: center;border-right: #959595 1px solid;}

.jcarousel-item-horizontal {margin-left: 0;}
.jcarousel-direction-rtl .jcarousel-item-horizontal {margin-left: 10px;margin-right: 0;}
.jcarousel-item-placeholder {background: #fff;color: #000;}

/**
 *  Horizontal Buttons
 */
.jcarousel-next-horizontal {position: absolute;top: 150px;right: 15px;width: 27px;height: 46px;cursor: pointer;background: transparent url(images/right_arrow.jpg) no-repeat 0 0;}
.jcarousel-direction-rtl .jcarousel-next-horizontal {left: 5px;right: auto;background-image: url(images/left_arrow.jpg);}
.jcarousel-prev-horizontal {position: absolute;top: 150px;left: 15px;width: 27px;height: 46px;cursor: pointer;background: transparent url(images/left_arrow.jpg) no-repeat 0 0;}
.jcarousel-direction-rtl .jcarousel-prev-horizontal {left: auto;right: 5px;background-image: url(images/right_arrow.jpg);}
.jcarousel-prev-horizontal:hover,.jcarousel-prev-horizontal:focus {}
.jcarousel-prev-horizontal:active {}
.jcarousel-prev-disabled-horizontal,.jcarousel-prev-disabled-horizontal:hover,.jcarousel-prev-disabled-horizontal:focus,.jcarousel-prev-disabled-horizontal:active {cursor: default;}

.our_brands .jcarousel-prev-horizontal{top: 45px!important;}
.our_brands .jcarousel-next-horizontal{top: 45px!important;}

/*..............................*/

/* Fancybox Image Gallery */

div#fancy_overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; z-index: 90; }
div#fancy_loading { position: absolute; height: 40px; width: 40px; cursor: pointer; display: none; overflow: hidden; background: transparent; z-index: 100; }
div#fancy_loading div { position: absolute; top: 0; left: 0; width: 40px; height: 480px; background: transparent url('images/fancy_progress.png') no-repeat; }
div#fancy_outer { position: absolute; top: 0; left: 0; z-index: 90; padding: 20px 20px 40px 20px; margin: 0; background: transparent; display: none; }
div#fancy_inner { position: relative; width:100%; height:100%; background: #FFF; }
div#fancy_content { margin: 0; z-index: 100; position: absolute; }
div#fancy_div { background: #000; color: #FFF; height: 100%; width: 100%; z-index: 100; }
img#fancy_img { position: absolute; top: 0; left: 0; border:0; padding: 0; margin: 0; z-index: 100; width: 100%; height: 100%; }
div#fancy_close { position: absolute; top: -12px; right: -15px; height: 30px; width: 30px; background: url('images/fancy_closebox.png') top left no-repeat; cursor: pointer; z-index: 181; display: none; }
#fancy_frame { position: relative; width: 100%; height: 100%; display: none; }
#fancy_ajax { width: 100%; height: 100%; overflow: auto; }
a#fancy_left, a#fancy_right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; z-index: 111; display: none; background-image: url("http://www.orders.legj.com.au/skin/frontend/default/b2b/css/data:image/gif;base64,AAAA"); outline: none; overflow: hidden; }
a#fancy_left { left: 0px; }
a#fancy_right { right: 0px; }
span.fancy_ico { position: absolute; top: 50%; margin-top: -15px; width: 30px; height: 30px; z-index: 112; cursor: pointer; display: block; }
span#fancy_left_ico { left: -9999px; background: transparent url('images/fancy_left.png') no-repeat; }
span#fancy_right_ico { right: -9999px; background: transparent url('images/fancy_right.png') no-repeat; }
a#fancy_left:hover, a#fancy_right:hover { visibility: visible; background-color: transparent; }
a#fancy_left:hover span { left: 20px; }
a#fancy_right:hover span { right: 20px; }
#fancy_bigIframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent; }
div#fancy_bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 70; border: 0; padding: 0; margin: 0; }
div.fancy_bg { position: absolute; display: block; z-index: 70; border: 0; padding: 0; margin: 0; }
div#fancy_bg_n { top: -20px; left: 0; width: 100%; height: 20px; background: transparent url('images/fancy_shadow_n.png') repeat-x; }
div#fancy_bg_ne { top: -20px; right: -20px; width: 20px; height: 20px; background: transparent url('images/fancy_shadow_ne.png') no-repeat; }
div#fancy_bg_e { right: -20px; height: 100%; width: 20px; background: transparent url('images/fancy_shadow_e.png') repeat-y; }
div#fancy_bg_se { bottom: -20px; right: -20px; width: 20px; height: 20px; background: transparent url('images/fancy_shadow_se.png') no-repeat; }
div#fancy_bg_s { bottom: -20px; left: 0; width: 100%; height: 20px; background: transparent url('images/fancy_shadow_s.png') repeat-x; }
div#fancy_bg_sw { bottom: -20px; left: -20px; width: 20px; height: 20px; background: transparent url('images/fancy_shadow_sw.png') no-repeat; }
div#fancy_bg_w { left: -20px; height: 100%; width: 20px; background: transparent url('images/fancy_shadow_w.png') repeat-y; }
div#fancy_bg_nw { top: -20px; left: -20px; width: 20px; height: 20px; background: transparent url('images/fancy_shadow_nw.png') no-repeat; }
div#fancy_title { position: absolute; z-index: 100; display: none; }
div#fancy_title div { color: #FFF; font: bold 12px Arial; padding-bottom: 3px; white-space: nowrap; }
div#fancy_title table { margin: 0 auto; }
div#fancy_title table td { padding: 0; vertical-align: middle; }
td#fancy_title_left { height: 32px; width: 15px; background: transparent url('images/fancy_title_left.png') repeat-x; }
td#fancy_title_main { height: 32px; background: transparent url('images/fancy_title_main.png') repeat-x; }
td#fancy_title_right { height: 32px; width: 15px; background: transparent url('images/fancy_title_right.png') repeat-x; }
.pop { position: absolute; display: inline; }
.pop .pop_menu { display: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; z-index: 80; }
.pop .pop_toggle { background-image: url(http://www.orders.legj.com.au/skin/frontend/default/b2b/images/cart/arrow_down.png); background-repeat: no-repeat; background-position: center center; width: 20px; height: 20px; overflow: hidden; cursor: pointer; }
.active .pop_menu { display: block; background-color: #ebebeb; color: #fff; position: absolute; padding: .6em; width: 12em; z-index: 80; }
.active .pop_menu a { color: #fff; }
.active .pop_toggle { z-index: 2000; position: absolute; top: 0; left: 0; background-image: url(http://www.orders.legj.com.au/skin/frontend/default/b2b/images/cart/arrow_up.png); }

/**
* Giftvoucher reward template
*/
span#giftvoucher_wait{
	color: #2F2F2F;
}

.giftvoucher-discount-code{
	color: #008000;
}

.giftvoucher-discount-code button{
	border: medium none;
	background: none repeat scroll 0 0 transparent;
}

.giftvoucher-discount-code button:hover{
	cursor: pointer;
}

.giftvoucher-media{
	border: 2px solid #F7F9F9;
}

.giftvoucher-media .giftmedia{
	border-bottom: 2px solid #F7F9F9;
	padding: 7px;
	color: #F18200;
	font-size: 15px;
}

#giftmedia pre{
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -pre-wrap;
 white-space: -o-pre-wrap;
 word-wrap: break-word;
}

.giftvoucher-media .giftmedia-image{
	overflow: hidden;
	width: 265px;
	position: relative;
}

.giftvoucher-product-info #message{
	width: 325px;
	height: 88px;
}

.giftvoucher-product-info #recipient_address{
	width: 325px;
	height: 57px;
}

.giftvoucher-product-info #recipient_email{
	width: 325px;
}

.giftvoucher-product-info #recipient_name{
	width: 325px;
}

#giftvoucher-result{
	font-size: 15px;
}

#giftvoucher-result label{
	width: 160px;
}

/* Added By Dan  */
	
.items_featured .featured_item{
	margin: 0;
	list-style: none;
	padding: 10px;
	border: #ccc 1px solid;
	background: #fff;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 205px;
	float: left;
	text-align: center;
}

.items_featured .featured_item:hover{
	box-shadow: 0 4px 5px 0 rgba(204, 204, 204, 1);
}

.items_featured .featured_item{
    margin: 0 13px 0 0;

}

.product_bundle{
	border: 1px solid #ccc;
	min-height: 50px;
}

.bundle_item {
    padding: 10px;
}

.field-products-bundleitems{
	padding: 10px;
}

.field-products-bundleitems .control-label{
	font-weight: bold;font-size: 13px;
}


.bundle_dropdown {
    height: 35px;
    padding: 10px;
    width: 225px;
}


.qtytext {
    margin-left: 52px;
    padding: 10px;
}

.item_qty {
    width: 50px;
    padding: 7px;
    border: 1px solid #ccc;
}

.item_qtyradio {
    width: 50px;
    padding: 7px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.radios {
    margin-left: 20px !important;
    margin-top: 10px;
}


.qtytextradio {
    margin-left: 60px;
}

.field-products-color{
	padding: 10px;
}

.field-products-color .control-label{
	font-weight: bold;font-size: 13px;margin-left: 20px;
}


.attribute-select {
    height: 35px;
    padding: 10px;
    width: 225px;
}

.field-products-material{
	padding: 10px;
}

.field-products-material .control-label{
	font-weight: bold;font-size: 13px;
}


.promotion h2 {
    color: ##DC2522;
    font-size: 22px;
    font-weight: normal;
    line-height: 1;
    margin: 5px 0 8px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.orders h2 {
    color: ##DC2522;
    font-size: 22px;
    font-weight: normal;
    line-height: 1;
    margin: 5px 0 8px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.sub_address label {
    font-weight: normal;
}

.sub_address span {
    display: block;
    float: left;
    padding: 0 15px;
}

.form-group.field-storepromotions-startdate {
    display: block;
    float: left;
    width: 40% !important;
}

.storename{
	width: 100% !important;
}

.product_sku{
	border: 1px solid #ccc;
    display: block;
    margin-right: 15px;
    margin-top: 24px;
    padding: 8px;
    width: 137px;
}

.listitem {
    position: absolute;
    top: 58px;
    z-index: 10; display:none;
}
.add_icon {
    margin-top: 20px;
}

.listitem ul {
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 1px 15px 22px -18px #000;
    list-style: outside none none;
    margin: 0;
    max-height: 200px;
    overflow-x: hidden;
    padding: 0;
    width: 137px;
}


.listitem ul li {
    border-bottom: 1px solid #ccc;
    display: block;
    list-style: outside none none;
    padding: 5px;
    cursor: pointer;
}

.product_title {
    padding: 30px 5px 10px;
}

.conferencetrays h2{

	color: ##DC2522;
    font-size: 22px;
    font-weight: normal;
    line-height: 1;
    margin: 5px 0 8px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

/* End */




#navigation .navigation .navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

#navigation .navigation ul li {
  display: block;
  position: relative;
  float: left; margin-top:1px;
}

/* This hides the dropdowns */


#navigation .navigation li ul { display: none; min-width:150px; font-size:11px!important; padding:0; }

#navigation .navigation ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap; background:#1a1a1a;
  color: #e7ebee; text-transform:uppercase; font-weight:bold; -webkit-transition: background-color ease-out 0.5s;
    -moz-transition: background-color ease-out 0.5s;
    -o-transition: background-color ease-out 0.5s;
    transition: background-color ease-out 0.5s; 
}

#navigation .navigation ul ul li{ border-bottom:solid 1px #666; margin-top:0;}
#navigation .navigation ul li a:hover { background: ##DC2522 ; color:#fff; }

/* Display the dropdown */


#navigation .navigation li:hover > ul {
  display: block;
  position: absolute; z-index:999;
}

#navigation .navigation li:hover li { float: none; }

#navigation .navigation li:hover a { background: #262626; }

#navigation .navigation li:hover li a:hover { background: ##DC2522; }

#navigation .navigation .main-navigation li ul li { border-top: 0; }

/* Displays second level dropdowns to the right of the first level dropdown */


#navigation .navigation ul ul ul {
  left: 100%;
  top: 0;
}

/* Simple clearfix */



#navigation .navigation ul:before,
#navigation .navigation ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

#navigation .navigation ul:after { clear: both; }
.banner{ position:relative; z-index:1;}
.s_category{ padding:10px; border-bottom:solid 1px #ccc;}
.cat_name label{ font-weight:normal;}
#left ul.nav li .sign{ width:auto !important;}
.deeper.parent{ margin-bottom:5px;}
.cat_name{ max-height:151px; overflow-y: scroll;}
.cat_name label{ width:100%;}
.s_category > div{ font-size:14px; margin-bottom:13px;}
#filter-form .block-subtitle{ font-weight: bold; margin-bottom: 0; font-size:17px; padding: 10px;}
.grid-product .col-md-4{ padding:5px;}
.grid-product .floatinfo{ margin-right:0;}
.grid-product .product-name a{ height:38px; overflow: hidden; position:relative; font-size:13px; width: 100%; float: left;}
/*.grid-product .product-name a:after{ content: "...";
    display: inline-block;
    height: 18px;
    text-align: left;
    width: 23px;}
.col-md-4, .col-md-4 *{ transition:all ease-in-out 0.3s;}*/
.grid-product .col-md-4 li{ border:1px solid #ccc; /*height: 460px;*/}
.grid-product{ padding:5px;}
.grid-product .sku{ width:100%;}
.grid-product .floatinfo{ width:100%; margin-top:15px; text-align:center;}
.list-view .col-md-4{ width:100%; padding:0; float:none;}
.frgt-pswrd b{ width:100%; float:left; margin-bottom:15px; font-size:13px; }
.price_disp {width: 62px !important}
.floatleft .price{float: right !important;}

.input-daterange{ display: block !important;}
.input-daterange .form-control{ display:inline-block !important; width:35% !important;}
.input-daterange span{ width:30% !important; float:left;}

.sm-tb table th:nth-child(4){ width:300px !important;}

@media (max-width:1100px){
  #navigation .navigation ul li a{ padding:10px 8px;}
  }

.error_box{
	border: red 1px solid !important;
}

.grid-product .floatright{ width: 100%;}
.grid-product .addto{ float: left;}
.grid-product .floatinfo .promotion-list span{ margin-bottom: 3px;}
.grid-product .promotion-list b{ width: 100%; float: left; text-align: center; margin-bottom: 8px }
.grid-product .sku.promotion-list{ width: 109%; margin-left: -4%;}
.grid-product .floatinfo .promotion-list span{ margin-left: 2px; font-size: 10px;}





/*  only for b2b slider @aaron 29/03/2016 */


.owl-carousel .animated {-webkit-animation-duration: 1000ms; animation-duration: 1000ms; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.owl-carousel .owl-animated-in {z-index: 0; }
.owl-carousel .owl-animated-out {z-index: 1; }
.owl-carousel .fadeOut {-webkit-animation-name: fadeOut; animation-name: fadeOut; }
.banner{ overflow:hidden;}
@-webkit-keyframes fadeOut {0% {opacity: 1; }

  100% {opacity: 0; }
}
@keyframes fadeOut {0% {opacity: 1; }

  100% {opacity: 0; }
}
.owl-height {-webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }
.owl-dots {bottom: 0; position: absolute; left: 10px; }
.owl-carousel {display: none; width: 100%; -webkit-tap-highlight-color: transparent; /* position relative and z-index fix webkit rendering fonts issue */
  position: relative; z-index: 1; }
.owl-carousel .owl-stage {position: relative; -ms-touch-action: pan-Y; }
.owl-carousel .owl-stage:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.owl-carousel .owl-stage-outer {position: relative; overflow: hidden; /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {cursor: pointer; cursor: hand; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel.owl-loaded {display: block; }
.owl-carousel.owl-loading {opacity: 0; display: block; }
.owl-carousel.owl-hidden {opacity: 0; }
.owl-carousel .owl-refresh .owl-item {display: none; }
.owl-carousel .owl-item {position: relative; min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel .owl-item img {display: block; -webkit-transform-style: preserve-3d; }
.owl-carousel.owl-text-select-on .owl-item {-webkit-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto; }
.owl-carousel .owl-grab {cursor: move; cursor: -webkit-grab; cursor: -o-grab; cursor: -ms-grab; cursor: grab; }
.owl-carousel.owl-rtl {direction: rtl; }
.owl-carousel.owl-rtl .owl-item {float: right; }

.owl-theme .owl-dots .owl-dot {display: inline-block; }
.owl-theme .owl-dots .owl-dot span {background: #d6d6d6 none repeat scroll 0 0; border-radius: 30px; display: block; height: 10px; margin: 5px 3px; transition: opacity 200ms ease 0s; width: 10px; }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {background: #3689c0; }

#footer_slider .owl-dots{ display:none!important;}
/* b2b slider end */


.megamenu {	padding: 20px 0px;width: 1000px;left: 0;right: 0;margin: auto; border-radius:0; top:45px;}
.megamenu li ul {margin-top: 5px; padding-left:0;}
.megamenu li ul .sm{ display:none;}
.megamenu li {display: inline-block !important;vertical-align: top; float:none !important}
.megamenu li li {width: 100%;float: left}
.megamenu .megamenu> li > ul {padding: 0;margin: 0;}
.megamenu> li > ul li {list-style: none;}
.megamenu> li > ul > li a {display: block;padding: 2px 8px;clear: both;line-height: 1.428571429;color: #333333;white-space: normal; font-size:13px; }
.megamenu a:hover, .megamenu a:focus{ outline:none;} 
.megamenu> li > ul > li > ul{ margin-left:10px;}
.megamenu > li{ margin-top:15px; border-top:1px solid #e7e7e7; padding-top:15px; min-width:210px; max-width:210px;}
.megamenu> li ul > li > a:hover, .megamenu> li ul > li > a:focus {text-decoration: none;color: #262626;background-color: #f5f5f5;}
.megamenu.disabled > a, .megamenu.disabled > a:hover, .megamenu.disabled > a:focus {color: #999999;}
.megamenu.dropdown-header {color: #428bca;	font-size: 18px;}
/*.dropdown-menu {display: block !important;}*/
.megamenu {-moz-column-width: 14em;	-webkit-column-width: 14em;	-moz-column-gap: 1em;-webkit-column-gap: 1em; padding:0 15px 15px 15px }
.megamenu > li > a{ font-size:14px;  font-weight:600; padding:0; margin-bottom:8px; float:left;}
.megamenu > li > a:hover{ background: none; }
.megamenu > li > a span{ margin-top:2px;}
.sub-wrap{ display:none;}
.triger-wrap{ position:relative;}
.triger-wrap:after{ content:"\f105  "; position: absolute; right:10px;top:0; font-family: FontAwesome; transition:all ease-in-out 0.2s;}
.megamenu li.active .triger-wrap:after{ transform:rotate(90deg);}
.rotate:after{ transform:rotate(0deg) !important;}


.cat-wrapper {background: #dc2522;color: white;cursor: pointer;float: left;font-size: 18px;font-weight: 500;height: 46px;padding: 14px 15px;width: 292px;}
.cat-wrapper:hover{ background:#be1816; text-decoration:none; color:white;}
.cat-wrapper i {float: right;}
#main-menu, .megamenu{width:1000px;}

.sm{ display: inline-block;float: left;height: 17px;margin-right: 7px;margin-top: 4px; width: 20px;}
.sm-laptop{ background:url(../images/menu-icons/laptop.png) no-repeat center; margin-top:2px;}
.sm-desktop{ background:url(../images/menu-icons/desktop.png) no-repeat center; margin-top:0;}
.sm-accessories{ background:url(../images/menu-icons/accessories.png) no-repeat center;}
.sm-storage{ background:url(../images/menu-icons/storage.png) no-repeat center; margin-top:0;}
.sm-monitor{ background:url(../images/menu-icons/monitor.png) no-repeat center; margin-top:3px;}
.sm-printer{ background:url(../images/menu-icons/printer.png) no-repeat center; margin-top:2px; margin-bottom:2px;}
.sm-software{ background:url(../images/menu-icons/software.png) no-repeat center; margin-top:3px;}
.sm-mobile{ background:url(../images/menu-icons/mobile.png) no-repeat center; margin-top:2px; margin-right:0;}
.sm-tablets{ background:url(../images/menu-icons/tablets.png) no-repeat center; margin-top:1px; margin-right:2px}
.sm-gaming{ background:url(../images/menu-icons/gaming.png) no-repeat center; margin-top:2px;}
.sm-network{ background:url(../images/menu-icons/network.png) no-repeat center; margin-top:2px;}
.sm-camera{ background:url(../images/menu-icons/camera.png) no-repeat center; }
.sm-power{ background:url(../images/menu-icons/power.png) no-repeat center; margin-top:2px;}
.sm-drons{background:url(../images/menu-icons/drons.png) no-repeat center; margin-top:2px;}
.sm-giftvoucher{background:url(../images/menu-icons/giftvoucher.png) no-repeat center; margin-top:0px;}
input.item-quantity.only-numeric {
    width: 50px;
}
select.store-dropdown {
    width: 70px;
}



/*----------manny-----------*/


.store-trading{float:left;width:100%;padding:25px 15px;/*background:#f8f8f8 ;*/margin:20px 0;border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8}
.store-trading h1{font-size:24px;margin:0 0 15px;font-weight:500;}
.store-trading .form-group{margin-bottom:10px;}
.store-trading .form-group label{width:100%;text-align:center;}
.store-trading .help-block{display:none;}

.store-trading table > tbody > tr > td{padding:0 4px;border-right:1px solid #eee;}

.store-trading table > tbody > tr:nth-child(2) > td{padding-bottom:10px;}
.store-trading table > tbody > tr:nth-child(2) > td span{display:inline-block;border-radius:50%;background:#e0dede;width:29px;height:27px;line-height:27px;text-align:center;}

.store-trading table > tbody > tr > td:last-child{border:none;}
.store-trading table > tbody > tr:last-child > td{padding:9px 0;background:#ededed;text-align:center;font-size:13px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-right:1px solid #ddd;}
.store-trading table > tbody > tr:last-child > td:last-child{border-right:none;}
.store-trading table > tbody > tr:last-child > td span{display:inline-block;}
.store-trading table > tbody > tr:last-child > td span input[type="checkbox"] {float:left;margin:2px 1px 0;cursor:pointer;}

.bootstrap-timepicker table > tbody > tr > td{border:none;}
.bootstrap-timepicker table > tbody > tr:last-child > td{background:none;border:none;padding:0;}
.bootstrap-timepicker table > tbody > tr > td input{color:#DC2522;}
.bootstrap-timepicker table > tbody > tr:nth-child(2) > td{padding:0;}
.bootstrap-timepicker table > tbody > tr:nth-child(2) > td:last-child input{background:#DC2522;border-color:#DC2522;color:#fff;}
.bootstrap-timepicker table > tbody > tr:nth-child(2) > td:last-child input:focus{border-color:#DC2522;}
.bootstrap-timepicker-widget table td:not(.separator){padding:0;}
.store-trading .input-group .form-control{padding:5px!important;text-align:center;min-width:32px;}

.leftside .checkbox label{margin-top:35px;}

/*----------manny-----------*/