body {
    background: #fff none repeat scroll 0 0;
    color: #4c4c4c;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.clear {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none !important;
    clear: both !important;
    float: none !important;
    font-size: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
a {
    color: #DC2522;
    outline: medium none !important; transition:all ease-in-out 0.2s;
}
img {
    border: medium none;
    outline: medium none !important;
}
input[type="text"], input[type="password"], input[type="submit"] {
    border-radius: 0 !important;
}
body {
    min-width: 1000px;
}
textarea {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.wrapper {
    margin: 0 auto;
    min-height: 525px;
    width: 1000px;
}
.header {
    background: rgba(0, 0, 0, 0) url("images/header_bg.jpg") repeat-x scroll center top;
}
.header-container {
    margin: 0 auto;
    width: 1000px;
}
.logo {
    float: left;
    padding-top: 7px;
    width: 280px;
}
.logo a, .logo img {
    display: block;
}
.topsec {
    float: right;
    width: 720px;
}
.shopcart a {
    background: rgba(0, 0, 0, 0) url("images/shop_cart.png") no-repeat scroll left top;
    color: #1a1a1a;
    display: block;
    float: right;
    margin-top: 5px;
    padding-left: 24px;
    text-decoration: none;
    text-transform: uppercase;
}
.shopcart a:hover {
    color: #DC2522;
}
.acc-area {
    float: right;
    margin-top: 5px;
}
.links {
    float: left;
    padding: 9px;
}
.links ul {
    margin: 0;
    padding: 0;
}
.links ul li {
    color: #1a1a1a;
    display: inline-block;
    line-height: 1;
    list-style: outside none none;
    margin-right: 10px;
    text-transform: uppercase;
}
.links ul li a {
    color: #1a1a1a;
    text-decoration: none;
    text-transform: uppercase;
}
.links ul li a:hover {
    color: #DC2522;
}
.links ul li span {
    color: #aa001a;
}
.topsearch {
    background: #323232 none repeat scroll 0 0;
    float: left;
    width: 300px;
}
.topsearch input[type="text"] {
    background: #323232 none repeat scroll 0 0;
    border: medium none;
    color: #b0afaf;
    margin: 0;
    padding: 10px;
    width: 250px;
}
.topsearch input[type="submit"] {
    background: rgba(0, 0, 0, 0) url("images/search_icon.png") no-repeat scroll center top;
    border: medium none;
    height: 23px;
    vertical-align: middle;
    width: 25px;
}

.bannerarea {
    background: #8da0b3 url("images/banner_bg.jpg") repeat-x scroll center top;
    padding: 15px 0;
}
.banner {
    border: 0px solid #ccc;
    margin: 0 auto;
    width: 1000px;
}
#slider {
    height: 396px !important;
    overflow: hidden;
    position: relative;
    width: 1000px !important;
}
#slider img {
    display: none;
    height: 396px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1000px;
}
#slider a {
    border: 0 none;
    display: block;
}
.nivo-controlNav {
    bottom: 10px;
    position: absolute;
    right: 10px;
    z-index: 1000;
}
.nivo-controlNav a {
    background: rgba(0, 0, 0, 0) url("images/bullets.png") no-repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    display: block;
    float: left;
    height: 15px;
    margin-left: 3px;
    text-indent: -9999px;
    width: 15px;
}
.nivo-controlNav a.active {
    background-position: 0 -16px;
}
.nivo-directionNav a {
    display: none !important;
    text-indent: -9999px;
}
.nivo-directionNav a:hover {
    border: 0 none;
    display: none !important;
    height: 30px;
    text-indent: -9999px;
    width: 30px;
}
a.nivo-nextNav {
    background-position: -30px 0;
    right: 15px;
}
a.nivo-prevNav {
    left: 15px;
}
.nivo-imageLink {
    border: 0 none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
}
.wrapper_home {
    margin: 0 auto;
    width: 1000px;
}
.mainarea {
    background: #fff url("images/main_bg.jpg") repeat-x scroll center top;
    min-height: 530px;
    padding: 15px 0;
}
.loginmainarea {
    min-height: 560px !important;
}
.wrapper_inner {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    margin: 0 auto;
    min-height: 423px;
    padding: 15px;
    width: 970px;
}
.blocks {
    padding: 5px 0 25px;
}
.box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px 2px #acb0b5;
    float: left;
    height: 158px;
    width: 312px;
}
.midbox {
    margin: 0 41px;
}
.box_orders:hover, .box:hover {
    box-shadow: 0 0 5px 2px #5e5c5c;
}
.box_orders {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px 2px #acb0b5;
    float: left;
    height: 158px;
    line-height: 1;
    padding: 10px;
    width: 292px;
}
.box_orders label {
    color: #1a1a1a;
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.box_orders a {
    background: rgba(0, 0, 0, 0) url("images/box_button.png") no-repeat scroll center top;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 15px;
    margin-bottom: 6px;
    padding: 10px 5px 9px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
    width: 272px;
}
.box_orders a:hover {
    opacity: 0.8;
}
.content h3 {
    color: #DC2522;
    font-size: 25px;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.wrapper h1, .page-title h1 {
    color: #DC2522;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    margin: 8px 0 10px;
    text-transform: uppercase;
}
.col-main h2 {
    color: #DC2522;
    font-size: 22px;
    font-weight: normal;
    line-height: 1;
    margin: 5px 0 8px;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.col-main a {
    text-decoration: none;
    display: inline-block;
}
.footerarea {
    background: #1a1a1a none repeat scroll 0 0;
    color: #9fa3a6;
}
.cart_img{
    border: 1px solid #ccc;
}
.footer-container {
    margin: 0 auto;
    width: 1000px;
}
.footer {
    float: left;
}
.footer ul {
    margin: 0;
    padding: 0;
}
.footer ul li {
    display: inline-block;
    list-style: outside none none;
}
.footer ul li a {
    color: #9fa3a6;
    display: block;
    padding: 15px 20px 15px 0;
    text-decoration: none;
    text-transform: uppercase;
}
.footer ul li a:hover {
    color: #fff;
}
.copyright {
    float: right;
    padding: 15px 0;
}
.dashboard-login-index .mainarea {
    min-height: 423px;
}
.header-log {
    margin: 0 auto;
    width: 635px;
}
.logo_login {
    padding: 80px 0 45px;
    text-align: center;
}
.wrapper_login {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 11px 7px 20px -10px rgba(204, 204, 204, 1);
    margin: 0 auto;
    padding: 15px;
    width: 445px;
}
.copyright_login {
    padding: 15px 0;
    text-align: center;
}
.wrapper_login form {
    margin: 0 auto;
    width: 450px;
}
.wrapper_login .textfeild {
    padding: 5px 0 0 0;
}
.wrapper_login input[type="text"] {
    border: 1px solid #cad1d8;
    color: #919090;
    height: 24px;
    padding: 5px;
    width: 432px;
}
.help-block-error{ color:#F00;}
.wrapper_login input[type="text"]:hover, .wrapper_login input[type="password"]:hover {
    box-shadow: 0 0 0 4px #eff1f3;
}
.wrapper_login input[type="password"] {
    border: 1px solid #cad1d8;
    color: #919090;
    height: 24px;
    padding: 5px;
    width: 432px;
}
.wrapper_login input[type="submit"] {
    width: 111px;
}
.wrapper_login a {
    color: #5f5e5e;
    display: block;
    float: right;
    text-decoration: none;
}
.wrapper_login a:hover {
    color: #000;
}
.messages, .messages ul {
    list-style: outside none none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.messages {
    overflow: hidden;
    width: 100%;
}
.messages li {
    margin: 0 !important;
}
.messages li li {
    margin: 0 !important;
}
.error-msg, .success-msg, .note-msg, .notice-msg {
    margin-bottom: 0.833em;
    padding: 0.833em 0.833em 0.833em 3em;
}
.error-msg {
    background: #fde8e4 url("images/error.png") no-repeat scroll 0.833em center;
    border: 1px solid #e6bbb3;
    color: #cf4425;
}
.success-msg {
    background: #e7fae6 url("images/confirmation.png") no-repeat scroll 0.833em center;
    border: 1px solid #b7cbb6;
    color: #52964f;
}
.note-msg, .notice-msg {
    background: #e5f5f9 url("images/information.png") no-repeat scroll 0.833em center;
    border: 1px solid #cae0e5;
    color: #5a9bab;
}
.msgmargin ul.messages {
    margin-bottom: 8px;
}
.msgpadding {
    padding: 15px;
}
.bestsellers .lis {
    margin: 0 auto;
    width: 235px;
}
.bestsellers .lis img {
    display: block;
    padding-top: 8px;
}
.bestsellers .lis a {
    color: #1d1d1d;
    display: block;
    font-size: 15px;
    padding: 4px 0;
    text-decoration: none;
    text-transform: uppercase;
}
.bestsellers .lis .product-name {
    height: 41px;
    margin-bottom: 8px;
    overflow: hidden;
}
.pricebox {
    padding-bottom: 5px;
}
.price {
    color: #DC2522;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 0;
}
.vsamll {
    border: 1px solid #ccc;
    padding: 7px;
    width: 18px;
}
.vsamll_select {
    border: 1px solid #ccc;
    padding: 6px;
}
.addto span {
    color: #DC2522;
    display: block;
    float: left;
    font-size: 15px;
    margin-right: 10px;
    margin-top: 6px;
}
.addto select {
    float: left;
}
.addto input[type="text"] {
    float: left;
}
.addto input[type="submit"] {
    float: right;
    width: 111px;
}
.button {
    background: #DC2522 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    outline: medium none !important;
    padding: 8px 15px; 
    text-align: center;
}
.button:hover {
    background: #000 none repeat scroll 0 0;
}
.desc {
    display: none;
    height: 26px;
    overflow: hidden;
    padding-bottom: 8px;
}
.sku {
    display: inline-block;
    padding: 4px 0;
}
.sku span {
    color: #DC2522;
}
.sku b {
}
.sku1 {
    display: inline-block;
    padding: 4px 0 0;
}
.sku1 span {
    color: #DC2522;
}
.sku1 b {
}
.phead {
    float: left;
}
#showform {
    float: right;
}
#showform a {
    color: #DC2522;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    text-decoration: none;
}
.view {
    color: #DC2522;
    float: right;
    font-size: 15px; position:relative; margin-top:-5px;
}
.view a{
    margin-bottom: 10px;
}
.view span {
    display: block;
    float: left;
    padding-right: 5px;
    padding-top: 15px;
}
.view a {
    color: #979a9e;
    display: block;
    float: left;
    font-size: 11px;
    margin: 0 5px;
    text-align: center;
    text-decoration: none;
}
.grid {
    background: rgba(0, 0, 0, 0) url("images/grid.png") no-repeat scroll 2px 16px;
    padding-bottom: 23px;
    width: 20px;
}
.grid.active {
    background-position: -30px 16px;
    color: #2d2e30;
}
.list {
    background: rgba(0, 0, 0, 0) url("images/list.png") no-repeat scroll 0 16px;
    margin-right: 0 !important;
    padding-bottom: 23px;
    width: 23px;
}
.list.active {
    background-position: -29px 16px;
    color: #2d2e30;
}
.product_grid {
    min-height: 450px;
}
.product_grid ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.product_grid ol li {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    float: left;
    list-style: outside none none;
    margin: 0 20px 20px 0;
    padding: 10px;
    text-align: center;
    width: 205px;
}
.product_grid ol li:hover {
    box-shadow: 0 4px 5px 0 rgba(204, 204, 204, 1);
}
.product_grid ol li.nomargin {
    margin-right: 0 !important;
}
.product_grid ol li .button {
    margin-bottom: 8px;
    width: 111px;
}
.product_grid ol li a {
    color: #1d1d1d;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0;
    text-decoration: none;
}
.product_grid ol li a:hover {
    color: #DC2522;
}
.product_grid ol li .product-name {
    min-height: 56px;
}
.product_list {
    background: #fff none repeat scroll 0 0; width:100%;
    
}
.empty{ text-align:center; padding:25px 0;}
.product_list ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.product_list ol li {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 15px;
}
.product_list ol li img {
    border: 1px solid #ccc;
    display: inline-block;
}
.product_list ol li img:hover {
    box-shadow: 0 4px 5px 0 rgba(204, 204, 204, 1);
}
.product_list ol li a {
    color: #1d1d1d;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 0 0 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.product_list ol li a:hover {
    color: #DC2522;
}
.floatimg { float: left; width: 15%; padding: 0px 10px;}
.floatimg a{ width:100%; margin:0 !important;}
.floatimg a img{ max-width:100%;}
.floatchk {
    float: left;
    padding-top: 18px;
    text-align: center;
}
.floatchk input[type="checkbox"] {
}
.floatchk .trayid {
    color: #DC2522;
    display: block;
    font-size: 15px;
    font-weight: bold;
}
.floatimg input[type="checkbox"] {
    display: block;
    float: left;
    margin: 3px 5px 0 10px;
}
.floatimg a {
    float: left;
    margin-left: 15px;
    margin-right: 10px;
    padding: 0 !important;
}
.floatinfo {
    float: left;
    margin-right: 10px;
    width: 480px;
}
.floatinfo span {
    padding: 4px 10px 4px 0 !important;
}
.floatleft {
    float: left !important;
}
.floatleft .price {
    font-size: 15px;
    
}
.floatright {
    float: right;
}
.desclist {
    display: none;
    height: 20px;
    overflow: hidden;
}
.list_bttn {
    float: right;
    font-weight: bold;
    margin-top: 15px;
    width: 115px;
}
.animation_image {
    padding: 5px 0;
}
#list_form_pro {
    position: relative;
}
#checkall a {
    color: #DC2522;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
.attr_table {
    border: 1px solid #839ebd;
    border-collapse: collapse;
    color: #1a1a1a;
    float: left;
    margin: 7px;
    min-width: 110px;
}
.attr_table thead {
    background: #96afcc none repeat scroll 0 0;
}
.attr_table thead tr td {
    border: medium none;
    color: #1a1a1a;
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}
.attr_table tbody {
    background: #d2deed none repeat scroll 0 0;
}
.attr_table tbody tr td {
    border: 1px solid #839ebd;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}
.attr_table tbody tr td a {
    color: #0877b9;
    font-weight: bold;
    padding: 0 5px;
    text-decoration: none;
}
.attr_table input[type="text"] {
    border: 1px solid #ccc;
    padding: 3px;
    width: 65px;
}
.minh {
    min-height: 69px;
}
.catlink {
    color: #DC2522;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
}
.catlink a {
    color: #DC2522;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.search_btn {
    float: right;
    margin-right: 10px;
}
.search_btn .button {
    font-weight: bold;
    width: 120px;
}
.results_area {
}
.results_area .product_grid ol li {
    width: 205px !important;
}
.results_area .product_list {
    border: 1px solid #ccc;
    box-shadow: none;
}
.shopping_cart {
}
.shopping_cart table {
    border-collapse: collapse;
    width: 100%;
}
.proceed_order a, .proceed_order input {
    background: #DC2522 none repeat scroll 0 0;
    color: white;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border:0;
    
}
.shopping_cart tr:nth-of-type(2n+1) {
}
.shopping_cart th { background: #f8f8f8; color: black; font-weight: bold; border: 1px solid #ccc; padding:10px;}
.shopping_cart td, th { border: 1px solid #ccc; padding: 6px; text-align: center;}
.shopping_cart .action {
    text-align: center;
}
.shopping_cart .action a {
    margin: 0 5px;
    text-decoration: none;
}
.shopping_cart .editabletd {
    background: #eee none repeat scroll 0 0;
}


.shopping_cart .total {
    color: #DC2522;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0 20px;
}
.shopping_cart .proceed_order {
    float: right;
}
.continue_shopping {
    float: left;
}
.checkout {
}
.checkout .head {
    background: #ccc none repeat scroll 0 0;
    color: #202020;
    font-weight: bold;
    margin-right: 0;
    padding: 10px 8px 8px 10px;
    text-transform: uppercase;
}
.checkout textarea {
    border: 1px solid #ccc;
    height: 75px;
    margin: 10px 0;
    padding: 10px;
    width: 97%;
}
.checkout table {
    border-collapse: collapse;
    width: 100%;
}
#select_store {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 6px;
    width: 100%;
}
#select_store option {
    cursor: pointer;
}
.checkout tr:nth-of-type(2n+1) {
    background: #eee none repeat scroll 0 0;
}
.checkout th {
    background: #333 none repeat scroll 0 0;
    color: white;
    font-weight: bold;
}
.checkout td, th {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
}
.checkout .action {
    text-align: center;
}
.checkout .action a {
    margin: 0 5px;
    text-decoration: none;
}
.checkout .editabletd {
    background: #eee none repeat scroll 0 0;
}
.checkout .continue_shopping a {
    color: #aa001a;
}
.checkout .continue_shopping a:hover {
    color: #000;
}
.checkout .total {
    color: #DC2522;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 0 15px;
}
.checkout .proceed_order {
    float: right;
}
.checkout .proceed_order .button {
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 150px;
}
.ordersa {
}
.data-table a {
    color: #DC2522;
    text-decoration: none;
    white-space: nowrap;
}
.data-table a:hover {
    color: #4c4c4c;
}
.data-table td.nobr a {
    white-space: pre-wrap !important;
}
#my-orders-table a {
    white-space: normal !important;
}
.order {
}
.order .orderId {
    color: #DC2522;
    float: left;
    width: 50%;
}
.order .orderId span {
    color: #000000;
    font-weight: bold;
}
.order .orderDate {
    color: #DC2522;
    float: right;
    text-align: right;
    width: 50%;
}
.order .orderDate span {
    color: #000000;
    font-weight: bold;
}
.order h3 {
    border-bottom: 1px solid #DC2522;
    text-transform: uppercase;
}
.order .order_billing {
    float: left;
    width: 350px;
}
.order .order_billing h4 {
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
.order .order_shipping {
    float: right;
    width: 350px;
}
.order .order_shipping h4 {
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
.order .supplierorder {
}
.order .supplierorder h3 {
}
.order table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}
.order tr:nth-of-type(2n+1) {
    background: #eee none repeat scroll 0 0;
}
.order th {
    background: #333 none repeat scroll 0 0;
    color: white;
    font-weight: bold;
}
.order td, th {
    border: 1px solid #e7e7e7;
    padding: 6px;
    text-align: left;
}
.order .total {
    float: right;
    font-weight: bold;
    padding: 5px 0;
}
.order .grand_total {
    color: #DC2522;
    float: right;
    font-weight: bold;
}
.product_detail {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px 2px #acb0b5;
    min-height: 450px;
    padding: 10px;
}
.product-img-box {
    float: left;
    text-align: center;
    width: 462px;
}
.product-img-box .large {
    margin-right: 10px;
}
.product-img-box .large a {
    cursor: pointer;
    display: block;
}
.product-img-box .large{
    border: 1px solid #ccc;
}
.product-img-box .thumbnails {
    display: none;
}
.product-info {
    float: left;
    width: 510px;
}
.product-info .pricebox {
    float: left;
    padding: 0px;
}
.product-info .addtobox {
    float: right;
    padding: 0px;
}
.addtobox span {
    color: #DC2522;
    display: block;
    float: left;
    font-size: 15px;
    margin-right: 10px;
    margin-top: 6px;
}
.addtobox input[type="text"] {
    float: left;
}
.addtobox input[type="submit"] {
    float: right;
    margin-left: 8px;
    width: 111px;
}
.pricebox .label {
    color: #4c4c4c;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    margin-right: 15px;
    padding: 7px 0;
}
.product-info .price {
    display: inline-block;
}
.productattribute {
    border: 1px solid #e7e7e7;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}
.productattribute tbody td {
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    padding: 7px 7px 6px 8px;
    vertical-align: middle;
}
.productattribute tbody td.hed {
    background: #f8f8f8 url("images/tail-manuf.gif") repeat-x scroll 0 0;
    color: #191919;
    font-weight: bold;
    padding: 7px 7px 6px 8px;
    width: 33%;
}
.description {
    text-align: left;
}
.description h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0 10px;
}
.related_products {
    min-height: 370px !important;
}
.related_products h3 {
    color: #DC2522;
    font-size: 16px;
    line-height: 1;
    margin: 15px 0 10px; font-weight:bold;
}
.related_products ol li {
    margin: 0 13px 0 0;
}
.leftside {
    float: left;
    width: 705px;
}
.rightside {
    float: right;
    width: 250px;
}
.block {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    line-height: 1.35;
    margin: 0 0 15px;
    padding-right: 0;
}
.block .block-title {
    background: #1a1a1a none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    margin-right: 0;
    padding: 10px 8px 8px 10px;
    text-transform: uppercase;
}
.block .block-content {
    font-size: 12px;
    padding: 10px;
}
.block-content ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.block-account .block-content li a {
    border-bottom: 1px solid #dddddd;
    color: #5f5d5c;
    display: block;
    padding: 6px 0;
    text-decoration: none !important;
}
.block-account .block-content li a:hover {
    color: #DC2522;
}
.block-account .block-content li.last a {
    border: medium none;
}
.acc-address p {
    margin: 0;
}
.myaccount h3 {
    color: #DC2522;
    margin: 0;
    padding-bottom: 5px;
}
.box-address {
    float: left;
    margin-right: 20px;
    width: 330px;
}
.box-address label {
    display: block;
    font-weight: bold;
    padding: 5px 0;
}
.box-address textarea {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    height: 125px;
    padding: 5px;
    width: 330px;
}
.acc-address input[type="submit"] {
    margin-top: 10px;
}
.box-account .box-head {
    margin: 0 0 5px;
    text-align: right;
}
.box-account .box-head h3 {
    float: left;
}
.box-account a {
    color: #DC2522;
    text-decoration: none;
    white-space: nowrap;
}
.box-account a:hover {
    color: #DC2522;
    text-decoration: underline;
    white-space: nowrap;
}
.box-recent {
    margin-bottom: 10px;
}
.data-table thead th {
    background: #f8f8f8 url("images/tail-manuf.gif") repeat-x scroll 0 0;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #dddddd;
    color: #191919;
    font-weight: bold;
    padding: 7px 7px 6px 8px;
    white-space: nowrap;
}
.data-table {
    border: 1px solid #e7e7e7;
    border-collapse: collapse;
    margin: 5px 0;
    width: 100%;
}
.data-table tbody td {
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}
.data-table th, td {
    vertical-align: middle;
}
.data-table tbody td {
    padding: 10px;
    text-align: center;
}
.data-table tfoot td {
    padding: 3px;
}
.createorder label {
    color: #DC2522;
    display: block;
    font-size: 14px;
}
.createorder .vmedium {
    border: 1px solid #ccc;
    display: block;
    margin-right: 15px;
    margin-top: 18px;
    padding: 8px;
    width: 137px;
}
.createorder .qty {
    color: #DC2522;
    display: block;
    float: left;
    font-size: 15px;
    margin-right: 10px;
}
.createorder .vsmall {
    border: 1px solid #ccc;
    display: block;
    float: left;
    padding: 8px;
    width: 18px;
}
.parea {
    float: left;
    margin-right: 15px;
}
#add_icon {
    margin: 12px 0 0 10px;
}
#add_icon a {
    display: block;
    line-height: 1;
}
.droplist {
    float: left;
    position: relative;
}
.lislitem {
    position: absolute;
    top: 33px;
    z-index: 10;
}
.lislitem ul {
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 1px 15px 22px -18px #000;
    list-style: outside none none;
    margin: 0;
    max-height: 200px;
    overflow-x: hidden;
    padding: 0;
    width: 153px;
}
.lislitem ul li {
    border-bottom: 1px solid #ccc;
    display: block;
    list-style: outside none none;
    padding: 5px;
}
.lislitem ul li a {
    color: #414141;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
.items {
    margin-bottom:0;
}
.loading {
    background: rgba(0, 0, 0, 0) url("images/loading.gif") no-repeat scroll 125px center / 18px auto;
}
.createorder .button {
    font-weight: bold;
    margin-right: 20px;
    width: 125px;
}
#table_create_order {
    margin-bottom: 15px;
}
#table_create_order th {
    border: medium none;
    padding: 0 20px 0 0;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}
#table_create_order td {
    padding: 5px 10px 5px 0;
}
.unitcost .price {
    font-size: 13px !important;
    padding-top: 20px !important;
}
.tithed {
    color: #1d1d1d;
    font-size: 15px;
    padding-top: 22px !important;
}
.topsecsupplier {
    margin-top: 23px;
}
.data-table thead th span {
    background: rgba(0, 0, 0, 0) url("images/sort_both.png") no-repeat scroll right center;
    cursor: pointer;
    display: block;
    padding-right: 15px;
}
.filter {
    color: #414141;
    width: 800px;
}
.filter .dat {
    float: left;
}
.filter .sto {
    float: left;
}
.filter .button {
    float: left;
    padding: 5px 15px 4px !important;
    width: 110px;
}
.filter input[type="text"] {
    border: 1px solid #ccc;
    display: block;
    float: left;
    margin-right: 10px;
    padding: 5px;
    width: 170px;
}
.ui-widget {
    font-size: 12px !important;
}
.filter select {
    border: 1px solid #ccc;
    color: #414141;
    margin-right: 10px;
    padding: 4px 5px 3px;
    width: 170px;
}
.supp_grand {
    margin-top: 8px;
}
.supp_order .button {
    float: right;
    margin-top: 10px;
    padding: 5px 20px !important;
}
.filter-table input {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    width: 170px;
}
#selectall {
    margin-left: 10px;
    vertical-align: sub;
}
.promotion {
}
.date_offer .offer {
    display: block;
    float: left;
    font-size: 16px;
    padding: 10px 0;
    width: 45%;
}
.date_offer .offer span {
    color: #DC2522;
}
.promotion p {
    margin: 0 0 15px;
}
.btnarea {
    padding: 10px 0;
}
.btnarea input[type="checkbox"] {
    vertical-align: sub;
}
.btnarea .button {
    border-radius: 17px !important;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    margin-left: 15px;
    padding: 10px 16px;
    width: 245px;
}
.cost_html b {
    color: #DC2522;
    display: block;
    font-size: 13px;
    padding: 8px 0;
}
.cost_html label {
    display: block;
    float: left;
    font-weight: bold;
    line-height: 1;
    margin-right: 10px;
    margin-top: 7px;
}
.cost_html input[type="text"] {
    border: 1px solid #ccc;
    display: block;
    float: left;
    margin-right: 10px;
    padding: 5px;
    width: 170px;
}
.catalogue ul {
    list-style: outside none none;
    margin: 15px 0 0;
    padding: 0;
}
.catalogue ul li {
    display: inline-block;
    margin-bottom: 15px;
    width: 307px;
}
.catalogue ul li.mid {
    margin: 0 20px;
}
.catalogue ul li .tit a {
    color: #414141;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0 8px;
    text-decoration: none;
}
.catalogue ul li .img {
    box-shadow: 6px 5px 4px -2px #ccc;
    height: 217px;
    text-align: center;
    width: 307px;
}
.desc_cata {
}
.desc_cata iframe {
    width: 100% !important;
}
.desc_cata object {
    width: 100% !important;
}
.issuuembed {
    height: 390px !important;
    width: 100% !important;
}
.issuuembed a {
    display: none;
}
.issuuembed span {
    display: none;
}
.promo_view .date_offer .offer {
    width: 350px !important;
}
.offer1 {
    float: right;
    padding: 10px 0;
    text-align: right;
    width: 150px;
}
.offer1 a {
    display: block;
    font-size: 16px;
    text-decoration: none;
}
.promo_view .product_list {
    box-shadow: none !important;
}
.promo_view .product_grid ol li {
}
.area_filter {
    float: left;
    margin-bottom: 15px;
    margin-top: 2px;
    width: 100%;
}
.flit_search {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.filt_select {
    float: right; margin-right:15px;
}
.flit_search input[type="text"] {
    border: 1px solid #ccc;
    margin-right: 5px;
    padding: 8px 7px;
    width: 215px;
}
.filt_select select {
    border: 1px solid #ccc;
    padding: 6px;
}
.col-main {
    position: relative;
}
.popupsave {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 0 30px 390px #000;
    margin: 0 auto;
    width: 300px;
    z-index: 9999;
}
.popupsave label {
    color: #DC2522;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
}
.close {
    background: rgba(0, 0, 0, 0) url("images/error.png") no-repeat scroll center top;
    cursor: pointer;
    display: block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.popupsave .close {
    float: right;
}
.pophed {
    background: #f2f2f2 none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
.popupsave form {
    display: block;
    padding: 10px;
    text-align: center;
}
.popupsave input[type="text"] {
    border: 1px solid #f0f0f0;
    padding: 8px;
    width: 260px;
}
.popupsave .button {
    margin-top: 9px;
    padding: 5px;
    width: 70px;
}
.attcon {
    font-size: 12px;
    height: 78px;
    overflow: hidden;
}
@media not all {
.loginmainarea {
    min-height: 590px !important;
}
input {
    margin: 0;
}
.topsearch input[type="submit"] {
    vertical-align: middle;
}
}
.conference_tr {
    background: #DC2522 none repeat scroll 0 0 !important;
    color: white;
    display: block;
    padding: 1px;
    width: 100%;
}
.conference_text {
    color: #DC2522;
}
.filter-tray {
    color: #191919;
    font-size: 12px;
    font-weight: bold;
}
.filter-tray input {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    width: 250px;
}
#my-tray-table tbody td {
    font-weight: bold;
    text-align: left;
}
#my-tray-table tbody td a {
    color: #191919;
}
#my-tray-table tbody td a:hover {
    color: #DC2522;
}
.quicklisttable tbody td {
    font-weight: bold;
}
.contact {
    float: left;
    width: 508px;
}
.contact_feilds {
    margin-bottom: 10px;
}
.contact_feilds label {
    display: block;
    float: left;
    width: 100px;
}
.contact_feilds input[type="text"] {
    border: 1px solid #ccc;
    float: left;
    height: 25px;
    padding: 2px;
    width: 400px;
}
.contact_feilds textarea {
    border: 1px solid #ccc;
    height: 150px;
    width: 403px;
}
.contact_feilds input[type="submit"] {
    float: right;
}
.contact_feilds span {
    color: red;
}
.contact_right {
    float: right;
    width: 400px;
}
.contact_right img {
}
.product-img-box .large, .product_grid ol li {
    position: relative;
}
.made_to_order {
    position: absolute;
    right: -10px;
    top: -10px;
}
.made_to_order_list {
    position: absolute;
    right: -7px;
    top: -7px;
}
.made_to_order img {
    border: medium none !important;
}
.our_brands img:hover {
    opacity: 0.5;
}
.box-add {
    float: left;
    margin-bottom: 0px;
    margin-right: 17px;
    width: 335px;
}
.box-add .form-group{ margin-bottom:0}
.box-add label {
    display: block;
    font-weight: bold;
    padding: 5px 0;
}
.box-add textarea {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    height: 125px;
    padding: 5px;
    width: 335px;
}
.box-add input[type="text"], .box-add input[type="password"] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    padding: 5px;
    width: 335px;
}
.link {
    color: #4c4c4c;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-left: 6px;
    padding: 5px 0;
}
.link:hover {
    color: #DC2522;
}
.clearcart {
    display: block;
    float: right;
    font-weight: bold;
    margin-top: 6px;
    padding: 3px 8px;
    margin-right: 10px;
}
.short_tags > span {
    color: #DC2522;
    font-weight: bold;
}
.short_comment {
    float: left;
    padding: 10px 0;
}
.short_comment label {
    font-weight: bold;
    margin-right: 10px;
}

#shortareaspan {
    vertical-align: middle;
}
#loadw {
    font-size: 11px;
    margin-left: 10px;
}
.shortcmnt {
    padding: 8px 0;
}
.shortcmnt label {
    color: #000000;
    font-weight: bold;
}
.shortcmnt > span {
    color: #DC2522;
}
.multi_cart_head {
    background: #333333 none repeat scroll 0 0;
    padding: 10px;
    width: auto;
}
.multi_cart_head h2 {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: uppercase;
    line-height:21px;
}
.multi_cart_head_left {
    float: left;
    width: 650px;
}
.multi_cart_head_left p {
    color: #d1d1d1;
    margin: 0 !important;
    padding: 0 !important;
}
.multi_cart_head_right {
    color: #d1d1d1;
    float: right;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    width: 200px;
    margin-top:10px; margin-right:10px;
}
.checkout .multi_cart_head_left {
    width: 500px;
}
.store_total {
    color: #DC2522;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 15px;
    text-align: right;
}
#myOverlay {
    background: rgba(0, 0, 0, 0) url("images/loading.gif") no-repeat scroll left center;
    color: green;
    display: none;
    font-weight: bold;
    left: -6px;
    padding: 5px 0 5px 38px;
    position: absolute;
    top: -57px;
    width: 100%;
}
.jcarousel-list {
}
.jcarousel-container {
}
.jcarousel-direction-rtl {
    direction: rtl;
}
.jcarousel-container-horizontal {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px 2px #acb0b5;
    margin-bottom: 25px;
    padding: 20px 55px;
    width: 890px;
}
.jcarousel-clip {
    overflow: hidden;
}
.jcarousel-clip-horizontal {
    height: 335px;
    width: 890px;
}
.jcarousel-item {
    border-right: 1px solid #959595;
    height: 335px;
    padding: 0 6px;
    text-align: center;
    width: 295px;
}
.our_brands .jcarousel-clip-horizontal {
    height: 100px;
    width: 890px;
}
.our_brands .jcarousel-item {
    border-right: 1px solid #959595;
    height: 100px;
    padding: 0 2px;
    text-align: center;
    width: 299px;
}
.jcarousel-item-horizontal {
    margin-left: 0;
}
.jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}
.jcarousel-item-placeholder {
    background: #fff none repeat scroll 0 0;
    color: #000;
}
.jcarousel-next-horizontal {
    background: transparent url("images/right_arrow.jpg") no-repeat scroll 0 0;
    cursor: pointer;
    height: 46px;
    position: absolute;
    right: 15px;
    top: 150px;
    width: 27px;
}
.jcarousel-direction-rtl .jcarousel-next-horizontal {
    background-image: url("css/left_arrow.jpg");
    left: 5px;
    right: auto;
}
.jcarousel-prev-horizontal {
    background: transparent url("images/left_arrow.jpg") no-repeat scroll 0 0;
    cursor: pointer;
    height: 46px;
    left: 15px;
    position: absolute;
    top: 150px;
    width: 27px;
}
.jcarousel-direction-rtl .jcarousel-prev-horizontal {
    background-image: url("images/right_arrow.jpg");
    left: auto;
    right: 5px;
}
.jcarousel-prev-horizontal:hover, .jcarousel-prev-horizontal:focus {
}
.jcarousel-prev-horizontal:active {
}
.jcarousel-prev-disabled-horizontal, .jcarousel-prev-disabled-horizontal:hover, .jcarousel-prev-disabled-horizontal:focus, .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
}
.our_brands .jcarousel-prev-horizontal {
    top: 45px !important;
}
.our_brands .jcarousel-next-horizontal {
    top: 45px !important;
}
div#fancy_overlay {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
}
div#fancy_loading {
    background: transparent none repeat scroll 0 0;
    cursor: pointer;
    display: none;
    height: 40px;
    overflow: hidden;
    position: absolute;
    width: 40px;
    z-index: 100;
}
div#fancy_loading div {
    background: transparent url("imagesfancyboxfancy_progress.png") no-repeat scroll 0 0;
    height: 480px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}
div#fancy_outer {
    background: transparent none repeat scroll 0 0;
    display: none;
    left: 0;
    margin: 0;
    padding: 20px 20px 40px;
    position: absolute;
    top: 0;
    z-index: 90;
}
div#fancy_inner {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    position: relative;
    width: 100%;
}
div#fancy_content {
    margin: 0;
    position: absolute;
    z-index: 100;
}
div#fancy_div {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    height: 100%;
    width: 100%;
    z-index: 100;
}
img#fancy_img {
    border: 0 none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
div#fancy_close {
    background: rgba(0, 0, 0, 0) url("imagesfancyboxfancy_closebox.png") no-repeat scroll left top;
    cursor: pointer;
    display: none;
    height: 30px;
    position: absolute;
    right: -15px;
    top: -12px;
    width: 30px;
    z-index: 181;
}
#fancy_frame {
    display: none;
    height: 100%;
    position: relative;
    width: 100%;
}
#fancy_ajax {
    height: 100%;
    overflow: auto;
    width: 100%;
}
a#fancy_left, a#fancy_right {
    background-image: url("css/data:image/gif;base64,AAAA");
    bottom: 0;
    cursor: pointer;
    display: none;
    height: 100%;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    width: 35%;
    z-index: 111;
}
a#fancy_left {
    left: 0;
}
a#fancy_right {
    right: 0;
}
span.fancy_ico {
    cursor: pointer;
    display: block;
    height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 30px;
    z-index: 112;
}
span#fancy_left_ico {
    background: transparent url("imagesfancyboxfancy_left.png") no-repeat scroll 0 0;
    left: -9999px;
}
span#fancy_right_ico {
    background: transparent url("imagesfancyboxfancy_right.png") no-repeat scroll 0 0;
    right: -9999px;
}
a#fancy_left:hover, a#fancy_right:hover {
    background-color: transparent;
    visibility: visible;
}
a#fancy_left:hover span {
    left: 20px;
}
a#fancy_right:hover span {
    right: 20px;
}
#fancy_bigIframe {
    background: transparent none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
div#fancy_bg {
    border: 0 none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 70;
}
div.fancy_bg {
    border: 0 none;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 70;
}
div#fancy_bg_n {
    background: transparent url("imagesfancyboxfancy_shadow_n.png") repeat-x scroll 0 0;
    height: 20px;
    left: 0;
    top: -20px;
    width: 100%;
}
div#fancy_bg_ne {
    background: transparent url("imagesfancyboxfancy_shadow_ne.png") no-repeat scroll 0 0;
    height: 20px;
    right: -20px;
    top: -20px;
    width: 20px;
}
div#fancy_bg_e {
    background: transparent url("imagesfancyboxfancy_shadow_e.png") repeat-y scroll 0 0;
    height: 100%;
    right: -20px;
    width: 20px;
}
div#fancy_bg_se {
    background: transparent url("imagesfancyboxfancy_shadow_se.png") no-repeat scroll 0 0;
    bottom: -20px;
    height: 20px;
    right: -20px;
    width: 20px;
}
div#fancy_bg_s {
    background: transparent url("imagesfancyboxfancy_shadow_s.png") repeat-x scroll 0 0;
    bottom: -20px;
    height: 20px;
    left: 0;
    width: 100%;
}
div#fancy_bg_sw {
    background: transparent url("imagesfancyboxfancy_shadow_sw.png") no-repeat scroll 0 0;
    bottom: -20px;
    height: 20px;
    left: -20px;
    width: 20px;
}
div#fancy_bg_w {
    background: transparent url("imagesfancyboxfancy_shadow_w.png") repeat-y scroll 0 0;
    height: 100%;
    left: -20px;
    width: 20px;
}
div#fancy_bg_nw {
    background: transparent url("imagesfancyboxfancy_shadow_nw.png") no-repeat scroll 0 0;
    height: 20px;
    left: -20px;
    top: -20px;
    width: 20px;
}
div#fancy_title {
    display: none;
    position: absolute;
    z-index: 100;
}
div#fancy_title div {
    color: #fff;
    font: bold 12px Arial;
    padding-bottom: 3px;
    white-space: nowrap;
}
div#fancy_title table {
    margin: 0 auto;
}
div#fancy_title table td {
    padding: 0;
    vertical-align: middle;
}
td#fancy_title_left {
    background: transparent url("imagesfancyboxfancy_title_left.png") repeat-x scroll 0 0;
    height: 32px;
    width: 15px;
}
td#fancy_title_main {
    background: transparent url("imagesfancyboxfancy_title_main.png") repeat-x scroll 0 0;
    height: 32px;
}
td#fancy_title_right {
    background: transparent url("imagesfancyboxfancy_title_right.png") repeat-x scroll 0 0;
    height: 32px;
    width: 15px;
}
.pop {
    display: inline;
    position: absolute;
}
.pop .pop_menu {
    display: none;
    z-index: 80;
}
.pop .pop_toggle {
    background-image: url("images/cart/arrow_down.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    width: 20px;
}
.active .pop_menu {
    background-color: #ebebeb;
    color: #fff;
    display: block;
    padding: 0.6em;
    position: absolute;
    width: 12em;
    z-index: 80;
}
.active .pop_menu a {
    color: #fff;
}
.active .pop_toggle {
    background-image: url("images/cart/arrow_up.png");
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2000;
}
span#giftvoucher_wait {
    color: #2f2f2f;
}
.giftvoucher-discount-code {
    color: #008000;
}
.giftvoucher-discount-code button {
    background: transparent none repeat scroll 0 0;
    border: medium none;
}
.giftvoucher-discount-code button:hover {
    cursor: pointer;
}
.giftvoucher-media {
    border: 2px solid #f7f9f9;
}
.giftvoucher-media .giftmedia {
    border-bottom: 2px solid #f7f9f9;
    color: #f18200;
    font-size: 15px;
    padding: 7px;
}
#giftmedia pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.giftvoucher-media .giftmedia-image {
    overflow: hidden;
    position: relative;
    width: 265px;
}
.giftvoucher-product-info #message {
    height: 88px;
    width: 325px;
}
.giftvoucher-product-info #recipient_address {
    height: 57px;
    width: 325px;
}
.giftvoucher-product-info #recipient_email {
    width: 325px;
}
.giftvoucher-product-info #recipient_name {
    width: 325px;
}
#giftvoucher-result {
    font-size: 15px;
}
#giftvoucher-result label {
    width: 160px;
}
.banner .carousel-control{ display:none;}
.carousel-indicators{ right:0; left:0; width:100%; margin-left:0; padding-right:20px; text-align:right; bottom:0;}
.carousel-indicators li{ border-radius:0; width:15px; height:15px; border:solid 3px #5a7188}
.carousel-indicators .active{ border-color:#DC2522; background:none; width:15px; height:15px; margin:1px;}
.product_slider{background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px 2px #acb0b5;
    margin-bottom: 25px; position:relative; padding:20px 35px;}
	.listitem1{ width:33%; display:inline-block; border-right:solid 1px #ccc; padding:20px; text-align:center;}
	.product_slider .listitem1:last-child{ border:none!important;}
	.product_slider .product-name{
    color: #1d1d1d;
    display: block;
    font-size: 15px;
    padding: 4px 0;
    text-decoration: none;
    text-transform: uppercase;
}
.product_slider .product-name a{ color:#000;}
.addto .vsamll{ width:35px; text-align:center;}
.product_slider .carousel-indicators{ display:none;}
.product_slider .carousel-control{ background:none; width:5%; color:#b1b1b1; text-shadow:none;}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.col-right{ width:705px; float:right;}
.col-left{ width:250px; float:left; border: 1px solid #dddddd;}
.product_list {
    border: 1px solid #ccc;
    box-shadow: none;
}
#checkall{ border-bottom:solid 1px #ccc;display: none;}
#category-products .pagination{ padding:0 10px;}
#category-products .pagination a{  padding: 6px 12px!important;}
/*#category-products .pagination li{ margin-left:5px!important;}*/
.product_attributes h3{ font-size:14px; font-weight:bold; margin:0; padding:0; margin-top:15px; margin-bottom:10px;}
.items_featured .featured_item{ width:235px; margin-right:12px;}
.list-view .items_featured:last-child .featured_item{ margin-right:0;}
.addtobox .vsamll{ width:50px; text-align:center;}
.myaccount h3{ font-size:14px; font-weight:bold;}
.col-left .block-subtitle{ padding:10px; font-weight:bold; margin-bottom:0;}
#floatdiv{transition: all 0.5s ease; position:fixed; bottom:70px; margin-left:555px;}
.configurable_item .attribute-select {width: 225px; padding:0;}
.configurable_item .control-label{ margin-left:0;}
.configurable_item .form-group { padding-left:0; margin-bottom:0;}
.help-block{ display:none;}
.productattribute th{ padding-left:10px;}
.featured_item .product-name{ height:38px; font-size: 14px; font-weight: bold;}
.container{ width:1000px !important;}
.shopping_cart table input, .shopping_cart table textarea{ border:1px solid #CCC; padding:5px;}
.success_checkout{ text-align:center; padding:100px 0;}
.success_checkout h1{ color:green; font-size:30px; margin-top:0;}
.success_checkout p{ font-size:16px; color:#999;}
.success_checkout .cont{ background:#aa001a; color:white; margin-top:20px; padding:11px 22px; border:0; font-size:15px; font-weight:600; text-transform:uppercase;}
.grid-product .floatimg{ width:93%;}
.grid-product{ width:100%; float:left;}
.grid-product .floatchk{ float:left; width:7%;}
#navigation ul li.conference_name{ float:right ; }
#navigation ul li.conference_name a{ background:#DC2522; color:white;}
#contactform-verifycode{ height:34px; border:1px solid #CCC; padding:6px 12px;}

.ribbon{ position:relative;}
.ribbon:after{ position:absolute; top:-6px; left:-6px; width:85px; height:90px; content:""; display:inline-block; background:url(images/ribbon.png) no-repeat center; }
.list-view .ribbon:after{ background-size:82%; top:-13px; left:-12px;}


#contact-form .btn{ background:#DC2522; padding:7px 22px; border:0; border-radius:0; text-transform:uppercase; font-weight:600; font-size:14px;}
.pagination{ width:100%; text-align:center;}
.pagination li{ border:0 !important; display:inline-block; margin:0 !important; padding:0 !important;}
.pagination li a, .pagination li span{ margin-left:-4px !important;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{ background:#DC2522 !important; border-color:#DC2522 !important;}
.pagination li span{ font-weight:bold; font-size:12px;}
.scoller-head {
    box-sizing: border-box;
    height: 550px;
    overflow: auto;
    position: relative;
    width: 100%;
}
.scoller-head.hidden {
    display: none;
}
/*#floatdiv .order_now{ padding:12px 8px; width:123px; box-shadow: 0 0 49px rgba(0, 0, 0, 0.4); font-size:16px; text-transform:uppercase;}*/

#floatdiv .order_now {
    box-shadow: 0 0 49px rgba(0, 0, 0, 0.4);
    display: inline-block;
    font-size: 15px;
    padding: 12px 17px;
    text-transform: uppercase;
    width: auto;
   
}
#navigation .navigation li a{ padding:13.5px 16px !important; font-size: 13px;color: #e7e7e7; }
#navigation .navigation li ul li a{ padding:6px 16px !important; font-size:12px;}
/* @media screen and (-webkit-min-device-pixel-ratio:0) {
  #navigation ul li a{ padding:10px 5px !important; font-size: 11px;}
  }
@media screen and (min--moz-device-pixel-ratio:0) {
  #navigation ul li a{ padding:10px 5px !important; font-size: 11px;}
  } */
.traylist{
    padding: 20px !important;
}

.tray-name a{
    color: #DC2522 !important;
}   
.back{
    margin-bottom: 10px;
}
.back_button{
    width: 70px;
    margin-right: 30px;
}
.modal-content img { max-width: 100%;}
.modal-content{ overflow:hidden;}
.alert{margin-top: 20px;}
.cart-dialog .ui-widget-header {
    background: none !important;
    border: 0 !important;
}
.cart-dialog .modal-dialog {
    margin: 0 !important;
    height: 155px !important;
    text-align: center;
}
.cart-dialog .modal-dialog b {
    width: 100%;
    display: block;
    font-size: 16px;
    color: #DC2522;
}
.dialog-buttons {
    width: 100%;
    float: left;
    margin-top: 15px;
}
.dialog-buttons button {
    border: 0;
    border-radius: 0;
    background: #DC2522;
    display: inline-block;
    color: white;
}
.cart-dialog {
    position: fixed !important;
    top: 100px !important;
    z-index: 9999 !important;
}
.ui-dialog .ui-dialog-titlebar-close {display: none !important; }
.ui-dialog{position: fixed !important; top: 260px !important;}
.sort-by{float: right;}
a.sort-direction.desc { padding-top: 11px; margin-left: 7px;}
.pager {float:left; width: 215px;  margin: 12px 0 0 0 !important;}
p.amount{ margin-right: 15px;display: inline-block; float: left;}
.limiter { float: left; }

/* Added by Dan */

.product_lists {
    background: #fff none repeat scroll 0 0; width:100%;
    
}
.product_lists ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.product_lists ol li {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 15px;
}
.product_lists ol li img {
    border: 1px solid #ccc;
    display: inline-block;
}
.product_lists ol li img:hover {
    box-shadow: 0 4px 5px 0 rgba(204, 204, 204, 1);
}
.product_lists ol li a {
    color: #1d1d1d;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 0 0 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.product_lists ol li a:hover {
    color: #DC2522;
}

.promo_view .product_lists {
    box-shadow: none !important;
}

.product_lists {
    border: 1px solid #ccc;
    box-shadow: none;
}

select.trayIds{padding: 5px;float: left;margin-top: 16px;margin-right: 12px;}

input.button.list_bttn.back_button {
    float: left;
}

.conf_viewtype{ margin-top: -37px; }
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools, .mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
    opacity: 1 !important;
}

.floatinfo .promotion-list span{background-color:#DC2522 !important; color: #fff !important; border-radius: 10px; margin-left: 7px; padding: 3px 8px !important; display: inline-block; font-size: 11px;  }

.sku.promotion-list{width: 100%;}
.change_pass{background-color:#DC2522 !important; border:0; border-radius: 0; }

.price_disp{ float: right !important;}
.btn-primary {
    color: #fff;
    background-color: #1A1A1A; 
    border-color: #1A1A1A; 
}
.btn-primary:hover{background-color: #1A1A1A; }
.update-cart:hover{ color: #fff;background-color: #1A1A1A;}
.conference_name:hover{text-decoration: underline;}
.save-cart:hover{ color: #fff;background-color: #1A1A1A;}
.checkout:hover{ color: #fff;background-color: #1A1A1A;}
.clearcart:hover{ color: #fff;background-color: #1A1A1A;}
.button {background-color: #DC2522;}
/* End */
