



.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* html .cf { zoom: 1; }

*:first-child+html .cf { zoom: 1; }



html { margin: 0; padding: 0; }

body {  margin: 0; font-family: 'Helvetica Neue', Arial, sans-serif; }



h1 { font-size: 1.75em; margin: 0 0 0.6em 0; }



a { color: #2996cc; }

a:hover { text-decoration: none; }



p { line-height: 1.5em; }

.small { color: #666; font-size: 0.875em; }

.large { font-size: 1.25em; }



/**

 * Nestable

 */



.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }



.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }

.dd-list .dd-list { padding-left: 30px; }

.dd-collapsed .dd-list { display: none; }



.dd-item,

.dd-empty,

.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }



.dd-handle { display: block; height: 38px; margin: 5px 0; padding: 8px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;

   

    -webkit-border-radius: 3px;

            border-radius: 3px;

    box-sizing: border-box; -moz-box-sizing: border-box;

}

.dd-handle:hover { color: #2ea8e5; }



.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 28px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; color:#3c8dbc ; }

.dd-item > button:before { content: '\f067'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; font-family: FontAwesome; }

.dd-item > button[data-action="collapse"]:before { content: '\f068'; }



.dd-placeholder,

.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }

.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;

    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),

                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);

    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),

                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);

    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),

                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);

    background-size: 60px 60px;

    background-position: 0 0, 30px 30px;

}



.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }

.dd-dragel > .dd-item .dd-handle { margin-top: 0; }

.dd-dragel .dd-handle {

    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);

            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);

}



/**

 * Nestable Extras

 */



.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }



#nestable-menu { padding: 0; margin: 20px 0; }



#nestable-output,

#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }



#nestable2 .dd-handle {

    color: #fff;

    border: 1px solid #367fa9;

    

    background: -webkit-linear-gradient(top , #3c8dbc 0%, #367fa9 100%);

    background:    -moz-linear-gradient(top , #3c8dbc 0%, #367fa9 100%);

    background:         linear-gradient(top , #3c8dbc 0%, #367fa9 100%);
	 cursor:move;

}

#nestable2 .dd-handle:hover { background: #3c8dbc;  }

/* #nestable2 .dd-item > button:before { color: #fff; } */



@media only screen and (min-width: 700px) {



    .dd { float: left; width: 100%; }

    .dd + .dd { margin-left: 2%; }



}



.dd-hover > .dd-handle { background: #2ea8e5 !important; }



/**

 * Nestable Draggable Handles

 */



.dd3-content { display: block; margin: 5px 0; padding: 8px 10px 8px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;

    background: #fafafa; 

    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);

    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);

    background:         linear-gradient(top, #fafafa 0%, #eee 100%);

    -webkit-border-radius: 3px; 

            border-radius: 3px;

    box-sizing: border-box; -moz-box-sizing: border-box; transition:all ease-in-out;

}

.dd3-content:hover { color:#3c8dbc; background: #fff; }



.dd-dragel > .dd3-item > .dd3-content { margin: 0; }



.dd3-item > button { margin:10px 0 10px 35px; }



.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: move; width: 35px; text-indent: 100%; white-space: nowrap; overflow: hidden;

    border: 1px solid #367fa9;

    background: #3c8dbc;

    background: -webkit-linear-gradient(top, #3c8dbc 0%, #367fa9 100%);

    background:    -moz-linear-gradient(top, #3c8dbc 0%, #367fa9 100%);

    background:         linear-gradient(top, #3c8dbc 0%, #367fa9 100%);

    border-top-right-radius: 0;

    border-bottom-right-radius: 0;

}

.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 8px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 23px; font-weight: normal; }

.dd3-handle:hover { background: #367fa9; }

