.nav-inner, .cat-wrapper, .pdt-cart, .cat-head, .pdt-btn, .login-button, .cont, .btn-primary, button.submit-wishbtn, button.submit-wishbtn:hover{background: #8F3B80 !important;}
.cart-content-bg a .shopping-btn-bg, .cart-content-bg button, .btn-success{background: #808080 !important;}
.site-checkout .continue:hover, .empty-wrapper a, .cart-drop a:hover, .product .fa-eye:hover, .product .fa-heart:hover {background: #79366F!important;}
.search-outer,.product .fa-eye:hover, .product .fa-heart:hover{border: 1px solid #808080 !important;}
.pagination>.active>a{background: #808080 !important; border-color: #808080;}
.detail_cart a.pdt-btn,.cart-content-bg a .shopping-btn-bg, .cart-content-bg button,.site-checkout .continue,.site-checkout .returning-customer .login-button,.cart-drop a{background: #8F3B80!important;}
.detail_cart a.pdt-btn:hover,.btn-primary:hover,.cart-content-bg a .shopping-btn-bg:hover, .cart-content-bg button:hover,.site-checkout .returning-customer .login-button:hover{background: #79366F!important;}
