body{font-family: 'Roboto', sans-serif; background:#eeeeee;}
a, a:hover, a:active, a:focus{outline:none; transition:all ease-in-out 0.2s;}
.header{width:100%; float:left;}
.header a:hover{ text-decoration:none;}
.header-top{ width:100%; float:left; background:#323232; height:34px; z-index:999; position:relative;}
.container{ width:1200px !important;}
.top-social a{ color:white; font-size:18px; margin-right:5px;}
.top-menu{ text-align:left; background:#b42320; position:relative; padding:10px 0; height:42px;  }
.top-menu:before{ position:absolute; content:''; width:100%; height:42px; background:#b42320; left:-100%; z-index:1; top:0;} 
.top-menu:after {content: ''; position: absolute; top: 0; right: -45px; width: 100px; height: 100%; background: #b42320; -webkit-transform-origin: 100% 0; -ms-transform-origin: 100% 0; transform-origin: 100% 0;  -webkit-transform: skew(-45deg); -ms-transform: skew(-45deg); transform: skew(-45deg); z-index: 0;}
.top-menu .fa{ margin-right:5px;}
.top-menu a{ display:inline-block; font-size:13px; color:#fefefe; padding:0 10px; position:relative; z-index:10;}
.top-menu a:hover{ color:#dc2522; text-decoration:none;}
.topcontact{ color:#fff; text-align:right;}
.topcontact span{ padding:6px 0; font-size:13px; display:inline-block;}
.topcontact span.email{ padding:5px 23px; }
.header-middle{ background: #fff; width:100%; float:left;}
.logo{ width:280px; float:left; position:relative;}
.header-middle .container{ position:relative; }
.logo-img {margin-top: 10px;}
.logo a{ display:inline-block; padding: 30px 0; padding-bottom:25px;}
.search-outer{ width:548px; float:left; padding:36px 0 29px 26px;margin-left: 35px;}
.search-wrapper{ width:100%; float:left;    border-left: 1px solid #D9D9D9;border-top: 1px solid #D9D9D9;border-right: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9; }
.search-wrapper select{ width:25%; border:0; font-size:14px; height:43px; padding:6px; color:#757575; float:left}
.search-wrapper input{ width:53%; border:0; font-size:14px; height:43px; padding:6px 12px; color:#757575; float:left}
.search-wrapper .fa{ background: #b42320;color: white; float: left; font-size: 21px; line-height: 41px; height:43px; text-align: center;width: 12%;  text-decoration:none; border:0;}
.search-wrapper .fa:hover{ background:#b90202; text-decoration:none;}
.phn-wrapper{ width:183px; float:right; margin-top:36px;}
.pn-left{color: #db2522;float: left;font-size: 32px;line-height: 48px; width: 40px;}
.pn-right{ float:left; font-weight:700; color:#484848; font-size:16px;}
.pn-right span{ font-size:13px; color:#878787; font-weight: normal;}
.pn-right i{ font-weight:normal; font-style:normal; font-family: 'Open Sans', sans-serif; color:#e31837; font-size:13px}
.header-bottom{ width:100%; float:left; background:#323232;}
.nav-inner{ width:100%; float:left; }
.cat-wrapper{  float: left; background:#b42320; color:white; font-size:16px; font-weight:500; padding:15px; height:53px; cursor:pointer;}
.cat-wrapper:hover{ color:white; background:#be1816;}
.cat-wrapper i{ float:right; margin-top:4px;}
.cat-wrapper .fa-angle-down{ margin-left:10px; font-size:15px;}
.fa-shopping-bag{ float:left; font-size:23px; margin-left:20px; margin-right:10px; color:#b42320;}
.navigation{ width:1050px; float:left;}
.navigation ul{ float:left; width:100%; padding:0; margin:0;}
.navigation ul li{ float:left; list-style:none;}
.navigation ul li a{ color:#fefefe; font-size:16px; float:left; padding:15px 25px;}
.navigation ul li a:hover{ background:#202020; color:#dc2522;}
.cart-container{ float:right;font-size:14px;}
.cart-container span{ color:#b42320;}
.cart-container a{ display:block; color:#cacaca; padding:30px 0px; cursor:pointer; float:left;font-size:13px; padding-bottom:5px; }
.topcontact .dropdown{ z-index:99; cursor:pointer;}
.topcontact .dropdown a{ color:white;}
/*.cart-container a:after{ content:""; position:absolute; z-index:1; right:-73px; top:0; width:390px; height:150px; background:url(../images/shadow.png) no-repeat right top; display: inline-block}*/
.cart-container a img{ position:relative; z-index:12}

.cart-drop a{ background: #202020; padding:5px 11px; color:white; width:49%; float:left; text-align:center; font-size:13px; border:solid 1px #b42320;}
.cart-drop a:first-child{ margin-right:2%;}
.cart-drop a:hover{ background:#b42320;}
.cart-drop{ left:-1px; border-radius:0; border:1px solid #202020; padding:1px; margin-top:0; border-top:0; right:0; background:none;}
.cat-wrapper .fa-shopping-cart{ float:left; font-size:20px; position:relative; margin-right:10px; margin-top:-0px;}
.menu-container{ width:100%; float:left; background:white; height:428px;}
.banner .col-xs-3, .banner .col-xs-9{ padding:0 10px;}
.banner .col-xs-3{ width:312px;}
.banner .col-xs-9{ width:878px;}
.banner-wrapper{ width:100%; }
.products-wrapper{ width:100%; float:left; background:white; border-top:1px solid #e31837; margin-top:20px;}
.owl-carousel .animated {-webkit-animation-duration: 1000ms; animation-duration: 1000ms; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.owl-carousel .owl-animated-in {z-index: 0; }
.owl-carousel .owl-animated-out {z-index: 1; }
.owl-carousel .fadeOut {-webkit-animation-name: fadeOut; animation-name: fadeOut; }
.banner{ overflow:hidden;}
@-webkit-keyframes fadeOut {0% {opacity: 1; }

  100% {opacity: 0; }
}
@keyframes fadeOut {0% {opacity: 1; }

  100% {opacity: 0; }
}
.owl-height {-webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }
.owl-dots {bottom: 0; position: absolute; right: 10px; }
.owl-carousel {display: none; width: 100%; -webkit-tap-highlight-color: transparent; /* position relative and z-index fix webkit rendering fonts issue */
  position: relative; z-index: 1; }
.owl-carousel .owl-stage {position: relative; -ms-touch-action: pan-Y; }
.owl-carousel .owl-stage:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.owl-carousel .owl-stage-outer {position: relative; overflow: hidden; /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {cursor: pointer; cursor: hand; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel.owl-loaded {display: block; }
.owl-carousel.owl-loading {opacity: 0; display: block; }
.owl-carousel.owl-hidden {opacity: 0; }
.owl-carousel .owl-refresh .owl-item {display: none; }
.owl-carousel .owl-item {position: relative; min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel .owl-item img {display: block; width: 100%; -webkit-transform-style: preserve-3d; }
.owl-carousel.owl-text-select-on .owl-item {-webkit-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto; }
.owl-carousel .owl-grab {cursor: move; cursor: -webkit-grab; cursor: -o-grab; cursor: -ms-grab; cursor: grab; }
.owl-carousel.owl-rtl {direction: rtl; }
.owl-carousel.owl-rtl .owl-item {float: right; }

.owl-theme .owl-dots .owl-dot {display: inline-block; }
.owl-theme .owl-dots .owl-dot span {background: #d6d6d6 none repeat scroll 0 0; border-radius: 30px; display: block; height: 10px; margin: 5px 3px; transition: opacity 200ms ease 0s; width: 10px; }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {background: #b42320 none repeat scroll 0 0; }

.nav-tabs{ width:100%; float:left; border-bottom:1px solid #e5e5e5;}
.nav-tabs > li > a{ border:0 !important; background:none !important; color:#888888;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{ border:0; color:#e31837;}

.options-banner{ text-align:center; background:#fff; padding-bottom:30px;}
.options-banner p{ line-height:23px; color:#525252; font-size:14px; font-weight:300;}
.options-banner span{ display:inline-block; margin:0 5px;}
.options-banner h2{ font-size:18px; margin:30px 0 20px; text-transform:uppercase; color:black;}
.products{ background:#f4f4f4; padding:20px 0;}
.products h1, .product_list h1{ font-size:30px; font-weight:normal; color:#b42320; text-transform:uppercase; margin-bottom:20px;}
.product_list h1{ margin-top:0 !important;}

#featuredslider .owl-nav{ position:absolute; top:-50px; right:0}
#featuredslider .owl-prev{ display:block!important; float: left; width:25px; height:25px; border: solid 1px #ccc; text-indent:-999px; overflow:hidden; position:relative;}
#featuredslider .owl-prev:after{  font-family: FontAwesome; content: "\f104  "; position:absolute; z-index:1000; font-size:20px; text-indent:0; left:8px; top:-3px;}
#featuredslider .owl-next:after{  font-family: FontAwesome; content: "\f105 "; position:absolute; z-index:1000; font-size:20px; text-indent:0; left:8px; top:-3px;}
#featuredslider .owl-next{ display:block!important; float: left;width:25px; height:25px; border: solid 1px #ccc; text-indent:-999px; overflow:hidden; position:relative; margin-left:10px;}
#featuredslider .owl-dots{ display:none!important;}
#featuredslider .owl-item img{ width:auto; height:auto; margin:auto}
.ad-full {float: left; width: 100%; margin-top:16px;}

.product{ border:1px solid #e7e7e7; width:100%; float:left; transition: all ease-in-out 0.2s; background:#fff; padding:7px;}
.product:hover{ border-color:#ac1e23; opacity:0.9;}
.pdt-img{ width:100%; height:187px; text-align:center; display:table;}
.pdt-img a{ display:table-cell; vertical-align:middle; text-align:center; width:100%;}
.pdt-img a img{ max-width:95%; /*max-height:95%;*/ transition: all ease-in-out 0.5s;}
.product:hover .pdt-img img{ transform:scale(1.05);}
.pdt-cnt{ width:100%; float:left; padding:5px;}
.pdt-head{ width:100%; float:left; font-size:15px; color:#4d4d4d; margin-bottom:10px; text-align:center; height: 35px;}
.stars{ width:75px; height:15px; float:right; background:url(../images/star.jpg) no-repeat left top;}
.stars.four{ background-position:0 -15px;}
.stars.three{ background-position:0 -30px;}
.stars.two{ background-position:0 -45px;}
.stars.one{ background-position:0 -60px;}
.price{ width:100%; float:left; font-size:20px; color:#e31837; text-align:center; }
.pdt-btm{width:100%; float:left; padding-top:10px; text-align:center;}
.pdt-cart{ display:inline-block; text-align:center; color:#B42320; font-size:14px; padding:3px 0; width:123px; margin:0 7px; border:1px solid #d9d9d9; }
.pdt-cart:hover{ color:#1e1e1e; text-decoration:none;}
.pdt-cart i{ font-size:15px;}
.product .fa-eye, .product .fa-heart{ float:left; width:36px; height:28px; border:1px solid #d9d9d9; color:#777777; line-height:26px; text-align:center; font-size:15px;}
.product .fa-heart{float:right;}
.product .fa-eye:hover, .product .fa-heart:hover{ background:#ad1e23; color:white; border-color:#ad1e23; text-decoration:none;}
.product_list .product{ margin-bottom:30px;}
.product_list{ padding:30px 0;}
.newsletter{ background:url(../images/p_bg.jpg) no-repeat center top; background-size:cover; background-attachment:fixed; padding:40px 0; text-align:center; color:#fff; font-size:17px;}
.newsletter h2{ text-transform:uppercase; font-weight:normal; font-size:35px; }
.news_register{ border:solid 1px #fff; width:875px; margin:30px auto; text-align:left; position:relative;}
.news_register:after{font-family: FontAwesome; content: "\f003"; position:absolute; z-index:1000; font-size:30px; top:10px; left:20px;}
.news_register input{ width: 748px; height:62px; line-height:62px; font-size:15px; text-transform:uppercase; color:#ccc; background:none; border:0; display:inline-block; float:left; padding-left:70px; border-right:solid 1px #fff;}

input.subscribe{ width:125px; display:inline-block; height:62px; text-transform:uppercase; color:#fff;  float:right; text-align:center; line-height:60px; padding:0;}

.subscribe:hover{ background:#fff; color:#202020; text-decoration:none;}
.brands{ text-align:center; background:#fff; padding:20px 0; color:#606060; font-size:17px;}
.brands h2{text-transform:uppercase; font-weight:normal; font-size:35px; margin-bottom:25px; }
#footer_slider .item img{ max-width:180px!important; height:auto; width:auto; margin:auto;      }
#footer_slider .item {  height:120px; margin:0 10px; text-align:center; line-height:120px; border:solid 1px #ccc;}
#footer_slider .owl-controls{ }
#footer_slider .owl-item{border:solid 10px #fff;  display:table;}
#footer_slider .owl-dots{ position:static;}
#footer_slider div.owl-item > div {display:table-cell;vertical-align:middle;}
.footer .col-xs-4{ width:20%!important;}
.footer{ background:#1e1e1e; padding:10px 0; padding-bottom:0;}
.footer h3{ font-size:16px; font-weight:normal; color:#fff; margin-bottom:25px;}
.footer ul{ list-style:none; margin:0; padding:0;}
.footer ul li{ margin:5px 0;}
.footer ul a{ color:#949494; font-size:13px; text-decoration:none; }
.footer ul a:hover{ color:#fff;}

.social [class*="fa fa-"] { background-color: #333;  border-radius: 30px; color: #ccc;display: inline-block;height: 30px;line-height: 30px;margin: auto 3px;width: 30px;font-size: 18px;text-align: center;}
.social a:hover{ text-decoration:none; color:#fff;}
.copyright{ border-top:solid 1px #393939; padding:20px 0; margin-top:40px; color:#949494;} 
.c_right{ text-align:right;}
.c_right img{ margin:0 5px; opacity:0.8}
.top-menu a{ opacity:0.8}
.top-menu a:hover{ color:#fff; opacity:1;}
.topcontact{ opacity:0.8}

.menu{position:relative; width:200px;}
.main-head{ display:inline-block; padding:10px 5px; }
/*.catmenu .nav{ position:absolute; width:245px; background:white; top:50px; left:0; display:none; z-index:10; }
.catmenu .nav{ top:100%;}
.catmenu .nav ul{ position:absolute; width:100%; left:100%; top:0;background:white; min-height:100%;box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); z-index:1; margin:0; padding:0;}
.catmenu .nav ul{ display:none;}
.catmenu .nav li:hover > ul{ display:block;}

.catmenu .nav li{ width:100%; float:left; list-style:none;}
.catmenu .nav li a{ display:block; padding:12px 10px; color:#717171; border-bottom:1px solid #e8e8e8; text-decoration:none;}*/
.sub{ position:relative;}
.catmenu:hover > .nav{ display:block;}
.smallmenu{ width:400px!important;}
.smallmenu li{  float:left; display:inline-block; width:200px;}
.catmenu{ position:relative; float:left;}
.smallmenu li:nth-child(even) { border-left:solid 1px #ccc;}
.s-hidden {visibility:hidden;padding-right:10px;}
.search-wrapper .select {cursor:pointer;display:inline-block;position:relative;float:left;width: 182px;}
.styledSelect {position:absolute;top:0; width:182px;right:0;bottom:0;left:0;background-color:white;padding:10px;color:#7a7a7a; height:43px;}
.styledSelect:after {content:"";width:0;height:0;border:5px solid transparent;border-color:#7a7a7a transparent transparent transparent;position:absolute;top:19px;right:6px;}
.styledSelect:active, .styledSelect.active {background-color:#eee;}
.options {display:none;position:absolute;top:43px;right:0;left:0;z-index:999;margin:0 0;padding:0 0;list-style:none;border:1px solid #ccc;background-color:white;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);box-shadow:0 1px 2px rgba(0, 0, 0, 0.2); color:#7a7a7a;text-align:left;}
.options li {margin:0;padding:5px 10px;}
.options li:hover {background-color:#5a5a5a;color:white;}
#footer_slider .owl-dots{ display:none!important;}
.navigation ul.dropdown-menu li a{ color:#717171;}
.navigation ul.dropdown-menu li a:hover{ background:#eee; color:#717171;}
.navigation .dropdown-menu{ min-width:200px;}
.catmenu ul ul{ top:0 !important;}
.detail_cart .price{ text-align:left;}
.pdt-btm button {background: none;  border: 0; float: right;width: 36px;padding: 0px;}
.pdt-cart {width: 60%;}
button.submit-wishbtn {height: 33px;width: 39px;float: left;margin-left: 6px;background: #3689c0;color: white;border: none;}
button.submit-wishbtn:hover {background: #175781;color: white;}
.social a i:hover {text-decoration: none;color: #fff;}
.product-options {min-width: 350px;}
.image-popup .modal-footer .btn:hover {color: #333;background-color: #e6e6e6 !important;border-color: #adadad !important;}
.cart-container span:hover{text-decoration: underline;}
#footer_slider .item:hover{ border: solid 1px #B42320;} 
.product .pdt-img img {width: 190px !important;height: 190px !important;}
.product_list #homepage-products .pdt-img img {width: 200px !important;height: 200px !important;}
.megamenu > li > ul > li a{ font-weight:300;}
#shown-sub #shown-sub li a:hover{ color:#b42320 !important;}
#homepage-products .col-xs-3 {padding: 9px;width: 20%;}
#homepage-products .pdt-cart{ width:107px}

.newproducts .pdt-cart{ width:102px !important}
.quick-btns .fa-heart {color: #B42320 !important;}
.byod-wrapper .pop-submit {height: 37px;}
.pdt-text {font-weight: 300 !important;font-size: 14px;}
.site-checkout .returning-customer .login-button{background: #b42320 !important;}