@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'futuraregular';
    src: url('../fonts/futura-t-ot-book_19064-webfont.eot');
    src: url('../fonts/futura-t-ot-book_19064-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura-t-ot-book_19064-webfont.woff2') format('woff2'),
         url('../fonts/futura-t-ot-book_19064-webfont.woff') format('woff'),
         url('../fonts/futura-t-ot-book_19064-webfont.ttf') format('truetype'),
         url('../fonts/futura-t-ot-book_19064-webfont.svg#futura_t_otregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0px;
    padding: 0px;
    border: medium none;
    outline: medium none !important;
    list-style: outside none none;
    font-size: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline:none!important; }
  
html,body{height:100%;} 

body {
  color: #767676;
  font-family: 'futuraregular';
  font-weight: 300;
  font-size: 15px; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }
 
a {text-decoration: none!important;}
a img {border: none; } 
a,a:hover,a:active,a:focus{transition:all 0.2s ease-in-out 0s!important;}  
img{max-width:100%;}
.form-control:focus {
    outline: none !important;
    border:1px solid #CCC;
    box-shadow:none;
}
.dropdown-menu li{ width:100%;}

/*-------------TOP Section--------------------------------*/

.container{width:1280px;}
.top{width:100%;background:#363636;}

.top-left-icons ul{float:left;margin-bottom:0;}
.top-left-icons ul li{float:left;padding:9px 10px;font-size:14px;}
.top-left-icons ul li a{color:#fff;opacity:0.7;}
.top-left-icons ul li a i{font-size:17px;}
.top-left-icons ul li a:hover{opacity:1;}
#search_mini_form input{ height: 38px !important; border: 0;}

.top-right-icons ul{float:left;margin-bottom:0;margin-top: 7px;}
.top-right-icons ul li{float:left;font-size:14px;position:relative;text-align:center;}
.top-right-icons ul li:first-child{padding:9px 10px;color:#fff;margin-right:15px;margin-top: 2px;}
.top-right-icons ul li a{color:#fff;opacity:0.7;}
.top-right-icons ul li a:hover{opacity:1;}

.top-right-icons ul li.cart-icon{background:url(../images/cart.png);width:32px;height:27px;cursor:pointer;float:left;margin-top:6px;margin-right:20px;opacity:0.5;transition:all 0.2s ease-in-out 0s!important;}
.top-right-icons ul li.cart-icon a{color:#000;}
.top-right-icons ul li.cart-icon:hover{opacity:1;}

.cart-value{width: 15px;height: 16px;left: 12px;top: 5px;position: absolute;font-size:11px;}

.top-right-icons ul li .van-icon{background:url(../images/van.png);width:37px;height:21px;cursor:pointer;float:left;margin-top: 10px;margin-right: 20px;opacity: 0.95;}
.top-right-icons ul li .favrite-icon{background:url(../images/favrite.png);width:21px;height:19px;cursor:pointer;float:left;margin-top:10px;margin-right:20px;opacity: 0.95;}
.top-right-icons ul li .headset-icon{background:url(../images/headset.png);width:24px;height:26px;cursor:pointer;float:left;margin-top:6px;opacity: 0.95;}

/*-------------TOP Section--------------------------------*/

/*-------------NAV Section--------------------------------*/

.nav-bg{padding:17px 0;}
.nav-bg,.nav-bg2{width:100%;border-bottom:1px solid #d9d9d9;}
.nav-bg .pull-right li{text-transform:uppercase;float:left;font-size:14px; position:relative;}
.navbar-header{float:left;}

.nav-bg .pull-right li a{color:#808080;}
.nav-bg .pull-right li a:hover,.nav-bg .pull-right li a:focus{background-color: transparent;color: #000;text-decoration: underline !important;}

.navbar {min-height:auto!important;margin-bottom:0;}
.navbar-default{background:#fff!important;border:none!important;}
.navbar-brand{height:auto!important;padding:0;}
.navbar-nav{margin-top:10px;margin-left: 70px;}

.navbar-nav > li{float:left;display:block!important;}
.dropdown-menu{padding:0;min-width: 200px!important;}
.dropdown-menu li{ width: 100%; float: left;}
.dropdown-menu li a{padding:7px 15px; position:relative; width: 100%; float: left;}
.dropdown-menu li a i{position:absolute;right:15px;top:10px;}
.dropdown-menu li a:hover{background:#eee;}
.dropdown .dropdown-toggle:hover{background-color:#E7E7E7!important;}

.nav li a{float:left;display:normal;background-color:transparent;color:#767676; }
.input-group{display:inherit;}

.nav li a{padding:10px}
.nav-bg .pull-right li:last-child a{padding-right:2px;}
.nav-bg .container-fluid,.nav-bg2 .container-fluid{padding-right:0!important;}

.nav-bg2{border:none;padding:10px 0;}
.nav-bg2 .navbar{padding:0;}
.nav-bg2 .navbar-nav{margin-top:10px;float:left;}
.nav-bg2 .form-control{border-radius:0px;}

.category-menu li a{font-family: 'Open Sans', sans-serif;}
.category-menu li ul{ background:#FFF; min-width:200px; border: 1px solid rgba(0, 0, 0, 0.15);}
.category-menu li ul li, .category-menu li ul li a{ width:100%;}
.category-menu .nav{ float:left; margin-top:0px;}
.category-menu ul.nav .nav{ margin:0 !important;}
header { position: relative; z-index: 99;}
.category-menu ul li i{  margin-left:3px;}
.category-menu ul li li i{ display:none;}


.input-group-btn{float:left;}

.btn-default:focus, .btn-default:hover {color: #fff;background-color: #8b8b8b;}
#search_mini_form .btn-default{background-color: #8b8b8b;color: #fff;padding:8px 10px 8px;border-color:transparent; border-radius:0 !important; transition: all ease-in-out 0.2s;}
#search_mini_form .btn-default:hover{background-color: #b42320;}

.navbar-form .form-control{width:250px!important;height:43px;box-shadow:none; border:1px solid #ccc}
.navbar-form{padding:0;border:none;}

.btn-default .fa-search{font-size:19px;}
.navbar-form.pull-right { margin-left: 21px;}

/*-------------NAV Section--------------------------------*/


/*-------------placeholder Section--------------------------------*/

::-webkit-input-placeholder {
   font-style: italic;font-size:14px;
}
:-moz-placeholder {
   font-style: italic; font-size:14px; 
}
::-moz-placeholder {
   font-style: italic; font-size:14px; 
}
:-ms-input-placeholder {  
   font-style: italic; font-size:14px;
}

.footer-cont-bg ::-webkit-input-placeholder {
   font-style: normal;font-size:14px;
}
.footer-cont-bg :-moz-placeholder {
   font-style: normal; font-size:14px; 
}
.footer-cont-bg ::-moz-placeholder {
   font-style: normal; font-size:14px; 
}
.footer-cont-bg :-ms-input-placeholder {  
   font-style: normal; font-size:14px;
}

/*-------------placeholder Section--------------------------------*/

/*-------------cont-bg Section--------------------------------*/

.cont-bg h3{solid #e8e8e8;font-size: 24px;color: #272727;padding: 35px 0px 20px;margin-bottom: 0;}
.cont-bg .border-div{float:left;width:125px;height:3px;background:#aaaaaa;}
.item-first-row{margin-top:30px;}

.product-img{float:left;border:1px solid #eeeeee;width:100%;text-align:center;height:190px;max-height:190px;line-height:180px;padding:6px 20px;margin-bottom:20px;transition:all 0.2s ease-in-out 0s;}
.product-img img{/*max-width:155px;max-height: 150px;*/width:auto;transition:all 0.2s ease-in-out 0s;}
.prdct-details{float:left;width:100%;text-align:center;}
.prdct-details h5{font-size:17px;color:#4f4f4f;margin:0 0 10px;height: 35px;}
.prdct-details h5 a{color:#4f4f4f;}
.prdct-details h5 a:hover{border-bottom:1px solid #a9a8a8;}
.prdct-details .price{font-size:18px;color:#f93f45;}
.prdct-details .add-cart-bg{width:175px;margin:10px auto 0;text-align:left;font-size:14px;color:#777777;}
.prdct-details .add-cart-bg i{font-size:17px;}
.prdct-details .add-cart-bg i.fa-eye{margin-right:6px;font-size:20px;}
.prdct-details .add-cart-bg a:hover{color:#B42320;transition: all 0.30s  ease;-moz-transition: all 0.30s  ease;}
.add-cart-bg a{color:#777777;}
.item-first-row li:hover .product-img{border:1px solid #B42320;}


/*-------------cont-bg Section--------------------------------*/



/*-------------Footer Section--------------------------------*/

footer{background:#f6f6f6;padding:0 0 10px;border-top:1px solid #d9d9d9;float:left;width:100%;}

.footer-cont-bg1{background:#f4f4f4;padding:10px 0;}
.footer-cont-bg1 .subscribe-btn{padding:5px 22px 2px;text-align:left;border: 1px solid #CCC;height: 45px;border-right:none;float:left;background:#fff;}
.subscribe-btn .suscribe{color:#3a3a3a;border-right:1px solid #3a3a3a;font-size:14px;padding: 7px 30px 6px 0;}

.footer-cont-bg1 .form-control {width: 340px !important;height: 45px;border-left:none;border-radius:0;}
.footer-cont-bg1 .btn-default{background-color: #aaaaaa;color: #fff;padding:10px 25px; height:45px;border:0;transition:all 0.2s ease-in-out 0s; border-radius:0 !important;}
.footer-cont-bg1 .btn-default .fa-angle-right{font-size:23px;}
.footer-cont-bg1 .navbar-form{margin-top:0;}

.footer-cont-bg1 .navbar-form:hover .btn-default{background:#B42320!important;}

.footer-cont-bg1 .scl-icon ul li{margin-right:15px;font-size:16px;float:left;}
.footer-cont-bg1 .scl-icon ul li a{color:#fff;width:32px;height:32px;text-align:center;line-height:32px;background:#aaaaaa;}
.footer-cont-bg1 .scl-icon ul li:first-child{margin-top:7px;margin-right:20px;}
.footer-cont-bg1 .scl-icon ul li:first-child a{width:auto;line-height:normal;border:none;background:none;color:#3a3a3a;}
.footer-cont-bg1 .scl-icon ul li a:hover{color:#fff;}
.footer-cont-bg1 .scl-icon ul li:last-child{margin-right:0px;}

.footer-cont-bg1 .scl-icon ul li a.fa-facebook:hover{
    background:#3c5b9b none repeat scroll 0 0;
}
.footer-cont-bg1 .scl-icon ul li a.fa-twitter:hover {
    background: #2ca9e1 none repeat scroll 0 0;
}
.footer-cont-bg1 .scl-icon ul li a.fa-pinterest:hover {
    background: #cb2026 none repeat scroll 0 0;
}
.footer-cont-bg1 .scl-icon ul li a.fa-youtube:hover {
    background: #fd3331 none repeat scroll 0 0;
}
.footer-cont-bg1 .scl-icon ul li a.fa-linkedin:hover{background:#007bb5;}
.footer-cont-bg1 .scl-icon ul li a.fa-google:hover{background:#dd4b39;}
.footer-cont-bg1 .scl-icon ul li a.fa-instagram:hover{background:#125688;}

.footer-cont-bg1 .scl-icon ul li:first-child a:hover{box-shadow:none!important;border:none;color:#3a3a3a;}

.footer-cont-bg2{padding:10px 0 10px;background:#f6f6f6;}
.footer-cont-bg2 .bttm-link{padding:0;}
.footer-cont-bg2 .bttm-link .ftr-one{width:100%; padding:0;}

.footer-cont-bg2 .bttm-link ul{ display:inline-block;margin-top:8px;}
.footer-cont-bg2 .bttm-link ul li{ display:inline-block;font-size:13px;padding:0 15px;border-right:1px solid #686868;}
.footer-cont-bg2 .bttm-link ul li a{color:#7e7d7d;}
.footer-cont-bg2 .bttm-link h3{font-size:14px;font-weight:bold;border:none;padding-left:0; color:#7e7d7d; display: inline-block; margin:0;width: 66px;}
.footer-cont-bg2 .bttm-link ul li:last-child{border:none;}

.footer-cont-bg2 .bttm-link ul li a:hover{color:#000;text-decoration: underline !important;}

.footer-cont-bg2 .payment-icons{float:right;}
.footer-cont-bg2 .payment-icons ul li{float:left;margin-right:15px;}
.footer-cont-bg2 .payment-icons ul li:last-child{margin-right:0;}

.footer-cont-bg2 .payment-icons ul li{opacity:0.7;}

.footer-cont-bg3{background:#f6f6f6;}
.footer-cont-bg3 .bttm-cnt-bg{text-align:left;padding:25px 0;border-top:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;font-size:13px;color:#6b6b6b;}
.footer-cont-bg3 .bttm-cnt-bg h6{font-weight:bold;color:#2d2d2d;}
.footer-cont-bg3 .bttm-cnt-bg p{margin:0;}
.footer-cont-bg3 .bttm-cnt1{margin-top:30px;}

.copyright{font-style:italic;font-size:13px;text-align:center;margin:10px 0 0;color:#9b9b9b;}


/*-------------Footer Section--------------------------------*/


/*-------------dropdown-menu--------------------------------*/

.dropdown-menu li .sub-menu {left: 100%;position: absolute; top: 0; display: none !important;margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu { display: block !important;}
.dropdown-menu{ box-shadow:none !important; border-radius:0 !important;}
.dropdown:hover .dropdown-menu {display: block;}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu { margin-top: 0;}

.navbar .sub-menu:before {border-bottom: 7px solid transparent;border-left: none;border-right: 7px solid rgba(0, 0, 0, 0.2);border-top: 7px solid transparent; left: -7px;top: 10px;}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.dropdown-menu .sub-menu li{float:none;width:100%!important;}
/*.dropdown:hover .dropdown-menu {
display: block;
}*/

/*-------------dropdown-menu--------------------------------*/


/*------------owl slider----------------------------*/

    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }
.owl-theme .owl-controls .owl-dots {
    display: inline-block;
}
.owl-theme .owl-controls .owl-dots span {
    background: #869791 none repeat scroll 0 0;
    border-radius: 20px;
    display: block;
    height: 10px;
	width: 10px;
    margin: 5px 4px;
    opacity: 0.5;
	transition: opacity 200ms ease 0s;
}
.owl-theme .owl-controls .owl-dots .owl-dot.active span, .owl-theme .owl-controls.clickable .owl-dots .owl-dot:hover span {
    background: #555857 none repeat scroll 0% 0%;
}

/*.owl-theme .owl-controls .owl-dots span.owl-numbers {
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    height: auto;
    padding: 2px 10px;
    width: auto;
}*/

.owl-pagination{position:absolute;width:100%;}
.owl-controls .owl-dots, .owl-controls .owl-buttons div {
    cursor: pointer;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
}
.owl-theme .owl-controls {
    text-align: center;margin-top:-30px;z-index:100;z-index:100;
}
.owl-nav{float:left;width:100%;z-index: 200;position: absolute;top: 50%;color:#fff;font-weight:bold;font-size:30px;}
.owl-nav .owl-next,.owl-nav .owl-prev{float:right;padding:10px 20px;background:rgba(0,0,0,0.4);}
.owl-nav .owl-prev{float:left;}

/*------------owl slider----------------------------*/


/*------------cart page----------------------------*/

.cart-heading{ border-top-color:#d9d9d9;}

.cart-heading ol.breadcrumb{margin:0;padding:0;background:none;margin-top: 10px;}
.cart-heading ol li{padding:0 5px;float:left;font-size:14px;font-weight:500;}

.cart-content-bg{padding:18px 15px;background:#fff;margin-bottom:20px;width: 100%;float: left;}
.cart-content-bg .table-bg{float:left;width:100%;}
.cart-content-bg .table-header{background:#ebebeb;font-weight:normal;}
.cart-content-bg > .table > thead > tr > th{padding:10px 8px;border-bottom:none!important;}
.cart-content-bg .table input.form-control{padding:2px 5px;text-align:center;height:auto!important;}
.cart-content-bg th{ font-weight: normal!important; }
.cart-content-bg .form-control{border-color: #ebebeb;box-shadow:none;}
.cart-content-bg .form-control:focus {border-color: #ebebeb;outline: 0px none;box-shadow:none;}
.cart-content-bg textarea{resize:none;}
.cart-content-bg .table i{font-size:18px;color:#696969;margin-top:10px;margin-left:10px;cursor:pointer;}
.cart-content-bg .table i:first-child{margin-left:0px;}
.cart-content-bg .prdct-img{text-align:center;width:150px;}
.cart-content-bg .prdct-img img{max-width:140px;width:auto;}
.cart-content-bg .table .input-cls{width:70px;}
.cart-content-bg .table .unit-price,.cart-content-bg .table .subtotal{font-family: "Roboto",sans-serif;}
.cart-content-bg .table .actions{width:100px;text-align:center;}

.cart-content-bg .table tbody{font-size:13px;}
.table{ border: 1px solid #f1f1f1; }
.table thead > tr > th { border-bottom: none; }
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td { border: 1px solid #f1f1f1; }

.cart-content-bg a .shopping-btn-bg{background:#3689c0;padding:8px 14px;color:#fff;}
.cart-content-bg a .shopping-btn-bg i{margin-right:10px;}

.promo-code-bg{float:left;width:100%;padding:25px 0;border-top:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1;margin-top:20px;}
.promo-code-bg .pull-left p{margin:0 0 8px;color:#696969;font-size:13px;}
.promo-code-bg .ns-field{margin:0;width: 100%;float: left;background: #FFF none repeat scroll 0% 0%;}
.promo-code-bg .ns-field input{border:1px solid #cbcbcb;width:250px;height:36px;float:left;padding: 6px 12px;color: #666;}
.promo-code-bg .ns-field a {font-size: 14px;background:#282828 none repeat scroll 0% 0%;padding:0 14px;width:auto;height:36px;text-align:center;color:#FFF;line-height:35px;float:right;}

.promo-code-bg .pull-right p span{float:left;}
.promo-code-bg .pull-right p b{font-family: "Roboto",sans-serif;font-weight:500;}

.cart-content-bg .proceed-bg{float:left;width:100%;padding-top:20px;}

/*------------cart page----------------------------*/

/*------------checkout page----------------------------*/
.checkout-main-bg{width: 100%;float: left;font-family: "Raleway",sans-serif;color:#6B6B6B;background:#EEE;}
.checkout-content-bg{padding:18px 0;margin-bottom:20px;width: 100%;float: left;}

.checkout-content-bg .panel-group .panel-heading {padding: 0px;}
.checkout-content-bg .panel-group .panel-heading a.collapsed {border:1px solid #e5e5e5;}
.checkout-content-bg .panel-group .panel-heading a {
    display: block;
    background: #fff;
    color: #414141;
    padding: 15px 10px;
    text-decoration: none;
    position: relative;
	border:1px solid #e5e5e5;
	border-left:5px solid #3689c0;
}

.checkout-content-bg .panel-group .panel-heading a:after {
  content: '-';
  position: absolute;
  right: 20px;
  top:7px;
  font-family: "Roboto",sans-serif;
  color:#c3c3c3;
  font-size:26px;
}
.checkout-content-bg .panel-group .panel-heading a.collapsed:after {
  content: '+';
}

.checkout-content-bg .panel{background:#f3f3f3;border:none;box-shadow:none;}
.checkout-content-bg .panel-collapse > .panel-body {margin-top: 10px;background: #fff;border: 1px solid #DDD;border-top:none;padding:25px 20px;}

.checkout-content-bg .panel-group .panel-heading a .numbers{width:20px; height:20px;border-radius:50%;text-align:center;border:1px solid #3f8fc3;color:#3689c0;float:left;margin-right:15px;font-size:13px;font-family: "Roboto",sans-serif;padding-top:2px;}
.checkout-content-bg .panel-group .panel-heading a.collapsed .numbers{border:1px solid #dfdfdf;color:#adadad;}

.checkout-content-bg .panel-group .panel + .panel {
    margin-top: 10px;
}

.checkout-content-bg .new-customer-bg{padding:0 15px 0 0;}
.checkout-content-bg .new-customer-bg h1,.checkout-content-bg .returning-customer h1{margin:0 0 6px;color:#414141;font-size:24px;}
.checkout-content-bg .new-customer-bg .radio-bg{float:left;width:100%;padding:10px 0 20px;}
.checkout-content-bg .new-customer-bg .radio-bg input{cursor:pointer;}
.checkout-content-bg .new-customer-bg .continue-btn{padding:8px 25px;cursor:pointer;background:#282828;color:#fff;border-radius:0;font-size:16px;margin-top:28px;}
.checkout-content-bg .new-customer-bg p,.checkout-content-bg .returning-customer p{font-size:13px;}

.checkout-content-bg .returning-customer{padding:0 0 0 10px;}
.checkout-content-bg .returning-customer .input-bg{float:left;width:100%;padding:10px 0;}
.checkout-content-bg .returning-customer label{font-weight:normal;font-size:15px;color:#555555;}
.checkout-content-bg .returning-customer input.form-control{border-radius:0;box-shadow:none;}
.checkout-content-bg .returning-customer input.form-control:focus{border-color:#ccc;}
.checkout-content-bg .returning-customer .login-btn{padding:8px 15px;cursor:pointer;background:#3689c0;color:#fff;border-radius:0;font-size:16px;}
.checkout-content-bg .returning-customer .pull-right a{color:#6d6d6d;font-size:13px;margin-top:13px;float:left;}
.checkout-content-bg .returning-customer .pull-right a:hover{text-decoration:underline!important;}

/*------------checkout page----------------------------*/


.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}



/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.advt {
    float: left;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.top-right-icons ul li a.register {margin-right: 20px;}
.top-right-icons ul li a i.fa-user {margin-right: 4px;}
.review-line a {margin-right: 15px;margin-left: 0px !important;}
.price {width: 100%;float: left;font-size: 20px;color: black;margin-bottom: 5px;}
.product_detail h2{color: #272727 !important;}
#category-products li:hover .product-img{  border: 1px solid #b42320;}
#category-products .col-xs-4{ margin-bottom:20px; width:25%;}
.search-inner #category-products .col-xs-3{ width:20%; margin-bottom:25px;}
.quick-btns .pdt-cart {color: #777777;margin-right: 19px;margin-top: 3px;}
.pdt-btm.quick-btns a:hover {color: #B42320;}
.empty-wrapper a {    background: #3689c0 !important;padding: 7px 24px !important;font-size: 19px !important;font-weight: 400 !important;text-transform: capitalize;}
.empty-wrapper a:hover {background: #196ca3 !important;}
.cont {background: #3689c0 !important;font-weight: normal;}
.cont:hover {background: #196ca3 !important;}
.top-right-icons a.myaccount {margin-right: 20px;}
.item-first-row.row .col-xs-3{ width:20%; padding:15px 10px;}
.item-first-row.row{ margin:0 -10px;}
#homepage-products{ width:100%; float:left;}
.dropdown-menu li a{ padding:6px 13px;}
.dropdown-menu li a:hover{ background:#eee !important;}
.dropdown-menu{ padding:0;}
.cms-pages-view {line-height: 23px !important; font-size:16px;}
.cont-bg h3.dtls-head {color: #565656;font-size: 18px;font-weight: normal;text-transform: uppercase;}
.category-menu li{ float:left; position:relative;}
.category-menu li ul{ display:none; position:absolute; left:0; top:100%;}
.category-menu li:hover ul{ display:block;}
.product_detail h3.dtls-head{ margin:0; padding:0 0 10px 0;}
#afted-detail .col-xs-3{ width: 20% !important; }
input.form-control{ font-size: 16px;}
.empty-wrapper span {font-size: 16px;}
.product_detail .pdt-text {font-size: 15px;}
.config-attributes textarea.form-control {padding: 20px 12px;resize: none;}
.site-checkout input.form-control, .site-checkout textarea.form-control {font-size: 14px;}
.site-checkout textarea.form-control {height: 85px !important;}
/*.form-group.field-productreviews-productid.required {margin-bottom: 10px;}*/
.help-block {font-size: 14px !important;font-style: italic !important;}
#checkout-review-table-wrapper h3.product-name {font-size: 15px;}
.nav-bg .pull-right .dropdown .dropdown-menu li a:hover {text-decoration: none !important;}
#review-form .dtls-head {font-weight: 600 !important;}
a.pdt-btn.add_to_cart:focus {color: #fff;}
.success-msg p.p-one {font-size: 21px !important;line-height: 38px !important;}
.success-msg p {font-size: 17px !important;}
.success-msg .cont span {padding: 0px 17px !important;font-size: 18px !important;}
.cart-heading ol li a:hover {color: #000;}
.ftr-one li:first-child {display: none !important;}
button.submit-wish {background: none;}
button.submit-wishbtn {height: 33px;width: 39px;float: left;margin-left: 6px;}
.product-options {min-width: 350px;}
.submit-wishbtn .fa-heart {color: #fff;margin-top: 4px;}
#homepage-products .product-img img {max-width: 100% !important;max-height: 190px !important;}
#homepage-products .product-img {height: 200px;max-height: 200px;}
.inner-container .tab-content #afted-detail .product-img img {width: 190px !important;height: 190px !important;}
.inner-container .tab-content #afted-detail .product-img{height: 200px;max-height: 200px;}
.category-menu .nav li a{ font-size:12.5px; padding:11px}
.category-menu .nav li a i.sm{ margin:0; background-position:left; width:100%;}
.category-menu > ul > li:last-child > ul{ left:auto !important; right:0 !important;}
.category-menu > ul > li:last-child > ul ul{ left:100% !important;}
.category-menu li ul li ul {left: 100% !important; display:none !important; top:0;}
.category-menu li ul li:hover > ul { display:block !important;}
/*.product-options form{float: left;}*/
.top-left-icons{margin-top: 7px;}
.top-right-icons .navbar-form {margin-right: 13px;}
.bend-logo {float: right;position: relative;margin-top: 4px;}
.iconic-list li:before{ display: none !important;}
.product-details-head {padding: 0px 0px 20px !important}
