.nav-bg2 .btn-default:hover, .footer-cont-bg1 .navbar-form:hover .btn-default,.navbar-header .btn-default:hover{ background-color:#bd0603 !important;}
.item-first-row li:hover .product-img,#category-products li:hover .product-img,.brands-wrapper .product:hover,.products-container #afted-detail .items_featured li:hover .product-img{ border-color:#bd0603 !important;}
.prdct-details .add-cart-bg a:hover,button.submit-wish:hover,.pdt-btm.quick-btns a:hover,.pdt-btm.quick-btns a:hover{ color:#bd0603 !important;}
.btn-primary,.pdt-btn,.wish-btn,.cart-content-bg a .shopping-btn-bg, .cart-content-bg button,.site-checkout .continue,.site-checkout .returning-customer .login-button,.cont,.empty-wrapper a,.btn-success,button.submit-wishbtn{background: #dc2522 !important;}
.btn-primary:hover,.pdt-btn:hover, .wish-btn:hover,.cart-content-bg a .shopping-btn-bg:hover, .cart-content-bg button:hover,.site-checkout .continue:hover,.site-checkout .returning-customer .login-button:hover,.cont:hover,.empty-wrapper a:hover,.btn-success:hover,button.submit-wishbtn:hover{background: #bd0603 !important;}
button.apply-code{background: #dc2522  !important;}
button.apply-code:hover {background: #bd0603  !important;}
.breadcrumb .active {color: #c4c4c4 !important;}
.detail_cart a.pdt-btn{background: #dc2522 !important;  }
.detail_cart a.pdt-btn:hover{background: #bd0603 !important;  }