@charset "utf-8";
/* CSS Document */
.top{ background:#f0f0f0; color:#000; font-size:14px;}
.navigation{ background:#000;}
.navigation .nav li a{ position:relative;}
.navigation .nav li a:before{ content: "."; position:absolute; left:0; color:#fff; font-size:22px; line-height:9px;}
.navigation .nav li:first-child a:before{ content: "";}
.navigation .nav li a:hover{ background:none; color:#b5b5b5;}
.sale{ background:#ff0000; color:#fff;}
.footer{ background:#f0f0f0; padding:25px 0;}
.Featured ul li .cartButton a { background: none repeat scroll 0 0 #cdcdcd;}
.breadcrumb a{ color:#000;}
.breadcrumb .active{ color:#969696;}
