body{font-family: 'Open Sans', sans-serif; background:#eeeeee;}
a, a:hover, a:active, a:focus{outline:none; transition:all ease-in-out 0.2s;}
.header{width:100%; float:left;}
.header a:hover{ text-decoration:none;}
.header-top{ width:100%; float:left; background:#000; padding:7px 0;}
.container{ width:1200px !important;}
.top-social a{ color:white; font-size:18px; margin-right:5px;opacity: 0.7;margin-top: 5px;}
.top-menu{ text-align:right;}
.top-menu a{ display:inline-block; font-size:13px; color:#ccc; padding:0 5px;}
.top-menu a:hover{ color:#fff;}
.header-middle{ background: #FFF; width:100%; float:left;}
.logo{ width:280px; float:left;}
.logo a{ display:inline-block; padding: 20px 0;}
.search-outer{ width:647px; float:left; padding:29px 0 20px 78px;}
.search-wrapper{ width:100%; float:left; border:1px solid #d9d9d9;}
.search-wrapper select{ width:25%; border:0; font-size:14px;  padding:6px; color:#757575; float:left}
.search-wrapper input{ width:65%; border:0; font-size:14px; height:43px; padding:6px 12px; color:#757575; float:left}
.search-wrapper .fa{ background: #dc2522;color: white; float: left; font-size: 21px; line-height: 45px; text-align: center;width: 8%; margin:-1px -1px -1px 0;}
.search-wrapper .fa:hover{ background:#b90202;}
.phn-wrapper{ width:190px;float :right ;margin-top:27px;color: #dc2522 ;}
.pn-left{float: left;font-size: 35px;display: inline-block;margin-right: 15px;}

.pn-right{ float:left; width:146px; font-weight:700; color:#484848; font-size:16px; white-space:nowrap;}
.pn-right span{ font-size:13px; color:#878787; font-weight: normal;}
.pn-right i{ font-weight:normal; font-style:normal; font-family: 'Open Sans', sans-serif; color:#e31837; font-size:13px}
.header-bottom{ width:100% !important; float:left; background:#202020; position:relative; z-index:999}
.nav-inner{ width:100%; float:left; background:#060606;}
.cat-wrapper{ width:292px; float: left; background:#dc2522; color:white; font-size:18px; font-weight:500; padding:15px; height:53px; cursor:pointer;}
.cat-wrapper:hover{ color:white; background:#be1816;}
.cat-wrapper i{ float:right; margin-top:4px;}
.navigation{ width:656px; float:left;}
.navigation ul{ float:left; width:100%; padding:0; margin:0;}
.navigation ul li{ float:left; list-style:none;}
.navigation ul li a{ color:#ddd; font-size:15px; float:left; padding:16px 13px;}
.navigation ul li a:hover{ color:#dc2522 !important;}
.cart-container{ float:right; border-left:1px solid #202020;}
.cart-container a{ display:inline-block; background:url(../images/cart-icon.png) no-repeat 12px 11px; color:#cacaca; padding:18px 10px 15px 49px; cursor:pointer; font-size:14px; }
.cart-drop a{ background: #202020; padding:7px 12px; color:white; width:49%; float:left; text-align:center;font-size: 13px;}
.cart-drop a:first-child{ margin-right:2%;}
.cart-drop a:hover{ background:#db2522;}
.cart-drop{ left:-1px; border-radius:0; border:1px solid #202020; padding:4px; margin-top:0; border-top:0; right:0;min-width: 180px;}
.menu-container{ width:100%; float:left; background:white;  position:relative;/*overflow: hidden;*/}
.banner .row{ margin:0 -10px;}
.banner .col-xs-3, .banner .col-xs-9{ padding:0 10px;}
.banner .col-xs-3{ width:312px;}
.banner .col-xs-9{ width:878px;}
.banner-wrapper{ width:100%; float:left; border:1px solid white; margin-top:20px;}
.products-wrapper{ width:100%; float:left; background:white; border-top:1px solid #e31837; margin-top:20px;}
.owl-carousel .animated {-webkit-animation-duration: 1000ms; animation-duration: 1000ms; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.owl-carousel .owl-animated-in {z-index: 0; }
.owl-carousel .owl-animated-out {z-index: 1; }
.owl-carousel .fadeOut {-webkit-animation-name: fadeOut; animation-name: fadeOut; }

@-webkit-keyframes fadeOut {0% {opacity: 1; }

  100% {opacity: 0; }
}
@keyframes fadeOut {0% {opacity: 1; }

  100% {opacity: 0; }
}
.owl-height {-webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }
.owl-dots {bottom: 0; position: absolute; right: 10px; }
.owl-carousel {display: none; width: 100%; -webkit-tap-highlight-color: transparent; /* position relative and z-index fix webkit rendering fonts issue */
  position: relative; z-index: 1; }
.owl-carousel .owl-stage {position: relative; -ms-touch-action: pan-Y; }
.owl-carousel .owl-stage:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.owl-carousel .owl-stage-outer {position: relative; overflow: hidden; /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {cursor: pointer; cursor: hand; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel.owl-loaded {display: block; }
.owl-carousel.owl-loading {opacity: 0; display: block; }
.owl-carousel.owl-hidden {opacity: 0; }
.owl-carousel .owl-refresh .owl-item {display: none; }
.owl-carousel .owl-item {position: relative; min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel .owl-item img {display: block; max-width: 100%; -webkit-transform-style: preserve-3d; }
.owl-carousel.owl-text-select-on .owl-item {-webkit-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto; }
.owl-carousel .owl-grab {cursor: move; cursor: -webkit-grab; cursor: -o-grab; cursor: -ms-grab; cursor: grab; }
.owl-carousel.owl-rtl {direction: rtl; }
.owl-carousel.owl-rtl .owl-item {float: right; }

.nav-tabs{ width:100%; float:left; border-bottom:1px solid #e5e5e5;}
.nav-tabs > li > a{ border:0 !important; background:none !important; color:#888888;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{ border:0; color:#e31837;}
.products-container{ width:100%; float:left; padding:7.5px 22.5px;}
.products-container .col-xs-3{ width:20%; padding:7.5px;}
.product{ border:1px solid #e7e7e7; width:100%; float:left; transition: all ease-in-out 0.2s;}
.product:hover{ border-color:#ac1e23; opacity:0.9;}
.pdt-img{ width:100%; height:210px; float:left; display:table;}
.pdt-img a{ display:table-cell; vertical-align:middle; text-align:center;}
.pdt-img a img{ max-width:95%; /*max-height:95%;*/ transition: all ease-in-out 0.5s;}
.product:hover .pdt-img img{ transform:scale(1.05);}
.pdt-cnt{ width:100%; float:left; padding:0 10px 10px 10px;}
.pdt-head{ width:100%; float:left; font-size:15px; font-family: 'Roboto', sans-serif; margin-bottom:10px; text-overflow: ellipse; height: 35px;}
.pdt-head a{ color:#4d4d4d;}
.stars{ width:65px; height:15px; float:left; background:url(../images/star.jpg) no-repeat left top;}
.stars.four{ background-position:0 -15px;}
.stars.three{ background-position:0 -30px;}
.stars.two{ background-position:0 -45px;}
.stars.one{ background-position:0 -60px;}
.price{ width:100%; float:left; font-size:20px; color:#e31837; font-family: 'Open Sans', sans-serif;}
.pdt-btm{width:100%; float:left; padding-top:10px}
.pdt-cart{ float:left; color:#fff; font-size:14px; padding:4px 0;}
.pdt-cart:hover{ color:#ad1e23; text-decoration:none;}
.pdt-cart i{ font-size:15px;}
.fa-eye, .fa-heart{ float:right; width:36px; height:28px; border:1px solid #d9d9d9; color:#777777; line-height:26px; text-align:center; font-size:15px;}
.fa-heart{ margin-right:5px}
.fa-eye:hover, .fa-heart:hover{ background:#ad1e23; color:white; border-color:#ad1e23; text-decoration:none;}
.ad-full{ width:100%; float:left;padding: 20px 0;text-align: center;}
.carousal-wrapper{ width:100%; float:left; background:white; padding:15px 0; padding-left:10px;}
.owl-prev, .owl-next{ position:absolute; top:25px; left:-25px; font-size:24px; color:#a5a5a5;}
.owl-prev:after{ content:"\f104"; font-family: FontAwesome;}
.owl-next{ left:auto; right:-30px;}
.owl-next:after{content:"\f105 "; font-family: FontAwesome;}
.owl-carousel2 .owl-item{ height:80px;}
.owl-carousel2 .item{ text-align:center; display:table; width:100%; table-layout:fixed; }
.owl-carousel2 .item a{ display:table-cell; vertical-align:middle;}
.owl-carousel2 .item img{ display: inline-block; max-width:85%;}
.subscribe-wrapper{ width:100%; float:left; background:#3a3a3a; padding:14px 0;}
.sub-wrapper{ width:556px; height:45px; float:left; background:white; padding:6px;}
.sub-wrapper span{ float:left; width:120px; height:34px; border-right:1px solid #3a3a3a; padding:7px 11px; font-weight:500; text-transform:uppercase;}
.sub-wrapper input{ border:0; padding:8px 12px; width:366px; float:left; font-size:13px;}

.ftr-social{ float:right; padding-top:7px}
.ftr-social span{ font-size:16px; text-transform:uppercase; color:white; width:166px; float:left; margin-top:5px}
.ftr-social a{ width:32px; height:32px; float:left; text-align:center; line-height:30px; color:white; border:1px solid #898989; margin-left:10px; font-size:16px;}
.ftr-social a:hover{ text-decoration:none; }
.top-social a:hover{ text-decoration:none; }
.top-social a.fa-facebook:hover{color: #fff; border-color:#fff;opacity: 1;}
.top-social a.fa-twitter:hover{ color:#fff; border-color:#fff;opacity: 1;}
.top-social a.fa-pinterest:hover{ color:#fff; border-color:#fff;opacity: 1;}
.top-social a.fa-youtube:hover{ color:#fff; border-color:#fff;opacity: 1;}

.top-social a.fa-linkedin:hover{ color:#fff; border-color:#fff;opacity: 1;}
.top-social a.fa-google:hover{ color:#fff; border-color:#fff;opacity: 1;}
.top-social a.fa-instagram:hover{ color:#fff; border-color:#fff;opacity: 1;}

.ftr-social a.fa-facebook:hover{ background:#3c5b9b; border-color:#3c5b9b;}
.ftr-social a.fa-twitter:hover{ background:#2ca9e1; border-color:#2ca9e1;}
.ftr-social a.fa-pinterest-p:hover{ background:#cb2026; border-color:#cb2026;}
.ftr-social a.fa-youtube:hover{ background:#fd3331; border-color:#fd3331;}
.ftr-social a.fa-linkedin:hover{ background:#007bb5; border-color:#007bb5;}
.ftr-social a.fa-google:hover{ background:#dd4b39; border-color:#dd4b39;}
.ftr-social a.fa-instagram:hover{ background:#125688; border-color:#125688;}


.footer{ width:100%; float:left; background:#000; color:white;}
.footer-top{ width:100%; float:left; padding:2px 0; text-align:center; color:#b8b8b8; line-height:26px;}
.footer-top span{ font-size:30px; font-weight:300; color:#ddd; margin-bottom:15px; width:100%; float:left;font-family: 'Raleway', sans-serif;}
.footer-menu{ width:100%; float:left; margin-bottom:30px}
.ftr-one{ width:20%;}
.ftr-menu-inner{ width:100%; float:left;}
.ftr-one h3{ width:100%; float:left; font-size:16px; color:white; margin-bottom:15px;}
.ftr-one ul{ margin:0; padding:0;}
.ftr-one ul li{ width:100%; list-style:none;}
.ftr-one ul li a{ width:100%; float:left; color:#747474; line-height:30px; font-size:13px;}
.footer-card{ width:100%; float:left; text-align:center; padding:32px 0; border-top:1px solid #292929;}
.footer-card span{ width:100%; float: left; color:#747474; font-size:13px; margin-top:25px}

.owl-theme .owl-dots .owl-dot {display: inline-block; }
.owl-theme .owl-dots .owl-dot span {background: #d6d6d6 none repeat scroll 0 0; border-radius: 30px; display: block; height: 10px; margin: 5px 3px; transition: opacity 200ms ease 0s; width: 10px; }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {background: #869791 none repeat scroll 0 0; }
.carousal-wrapper .owl-dots{ display:none !important;}
.menu-container ul{ margin:0; padding:0;}
.menu-container ul li{ list-style:none; position:relative;}
.menu{position:relative; width:200px;}

.main-head{ display:inline-block; padding:10px 5px; }
.cat-menu{ width:100%; background:white; }
.cat-menu ul{ position:absolute; width:100%; left:100%; top:0;background:#f3f3f3 ; min-height:100%; margin:0; padding:0 !important; z-index:999;}
.cat-menu ul{ display:none;}
.cat-menu li:hover > ul{ display:block;}
.cat-menu{ display:block;}
.cat-menu li{ width:100%; float:left; list-style:none;}
.cat-menu li a{ display:inline-block; padding:12.5px 12px; color:#434242; font-size:15px; border-bottom:1px solid #CCC; width:100%; text-decoration:none;}

/*.sub:after{ position:absolute;  display:inline-block; content:"\f0da"; font-family: FontAwesome; right:13px; z-index:999; color:#818181; top:0; bottom:0; line-height:47px;}*/

.search-wrapper .select { cursor:pointer;display:inline-block;position:relative;float:left; width:25%; border:0; font-size:14px;padding:6px; color:#757575; float:left;height: 43px;}
.styledSelect {position:absolute;top:0; right:0;bottom:0;left:0;background-color:white;padding:10px;color:#7a7a7a; border-right:1px solid #d9d9d9; }
.styledSelect:after {content:"";width:0;height:0;border:5px solid transparent;border-color:#7a7a7a transparent transparent transparent;position:absolute;top:19px;right:6px;}
.styledSelect:active, .styledSelect.active {background-color:#eee;}
.options {display:none;position:absolute;  top:100%;right:0;left:0;z-index:1000;margin:0 0;padding:0 0;list-style:none;border:1px solid #ccc;background-color:white;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);box-shadow:0 1px 2px rgba(0, 0, 0, 0.2); color:#7a7a7a;	text-align:left}
.options li {padding:0 6px;margin:0 0;padding:5px 10px; border-bottom:1px solid #ededed; transition: all ease-in-out 0.2s;}
.options li:last-child{ border:0;}
.options li:hover {background-color:#eee;}
.left-menu-wrap .cat-nav{ position: relative; width:100%; z-index:10; padding:0; }
.left-menu-wrap .cat-nav ul{ position:absolute; width:100%; left:100%; top:0;background:white; min-height:100%;box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); z-index:1; margin:0; padding:0;}
.left-menu-wrap .cat-nav ul{ display:none;}
/*.left-menu-wrap .cat-nav li:hover > ul{ display:block;}
.left-menu-wrap .catmenu:hover > .cat-nav{ display:block;}*/
.left-menu-wrap .cat-nav li{ width:100%; float:left; list-style:none;}
.left-menu-wrap .cat-nav li a{ display:inline-block; padding:13px 12px; color:#434242; font-size:15px; border-bottom:1px solid #ededed; width:100%; text-decoration:none;}
.left-menu-wrap .cat-nav li a:hover{ background:#fbfbfb; color:#dc2522;}
.sub:hover li a{ color:#434242 !important;}
.sub:hover:after, .sub:hover a{ color:#dc2522 !important;}
li.sub li.sub:hover > a{ color:#dc2522 !important;}


.sub{ position:relative;}

.smallmenu{ width:400px!important;}
.smallmenu li{  float:left; display:inline-block; width:200px;}
.catmenu{ position:relative; float:left;}

.view-all a{ border:0 !important; padding:13.5px 12px !important;}
.sub-navigation.dropdown-menu{ padding:0; margin:0; border-radius:0; border:0; width:100%; margin-top:-1px; top:53px;}

.catr-menus{ position:relative; width:292px; float:left; }
.attached .catr-menus{ overflow: visible;}

@media only screen 
  and (max-device-width: 1024px) {
.owl-nav, .owl-controls, .owl-prev, .owl-next{ display:none !important;}
.attached{ top:0 !important;}
.carousal-wrapper .container{ width:1190px !important;}

}

.affix { top: 0; width: 100%; position:fixed; }
.affix .catr-menus{ overflow:visible;}
.search-wrapper .fa-search{background: #dc2522 url(../images/search-icon.png) no-repeat center;height: 45px;color: white;float: left;font-size: 21px;line-height: 45px;text-align: center;width: 57px;margin: -1px -1px -1px 0;text-decoration: none;}

.sub-wrapper .btn-default {float: right;background: #e31837;color: white;font-size: 28px;line-height: 32px;width: 62px;height: 45px;margin-right: -6px;margin-top: -6px;text-align: center; transition:all ease-in-out 0.2s;}
.sub-wrapper .btn-default:hover{ background:#ae0922;}

.catr-menus .nav li {width: 100%;float: left;list-style: none;}
.catr-menus .nav li a {display: inline-block;padding: 12.5px 12px;color: #434242;font-size: 15px;border-bottom: 1px solid #ededed;width: 100%;text-decoration: none;}
.navigation ul.dropdown-menu li a {color: #434242}
.product_list .product{ margin-bottom: 30px;}
.quick-btns .pdt-cart {margin-right: 19px;}
#category-products .product {margin-bottom: 30px;}
.newproducts .products-container .col-xs-3{ width: 25%;}
.newproducts .products-container{ padding: 7.5px 10px;}
.product-options .fa-heart{ border:0; float: left;  width: 39px;height: 33px; background: #3689c0; color: white; text-align: center; line-height: 33px;  margin-left: 10px;}
.product-options .fa-heart:hover{background: #ad1e23;color: white;}
.wish-btn:hover{ border: 0;}
.breadcrumb .active {color: #c4c4c4 !important;}
.config-attributes textarea.form-control {padding: 20px 12px;resize: none;}
.cont {font-weight: 500 !important;}
a.pdt-btn.add_to_cart:focus {color: #fff;text-decoration: none;}
#review-form .dtls-head {font-size: 15px;font-weight: bold;}
.product_det h3.dtls-head {color: #565656;font-size: 16px;font-weight: 500;text-transform: uppercase;}
.empty-wrapper a {padding: 9px 25px !important;font-size: 15px !important;font-weight: 400 !important;text-transform: capitalize;}
.empty-wrapper span {font-size: 14px;}
.navigation ul .dropdown ul li a:hover {color: #000 !important;}
.footer-menu .ftr-menu-inner ul li a:hover {color: #fff;text-decoration: none;}
.site-checkout textarea.form-control {height: 85px !important;}
input[type=checkbox], input[type=radio] {margin: 4px 2px 0 0;float: left;}
.cart-heading ol li a:hover{color: #000 !important;}
button.submit-wish {background: none;border: 0;margin-left: 18px;float: right;padding-right: 0;margin-top: -1px;}
button.submit-wishbtn {height: 33px;width: 39px;float: left;margin-left: -2px;background: none;border: 0;padding: 0;}
.product-options {min-width: 350px;}
.image-popup .modal-footer .btn{background: #fff !important;border-color: #ccc !important}
.image-popup .modal-footer .btn:hover{color: #333;background-color: #e6e6e6 !important;border-color: #adadad !important;}
#homepage-products .pdt-img img {width: 190px !important;height: 190px !important;}
.product_list #homepage-products .pdt-img img {width: 200px !important;height: 200px !important;}


.scroll-wrapper {overflow: hidden !important;padding: 0 !important;position: relative;}
.scroll-wrapper > .scroll-content {border: none !important;box-sizing: content-box !important;height: auto;left: 0;margin: 0;max-height:435px !important;max-width: none !important;overflow: scroll !important;padding-bottom: 0;position: relative !important;top: 0;width: auto !important;}
.no-content{width:100%;float:left;text-align:center;color:#999;padding:45px 0;font-size:15px;clear:both;}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {height: 0;width: 0;}


.scroll-element {display: none;}
.scroll-element, .scroll-element div {box-sizing: content-box;}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {display: block;}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {cursor: default;}

.scroll-textarea {border: 1px solid #cccccc;border-top-color: #999999;}
.scroll-textarea > .scroll-content {overflow: hidden !important;}
.scroll-textarea > .scroll-content > textarea {border: none !important;box-sizing: border-box;height: 100% !important;margin: 0;max-height: none !important;max-width: none !important;overflow: scroll !important;outline: none;padding: 2px;position: relative !important;top: 0;width: 100% !important;}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {height: 0;width: 0;}


.scrollbar-macosx > .scroll-element,
.scrollbar-macosx > .scroll-element div {background: none;border: none;margin: 0;padding: 0;position: absolute;z-index: 10;}

.scrollbar-macosx > .scroll-element div {display: block;height: 100%;left: 0;top: 0;width: 100%;}

.scrollbar-macosx > .scroll-element .scroll-element_track {display: none;}
.scrollbar-macosx > .scroll-element .scroll-bar {background-color: rgba(0,0,0,0.4);display: block;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;-webkit-transition: opacity 0.2s linear;-moz-transition: opacity 0.2s linear;-o-transition: opacity 0.2s linear;-ms-transition: opacity 0.2s linear;transition: opacity 0.2s linear;}
.scrollbar-macosx:hover > .scroll-element .scroll-bar,
.scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter: alpha(opacity=70);opacity: 0.7;}


.scrollbar-macosx > .scroll-element.scroll-x {bottom: 0px;height: 0px;left: 0;min-width: 100%;overflow: visible;width: 100%;}

.scrollbar-macosx > .scroll-element.scroll-y {height: 100%;min-height: 100%;right: 0px;top: 0;width: 0px;}

/* scrollbar height/width & offset from container borders */
.scrollbar-macosx > .scroll-element.scroll-x .scroll-bar {height: 7px;min-width: 10px;top: -9px;}
.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar {left: -9px;min-height: 10px;width: 7px;}

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_outer {left: 2px;}
.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_size {left: -4px;}

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_outer {top: 2px;}
.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_size {top: -4px;}

/* update scrollbar offset if both scrolls are visible */
.scrollbar-macosx > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {left: -11px;}
.scrollbar-macosx > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {top: -11px;}
.scrollbar-macosx ul{ width:100%; float:left;}
#shown-sub #shown-sub li a:hover{ color:#b42320 !important;}
.megamenu > li{ padding-top:6px;}
.navbar-brand {float: right !important;margin-top: 12px;width: 300px;}
.byod-wrapper .pop-submit {color:#fff;height: 37px;}
.portal-wrapper .pop-submit{height:38px;}

.down .btn-default {color: #fff; height: 35px;}
.down .btn-default:hover{color:#fff !important;background: #b90202 !important;}
