
body {
    background: #fff none repeat scroll 0 0;
    color: #4c4c4c;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.clear {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none !important;
    clear: both !important;
    float: none !important;
    font-size: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}
a {
    color: #b30425;
    outline: medium none !important;
}
img {
    border: medium none;
    outline: medium none !important;
}
input[type="text"], input[type="password"], input[type="submit"] {
    border-radius: 0 !important;
}
body {
    min-width: 1000px;
}
textarea {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.wrapper {
    margin: 0 auto;
    min-height: 525px;
    width: 1000px;
}
.header {
    background: rgba(0, 0, 0, 0) url("images/header_bg.jpg") repeat-x scroll center top;
}
.header-container {
    margin: 0 auto;
    width: 1000px;
}
.logo {
    float: left;
    padding-top: 7px;
    width: 280px;
}
.logo a, .logo img {
    display: block;
}
.topsec {
    float: right;
    width: 720px;
}
.shopcart a {
    background: rgba(0, 0, 0, 0) url("images/shop_cart.png") no-repeat scroll left top;
    color: #1a1a1a;
    display: block;
    float: right;
    margin-top: 5px;
    padding-left: 24px;
    text-decoration: none;
    text-transform: uppercase;
}
.shopcart a:hover {
    color: #b30425;
}
.acc-area {
    float: right;
    margin-top: 4px;
}
.links {
    float: left;
    padding: 9px;
}
.links ul {
    margin: 0;
    padding: 0;
}
.links ul li {
    color: #1a1a1a;
    display: inline-block;
    line-height: 1;
    list-style: outside none none;
    margin-right: 10px;
    text-transform: uppercase;
}
.links ul li a {
    color: #1a1a1a;
    text-decoration: none;
    text-transform: uppercase;
}
.links ul li a:hover {
    color: #b30425;
}
.links ul li span {
    color: #aa001a;
}
.topsearch {
    background: #323232 none repeat scroll 0 0;
    float: left;
    width: 300px;
}
.topsearch input[type="text"] {
    background: #323232 none repeat scroll 0 0;
    border: medium none;
    color: #b0afaf;
    margin: 0;
    padding: 10px;
    width: 250px;
}
.topsearch input[type="submit"] {
    background: rgba(0, 0, 0, 0) url("images/search_icon.png") no-repeat scroll center top;
    border: medium none;
    height: 23px;
    vertical-align: middle;
    width: 25px;
}
#nav {
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
    width: 1000px;
}
#nav li {
    list-style: outside none none;
}
#nav li {
    position: relative;
    text-align: left;
}
#nav li.over {
    z-index: 998;
}
#nav a, #nav a:hover {
    display: block;
    line-height: 1.3em;
    text-decoration: none;
    text-transform: uppercase;
}
#nav span {
    cursor: pointer;
    display: block;
    white-space: nowrap;
}
#nav li ul span {
    white-space: normal;
}
#nav ul li.parent a {
}
#nav ul li.parent li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#nav li {
    float: left;
}
#nav li.active a {
    background: #b30425 none repeat scroll 0 0;
    color: #fff;
}
#nav a {
    color: #9fa3a6;
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 1px;
    padding: 17px 8px 18px;
    text-transform: uppercase;
}
#nav li.over a, #nav a:hover {
    background: #b30425 none repeat scroll 0 0;
    color: #fff;
}
#nav ul li, #nav ul li.active, #nav ul li.over {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    float: none;
    margin: 0;
    padding: 0;
    text-transform: none;
}
#nav ul li.parent {
}
#nav ul li.last {
    padding-bottom: 0;
}
#nav ul li.active {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    margin: 0;
}
#nav ul a, #nav ul a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: none;
    line-height: normal;
    padding: 0;
}
#nav ul li a {
    font-weight: normal !important;
}
#nav ul {
    background: #1a1a1a none repeat scroll 0 0;
    left: -10000px;
    margin-left: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    width: 15em;
}
#nav li.over > ul {
    left: 0;
}
#nav li.over > ul li.over > ul {
    left: 100px;
}
#nav li.over ul ul {
    left: -10000px;
}
#nav li:hover > ul li:hover {
    background-image: none !important;
}
#nav li.parent > ul li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 11px;
}
#nav li.parent > ul li a:hover {
    background-image: none;
}
#nav ul li a {
    border-bottom: 1px solid #ccc;
    color: #aeaeae !important;
    padding: 6px 10px;
}
#nav ul li.last a {
    border-bottom: 0 none;
}
#nav ul li a:hover {
    background: #b30425 none repeat scroll 0 0 !important;
    color: #fff !important;
    padding: 6px 10px;
    text-shadow: none !important;
}
#nav ul ul {
    border: 1px solid #bdbdbd;
    margin-left: 79px;
    top: -1px;
}
#nav ul ul li a {
    border-width: 1px 0;
}
.bannerarea {
    background: #8da0b3 url("images/banner_bg.jpg") repeat-x scroll center top;
    padding: 15px 0;
}
.banner {
    border: 0px solid #ccc;
    margin: 0 auto;
    width: 1000px;
}
#slider {
    height: 396px !important;
    overflow: hidden;
    position: relative;
    width: 1000px !important;
}
#slider img {
    display: none;
    height: 396px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1000px;
}
#slider a {
    border: 0 none;
    display: block;
}
.nivo-controlNav {
    bottom: 10px;
    position: absolute;
    right: 10px;
    z-index: 1000;
}
.nivo-controlNav a {
    background: rgba(0, 0, 0, 0) url("images/bullets.png") no-repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    display: block;
    float: left;
    height: 15px;
    margin-left: 3px;
    text-indent: -9999px;
    width: 15px;
}
.nivo-controlNav a.active {
    background-position: 0 -16px;
}
.nivo-directionNav a {
    display: none !important;
    text-indent: -9999px;
}
.nivo-directionNav a:hover {
    border: 0 none;
    display: none !important;
    height: 30px;
    text-indent: -9999px;
    width: 30px;
}
a.nivo-nextNav {
    background-position: -30px 0;
    right: 15px;
}
a.nivo-prevNav {
    left: 15px;
}
.nivo-imageLink {
    border: 0 none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
}
.wrapper_home {
    margin: 0 auto;
    width: 1000px;
}
.mainarea {
    background: #fff url("images/main_bg.jpg") repeat-x scroll center top;
    min-height: 530px;
    padding: 15px 0;
}
.loginmainarea {
    min-height: 560px !important;
}
.wrapper_inner {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    margin: 0 auto;
    min-height: 423px;
    padding: 15px;
    width: 970px;
}
.blocks {
    padding: 5px 0 25px;
}
.box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px 2px #acb0b5;
    float: left;
    height: 158px;
    width: 312px;
}
.midbox {
    margin: 0 41px;
}
.box_orders:hover, .box:hover {
    box-shadow: 0 0 5px 2px #5e5c5c;
}
.box_orders {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px 2px #acb0b5;
    float: left;
    height: 158px;
    line-height: 1;
    padding: 10px;
    width: 292px;
}
.box_orders label {
    color: #1a1a1a;
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.box_orders a {
    background: rgba(0, 0, 0, 0) url("images/box_button.png") no-repeat scroll center top;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 15px;
    margin-bottom: 6px;
    padding: 10px 5px 9px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
    width: 272px;
}
.box_orders a:hover {
    opacity: 0.8;
}
.content h3 {
    color: #b30425;
    font-size: 25px;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.wrapper h1, .page-title h1 {
    color: #b30425;
    font-size: 25px;
    font-weight: normal;
    line-height: 1;
    margin: 8px 0 10px;
    text-transform: uppercase;
}
.col-main h2 {
    color: #b30425;
    font-size: 22px;
    font-weight: normal;
    line-height: 1;
    margin: 5px 0 8px;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.col-main a {
    text-decoration: none;
}
.footerarea {
    background: #1a1a1a none repeat scroll 0 0;
    color: #9fa3a6;
}
.footer-container {
    margin: 0 auto;
    width: 1000px;
}
.footer {
    float: left;
}
.footer ul {
    margin: 0;
    padding: 0;
}
.footer ul li {
    display: inline-block;
    list-style: outside none none;
}
.footer ul li a {
    color: #9fa3a6;
    display: block;
    padding: 15px 20px 15px 0;
    text-decoration: none;
    text-transform: uppercase;
}
.footer ul li a:hover {
    color: #fff;
}
.copyright {
    float: right;
    padding: 15px 0;
}
.dashboard-login-index .mainarea {
    min-height: 423px;
}
.header-log {
    margin: 0 auto;
    width: 635px;
}
.logo_login {
    padding: 80px 0 45px;
    text-align: center;
}
.wrapper_login {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 11px 7px 20px -10px rgba(204, 204, 204, 1);
    margin: 0 auto;
    padding: 15px;
    width: 445px;
}
.copyright_login {
    padding: 15px 0;
    text-align: center;
}
.wrapper_login form {
    margin: 0 auto;
    width: 450px;
}
.wrapper_login .textfeild {
    padding: 10px 0;
}
.wrapper_login input[type="text"] {
    border: 1px solid #b2b9c0;
    color: #919090;
    height: 24px;
    padding: 5px;
    width: 432px;
}
.wrapper_login input[type="text"]:hover, .wrapper_login input[type="password"]:hover {
    box-shadow: 0 0 5px 2px #acb0b5;
}
.wrapper_login input[type="password"] {
    border: 1px solid #b2b9c0;
    color: #919090;
    height: 24px;
    padding: 5px;
    width: 432px;
}
.wrapper_login input[type="submit"] {
    width: 111px;
}
.wrapper_login a {
    color: #5f5e5e;
    display: block;
    float: right;
    text-decoration: none;
}
.wrapper_login a:hover {
    color: #000;
}
.messages, .messages ul {
    list-style: outside none none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.messages {
    overflow: hidden;
    width: 100%;
}
.messages li {
    margin: 0 !important;
}
.messages li li {
    margin: 0 !important;
}
.error-msg, .success-msg, .note-msg, .notice-msg {
    margin-bottom: 0.833em;
    padding: 0.833em 0.833em 0.833em 3em;
}
.error-msg {
    background: #fde8e4 url("images/error.png") no-repeat scroll 0.833em center;
    border: 1px solid #e6bbb3;
    color: #cf4425;
}
.success-msg {
    background: #e7fae6 url("images/confirmation.png") no-repeat scroll 0.833em center;
    border: 1px solid #b7cbb6;
    color: #52964f;
}
.note-msg, .notice-msg {
    background: #e5f5f9 url("images/information.png") no-repeat scroll 0.833em center;
    border: 1px solid #cae0e5;
    color: #5a9bab;
}
.msgmargin ul.messages {
    margin-bottom: 8px;
}
.msgpadding {
    padding: 15px;
}
.bestsellers .lis {
    margin: 0 auto;
    width: 235px;
}
.bestsellers .lis img {
    display: block;
    padding-top: 8px;
}
.bestsellers .lis a {
    color: #1d1d1d;
    display: block;
    font-size: 15px;
    padding: 4px 0;
    text-decoration: none;
    text-transform: uppercase;
}
.bestsellers .lis .product-name {
    height: 41px;
    margin-bottom: 8px;
    overflow: hidden;
}
.pricebox {
    padding-bottom: 5px;
}
.price {
    color: #b30425;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 0;
}
.vsamll {
    border: 1px solid #ccc;
    padding: 7px;
    width: 18px;
}
.vsamll_select {
    border: 1px solid #ccc;
    padding: 6px;
}
.addto span {
    color: #b30425;
    display: block;
    float: left;
    font-size: 15px;
    margin-right: 10px;
    margin-top: 6px;
}
.addto select {
    float: left;
}
.addto input[type="text"] {
    float: left;
}
.addto input[type="submit"] {
    float: right;
    width: 111px;
}
.button {
    background: #b30425 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    cursor: pointer;
    outline: medium none !important;
    padding: 7px 15px;
    text-align: center;
}
.button:hover {
    background: #000 none repeat scroll 0 0;
}
.desc {
    display: none;
    height: 26px;
    overflow: hidden;
    padding-bottom: 8px;
}
.sku {
    display: inline-block;
    padding: 4px 0;
}
.sku span {
    color: #b30425;
}
.sku b {
}
.sku1 {
    display: inline-block;
    padding: 4px 0 0;
}
.sku1 span {
    color: #b30425;
}
.sku1 b {
}
.phead {
    float: left;
}
#showform {
    float: right;
}
#showform a {
    color: #b30425;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    text-decoration: none;
}
.view {
    color: #b30425;
    float: right;
    font-size: 15px;
}
.view span {
    display: block;
    float: left;
    padding-right: 5px;
    padding-top: 15px;
}
.view a {
    color: #979a9e;
    display: block;
    float: left;
    font-size: 11px;
    margin: 0 5px;
    text-align: center;
    text-decoration: none;
}
.grid {
    background: rgba(0, 0, 0, 0) url("images/grid.png") no-repeat scroll 2px 16px;
    padding-bottom: 23px;
    width: 20px;
}
.grid.active {
    background-position: -30px 16px;
    color: #2d2e30;
}
.list {
    background: rgba(0, 0, 0, 0) url("images/list.png") no-repeat scroll 0 16px;
    margin-right: 0 !important;
    padding-bottom: 23px;
    width: 23px;
}
.list.active {
    background-position: -29px 16px;
    color: #2d2e30;
}
.product_grid {
    min-height: 450px;
}
.product_grid ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.product_grid ol li {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    float: left;
    list-style: outside none none;
    margin: 0 20px 20px 0;
    padding: 10px;
    text-align: center;
    width: 205px;
}
.product_grid ol li:hover {
    box-shadow: 0 4px 5px 0 rgba(204, 204, 204, 1);
}
.product_grid ol li.nomargin {
    margin-right: 0 !important;
}
.product_grid ol li .button {
    margin-bottom: 8px;
    width: 111px;
}
.product_grid ol li a {
    color: #1d1d1d;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0;
    text-decoration: none;
}
.product_grid ol li a:hover {
    color: #b30425;
}
.product_grid ol li .product-name {
    min-height: 56px;
}
.product_list {
    background: #fff none repeat scroll 0 0;
    min-height: 450px;
}
.product_list ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.product_list ol li {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 15px;
}
.product_list ol li img {
    border: 1px solid #ccc;
    display: block;
}
.product_list ol li img:hover {
    box-shadow: 0 4px 5px 0 rgba(204, 204, 204, 1);
}
.product_list ol li a {
    color: #1d1d1d;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 0 0 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.product_list ol li a:hover {
    color: #b30425;
}
.floatimg {
    float: left;
}
.floatchk {
    float: left;
    padding-top: 18px;
    text-align: center;
}
.floatchk input[type="checkbox"] {
}
.floatchk .trayid {
    color: #b30425;
    display: block;
    font-size: 15px;
    font-weight: bold;
}
.floatimg input[type="checkbox"] {
    display: block;
    float: left;
    margin: 3px 5px 0 10px;
}
.floatimg a {
    float: left;
    margin-left: 15px;
    margin-right: 10px;
    padding: 0 !important;
}
.floatinfo {
    float: left;
    margin-right: 10px;
    width: 590px;
}
.floatinfo span {
    padding: 4px 10px 4px 0 !important;
}
.floatleft {
    float: left;
}
.floatleft .price {
    font-size: 15px;
    font-weight: normal;
}
.floatright {
    float: right;
}
.desclist {
    display: none;
    height: 20px;
    overflow: hidden;
}
.list_bttn {
    float: right;
    font-weight: bold;
    margin-top: 15px;
    width: 115px;
}
.animation_image {
    padding: 5px 0;
}
#list_form_pro {
    position: relative;
}
#checkall a {
    color: #b30425;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
.attr_table {
    border: 1px solid #839ebd;
    border-collapse: collapse;
    color: #1a1a1a;
    float: left;
    margin: 7px;
    min-width: 110px;
}
.attr_table thead {
    background: #96afcc none repeat scroll 0 0;
}
.attr_table thead tr td {
    border: medium none;
    color: #1a1a1a;
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}
.attr_table tbody {
    background: #d2deed none repeat scroll 0 0;
}
.attr_table tbody tr td {
    border: 1px solid #839ebd;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}
.attr_table tbody tr td a {
    color: #0877b9;
    font-weight: bold;
    padding: 0 5px;
    text-decoration: none;
}
.attr_table input[type="text"] {
    border: 1px solid #ccc;
    padding: 3px;
    width: 65px;
}
.minh {
    min-height: 69px;
}
.catlink {
    color: #b30425;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
}
.catlink a {
    color: #b30425;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.search_btn {
    float: right;
    margin-right: 10px;
}
.search_btn .button {
    font-weight: bold;
    width: 120px;
}
.results_area {
}
.results_area .product_grid ol li {
    width: 205px !important;
}
.results_area .product_list {
    border: 1px solid #ccc;
    box-shadow: none;
}
.shopping_cart {
}
.shopping_cart table {
    border-collapse: collapse;
    width: 100%;
}
.proceed_order a {
    background: #b30425 none repeat scroll 0 0;
    color: white;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 142px;
}
.shopping_cart tr:nth-of-type(2n+1) {
}
.shopping_cart th {
    background: #333 none repeat scroll 0 0;
    color: white;
    font-weight: bold;
}
.shopping_cart td, th {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
}
.shopping_cart .action {
    text-align: center;
}
.shopping_cart .action a {
    margin: 0 5px;
    text-decoration: none;
}
.shopping_cart .editabletd {
    background: #eee none repeat scroll 0 0;
}
.shopping_cart .continue_shopping a {
    background: #b30425 none repeat scroll 0 0;
    color: white;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 133px;
}
.shopping_cart .continue_shopping a:hover {
    background: #000 none repeat scroll 0 0;
}
.shopping_cart .total {
    color: #b30425;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0 20px;
}
.shopping_cart .proceed_order {
    float: right;
}
.continue_shopping {
    float: left;
}
.checkout {
}
.checkout .head {
    background: #ccc none repeat scroll 0 0;
    color: #202020;
    font-weight: bold;
    margin-right: 0;
    padding: 10px 8px 8px 10px;
    text-transform: uppercase;
}
.checkout textarea {
    border: 1px solid #ccc;
    height: 75px;
    margin: 10px 0;
    padding: 10px;
    width: 97%;
}
.checkout table {
    border-collapse: collapse;
    width: 100%;
}
#select_store {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 6px;
    width: 100%;
}
#select_store option {
    cursor: pointer;
}
.checkout tr:nth-of-type(2n+1) {
    background: #eee none repeat scroll 0 0;
}
.checkout th {
    background: #333 none repeat scroll 0 0;
    color: white;
    font-weight: bold;
}
.checkout td, th {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
}
.checkout .action {
    text-align: center;
}
.checkout .action a {
    margin: 0 5px;
    text-decoration: none;
}
.checkout .editabletd {
    background: #eee none repeat scroll 0 0;
}
.checkout .continue_shopping a {
    color: #aa001a;
}
.checkout .continue_shopping a:hover {
    color: #000;
}
.checkout .total {
    color: #b30425;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 0 15px;
}
.checkout .proceed_order {
    float: right;
}
.checkout .proceed_order .button {
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 150px;
}
.ordersa {
}
.data-table a {
    color: #b30425;
    text-decoration: none;
    white-space: nowrap;
}
.data-table a:hover {
    color: #4c4c4c;
}
.data-table td.nobr a {
    white-space: pre-wrap !important;
}
#my-orders-table a {
    white-space: normal !important;
}
.order {
}
.order .orderId {
    color: #b30425;
    float: left;
    width: 50%;
}
.order .orderId span {
    color: #000000;
    font-weight: bold;
}
.order .orderDate {
    color: #b30425;
    float: right;
    text-align: right;
    width: 50%;
}
.order .orderDate span {
    color: #000000;
    font-weight: bold;
}
.order h3 {
    border-bottom: 1px solid #b30425;
    text-transform: uppercase;
}
.order .order_billing {
    float: left;
    width: 350px;
}
.order .order_billing h4 {
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
.order .order_shipping {
    float: right;
    width: 350px;
}
.order .order_shipping h4 {
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
.order .supplierorder {
}
.order .supplierorder h3 {
}
.order table {
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}
.order tr:nth-of-type(2n+1) {
    background: #eee none repeat scroll 0 0;
}
.order th {
    background: #333 none repeat scroll 0 0;
    color: white;
    font-weight: bold;
}
.order td, th {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
}
.order .total {
    float: right;
    font-weight: bold;
    padding: 5px 0;
}
.order .grand_total {
    color: #b30425;
    float: right;
    font-weight: bold;
}
.product_detail {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px 2px #acb0b5;
    min-height: 450px;
    padding: 10px;
}
.product-img-box {
    float: left;
    text-align: center;
    width: 462px;
}
.product-img-box .large {
    margin-right: 10px;
}
.product-img-box .large a {
    cursor: zoom-in;
    display: block;
}
.product-img-box .large img {
    border: 1px solid #ccc;
}
.product-img-box .thumbnails {
    display: none;
}
.product-info {
    float: left;
    width: 510px;
}
.product-info .pricebox {
    float: left;
    padding: 10px;
}
.product-info .addtobox {
    float: right;
    padding: 10px;
}
.addtobox span {
    color: #b30425;
    display: block;
    float: left;
    font-size: 15px;
    margin-right: 10px;
    margin-top: 6px;
}
.addtobox input[type="text"] {
    float: left;
}
.addtobox input[type="submit"] {
    float: right;
    margin-left: 8px;
    width: 111px;
}
.pricebox .label {
    color: #4c4c4c;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    margin-right: 15px;
    padding: 7px 0;
}
.product-info .price {
    display: inline-block;
}
.productattribute {
    border: 1px solid #e7e7e7;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}
.productattribute tbody td {
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    padding: 7px 7px 6px 8px;
    vertical-align: middle;
}
.productattribute tbody td.hed {
    background: #f8f8f8 url("images/tail-manuf.gif") repeat-x scroll 0 0;
    color: #191919;
    font-weight: bold;
    padding: 7px 7px 6px 8px;
    width: 33%;
}
.description {
    text-align: left;
}
.description h3 {
    margin: 6px 0 10px;
}
.related_products {
    min-height: 370px !important;
}
.related_products h3 {
    color: #b30425;
    font-size: 16px;
    line-height: 1;
    margin: 20px 0 10px;
}
.related_products ol li {
    margin: 0 13px 0 0;
}
.leftside {
    float: left;
    width: 705px;
}
.rightside {
    float: right;
    width: 220px;
}
.block {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    line-height: 1.35;
    margin: 0 0 15px;
    padding-right: 0;
}
.block .block-title {
    background: #1a1a1a none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
    margin-right: 0;
    padding: 10px 8px 8px 10px;
    text-transform: uppercase;
}
.block .block-content {
    font-size: 12px;
    padding: 10px;
}
.block-content ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.block-account .block-content li a {
    border-bottom: 1px solid #dddddd;
    color: #5f5d5c;
    display: block;
    padding: 6px 0;
    text-decoration: none !important;
}
.block-account .block-content li a:hover {
    color: #b30425;
}
.block-account .block-content li.last a {
    border: medium none;
}
.acc-address p {
    margin: 0;
}
.myaccount h3 {
    color: #b30425;
    margin: 0;
    padding-bottom: 5px;
}
.box-address {
    float: left;
    margin-right: 20px;
    width: 330px;
}
.box-address label {
    display: block;
    font-weight: bold;
    padding: 5px 0;
}
.box-address textarea {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    height: 125px;
    padding: 5px;
    width: 300px;
}
.acc-address input[type="submit"] {
    margin-top: 10px;
}
.box-account .box-head {
    margin: 0 0 5px;
    text-align: right;
}
.box-account .box-head h3 {
    float: left;
}
.box-account a {
    color: #b30425;
    text-decoration: none;
    white-space: nowrap;
}
.box-account a:hover {
    color: #c51637;
}
.box-recent {
    margin-bottom: 10px;
}
.data-table thead th {
    background: #f8f8f8 url("images/tail-manuf.gif") repeat-x scroll 0 0;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #dddddd;
    color: #191919;
    font-weight: bold;
    padding: 7px 7px 6px 8px;
    white-space: nowrap;
}
.data-table {
    border: 1px solid #e7e7e7;
    border-collapse: collapse;
    margin: 5px 0;
    width: 100%;
}
.data-table tbody td {
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}
.data-table th, td {
    vertical-align: middle;
}
.data-table tbody td {
    padding: 10px;
    text-align: center;
}
.data-table tfoot td {
    padding: 3px;
}
.createorder label {
    color: #b30425;
    display: block;
    font-size: 14px;
}
.createorder .vmedium {
    border: 1px solid #ccc;
    display: block;
    margin-right: 15px;
    margin-top: 18px;
    padding: 8px;
    width: 137px;
}
.createorder .qty {
    color: #b30425;
    display: block;
    float: left;
    font-size: 15px;
    margin-right: 10px;
}
.createorder .vsmall {
    border: 1px solid #ccc;
    display: block;
    float: left;
    padding: 8px;
    width: 18px;
}
.parea {
    float: left;
    margin-right: 15px;
}
#add_icon {
    margin: 12px 0 0 10px;
}
#add_icon a {
    display: block;
    line-height: 1;
}
.droplist {
    float: left;
    position: relative;
}
.lislitem {
    position: absolute;
    top: 33px;
    z-index: 10;
}
.lislitem ul {
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 1px 15px 22px -18px #000;
    list-style: outside none none;
    margin: 0;
    max-height: 200px;
    overflow-x: hidden;
    padding: 0;
    width: 153px;
}
.lislitem ul li {
    border-bottom: 1px solid #ccc;
    display: block;
    list-style: outside none none;
    padding: 5px;
}
.lislitem ul li a {
    color: #414141;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
.items {
    margin-bottom: 15px;
}
.loading {
    background: rgba(0, 0, 0, 0) url("images/loading.gif") no-repeat scroll 125px center / 18px auto;
}
.createorder .button {
    font-weight: bold;
    margin-right: 20px;
    width: 125px;
}
#table_create_order {
    margin-bottom: 15px;
}
#table_create_order th {
    border: medium none;
    padding: 0 20px 0 0;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}
#table_create_order td {
    padding: 5px 10px 5px 0;
}
.unitcost .price {
    font-size: 13px !important;
    padding-top: 20px !important;
}
.tithed {
    color: #1d1d1d;
    font-size: 15px;
    padding-top: 22px !important;
}
.topsecsupplier {
    margin-top: 23px;
}
.data-table thead th span {
    background: rgba(0, 0, 0, 0) url("images/sort_both.png") no-repeat scroll right center;
    cursor: pointer;
    display: block;
    padding-right: 15px;
}
.filter {
    color: #414141;
    width: 800px;
}
.filter .dat {
    float: left;
}
.filter .sto {
    float: left;
}
.filter .button {
    float: left;
    padding: 5px 15px 4px !important;
    width: 110px;
}
.filter input[type="text"] {
    border: 1px solid #ccc;
    display: block;
    float: left;
    margin-right: 10px;
    padding: 5px;
    width: 170px;
}
.ui-widget {
    font-size: 12px !important;
}
.filter select {
    border: 1px solid #ccc;
    color: #414141;
    margin-right: 10px;
    padding: 4px 5px 3px;
    width: 170px;
}
.supp_grand {
    margin-top: 8px;
}
.supp_order .button {
    float: right;
    margin-top: 10px;
    padding: 5px 20px !important;
}
.filter-table input {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    width: 170px;
}
#selectall {
    margin-left: 10px;
    vertical-align: sub;
}
.promotion {
}
.date_offer .offer {
    display: block;
    float: left;
    font-size: 16px;
    padding: 10px 0;
    width: 45%;
}
.date_offer .offer span {
    color: #b30425;
}
.promotion p {
    margin: 0 0 15px;
}
.btnarea {
    padding: 10px 0;
}
.btnarea input[type="checkbox"] {
    vertical-align: sub;
}
.btnarea .button {
    border-radius: 17px !important;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    margin-left: 15px;
    padding: 10px 16px;
    width: 245px;
}
.cost_html b {
    color: #b30425;
    display: block;
    font-size: 13px;
    padding: 8px 0;
}
.cost_html label {
    display: block;
    float: left;
    font-weight: bold;
    line-height: 1;
    margin-right: 10px;
    margin-top: 7px;
}
.cost_html input[type="text"] {
    border: 1px solid #ccc;
    display: block;
    float: left;
    margin-right: 10px;
    padding: 5px;
    width: 170px;
}
.catalogue ul {
    list-style: outside none none;
    margin: 15px 0 0;
    padding: 0;
}
.catalogue ul li {
    display: inline-block;
    margin-bottom: 15px;
    width: 307px;
}
.catalogue ul li.mid {
    margin: 0 20px;
}
.catalogue ul li .tit a {
    color: #414141;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0 8px;
    text-decoration: none;
}
.catalogue ul li .img {
    box-shadow: 6px 5px 4px -2px #ccc;
    height: 217px;
    text-align: center;
    width: 307px;
}
.desc_cata {
}
.desc_cata iframe {
    width: 100% !important;
}
.desc_cata object {
    width: 100% !important;
}
.issuuembed {
    height: 390px;
    width: 100% !important;
}
.issuuembed a {
    display: none;
}
.issuuembed span {
    display: none;
}
.promo_view .date_offer .offer {
    width: 350px !important;
}
.offer1 {
    float: right;
    padding: 10px 0;
    text-align: right;
    width: 150px;
}
.offer1 a {
    display: block;
    font-size: 16px;
    text-decoration: none;
}
.promo_view .product_list {
    box-shadow: none !important;
}
.promo_view .product_grid ol li {
}
.area_filter {
    float: left;
    margin-bottom: 15px;
    margin-top: 2px;
    width: 860px;
}
.flit_search {
    float: left;
}
.filt_select {
    float: right;
}
.flit_search input[type="text"] {
    border: 1px solid #ccc;
    margin-right: 5px;
    padding: 8px 7px;
    width: 215px;
}
.filt_select select {
    border: 1px solid #ccc;
    padding: 6px;
}
.col-main {
    position: relative;
}
.popupsave {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 0 30px 390px #000;
    margin: 0 auto;
    width: 300px;
    z-index: 9999;
}
.popupsave label {
    color: #b30425;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
}
.close {
    background: rgba(0, 0, 0, 0) url("images/error.png") no-repeat scroll center top;
    cursor: pointer;
    display: block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.popupsave .close {
    float: right;
}
.pophed {
    background: #f2f2f2 none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
.popupsave form {
    display: block;
    padding: 10px;
    text-align: center;
}
.popupsave input[type="text"] {
    border: 1px solid #f0f0f0;
    padding: 8px;
    width: 260px;
}
.popupsave .button {
    margin-top: 9px;
    padding: 5px;
    width: 70px;
}
.attcon {
    font-size: 12px;
    height: 78px;
    overflow: hidden;
}
@media not all {
.loginmainarea {
    min-height: 590px !important;
}
input {
    margin: 0;
}
.topsearch input[type="submit"] {
    vertical-align: middle;
}
}
.conference_tr {
    background: #b30425 none repeat scroll 0 0 !important;
    color: white;
    display: block;
    padding: 1px;
    width: 100%;
}
.conference_text {
    color: #b30425;
}
.filter-tray {
    color: #191919;
    font-size: 12px;
    font-weight: bold;
}
.filter-tray input {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px;
    width: 250px;
}
#my-tray-table tbody td {
    font-weight: bold;
    text-align: left;
}
#my-tray-table tbody td a {
    color: #191919;
}
#my-tray-table tbody td a:hover {
    color: #b30425;
}
.quicklisttable tbody td {
    font-weight: bold;
}
.contact {
    float: left;
    width: 508px;
}
.contact_feilds {
    margin-bottom: 10px;
}
.contact_feilds label {
    display: block;
    float: left;
    width: 100px;
}
.contact_feilds input[type="text"] {
    border: 1px solid #ccc;
    float: left;
    height: 25px;
    padding: 2px;
    width: 400px;
}
.contact_feilds textarea {
    border: 1px solid #ccc;
    height: 150px;
    width: 403px;
}
.contact_feilds input[type="submit"] {
    float: right;
}
.contact_feilds span {
    color: red;
}
.contact_right {
    float: right;
    width: 400px;
}
.contact_right img {
}
.product-img-box .large, .product_grid ol li {
    position: relative;
}
.made_to_order {
    position: absolute;
    right: -10px;
    top: -10px;
}
.made_to_order_list {
    position: absolute;
    right: -7px;
    top: -7px;
}
.made_to_order img {
    border: medium none !important;
}
.our_brands img:hover {
    opacity: 0.5;
}
.box-add {
    float: left;
    margin-bottom: 15px;
    margin-right: 17px;
    width: 335px;
}
.box-add label {
    display: block;
    font-weight: bold;
    padding: 5px 0;
}
.box-add textarea {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    height: 125px;
    padding: 5px;
    width: 300px;
}
.box-add input[type="text"], .box-add input[type="password"] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    padding: 5px;
    width: 300px;
}
.link {
    color: #4c4c4c;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-left: 6px;
    padding: 5px 0;
}
.link:hover {
    color: #b30425;
}
.clearcart {
    display: block;
    float: right;
    font-weight: bold;
    margin-top: 6px;
    padding: 3px 8px;
}
.short_tags > span {
    color: #b30425;
    font-weight: bold;
}
.short_comment {
    float: left;
    padding: 10px 0;
}
.short_comment label {
    font-weight: bold;
    margin-right: 10px;
}
.short_comment textarea {
    border: 1px solid #ccc;
    height: 30px;
    padding: 5px;
    vertical-align: middle;
    width: 250px;
}
#shortareaspan {
    vertical-align: middle;
}
#loadw {
    font-size: 11px;
    margin-left: 10px;
}
.shortcmnt {
    padding: 8px 0;
}
.shortcmnt label {
    color: #000000;
    font-weight: bold;
}
.shortcmnt > span {
    color: #b30425;
}
.multi_cart_head {
    background: #333333 none repeat scroll 0 0;
    padding: 10px;
    width: auto;
}
.multi_cart_head h2 {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: uppercase;
}
.multi_cart_head_left {
    float: left;
    width: 650px;
}
.multi_cart_head_left p {
    color: #d1d1d1;
    margin: 0 !important;
    padding: 0 !important;
}
.multi_cart_head_right {
    color: #d1d1d1;
    float: right;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    width: 200px;
}
.checkout .multi_cart_head_left {
    width: 500px;
}
.store_total {
    color: #b30425;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0 15px;
    text-align: right;
}
#myOverlay {
    background: rgba(0, 0, 0, 0) url("images/loading.gif") no-repeat scroll left center;
    color: green;
    display: none;
    font-weight: bold;
    left: -6px;
    padding: 5px 0 5px 38px;
    position: absolute;
    top: -57px;
    width: 100%;
}
.jcarousel-list {
}
.jcarousel-container {
}
.jcarousel-direction-rtl {
    direction: rtl;
}
.jcarousel-container-horizontal {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px 2px #acb0b5;
    margin-bottom: 25px;
    padding: 20px 55px;
    width: 890px;
}
.jcarousel-clip {
    overflow: hidden;
}
.jcarousel-clip-horizontal {
    height: 335px;
    width: 890px;
}
.jcarousel-item {
    border-right: 1px solid #959595;
    height: 335px;
    padding: 0 6px;
    text-align: center;
    width: 295px;
}
.our_brands .jcarousel-clip-horizontal {
    height: 100px;
    width: 890px;
}
.our_brands .jcarousel-item {
    border-right: 1px solid #959595;
    height: 100px;
    padding: 0 2px;
    text-align: center;
    width: 299px;
}
.jcarousel-item-horizontal {
    margin-left: 0;
}
.jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}
.jcarousel-item-placeholder {
    background: #fff none repeat scroll 0 0;
    color: #000;
}
.jcarousel-next-horizontal {
    background: transparent url("images/right_arrow.jpg") no-repeat scroll 0 0;
    cursor: pointer;
    height: 46px;
    position: absolute;
    right: 15px;
    top: 150px;
    width: 27px;
}
.jcarousel-direction-rtl .jcarousel-next-horizontal {
    background-image: url("css/left_arrow.jpg");
    left: 5px;
    right: auto;
}
.jcarousel-prev-horizontal {
    background: transparent url("images/left_arrow.jpg") no-repeat scroll 0 0;
    cursor: pointer;
    height: 46px;
    left: 15px;
    position: absolute;
    top: 150px;
    width: 27px;
}
.jcarousel-direction-rtl .jcarousel-prev-horizontal {
    background-image: url("images/right_arrow.jpg");
    left: auto;
    right: 5px;
}
.jcarousel-prev-horizontal:hover, .jcarousel-prev-horizontal:focus {
}
.jcarousel-prev-horizontal:active {
}
.jcarousel-prev-disabled-horizontal, .jcarousel-prev-disabled-horizontal:hover, .jcarousel-prev-disabled-horizontal:focus, .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
}
.our_brands .jcarousel-prev-horizontal {
    top: 45px !important;
}
.our_brands .jcarousel-next-horizontal {
    top: 45px !important;
}
div#fancy_overlay {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
}
div#fancy_loading {
    background: transparent none repeat scroll 0 0;
    cursor: pointer;
    display: none;
    height: 40px;
    overflow: hidden;
    position: absolute;
    width: 40px;
    z-index: 100;
}
div#fancy_loading div {
    background: transparent url("images/fancybox/fancy_progress.png") no-repeat scroll 0 0;
    height: 480px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}
div#fancy_outer {
    background: transparent none repeat scroll 0 0;
    display: none;
    left: 0;
    margin: 0;
    padding: 20px 20px 40px;
    position: absolute;
    top: 0;
    z-index: 90;
}
div#fancy_inner {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    position: relative;
    width: 100%;
}
div#fancy_content {
    margin: 0;
    position: absolute;
    z-index: 100;
}
div#fancy_div {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    height: 100%;
    width: 100%;
    z-index: 100;
}
img#fancy_img {
    border: 0 none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
div#fancy_close {
    background: rgba(0, 0, 0, 0) url("images/fancybox/fancy_closebox.png") no-repeat scroll left top;
    cursor: pointer;
    display: none;
    height: 30px;
    position: absolute;
    right: -15px;
    top: -12px;
    width: 30px;
    z-index: 181;
}
#fancy_frame {
    display: none;
    height: 100%;
    position: relative;
    width: 100%;
}
#fancy_ajax {
    height: 100%;
    overflow: auto;
    width: 100%;
}
a#fancy_left, a#fancy_right {
    background-image: url("css/data:image/gif;base64,AAAA");
    bottom: 0;
    cursor: pointer;
    display: none;
    height: 100%;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    width: 35%;
    z-index: 111;
}
a#fancy_left {
    left: 0;
}
a#fancy_right {
    right: 0;
}
span.fancy_ico {
    cursor: pointer;
    display: block;
    height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 30px;
    z-index: 112;
}
span#fancy_left_ico {
    background: transparent url("images/fancybox/fancy_left.png") no-repeat scroll 0 0;
    left: -9999px;
}
span#fancy_right_ico {
    background: transparent url("images/fancybox/fancy_right.png") no-repeat scroll 0 0;
    right: -9999px;
}
a#fancy_left:hover, a#fancy_right:hover {
    background-color: transparent;
    visibility: visible;
}
a#fancy_left:hover span {
    left: 20px;
}
a#fancy_right:hover span {
    right: 20px;
}
#fancy_bigIframe {
    background: transparent none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
div#fancy_bg {
    border: 0 none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 70;
}
div.fancy_bg {
    border: 0 none;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 70;
}
div#fancy_bg_n {
    background: transparent url("images/fancybox/fancy_shadow_n.png") repeat-x scroll 0 0;
    height: 20px;
    left: 0;
    top: -20px;
    width: 100%;
}
div#fancy_bg_ne {
    background: transparent url("images/fancybox/fancy_shadow_ne.png") no-repeat scroll 0 0;
    height: 20px;
    right: -20px;
    top: -20px;
    width: 20px;
}
div#fancy_bg_e {
    background: transparent url("images/fancybox/fancy_shadow_e.png") repeat-y scroll 0 0;
    height: 100%;
    right: -20px;
    width: 20px;
}
div#fancy_bg_se {
    background: transparent url("images/fancybox/fancy_shadow_se.png") no-repeat scroll 0 0;
    bottom: -20px;
    height: 20px;
    right: -20px;
    width: 20px;
}
div#fancy_bg_s {
    background: transparent url("images/fancybox/fancy_shadow_s.png") repeat-x scroll 0 0;
    bottom: -20px;
    height: 20px;
    left: 0;
    width: 100%;
}
div#fancy_bg_sw {
    background: transparent url("images/fancybox/fancy_shadow_sw.png") no-repeat scroll 0 0;
    bottom: -20px;
    height: 20px;
    left: -20px;
    width: 20px;
}
div#fancy_bg_w {
    background: transparent url("images/fancybox/fancy_shadow_w.png") repeat-y scroll 0 0;
    height: 100%;
    left: -20px;
    width: 20px;
}
div#fancy_bg_nw {
    background: transparent url("images/fancybox/fancy_shadow_nw.png") no-repeat scroll 0 0;
    height: 20px;
    left: -20px;
    top: -20px;
    width: 20px;
}
div#fancy_title {
    display: none;
    position: absolute;
    z-index: 100;
}
div#fancy_title div {
    color: #fff;
    font: bold 12px Arial;
    padding-bottom: 3px;
    white-space: nowrap;
}
div#fancy_title table {
    margin: 0 auto;
}
div#fancy_title table td {
    padding: 0;
    vertical-align: middle;
}
td#fancy_title_left {
    background: transparent url("images/fancybox/fancy_title_left.png") repeat-x scroll 0 0;
    height: 32px;
    width: 15px;
}
td#fancy_title_main {
    background: transparent url("images/fancybox/fancy_title_main.png") repeat-x scroll 0 0;
    height: 32px;
}
td#fancy_title_right {
    background: transparent url("images/fancybox/fancy_title_right.png") repeat-x scroll 0 0;
    height: 32px;
    width: 15px;
}
.pop {
    display: inline;
    position: absolute;
}
.pop .pop_menu {
    display: none;
    z-index: 80;
}
.pop .pop_toggle {
    background-image: url("images/cart/arrow_down.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    width: 20px;
}
.active .pop_menu {
    background-color: #ebebeb;
    color: #fff;
    display: block;
    padding: 0.6em;
    position: absolute;
    width: 12em;
    z-index: 80;
}
.active .pop_menu a {
    color: #fff;
}
.active .pop_toggle {
    background-image: url("images/cart/arrow_up.png");
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2000;
}
span#giftvoucher_wait {
    color: #2f2f2f;
}
.giftvoucher-discount-code {
    color: #008000;
}
.giftvoucher-discount-code button {
    background: transparent none repeat scroll 0 0;
    border: medium none;
}
.giftvoucher-discount-code button:hover {
    cursor: pointer;
}
.giftvoucher-media {
    border: 2px solid #f7f9f9;
}
.giftvoucher-media .giftmedia {
    border-bottom: 2px solid #f7f9f9;
    color: #f18200;
    font-size: 15px;
    padding: 7px;
}
#giftmedia pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.giftvoucher-media .giftmedia-image {
    overflow: hidden;
    position: relative;
    width: 265px;
}
.giftvoucher-product-info #message {
    height: 88px;
    width: 325px;
}
.giftvoucher-product-info #recipient_address {
    height: 57px;
    width: 325px;
}
.giftvoucher-product-info #recipient_email {
    width: 325px;
}
.giftvoucher-product-info #recipient_name {
    width: 325px;
}
#giftvoucher-result {
    font-size: 15px;
}
#giftvoucher-result label {
    width: 160px;
}
.banner .carousel-control{ display:none;}
.carousel-indicators{ right:0; left:0; width:100%; margin-left:0; padding-right:20px; text-align:right; bottom:0;}
.carousel-indicators li{ border-radius:0; width:15px; height:15px; border:solid 3px #5a7188}
.carousel-indicators .active{ border-color:#b30425; background:none; width:15px; height:15px; margin:1px;}
.product_slider{background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px 2px #acb0b5;
    margin-bottom: 25px; position:relative;}
	.listitem{ width:33%; display:inline-block; border-right:solid 1px #ccc; padding:20px; text-align:center;}
	.product_slider .listitem:last-child{ border:none!important;}
	.product_slider .product-name{
    color: #1d1d1d;
    display: block;
    font-size: 15px;
    padding: 4px 0;
    text-decoration: none;
    text-transform: uppercase;
}
.product_slider .product-name a{ color:#000;}
.addto .vsamll{ width:35px; text-align:center;}
.product_slider .carousel-indicators{ display:none;}
.product_slider .carousel-control{ background:none; width:5%; color:#b1b1b1; text-shadow:none;}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}