.container{ margin-top: 26px;} 

.categories-index > h3 { border-bottom: 1px solid #ccc; margin-bottom: 25px;}

.ui-state-default{ list-style-type: none;}

ul.attribute-values{ list-style-type: none;}

.floatleft{ float: left;}

.option-details{ display: inline-block; margin-left: 10px;}

.submit_enabled { float: right;}

.store-dropdown { float: right; margin: 10px 0 12px; padding: 5px;}

#main-banner > h3 { clear: both; float: none;}

.autofile-upload { margin: 25px;}

.form-group.addnew_tray { margin: 15px;}

.file-error-message{ display: none !important;}

.date_offer .offer { display: block; float: left; font-size: 16px; padding: 10px 0; width: 45%;}

.inst_text{ padding-bottom: 20px;}

.from_field { width: 22%; float: left; padding-bottom: 20px;}

.btnarea span{float: left;margin-right: 20px;}

.button.accept{ margin-right: 25px;}

.sm-checkox  .form-group{ float: left; margin-bottom: 0;}

.sm-checkox u{ float: right;}

.sm-checkox u a{ padding-top:0}

.sm-checkox u:last-child a{ padding-right: 10px !important;}

.sm-checkox label{ padding: 0 !important;}

.sm-checkox .checkbox{ margin: 0}

.sm-checkox .help-block{ display: none;}


.select_all{ float: right;}

.save-float{ background:#3c8dbc !important; border-color:#3c8dbc !important; font-size:14px !important; padding:6px 15px !important}

.save-float.stick { position: fixed; top: 34px; right: 46px; font-size: 21px !important; width: 110px; z-index: 10000; box-shadow:0 0 27px rgba(0, 0, 0, 0.3);}

.menu-icon-set a {color: #367fa9 !important;}

#main-banner > h3{ clear:none !important;}

.av-path { color: #8b8b8b; font-style: italic;}

#selectedbannersmove{ background: #fff none repeat scroll 0 0; margin: 5px; padding: 10px; }

.tree-section{border-right:1px solid #ccc; overflow-y: scroll; max-height: 550px;}

.easy-tree-toolbar{display: none;}

.category-text{cursor: pointer; font-weight: normal !important;}

.selected-cat{font-weight: bold !important;}
.ui-dialog{
	height: auto!important;
    width: 704px !important;
    top: 180px !important;
    left: 427.5px !important;
    z-index: 101 !important;
}
table *{border-color:#ececec !important;}
.table-striped > tbody > tr:nth-of-type(2n+1){ background:#fafafa;}
td {padding: 7px 10px !important; border: 1px solid #ccc; }
th {padding: 5px 10px !important;border: 1px solid #ccc;}
.image_table {width: 100%;}
.add_image_buttons {float: right; margin-right: 35%; }
.add_prod_images {display: block; margin-bottom: 20px; margin-top: 40px; text-align: center; /*  width: 50%; */}
.skin-blue .left-side:after{ width:100%; height:50px; content:""; position:absolute; bottom:-50px; display:inline-block; left:0; background:#222d32;}
.summary{ float:left; padding-top:11px !important;}
  
