.top-menu:before, .top-menu:after, .top-menu, .cat-wrapper, .search-wrapper .fa, .cart-drop a:hover, .product .fa-eye:hover, .product .fa-heart:hover{ background:#0055A0 !important;}
.cart-drop a, .product:hover, .product .fa-eye:hover, .product .fa-heart:hover{ border-color:#0055A0;}
.cart-container span, .fa-shopping-bag, .navigation ul li a:hover, .products h1{ color:#0055A0;}
.pdt-cart:hover{ color:#323232;text-decoration: underline;}
.cat-wrapper:hover, .search-wrapper .fa:hover, .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{ background:#b42320;}
.cart-content-bg a .shopping-btn-bg, .cart-content-bg button {background: #0055A0; }
.cart-content-bg a .shopping-btn-bg:hover, .cart-content-bg button:hover {  background: #1e1e1e;}  
.site-checkout .continue,.cont ,.empty-wrapper a,.pdt-btn,.submit-wishbtn,.btn-primary,.btn-success{background: #0055A0!important;} 
.site-checkout .continue:hover,.cont:hover,.empty-wrapper a:hover,.pdt-btn:hover,.submit-wishbtn:hover,.btn-primary:hover,.btn-success:hover{background: #1e1e1e !important;}  
 button.apply-code {background: #0055A0;}  
 button.apply-code:hover {background: #000;}
 .modal-dialog .pdt-btm .fa-heart:hover {border-color: #0055A0;background: #0055A0;color: #fff !important;text-decoration: none;}