.pdt-cart, .sm-ytube, .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span, button.apply-code, .cart-content-bg a .shopping-btn-bg, .cart-content-bg button, .site-checkout .continue{ background:#3689c0 !important;}


.nav-bg2 .btn-default:hover, .footer-cont-bg1 .navbar-form:hover .btn-default, .pdt-cart:hover, button.apply-code:hover, .cart-content-bg a:hover, .site-checkout .continue:hover{ background-color:#1d6da2 !important;}

.item-first-row ul li:hover .product-img{ border-color:#3689c0 !important;}
.prdct-details .add-cart-bg a:hover{ color:#3689c0 !important;}
.cont {background: #236692 !important;}
.empty-wrapper a {background: #236692 !important;};
.btn-success {color: #fff;background-color: #3689c0; border-color: #3689c0;}
.btn-success:hover {color: #fff;background-color: #449d44; border-color: #398439;}
 .navigation ul.dropdown-menu li a{color:#656565;}
    
   
