	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/10/2016 07:16
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;

}

.flaticon-approve-invoice:before { content: "\f100"; }
.flaticon-check:before { content: "\f101"; }
.flaticon-check-1:before { content: "\f102"; }
.flaticon-check-2:before { content: "\f103"; }
.flaticon-clock:before { content: "\f104"; }
.flaticon-close:before { content: "\f105"; }
.flaticon-commerce:before { content: "\f106"; }
.flaticon-cross:before { content: "\f107"; }
.flaticon-delete:before { content: "\f108"; }
.flaticon-file:before { content: "\f109"; }
.flaticon-icon-1176:before { content: "\f10a"; }
.flaticon-location:before { content: "\f10b"; }
.flaticon-money:before { content: "\f10c"; }
.flaticon-multimedia:before { content: "\f10d"; }
.flaticon-phone-call:before { content: "\f10e"; }
.flaticon-refund:before { content: "\f10f"; }
.flaticon-technology:before { content: "\f110"; }
.flaticon-verified-text-paper:before { content: "\f111"; }