html,
body {
    height: 100%;
}

.wrap {
   /* min-height: 60%;*/
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
   /* height: 60px;*/
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}




/* Menu style */


.navmenu{ position:relative; z-index:2000; }

.subnavmenu{ position:absolute; width:1000px; top:52px; z-index:10000;}

.menutab123{ width:150px; float:left;  background: none repeat scroll 0 0 #E0E0E0; box-shadow: 3px 6px 8px 1px rgba(0, 0, 0, 0.3); display:block; text-transform:capitalize;}

.menutab123  a{  border-color: #F4F4F4 #B9B9B9 #B9B9B9;border-style: solid;border-width: 1px;color: #444444 !important;padding: 6px 10px; text-decoration:none; font-size:11px; display:block;}

.menutab123 a:hover {background: none repeat scroll 0 0 #EFEFEF !important;border-top: 1px solid #F7F7F7;color: #444444 !important;padding: 6px 10px;text-shadow: none !important;}

.subnavmenu{ display:none;}

.subnavmenuactive{ display:block!important;}

.navmenu{ position:relative; height: 25px;}

.container{min-height: 75%; width: 100%; padding: 0 !important;}

.contents {width:1000px ;margin: 0 auto;}

/*.sidebar {padding: 15px 0 !important;}*/

.pagination li {width: 50px !important; min-height: 20px !important; border: none !important;margin: 0 1px 19px !important;}

.pagination { float: right !important;}

.pagination li:hover {box-shadow: none !important;}

    .ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 42em;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 10em;
    background: #CCC;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid gray;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    border: 1px solid gray;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
}

input, select, textarea, button {
    color: #2f2f2f !important;
    font: 12px/15px Arial,Helvetica,sans-serif !important;
    vertical-align: middle !important;
}

/*input {
    width: 254px !important;
}*/
input.input-text, textarea {
    padding: 2px !important;
}
input.input-text, select, textarea {
    background: none repeat scroll 0 0 #fff !important;
    border: 1px solid #b6b6b6 !important;
}

.product_detail input {
    height: 25px !important;
    line-height: 25px;
    outline: medium none;
    padding: 4px;
    /*width: 200px !important;*/
    float: none !important;
}
/*.config-attributes .form-group:first-child select{ background: red;}*/

.addresses_1 input {width:190px !important;}
.addresses_2 input {width:575px !important;}

.addresses_2 input{

     background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.addresses_2 textarea{width: 575px !important;}

.addresses_2 select {width: 575px !important;}

.addresses_2 input[type="checkbox"] {width: 4px !important;}

.addresses_zip {width:575px !important;}

.addresses_2 label{display: block !important; float: none !important;}
.addresses_1 label {display: inline-block; float: left; width: 85px;}

.bundle_multisel {
    display: block;
    height: 100px !important;
}

.bundle_dropdown {
    display: block;
}

.qtytext {
    display: block;
    margin-top: 15px;
}