@charset "utf-8";

/* CSS Document */



body {

	font: normal 10px/1.8em "Helvetica Neue", "Helvetica", Arial, Sans-Serif; margin:0; padding:0; 

}


.container{width:100%;  overflow-x:hidden; background:#ECECEC;}

h1 {text-align:center;}

/* firfox bugs */

.lej_form:after, .lej_form div:after, .lej_form ol:after, .lej_form ul:after, .lej_form li:after, .lej_form dl:after {

	content:".";

	display:block;

	clear:both;

	visibility:hidden;

	height:0;

	overflow:hidden;

}

/* Form Structure */

	

.lej_form {

	margin:0;

	padding:0;

}





h3 {

 text-align:center; display:block; font-weight:normal; font-size:15px; color:#000; margin-top:0;

}

/* legend and titles */

	

	.lej_form {

	font: normal 10px/1.4em "Helvetica Neue", "Helvetica", Arial, Sans-Serif;

}

p{ font-size:1.4em; color:#2B2B2B; line-height:18px; font-style: italic;}



/* form elements  */

	.lej_form label {

	color:#2b2b2b;
  margin-top:10px !important;

	font-size:1.4em;

	line-height: 1.3em;

	vertical-align:middle;

	display: block;

	height: auto;

	margin: 0.2em 0 0.5em;

}

.lej_form input[type="text"], .lej_form textarea, .lej_form select {

	vertical-align: middle;

	line-height: 1.1em;

	margin-bottom:1em;

	width: 100%;

	padding:10px;

	border-style: solid;

	border-width: 1px;

	box-sizing: border-box;

	-moz-box-sizing: border-box;

	-ms-box-sizing: border-box;

	-webkit-box-sizing: border-box;

	/*ie7*/

	*width: 99%;

	border-color:#c6c6c6 #dadada #eaeaea;

	background: #fafafa;

	color:#999;

	font-size:1.4em;

	font-family:inherit;

	/*corner*/

		-moz-border-radius: 4px;

	-webkit-border-radius: 4px;

	border-radius: 4px;

}

.lej_form select {

	border-color:#c6c6c6 #dadada #eaeaea;

	background: #fafafa;

	color:#999;

	padding:9px;

	height:2.7em;

}

.lej_form textarea {

	height: 10em;

}

.lej_form .list label {

	display: inline;

	height: auto;

	margin: 0.5em 0 0.8em 2px;

}

.lej_form input[type="text"]:hover, .lej_form textarea:hover, .lej_form select:hover {

	color:#666;

	background: #fff none;

	border-color:#c6c6c6;

}

.lej_form input[type="text"]:focus, .lej_form textarea:focus, .lej_form select:focus {

	color:#333;

	background: #fff none;

	border-color:#659ec9 #70aedd #a8cfec;

	outline: 0;

}

/* form buttons */

	.lej_form input[type="submit"], .lej_form input[type="button"], .lej_form input[type="reset"] {

	background: #c2000d;

	display: inline-block;

	text-align: center;

	padding: 9px 34px 11px;

	color: #fff;

	text-decoration: none;

	font-weight: bold;

	font-size: 13px;

	font-size: 1.3rem;

	line-height: 1;

	font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;

	position: relative;

	cursor: pointer;

	border: none;

	outline: none;

	margin: 0;

	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);

	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);

	box-shadow: inset 0 1px 0 rgba(255,255,255,.5);

	text-shadow: 0 -1px 1px rgba(0,0,0,0.28);

	border: 1px solid #c2000d;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius: 3px;

	font-size: 18px;

	padding: 11px 48px 13px;

	width: auto;

}

/* Don't use native buttons on iOS */

	.lej_form input[type=submit], .lej_form button {

	-webkit-appearance: none;

}

	

	/* Hide inner focus effect in Firefox */

.lej_form button::-moz-focus-inner, .lej_form input[type="reset"]::-moz-focus-inner, .lej_form input[type="button"]::-moz-focus-inner, .lej_form input[type="submit"]::-moz-focus-inner {

 border: none;

}

.lej_form-button:hover, .lej_form input[type="submit"]:hover, .lej_form input[type="submit"]:focus, .lej_form input[type="button"]:hover, .lej_form input[type="button"]:focus, .lej_form input[type="reset"]:hover, .lej_form input[type="reset"]:focus {

	background-color: #c2000d;

	color: #fff;

}

.form{ background: #ececec url(images/bg1.png) no-repeat center top; padding:20px;}

h2{ font-size:25px; text-align:center; color:#000; display:block; text-transform:uppercase; padding:10px 0; margin-bottom:0; }

img{ border:none;}

.button {
 

  display: inline-block;

   width:100%; text-align:center; margin-top:10px; 

} 

.button span button {

  background: -moz-linear-gradient(top, #c2000d 0%, #8f020c 100%);

  background: -webkit-linear-gradient(top, #c2000d 0%, #8f020c 100%);

  background: -o-linear-gradient(top, #c2000d 0%, #8f020c 100%);

  background: -ms-linear-gradient(top, #c2000d 0%, #8f020c 100%);

  background: linear-gradient(to bottom, #c2000d 0%, #8f020c 100%);

  

  font-size: 16px;

  font-weight: bold;

  color: #FFF;

  text-shadow: 0 1px 1px #224BBC;

  padding: 14px 15px;

  display: inline-block;

  border-radius: 3px; line-height:22px; width: 100%; border: 0; cursor: pointer;

}
.btn2{ background: -moz-linear-gradient(top, #c2000d 0%, #8f020c 100%);

  background: -webkit-linear-gradient(top, #c2000d 0%, #8f020c 100%);

  background: -o-linear-gradient(top, #c2000d 0%, #8f020c 100%);

  background: -ms-linear-gradient(top, #c2000d 0%, #8f020c 100%);

  background: linear-gradient(to bottom, #c2000d 0%, #8f020c 100%);

  

  font-size: 16px;

  font-weight: bold;

  color: #FFF;

  text-shadow: 0 1px 1px #224BBC;

  padding: 9px 20px;

  display: inline-block; border-radius: 3px; line-height:22px; border: 0; cursor: pointer;}


.button3 {

  background: -moz-linear-gradient(top, #202020 0%, #292828 100%);

  background: -webkit-linear-gradient(top, #202020 0%, #292828 100%);

  background: -o-linear-gradient(top, #202020 0%, #292828 100%);

  background: -ms-linear-gradient(top, #202020 0%, #292828 100%);

  background: linear-gradient(to bottom, #202020 0%, #292828 100%);

  padding: 1px;

  display: inline-block;

  border-radius: 4px;

  box-shadow: 0 1px 1px #202020;

  cursor: pointer; width:100%; text-align:center; margin-top:10px;  

} 
.b2c-alert{ width: 100%; text-align: center;}

.button3 span {

  background: -moz-linear-gradient(top, #202020 0%, #292828 100%);

  background: -webkit-linear-gradient(top, #202020 0%, #292828 100%);

  background: -o-linear-gradient(top, #202020 0%, #292828 100%);

  background: -ms-linear-gradient(top, #202020 0%, #292828 100%);

  background: linear-gradient(to bottom, #202020 0%, #292828 100%);

  font-family: "Helvetica Neue", sans-serif;

  font-size: 16px;

  font-weight: bold;

  color: #FFF;

  text-shadow: 0 1px 1px #224BBC;

  padding: 10px 15px;

  display: inline-block;

  border-radius: 3px; line-height:22px;

}

.button:hover {

  background: -moz-linear-gradient(top, #8f020c 0%, #c2000d 100%);

  background: -webkit-linear-gradient(top, #8f020c 0%, #c2000d 100%);

  background: -o-linear-gradient(top, #8f020c 0%, #c2000d 100%);

  background: -ms-linear-gradient(top, #8f020c 0%, #c2000d 100%);

  background: linear-gradient(to bottom, #8f020c 0%, #c2000d 100%);

}

.button:hover span {

  background: -moz-linear-gradient(top, #8f020c 0%, #c2000d 100%);

  background: -webkit-linear-gradient(top, #8f020c 0%, #c2000d 100%);

  background: -o-linear-gradient(top, #8f020c 0%, #c2000d 100%);

  background: -ms-linear-gradient(top, #8f020c 0%, #c2000d 100%);

  background: linear-gradient(to bottom, #8f020c 0%, #c2000d 100%);

}

.choose_temp{ margin:0; padding:0; list-style:none; text-align:center; max-width:600px; margin:0 auto;}

.choose_temp li{ float:left; margin:5px; display:inline-block; width:45%; margin:2.5%;  overflow:hidden; font-size:12px;}

.choose_temp li img{ width:99%; height:auto; border: solid 1px #ccc;}

.choose_temp li img:hover{border: solid 1px #8f020c;}

.choose{ text-align:center;}

.standard{ margin:10px 0; line-height:25px;}
.add_logo{padding:14px 16px !important;height:46px !important; background:#202020 !important; border: solid 1px #202020 !important;}

.add{padding:14px 16px !important;height:46px !important; background:#202020 !important; border: solid 1px #202020 !important;}

.remove{padding:14px 16px !important;height:46px !important; background:#202020 !important; border: solid 1px #202020 !important;}

.choose_temp li h4{ font-size:12px; color:#202020; text-align:center; display:block; padding:8px 0; margin:0; background:#dfdfdf; width:269px; }
.choose_temp li h4 label{ font-size:13px; margin:0 !important; cursor:pointer;}
.choose_temp li h4 label span, .choose_temp li h4 label input{ display:inline-block; float:left;}
.choose_temp li h4 label span{ margin-top:1.5px;}
.choose_temp li h4 label div{ display:inline-block;}


.lej_form input[type="text"], .lej_form textarea, .lej_form select, .lej_form input[type="file"] {

	vertical-align: middle;

	line-height: 1.1em;

	margin-bottom:3px;

	width: 99%;

	padding:10px;

	border-style: solid;

	border-width: 1px;

	box-sizing: border-box;

	-moz-box-sizing: border-box;

	-ms-box-sizing: border-box;

	-webkit-box-sizing: border-box;

	/*ie7*/

	*width: 99%;

	border-color:#c6c6c6 #dadada #eaeaea;

	background: #fafafa;

	color:#999;

	font-size:1.4em;

	font-family:inherit;

	/*corner*/

		-moz-border-radius: 4px;

	-webkit-border-radius: 4px;

	border-radius: 4px;

}
.lej_form input[type="file"]{ padding:5px;}

	/* -------------------- MEDIA QUERIES -----------------------*/

	/* Smartphones (portrait and landscape) â€”â€”â€”â€“ */

	@media only screen  and (min-width : 320px)  and (max-width : 480px) {

/* Styles */

	.lej_form input[type="submit"], .lej_form input[type="button"], .lej_form input[type="reset"] {

	width: 100%;

}

}

	/* Smartphones (landscape) â€”â€”â€”â€“ */

	@media only screen  and (min-width : 321px)  and (max-width : 480px) {

/* Styles */	

	}

	/* Smartphones (portrait) â€”â€”â€”â€“ */

	@media only screen  and (max-width : 320px) {

/* Styles */

	.lej_form input[type="submit"], .lej_form input[type="button"], .lej_form input[type="reset"] {

	width: 100%;

}

}

	/* iPads (portrait and landscape) â€”â€”â€”â€“ */

	@media only screen  and (min-width : 768px)  and (max-width : 1024px) {

/* Styles */

	.lej_form {

	max-width: 500px;

	margin:0px auto;

}

.lej_form input[type="submit"], .lej_form input[type="button"], .lej_form input[type="reset"] {

	width: 70%;

	margin:0 15%;

}

}

	/* iPads (landscape) â€”â€”â€”â€“ */

	@media only screen  and (min-width : 768px)  and (max-width : 1024px)  and (orientation : landscape) {

/* Styles */

	.lej_form {

	max-width: 500px;

	margin:0px auto;

}

.lej_form input[type="submit"], .lej_form input[type="button"], .lej_form input[type="reset"] {

	width: 70%;

	margin:0 15%;

}

}

	/* iPads (portrait) â€”â€”â€”â€“ */

	@media only screen  and (min-width : 768px)  and (max-width : 1024px)  and (orientation : portrait) {

/* Styles */

	.lej_form {

	max-width: 500px;

	margin:0px auto;

}

.lej_form input[type="submit"], .lej_form input[type="button"], .lej_form input[type="reset"] {

	width: 70%;

	margin:0 15%;

}

}

	/* Desktops and laptops â€”â€”â€”â€“ */

	@media only screen  and (min-width : 1224px) {

/* Styles */

	.lej_form {

	max-width: 600px;

	margin:0px auto;

}

}

	/* Large screens â€”â€”â€”â€“ */

	@media only screen  and (min-width : 1824px) {

/* Styles */

	.lej_form {

	max-width: 600px;

	margin:0px auto;

}

}

	/* iPhone 4 â€”â€”â€”â€“ */

	@media  only screen and (-webkit-min-device-pixel-ratio : 1.5),  only screen and (min-device-pixel-ratio : 1.5) {

/* Styles */

	.lej_form input[type="submit"], .lej_form input[type="button"], .lej_form input[type="reset"] {

	width: 100%;

}

}



span.authError {

    color: #E01E27;

    display: block;

    font-size: 1.2em;

    margin-left: 0;

    margin-top: -11px;

}

button.add{background-image:url(images/add.png); background-position:0px 10px;}

.plusicon{float:left;margin-right:5px;}
.plusicon:hover{
    opacity:0.6;
filter:alpha(opacity=60); /* For IE8 and earlier */
}
.upload123{float:left;}
.clear{clear:both!important;float:none!important;margin:0;padding:0;height:0;font-size:0;}
.logo{float:left;}
.photo{float:left;}
.footer{background:#2F2F2F;padding:20px 10px;text-align:center;color:#8e9292;font-size:13px;}
.footer img{vertical-align:middle;}
.box3{  color: #2B2B2B;
    font-size: 1.4em;
    height: auto;
    line-height: 1.3em;
    margin: 0.2em 0 0.5em;
    vertical-align: middle;}
.container h1 img{max-width: 95%;}
.whatispaypal{font-size: 12px;}
.whatispaypal a{color: #C2000D;}
.tradingshours{}
.tradingshours label{float: left; font-size: 12px; vertical-align: middle; padding-top: 7px; padding-right: 5px; width: 72px;}
.tradingshours input[type='text']{width: 49%; float: left;}
.has-error .help-block, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #a94442;
}
.help-block{ width:100%; float:left; font-size:12px; margin-bottom:2px; margin-left:1px;}
.days-field{ width:50%; padding: 0 5px; box-sizing:border-box; float:left;}
.row{ margin:0 -5px; display:block;}
.container{padding: 0px !important;}
.item{text-align: center !important;}
.item img{display: inline-block;margin: auto !important;}
.form-group{margin-bottom: 0px !important;}
 
/*.slp-top {
    top: 75px !important;
}
.slp-bottom {
    bottom: 75px !important;
    top: auto !important;
}
.sln-top {
    top: 75px !important;
}
.sln-bottom {
    bottom: 75px !important;
    top: auto !important;
}*/
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: 45px !important;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 60px !important;
}
.carousel-control{
	font-size: 57px !important;
}
.slp-top{
	top: 50% !important;
    position: absolute !important;
}
.sln-top{
	top: 50% !important;
    position: absolute !important;
}
.glyphicon.glyphicon-menu-left.slp-top {
    left: 0 !important;
}
.modal-header > a {
    color: #585858;
    float: right;
    font-size: 13px;
    margin-right: 19px;
    margin-top: 4px;
    text-decoration: underline;
}