@charset "utf-8"; /* CSS Document */



@font-face { font-family: 'futuraregular'; src: url('../fonts/futura-t-ot-book_19064-webfont.eot'); src: url('../fonts/futura-t-ot-book_19064-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/futura-t-ot-book_19064-webfont.woff2') format('woff2'),

         url('../fonts/futura-t-ot-book_19064-webfont.woff') format('woff'),

         url('../fonts/futura-t-ot-book_19064-webfont.ttf') format('truetype'),

         url('../fonts/futura-t-ot-book_19064-webfont.svg#futura_t_otregular') format('svg'); font-weight: normal; font-style: normal; }
* { margin: 0px; padding: 0px; border: medium none; outline:none!important; list-style: outside none none; font-size: 100%; box-sizing: border-box; }
*,

*:before,

*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline:none!important; }
html,body{height:100%; }
body { color: #4f4f4f; font-family: 'futuraregular'; font-weight: 300; font-size: 13px; }
/* tables still need 'cellspacing="0"' in the markup */

table { border-collapse: collapse; border-spacing: 0; }
a {text-decoration: none!important; }
a img { border: none; }
img{max-width:100%; }
.form-control:focus { outline: none !important; border:1px solid #CCC; box-shadow:none; }

@import url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css'); .m_head{ background:#dfdfdf!important; padding:10px 15px!important; min-height:47px; }
.navbar{ min-height:45px!important; background:#d8d8d8!important}
.con_area{ padding:15px; }
a{ transition:all ease-in-out 0.2s;}
.category_image{ text-align:center; }
.category_image img{ width:80%; height:auto; margin:0 auto;max-width:600px; }
.category_title{background: #fff url("../images/bg_shadow.png") repeat-x scroll 0 0!important; padding:15px 15px 10px 10px; }
.filter span{ padding:5px 10px; color:#fff; margin-left:10px; border-radius:5px; }
.category_name{ font-size:17px; }
.cate_detail{ }
.filter span a{ color:#fff; }
.category_list ul{ /*margin:0 10px; */ padding:0; list-style:none; border:solid 1px #ccc; border-radius:5px; margin-bottom:15px; }
.category_list ul li{ border-bottom:solid 1px #ccc; padding:5px; min-height:75px; clear:both; }
.product-image{ /* width:20%; */ display:inline-block; float:left; }
.product-shop{ width:75%; padding-left:15px;display:inline-block; box-sizing:border-box; }
.c-list .wrap{ clear:both; }
.product-shop h1{ font-size:15px; color:#696969; margin-top:5px; }
.price-box{ color:#696969; }
.product_detail{ padding:10px; /*padding-top:0; */}
.product_det { padding: 15px; }
.product_detail label{ width:100%; display:block; }
.product_detail input{ width:100%; margin-bottom:7px; border:solid 1px #e4e4e4; }
.product_head{ padding:15px; font-size:17px; }
.product_detail .btn{ background:#2a9dca; color:#fff; text-transform:uppercase; font-weight:bold; margin:15px 0; }
.product_detail .btn:hover {background-color: #1b6e8e;border-color: #1b6e8e;}
.cart_dec .btn{ background:#858585; color:#fff; text-transform:uppercase; font-weight:bold; margin:0 auto; width:80%; }
.promo .apply-code {background: #2a9dca;}
.promo .apply-code:hover {background-color: #1b6e8e;border-color: #1b6e8e;}
a.btn.btn-block.btn-prcd-chkout {background: #2a9dca;}
a.btn.btn-block.btn-prcd-chkout:hover {background-color: #1b6e8e;border-color: #1b6e8e;}
.price{ font-size:15px; font-weight:bold; }
.product_detail table { border: 1px solid #E7E7E7; margin: 5px 0; border-collapse: collapse; width: 100%; margin: 0; font-size: 12px; }
.product_detail tbody td { padding: 7px 7px 6px 8px; border-bottom: 1px solid #E7E7E7; border-right: 1px solid #E7E7E7; vertical-align: middle; }
.cart_dec{ padding:15px 10px; -webkit-box-shadow: inset 0px 19px 29px -23px rgba(0,0,0,0.2); -moz-box-shadow: inset 0px 19px 29px -23px rgba(0,0,0,0.2); box-shadow: inset 0px 19px 29px -23px rgba(0,0,0,0.2); }
/*.product-image img{ width:100%; height:auto; }
*/

.quantity input{ width:35px!important; border:solid 1px #CCC; text-align: center}
.quantity { margin:15px 0; }
.cart_price{ font-weight:bold; font-size:13px;margin:15px 0; padding-top:8px; }
.promo{ text-align:center; }
.cart_amount{ text-align:right; padding:15px; }
.account{ padding:10px; }
.account h1{ font-size:18px; margin-top:10px; }
.p_info h2{ font-size:15px; font-weight:bold; margin-top:0; }
.p_info { border:solid 1px #ccc; padding:10px; margin-bottom:15px; }
.p_info label{ width:100%; font-weight:normal; }
.p_info input{ width:100%; border:solid 1px #ccc; }
.checkout_content{ border:solid 1px #ccc; padding:15px; margin-bottom:10px; }
.checkout_head{ padding:10px; font-weight:bold; color:#fff; background:#858585; margin-top:10px; }
.checkout_head a{ color:#fff; }
.checkout_content h3{ margin-top:0; font-size:14px; font-weight:bold; }
.checkout_type input{ margin-right:5px; }
.checkout_content label{ font-weight:normal; display:block; }
input[type=text] { width:100%; padding:5px; border:solid 1px #ccc; margin-bottom:5px; }
.inactive{ opacity:0.6}
.carousel-indicators{ bottom:0; }
.cart_dec .product_detail{ padding-bottom:0; }
.shopping{ position:relative; }
.shopping span{ position:absolute; top:0; right:0; color:#858585; font-size:12px; }
.edit .fa{ margin-right:5px; }
a{ color:#404040; }
@media only screen 

and (min-device-width : 320px) 

and (max-device-width : 480px) 

and (orientation : portrait) { /*.navbar-form { padding: 5px 5px 5px 0 !important; width: 175px; }
*/

 }
.item-options p{ margin: 0 0 0 2px !important; }
.product_head {text-align:center; text-transform: uppercase; }
.btn-block { background: #666 none repeat scroll 0 0; color: #fff; display: block; font-weight: bold; padding: 4px 0; text-align: center; text-transform: uppercase; width: 100%; }
/*.nav li{background:rgba(0, 0, 0, 0) url("../images/bg_divider.png") no-repeat scroll right center; padding: 0 6px; }*/
.logo a { display: inline-block; padding: 10px 0; }
.navbar-default .navbar-nav > .active , .navbar-default .navbar-nav > .active :focus, .navbar-default .navbar-nav > .active:hover{ background-color: #e7e7e7; color: #555; }
.gallery-view { margin-bottom: 30px; }
.gallery-view h2 {font-size: 18px; }
.category_list .c-list { border: medium none; }
.choose_file { background-color: #858585; border: 1px solid #858585; border-radius: 8px; box-sizing: border-box; color: #fff; display: inline-block; font: 14px arial; margin-bottom: -2px; margin-top: 2px; padding: 8px; position: relative; white-space: nowrap; width: 100%; text-align:center; height: 40px; margin-bottom:37px; }
.form-group.field-takeaphotoform-photo input { border: medium none; left: 0; opacity: 0; position: absolute; top: 0; }
.choose_file .help-block { margin-left: -11px; margin-top: 20px; overflow: hidden; padding-bottom: 7px; text-align: left; }
/* Checkout

-----------------------------*/

.opc { list-style:none; margin:0; padding:0; }
.form-list, .form-list ul{ list-style:none; padding:0; }
.opc p.required { font-size:10px; line-height:12px; /*margin:10px 0 0; */ text-align:right; }
.opc .back-link { display:none; }
.opc .v-middle { vertical-align:middle; }
.opc .please-wait { display:block; font-size:12px; padding:10px; text-align:center; }
.opc .step-title { background:url(../images/bg_gradient.png) repeat-x center #7f7f7f; color:#fff; height:40px; line-height:30px; padding:5px 8px; }
.opc .step-title h2 { font-size:15px; font-weight:bold; float:left; margin: 8px 0; }
.opc .step-title .number { display:none; }
.opc .step { background-color:#fff !important; padding:10px; position:relative; }
.opc .step .form-list { margin:0 0 0px; }
.opc .section { margin:0 0 10px; opacity:1; }
.opc .section.allow.active { opacity:1; }
.opc .section.allow .step-title h2:before { background:rgba(0, 0, 0, .5); border-radius:5px; content:'+'; font-family:Arial; display:inline-block; line-height:15px; padding:5px 0; text-align:center; margin:2px 5px 0 0; vertical-align:top; width:20px; }
.opc .section.allow.active .step-title h2:before { display:none; }
.checkout-onepage-payment-additional-giftcardaccount { margin:15px 0; }
#checkout-step-login h4 { color:#424242; margin:0 0 10px; }
#checkout-step-login p { color: #424242; }
#checkout-step-login .col-1 { margin:0 0 0px; }
#checkout-step-login .col-1 .buttons-set { position:relative; margin:50px 0 0; }
#checkout-step-login .col-1 .buttons-set a[href*="forgotpassword"] { background:#fff; position:absolute; top:-35px; }
.opc .sp-methods > dt { color:#424242; font-size:15px; font-weight:bold; line-height:18px; margin:0 0 10px; }
#checkout-shipping-method-load .sp-methods dt {display: none; }
.opc .tool-tip { background:#fff; position:absolute; padding:10px; -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5); }
.opc .tool-tip .btn-close { padding:0 0 15px 0; text-align:right; font-size:13px; }
.opc .tool-tip .btn-close a { color:#DF2327; }
.opc .tool-tip .tool-tip-content img { width:100%; }
.opc .cvv-what-is-this { border-bottom:1px dashed; display:inline-block; margin:5px 5px 0; font-size:13px; vertical-align:top; }
.opc li:last-child .step { padding:0; }
#checkoutSteps li .step .input-box .v-fix { display:inline-block; width:49%; }
#checkoutSteps li .step .input-box .v-fix .year { width:auto; }
.tool-tip .btn-close { padding:0 0 5px 0; text-align:right; font-size:13px; }
.tool-tip .btn-close a { color:#DF2327; }
.tool-tip .tool-tip-content img { width:100%; }
.opc .order-review .data-table { font-size:13px; border-spacing:0; border-collapse:collapse; margin:0 0 15px; width:100%; }
.opc .order-review .data-table thead tr,

.opc .order-review .data-table tbody tr:first-child { text-align:left; }
.opc .order-review .data-table tbody tr:last-child td:last-child { font-weight:bold; }
.opc .order-review .data-table th { text-align:left; }
.opc .order-review .data-table th:last-child { float:right; }
.opc .order-review .data-table th,

.opc .order-review .data-table td { padding:5px; }
.opc .order-review .data-table tfoot { background:#eee; }
.opc .order-review .data-table tfoot th { font-weight:normal; text-align:right; }
.opc .order-review .data-table tfoot th .btn-remove { height:20px; width:20px; vertical-align:bottom; }
.opc .order-review .data-table tfoot th .btn-remove img { display:none; }
.opc .order-review .data-table .product-name { color:#424242; font-size: 12px; font-weight: bold; }
.opc .order-review .data-table .item-options { font-size:12px; margin:10px 0 0; }
.checkout-review-table { padding:0; }
.opc .order-review .buttons-set > p { margin:15px 0; }
#checkoutSteps #customerbalance_placer { padding:0 0 10px; }
.opc .add-gift-message, .opc .gift-message-form { margin:10px 0 20px; }
.opc .gift-message-form .price, .opc .gift-wrapping-form label { font-weight:bold; }
.opc .gift-wrapping-form label { color:#424242; }
.opc .gift-options-for-order { border:1px solid #e4e4e4; border-radius:2px; box-shadow:0 0 3px rgba(0, 0, 0, .15); margin:10px 0; padding:10px; }
.opc .gift-options-for-order div > a { display:inline-block; margin:10px 0 0; }
.opc .gift-options-for-order .fieldset { margin:10px 0 0; }
.opc .gift-wrapping-design { padding:10px 0 0; overflow:hidden; }
.opc .gift-wrapping-design .image-box { float:left; margin:0 10px 10px 0; }
.opc .add-gift-message  h3, .opc .gift-message-form h4 { color:#424242; font-weight:bold; line-height:18px; margin:0 0 10px; }
.opc .gift-message-form p { margin:0 0 8px; }
.opc .gift-message-form ol { list-style:none; margin:0 0 10px; padding:0; }
.opc .gift-message-form .number { display:none; }
.opc .gift-message-form .product-image { margin:0 0 2px; }
.opc .gift-message-form .product-image img { }
.opc .gift-message-form .product-img-box { float:left; margin-right:10px; }
.opc .gift-message-form .gift-item:after { content:""; clear:both; display:table; }
.opc .gift-message-form .form-list { clear:both; margin:0; }
.opc .gift-item { border:1px solid #e4e4e4; border-radius:2px; box-shadow:0 0 3px rgba(0, 0, 0, .15); margin:0 0 10px; padding:0; }
.opc .gift-item .product-name { color:#424242; }
.opc .gift-item .fieldset { padding:10px; }
.opc .gift-item .product-img-box { float:none; padding:10px; text-align:center; }
.opc .gift-item .options-items-container + p { margin:5px 0; }
.extra-options-container { clear:both; }
.opc .checkout-agreements { border:1px solid #e4e4e4; list-style:none; padding:10px; }
.opc .checkout-agreements .agree { font-weight:bold; margin:10px 0 0; text-align:center; }
.opc .checkout-agreements .agree input,

.opc .checkout-agreements .agree label { margin-right:10px; vertical-align:middle; }
/*************************** Checkout ends ************************************************/

.button.continue { background: #2a9dca none repeat scroll 0 0; border: medium none #2a9dcag; border-radius: 4px; color: #fff; font-weight: bold; line-height: 1.42857; margin: 0 auto; padding: 6px 12px; text-transform: uppercase; width: 80%; }
.button.continue:hover {background-color: #1b6e8e;border-color: #1b6e8e;}
.buttons-set { text-align: center; width: 100%; }
.checkout_type .radio.authentication { display: inline-block; ; }
#checkoutSteps label{ font-size:12px; }
#checkout-step-billing .form-control { /*margin-top: -22px; */}
.site-checkout .control-label{ display:none; }
.button{ background: #2a9dca none repeat scroll 0 0; border: medium none #2a9dca; border-radius: 4px; color: #fff; }
.button:hover {background-color: #1b6e8e;border-color: #1b6e8e;}
#review-buttons-container { margin-bottom: 15px; }
#checkoutSteps .pull-right { color: #fff; float: right; font-weight: normal; text-transform: capitalize; }
#checkout-review-table .price { font-size: 12px; }
.pagination { margin-top: 15px !important; }
.pagination .active  a { background: #ccc none repeat scroll 0 0; border: 1px solid #ccc; }
.pagination .active a:hover { background: #ccc none repeat scroll 0 0; border: 1px solid #ccc; }
.pagination li { padding: 0 !important; }
.pagination > li > a, .pagination > li > span { color: #404040; }
.checkout_container { width: 100%; padding:0; }
.site-signup h1 { font-size: 18px; font-weight: bold; text-transform: uppercase; }
#form-signup h2 { font-size: 16px; font-weight: bold; }
#form-signup label { font-size: 13px; margin:0; }
#form-signup .form-group { margin: 10px 0; }
button.btn-primary { background: #2a9dca none repeat scroll 0 0; border: 1px solid #2a9dca; }
.btn-primary:hover { background-color: #1b6e8e; border-color: #1b6e8e; }
.site-login { padding: 0 15px; }
.site-login h1 { font-size: 18px; text-transform: uppercase; }
#checkout-step-payment .button { font-size: 14px; font-weight: bold; padding: 6px 12px; width: 80%; float: left; }
#payment_form_giftvoucher_dd .input-box { text-align: center; }
.button.btn-checkout { font-weight: bold; padding: 6px 12px; width: 80%; }

/************* Search page ****************************/

.search_content .page-title h2 { font-size: 16px; padding: 0 10px; text-transform: uppercase; }
.search_content { padding: 0 10px; }
.search_products .item.first { list-style: outside none none; }
.search_content .item{border: 1px solid #ccc;float: left;padding: 10px; margin-bottom:15px; }
.search_content .list-link-hc{ float: left; padding-right:10px; display: inline-block; width: 50%; }
.search_content .list-link-hc img{ max-width:100%; }
.search_content .product-name{ float: left; font-weight: 600; font-size: 15px; width: 100%; margin-top: 0; }
.search_content .actions{ float: left; width: 50%; }
.search_content .price-box { color: #696969; float: left; width: 50%; }
.search_products ol, .search_products ul{ padding-left:0; }
.search_content .regular-price span span{ font-size: 17px; font-weight: 600; margin-bottom: 4px; display: inline-block; }
.search_content .price-box { padding-left:10px; color: #696969; float: left; width: 50%; text-align:right; padding-top: 21px; }
.search_content .btn-cart{ padding: 7px 10px; float:right; }
.search_content .actions{ padding-left:10px; }
.search_content .summary{ padding-left: 14px; padding-bottom: 10px; }
/************* Search page ****************************/

#checkoutform-shipping_method .radio label { line-height: 23px; }
.success-msg h1 { font-size: 18px; }
.success-msg button { background: #858585 none repeat scroll 0 0; border: 1px solid #858585; border-radius: 5px; color: #fff; font-weight: bold; margin-bottom: 10px; padding: 6px 12px; }
.success-msg .continue_button { text-align: center; }
.cart-empty a { text-decoration: underline; }
.sp-methods .radio { display: inline-block; }
.error-msg { color: red; }
.sub-menu { margin: 6px 0 0 !important; }
.parent .main_menu{ padding: 9px 17px; display: block; position:relative; }
.parent .main_menu:after{ width:16px; height:16px; position:absolute; right:9px; font-family: FontAwesome; top:11px; content:"\f067"; transition:all ease-in-out 0.2s; }
.main_menu.active_menu {background: #ccc; }
.main_menu.active_menu:after{ content:"\f068"; }
.sub-menu li:last-child{ /*border-bottom:0; margin-bottom:-10px; */}
.sub-menu .parent .main_menu{ margin: 0; padding: 9px 25px; }
.sub-menu li a { padding: 9px 25px !important; }
.cart_dec .product-image {margin-right: 12px; }
.sub-menu .sub-menu li a{ padding: 9px 35px !important; }
.page-title h1 {font-size: 20px; }
/*.sub-menu li a{ padding:0 !important; }
*/

.page-title h2 {font-size: 17px;font-weight: bold; margin: 0 0 10px; }
ol.breadcrumb { padding: 3px 6px; margin-top: 15px; }
ol.breadcrumb .breadcrumb { margin: 0; }
.brand_logo img { max-width: 85%; max-height: 90%; }
.brand_logo {width: 100%;height: 102px; border: #ccc 1px solid; margin-bottom: 10px; text-align: center; overflow: hidden; line-height:102px;}
.listingpage { margin-top: 15px; }
.cms-pages-view h1 { font-size: 17px; font-weight: bold; }
.page-title {width: 100%; float: left; padding: 0 15px; }
.category-products { padding: 15px; }
.summary { width: 100%; float: left; margin-bottom: 5px; }
.owl-item img { width: 100%; }
.owl-prev:after, .owl-next:after{ content:"\f053";font-family: FontAwesome;width:25px;height:25px;font-size:33px;color:#ccc;position:absolute;display:inline-block;left:0;top:0;bottom:0;margin: auto;text-indent:0; }
.owl-next {left: auto; right: 0; }
.owl-prev, .owl-next { bottom: 0; margin: auto;overflow: hidden; position: absolute; text-indent: -999px; top: 0; width: 21px; }
.owl-next:after{ content:"\f054"; }
.sp-methods{ padding: 15px; }
.sp-methods .fa-plus-circle{ padding: 0 0 15px; }
.payment-method-options{padding: 10px; }
#braintree-paypal-button{margin-bottom: 20px !important; }
.opc .order-review .data-table td.a-center {text-align: center; }
dd#payment_form_giftvoucher_dd { margin-bottom: 20px !important; overflow: hidden; }
button#giftvoucher_add { width: 200px !important; text-align: center; }
.check-gift-title{font-weight: bold; margin-bottom: 10px; float: right; font-size: 14px; margin-left: 6px; font-family: 'Open Sans', sans-serif; }
h1 { font-size:21px; }
.empty-wrapper a{ background: #858585 none repeat scroll 0 0; border: 1px solid #858585; border-radius: 5px; color: #fff; font-weight: bold; margin-bottom: 20px; float:left; padding: 6px 12px; }
.empty-wrapper .fa-shopping-cart:before { content: ''; }
.empty-wrapper h1 { margin-top: 0; }
button#giftvoucher_add { margin-top: 10px; }
li#giftvoucher_message { margin-bottom: 10px; }
li.giftvoucher-discount-code {font-style: italic; margin: 10px 0; }
button.remove-voucher { border: none; background: none; }
.sp-methods .fa-minus-circle{ font-size: 15px; }
select.stored-billing-address, .site-checkout select {width: 100%; padding: 7px; border:1px solid #CCC; }
select.stored-billing-address option { font-size: 12px; }
.issuuembed.issuu-isrendered { width: 100% !important; }
.promo_list .category_name { font-weight: bold; text-transform: uppercase; }
.hide-catalog { background: #858585; float:left; margin:10px 0; margin-bottom: 15px; border: 0; color: #fff; font-size: 14px; padding: 2px 15px; font-weight: bold; text-transform: uppercase; border-radius: 4px; }
.promo_list .category_list { padding: 0 10px; }
.promotion-start {text-align:left; }
.promo_list .category_list { padding: 0 10px; }
.issu-promotion { background:#ccc; margin-bottom: 12px; }
.pagination li a, .pagination li span{ padding:5px 6px !important; }
.promo_list .category_title, .promo_list .items{ text-align: left; }
.promo_list{ text-align:center; }
.pcover{ width:100% !important; float:left; }
.pcover img{ float:left; }
.pcover img { -webkit-transform: translate(-50%, -50%) !important; }
.mapaddress span { border-bottom: 1px solid #ccc; display: block;font-size: 14px; font-weight: bold;margin: 10px 0; padding: 5px 0px 7px 0; margin-bottom: -10px; text-transform: uppercase; }
.site-contact .row {margin:0; }
.mapaddress { margin-bottom: 15px; white-space: pre-line; }
.mapcont .contact { border-bottom: 2px solid #858585;clear: both; float: left; font-size: 14px;font-style: italic;font-weight: bold; line-height: 14px; margin-top: 10px;text-decoration: none; }
.mapinner iframe{ width:100% !important; margin: 15px 0; }
.trading_hours span { float: left; font-weight: bold; margin-top: 10px; width: 100%; }
.mapcont {border-bottom: 1px solid #ccc; width: 100%; float: left; padding-bottom: 15px; }
.sm-row{ margin:0 -15px !important; }
#contactform-verifycode-image { margin-top: -11px; }


.main-bg{position:relative;overflow: hidden; }
header,section,footer{float:left;width:100%; }
/*-------------HEADER-------------------------------*/

.logo-bg{padding:5px 0; }
.logo-bg > .logo{width:100%; text-align:center; /*  background:url(../images/logo.png) no-repeat; */}
.logo-bg > .logo img{ max-width:70%;}
.nav-bg{background:#363636;float:left;width:100%; }
.nav-bg ul{margin:0;float:left;width:100%; }
.nav-bg ul li{float:left;color:#fff;text-align:center;padding:10px 0; position: static; }
.nav-bg img{width:auto; }
.nav-bg .ico-bar{background:url(../images/ico-bar.png) no-repeat;width:22px;height:19px;margin:3px auto 0; }
.nav-bg .ico-user{background:url(../images/ico-user.png) no-repeat;width:23px;height:23px;margin:2px auto 0; }
.nav-bg .ico-fav{background:url(../images/ico-fav.png) no-repeat;width:22px;height:20px;margin:3px auto 0; }
.nav-bg .ico-cart{background:url(../images/ico-cart.png) no-repeat;width:32px;height:27px;position:relative; }
.nav-bg .ico-cart .badge{position:absolute;background:#fff;padding:3px 6px;border-radius:50%;left:33%;color:#363636; }
.nav-bg .ico-bg{width:32px;height:25px;margin:0 auto; }
ul.dropdown-menu > li{width:100%;padding:0;font-size:17px;margin:0; }
ul.dropdown-menu{border-radius:0; z-index:999; }
/*-------------HEADER--------------------------------*/ 



/*-------------search-bg--------------------------------*/  

.search-bg{float:left;width:100%;background-color: #fff; }
.search-bg form{margin:0; }
.search-bg input{ box-shadow: none; border:none;padding:10px 0px;width:100%;height:auto; }
.search-bg input:focus{box-shadow: none;border:none; }
.search-bg button{ margin: 2px 0 0 0; background: none; box-shadow: none; border: 0; color: #666666; padding: 0 0 0 10px; }
.search-bg button:hover{border: 0;box-shadow: none; }
.search-bg .fa-search{font-size: 20px;font-weight:normal; }
/*-------------search-bg--------------------------------*/  

    

/*------------owl slider----------------------------*/



#owl-demo .item img{ display: block; width: 100%; height: auto; }
.owl-carousel{float:left!important; }
.owl-theme .owl-controls .owl-page{display: inline-block; }
.owl-theme .owl-controls .owl-page span { background: #869791 none repeat scroll 0 0; border-radius: 20px; display: block; height: 10px; margin: 5px 2px; opacity: 0.5; width: 10px; }
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{opacity: 1; }
.owl-theme .owl-controls .owl-page span.owl-numbers { border-radius: 30px; color: #fff; font-size: 12px; height: auto; padding: 2px 10px; width: auto; }
.owl-pagination{position:absolute;width:100%; }
.owl-controls .owl-page, .owl-controls .owl-buttons div {cursor: pointer; }
.owl-theme .owl-controls {text-align: center; width:100%; position:absolute; bottom:27px; z-index:100; }
.owl-buttons{float:left;width:100%;z-index: 200;position: absolute;top: 47%;color:#fff;font-weight:bold;font-size:30px; }
.owl-buttons .owl-next,.owl-buttons .owl-prev{float:right;padding: 0px 7px 0 10px;background:rgba(0,0,0,0.4); }
.owl-buttons .owl-prev{float:left;padding: 0px 10px 0 7px; }
/*------------owl slider----------------------------*/  

.all-list-bg{padding:15px 0 12px;background:#f3f3f3; }
.all-list-bg h1{font-size:26px;color:#272727;text-align:center;margin:0 0 10px; }
.small-border{width:72px;height:1px;margin:0 auto 15px;background:#b5b5b5; }
.items-bg{border:1px solid #d5d5d5;border-radius:2px;background:#fff;padding:0 5px;float:left; position:relative;width:100%; }
.items-bg .fav-mainbg{position:absolute;right:10px;width:15px;height:13px; top:7px; font-size:16px }
.items-bg .fav-mainbg .fa-heart{ color:red;}
.items-bg .fav-mainbg .fa-heart-o { color:#7f7f7f; }
.items-padd{padding-right:8px; }
.items-padd1{padding-left:8px; }
.items-bg .product-img { float: left; width: 100%; text-align: center; height: 110px; max-height: 110px; line-height: 110px; padding:0 10px; margin-bottom: 10px; }
.items-bg .product-img img { max-width: 80%; max-height: 105px; width: auto; }
.items-bg .prdct-details { float: left; width: 100%; text-align: center; }
.items-bg .prdct-details h5 { font-size: 14px; color: #4F4F4F; margin: 0px 0px 2px; white-space:nowrap; overflow: hidden; text-overflow:ellipsis; }
.items-bg .prdct-details .price { font-size:15px; color: #f93f45; }
.items-bg .prdct-details .add-cart-bg { margin: 10px auto 10px; width: 80%; }
.items-bg .prdct-details .add-cart-bg a{ text-align: center; font-size: 15px; color: #777777; padding:5px 0; border:1px solid #9b9b9b; display:block; width: 100%; }
.bottom-icons{border-top:1px solid #d5d5d5;border-right:1px solid #d5d5d5;padding:35px 15px;text-align:center; }
.border-right{border-right:none; }
.bottom-icons-bg{width:34px;height:34px;margin:0 auto; }
.bottom-icons h4{color:#636363;font-size:18px;margin:15px 0 0; }
.bottom-icons img{width:auto; }
footer{background:#363636;text-align:center; }
footer h1{padding:20px 0;margin:0;color:#fff;font-size:22px;text-transform:uppercase;background: #D5D5D5; }
footer h1 i{margin-left:15px; }
footer h1 a,footer h1 a:hover{color:#000!important; }
footer .bottom-links{padding:17px 0 2px 0;float:left;width:100%; }
footer .bottom-links ul{ width:100%; float:left; text-align:center; }
footer .bottom-links ul li{ display:inline-block; padding:0 10px;border-right:1px solid #a2a2a2; font-size:15px;line-height:14px; margin-bottom:15px; }
footer .bottom-links ul li:last-child{border:none; }
footer .bottom-links ul li a{color:#a2a2a2; }
footer .social-bg{float:left;width:100%;padding:17px 0;background:#252525; }
footer .social-bg ul{width:100%;margin:0 auto 18px; text-align: center; }
footer .social-bg ul li{padding:0 6px;font-size: 16px; display: inline-block; }
footer .social-bg ul li a,footer .social-bg ul li a:hover{color:#fff; }
footer .social-bg p{color:#9b9b9b;font-size:14px;float:left;width:100%;margin:0; }
/*---Side menu styls--------------------------------------------------------------*/

.mp-level{background:#fff; }
.mp-menu{background:#fff;border-right:1px solid rgba(0, 0, 0, 0.2); }
.mp-menu.mp-cover h2{color:#272727;font-size:15px; }
.mp-back{background:#363636;font-size:12px; }
.mp-back:hover{color:#fff;background:#505050!important; }
h2.mp-back{background: none;font-size:12px; color:#272727 !important; font-size:15px !important; }
.ico-bg a{ display:inline-block;}
h2.mp-back:hover{background: none!important; }

.mp-back::after{font-size:14px;content: '\f105';font-family:FontAwesome;color:#fff; }
.mp-menu ul li > a{color:#1c83b3; }
.mp-menu ul li::before{color:#1c83b3;font-size:12px;line-height:4; }
/*.mp-menu ul li > a:hover,.mp-menu ul li:first-child > a:hover{background:#1c83b3;color:#fff;box-shadow:none; }
.mp-menu ul li:hover:before{color:#fff!important; }
*/

.icon-back{float:right;cursor:pointer; }
.icon-back::after { content: '\f060';font-family:FontAwesome; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; display: inline-block; margin-left: 0.6em; position:absolute; right:15px; }
/*.mp-menu{overflow-y: auto; }
*/

.mp-menu{overflow-y: auto; }
.mp-level{min-height: 100%!important;height:auto; }
/*---Side menu styls--------------------------------------------------------------*/



/*---filter-page--------------------------------------------------------------*/

#filter-page{float:left;width:100%; }
.padding-zero{padding:0; }
.fixed-nav{border-bottom:1px solid #D5D5D5;background:#fff;float:left;width:100%; }
.sticky { position: fixed; width: 100%; left: 0; top: 0; z-index: 100; border-top: 0; box-shadow:0px 3px 5px #DDD; background:#f00; }
.search-bg input{padding:10px 0 10px 15px; }
.search-bg button {padding:0 15px; }
.sort-btn, .filter-btn{padding:0;text-align:center;height:44px;line-height:44px;border-left:1px solid #D5D5D5;font-size:15px;color:#4f4f4f; }
.fixed-nav .sort-filter{ width:100%; display:inline-block;}
.sort-btn:focus,#filter-page .filter-btn:focus{background:#1b83b2;color:#fff; }
#filter-page .bs-example-modal-sm .modal-dialog{width:300px;margin:205px auto 30px; }
#filter-page .bs-example-modal-sm .modal-header{padding:8px 12px;background:#e2e1e1;border-radius:4px 4px 0 0;border-bottom:1px solid #D5D5D5; }
#filter-page .bs-example-modal-sm .modal-title{color:#1b83b2;font-size:14px; }
#filter-page .bs-example-modal-sm .radio-group-bg{border:1px solid #D5D5D5;border-radius:4px; }
#filter-page .bs-example-modal-sm .radio{border-bottom:1px solid #D5D5D5;margin:0;padding:10px 0; }
#filter-page .bs-example-modal-sm .radio:last-child{border:0; }
#filter-page .bs-example-modal-sm .radio .radio-type{float:right; }
#filter-page .bs-example-modal-sm .radio label{width:100%;padding-left:10px; }
#filter-page .bs-example-modal-lg .modal-body{padding:0; }
#filter-page .bs-example-modal-lg .modal-dialog{width:100%;margin:0px auto 0;height:100%; }
#filter-page .bs-example-modal-lg .modal-content{border-radius:0;box-shadow:none;height:100%;border:none; }
#filter-page .bs-example-modal-lg .modal-header{padding:9px 15px 10px;background:#fff;border-bottom:1px solid #bcbaba;position:relative;z-index:1;width: 100%; float: left; }
#filter-page .bs-example-modal-lg .modal-header .btn-default{float:right;min-width:110px;border:1px solid #bcbaba!important; }
#filter-page .bs-example-modal-lg .modal-title{color:#2a2929;font-size:16px;font-weight:bold;float:left;margin-top:9px;letter-spacing:1px; }
#filter-page .bs-example-modal-lg .modal-footer{position:absolute;bottom:0;width:100%;text-align:center;background:#fff;border-top:1px solid #bcbaba;padding:15px 0; }
#filter-page .bs-example-modal-lg .modal-footer .btn{padding:10px 15px;font-size:14px;min-width:110px;width:100%; }
#filter-page .bs-example-modal-lg .modal-footer .btn-default{border:1px solid #bcbaba!important; }
#filter-page .bs-example-modal-lg .modal-footer .btn-primary{background:#1380b0;border:1px solid #1178a5!important; }
#filter-page .bs-example-modal-lg .modal-footer .btns-bg{border-right:1px solid #bcbaba; }
#filter-page .bs-example-modal-lg .sidebar{position:fixed;top:0;left:0;width:140px;background:#f3f3f3;height:100%;border-right:1px solid #e9e9e9;padding-top:54px; }
#filter-page .bs-example-modal-lg .modal-body .content-bg{width:100%;float:left;padding:5px 15px 20px 160px;font-size:15px; }
#filter-page .sidebar .nav-tabs{border:none; }
#filter-page .sidebar .nav-tabs > li{width:100%;font-size:15px; }
#filter-page .sidebar .nav-tabs > li > a{margin:0;border:none;border-bottom:1px solid #bcbaba;border-radius:0;color:#666565;position:relative;z-index:1; }
#filter-page .bs-example-modal-lg .content-bg .checkbox{margin:0;padding:10px 0 10px 10px; }
#filter-page .bs-example-modal-lg .content-bg .checkbox:last-child{border:0; }
#filter-page .bs-example-modal-lg .content-bg .checkbox .check-type{float:right; }
#filter-page .bs-example-modal-lg .content-bg .checkbox label{width:100%;padding-left:10px; }
.bs-example-modal-lg .nav-tabs > li.active > a,.bs-example-modal-lg .nav-tabs > li.active > a:focus,.bs-example-modal-lg .nav-tabs > li.active > a:hover {color:#2d2b2b!important; background-color:#e2e0e0; }
.bs-example-modal-lg .nav-tabs > li{margin:0; }
#filter-page .sidebar .nav-tabs > li > a:hover,#filter-page .sidebar .nav-tabs > li > a:focus{margin:0;background-color:#e2e0e0;color:#2d2b2b!important;border-bottom:1px solid #a5a4a4!important; }
.bs-example-modal-lg .nav-tabs li.active:after,.bs-example-modal-lg .nav-tabs li:hover:after{content:"";position:absolute;right:-12px;top:0; width: 0; height: 0; border-top: 20px solid transparent; border-bottom: 20px solid transparent; border-left: 20px solid #e2e0e0; }
/*---filter-page--------------------------------------------------------------*/


html, body, .container, .main-bg, .scroller { min-height: 100%; }
.scroller { overflow-y: scroll; }
.scroller,  .scroller-inner { position: relative; }
.container, .main-bg { position: relative; overflow-x: hidden; }
.menu-trigger { position: relative; padding-left: 60px; font-size: 0.9em; }
.menu-trigger:before { position: absolute; top: 2px; left: 0; width: 40px; height: 6px; background: #fff; content: ''; }
.mp-pusher { position: absolute; left: 0; height: 100%; z-index: 9999; }
.mp-menu { position: absolute; /* we can't use fixed here :( */
	top: 0; left: 0; z-index: 1; width: 300px; height: 100%; -webkit-transform: translate3d(-100%, 0, 0); -moz-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
.mp-level { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-transform: translate3d(-100%, 0, 0); -moz-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
.mp-pusher::after,  .mp-level::after,  .mp-level::before { position: absolute; top: 0; right: 0; width: 0; height: 0; content: ''; opacity: 0; }
.mp-pusher::after,  .mp-level::after { background: rgba(0,0,0,0.3); -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s; -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s; transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s; }
.mp-level::after { z-index: -1; }
.mp-pusher.mp-pushed::after,  .mp-level.mp-level-overlay::after { width: 100%; height: 100%; opacity: 1; -webkit-transition: opacity 0.3s; -moz-transition: opacity 0.3s; transition: opacity 0.3s; }
.mp-level.mp-level-overlay { cursor: pointer; }
.mp-level.mp-level-overlay.mp-level::before { width: 100%; height: 100%; background: transparent; opacity: 1; }
.mp-pusher,  .mp-level { -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }
.mp-overlap .mp-level.mp-level-open { box-shadow: 1px 0 2px rgba(0,0,0,0.2); -webkit-transform: translate3d(-40px, 0, 0); -moz-transform: translate3d(-40px, 0, 0); transform: translate3d(-40px, 0, 0); }
.mp-menu > .mp-level,  .mp-menu > .mp-level.mp-level-open,  .mp-menu.mp-overlap > .mp-level,  .mp-menu.mp-overlap > .mp-level.mp-level-open { box-shadow: none; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.mp-cover .mp-level.mp-level-open { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) { -webkit-transform: translate3d(-100%, 0, 0); -moz-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
.mp-menu ul { margin: 0; padding: 0; list-style: none; }
.mp-menu h2 { margin: 0; padding: 1em; color: rgba(0,0,0,0.4);  font-weight: 300; font-size: 2em; }
.mp-menu.mp-overlap h2::before { position: absolute; top: 0; right: 0; margin-right: 8px; font-size: 75%; line-height: 1.8; opacity: 0; -webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s; -moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s; transition: opacity 0.3s, transform 0.1s 0.3s; -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); transform: translateX(-100%); }
.mp-menu.mp-cover h2 { text-transform: uppercase; font-weight: 700; letter-spacing: 1px; font-size: 1em; }
.mp-overlap .mp-level.mp-level-overlay > h2::before { opacity: 1; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; -webkit-transform: translateX(0); -moz-transform: translateX(0); transform: translateX(0); }
.mp-menu ul li{ border-bottom:1px solid #d7d7d7;}
.mp-menu ul li > a { display: inline-block; outline: none;  font-size: 16px; -webkit-transition: background 0.3s, box-shadow 0.3s; -moz-transition: background 0.3s, box-shadow 0.3s; transition: background 0.3s, box-shadow 0.3s; }
.mp-menu ul li::before { position: absolute; left: 10px; z-index: -1; color: rgba(0,0,0,0.2); line-height: 3.5; }
.mp-level > ul > li:first-child > a { }
.mp-menu ul li a:hover,  .mp-level > ul > li:first-child > a:hover { background: rgba(0,0,0,0.2); }
.mp-menu .mp-level.mp-level-overlay > ul > li > a,  .mp-level.mp-level-overlay > ul > li:first-child > a {  }
.mp-level > ul > li:first-child > a:hover,  .mp-level.mp-level-overlay > ul > li:first-child > a {  } /* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */
.mp-back { outline: none; color: #fff; text-transform: uppercase; letter-spacing: 1px; font-weight: 700; display: block; font-size: 0.8em; padding: 1em; position: relative;  -webkit-transition: background 0.3s; -moz-transition: background 0.3s; transition: background 0.3s; }
.mp-back::after { font-family: FontAwesome; position: absolute; content: "\f104 "; right: 10px; font-size: 1.3em; color: white; }
.mp-menu .mp-level.mp-level-overlay > .mp-back,  .mp-menu .mp-level.mp-level-overlay > .mp-back::after { background: transparent; box-shadow: none; color: transparent; }
.no-csstransforms3d .mp-pusher,  .no-js .mp-pusher { padding-left: 300px; }
.no-csstransforms3d .mp-menu .mp-level,  .no-js .mp-menu .mp-level { display: none; }
.no-csstransforms3d .mp-menu > .mp-level,  .no-js .mp-menu > .mp-level { display: block; }


.items-padd{ padding:0 5px; }
.all-list-bg{ padding:15px 10px 10px; }
.all-list-bg .row{ margin:0 -5px; }
.all-list-bg .col-xs-6{ padding:5px;}
.fa-phone, .fa-lock, .fa-unlock{font-size:30px;}{font-size:30px;}
.filter-outer{ display:none;}
.innerpage-list{ padding:5px; width:100%; float:left; background:#f3f3f3;}
.innerpage-list .col-xs-6{ padding:5px;}
.search_content{ background: #f3f3f3; padding:10px 0 0 0; width:100%; float:left;}
.page-title{ padding:0;}
.page-title h2{ margin:0}
#trigger{ display:inline-block;}
.rating-pdt{ width:100%; float:left; text-align:center; font-size:16px; margin-bottom:2px;}
.rating-md{ font-size:16px;}
.mp-menu ul li > a{ padding:8px 15px; color:#4f4f4f; box-shadow:none;}
.site-login{ width:100%; float:left;}
.brand_logos{ padding:5px;}
.brand_logo{ margin:0}
.brand-row{ margin:0 -5px}
.cms-pages-view{ font-size:15px;}
.category_list .row{ margin:0; padding:5px;}
.category_list .col-xs-6{ padding:5px;}
.fa-close {float: right; background: none !important; color: #000 !important;box-shadow: none !important;padding: 1px; font-size: 16px; position:relative;  text-align:right;}
.fa-close::after{content: ""}

.wish-wrapper{ width:100%; background:white; padding:10px;}
.wish-wrapper table td:nth-child(2){ text-align:center;}
.wish-wrapper table td:nth-child(2) img{ max-width:100px;}
.wish-wrapper table th:nth-child(4){ width:150px;}
.wish-wrapper table th:nth-child(5){ width:100px;}
.wish-wrapper table{width:650px; margin:0; padding:0;}
.wish-head{ font-size:20px; font-weight:500; padding:0 10px}
.m-wrap{ width:100%; float:left; background:white; margin-bottom:15px;}
input.change_password{ float:left; display:inline-block; margin-right:5px;}
.m-wrap .info-btn-wrap{ width:100%; float:left; margin-top:10px;}
.m-wrap h2{ font-size:25px; float: left}
.account-title{ width:100%; float:left; margin-bottom:10px;}
.account-title a{ float:right; margin-top:18px;}
.account-title a button {padding: 7px 10px; font-size: 14px; }
.item, .ad-btm{ margin-bottom:15px;}
#owl-demo .item{ margin:0;}
.item h4, .ad-btm h4{ border-bottom:1px solid #CCC; padding-bottom:4px;}
.modal{ background:white;}
.form-control{ border-radius:0;}
ul.dropdown-menu li{ text-align:left;}
.table-responsive table{ margin:0;}
.mrg-15{ margin-top:20px; width:100%; float:left;}
button.close { font-size: 27px !important}
.back-drop{ display:none !important;}
.btn-success{background-color: #2a9dca !important;border-color: #2a9dca !important;}
#client_form .pdt-cart.pop-submit {background-color: #2a9dca;color: #fff;border: 1px solid #2a9dca;}
#client_form .pdt-cart.pop-submit:hover {background-color: #1b6e8e !important;border-color: #1b6e8e !important;}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
 background-color: #1b6e8e !important;
 border-color: #1b6e8e !important;}
 .brand_image_width{width:100% !important;}
 .img-field {float: left;width: 59%;}
.img-field img {width: 70%;}
.list-head { padding: 5px; }
.byod-desc { margin-top: 10px; }
.cond-apply { margin-top: 10px; margin-bottom: 5px; }
.pop-title{float:left;width:100%;padding-top:15px;}





/*--manny-------------------------------*/

.download-bg{padding-bottom:15px;}
.download-bg h2{float:left;text-transform:uppercase;font-size:23px;color:#606162;font-weight:400;margin-top:25px;width:100%;}
.download-bg #sub-form{margin:5px 0 20px;}
.download-bg #s-text,.download-bg #s-text:focus{height:37px;border:1px solid #dddddd;border-right:none;box-shadow:none;}
.download-bg .input-group-btn{border:1px solid #dddddd;border-left:none;height:37px;}
.download-bg .input-group-btn .btn-default{border:none!important;}
.download-bg .input-group-btn .btn-default:hover,.download-bg .input-group-btn .btn-default:focus{background:none;outline:none;box-shadow:none;}
.download-bg .navbar-form{padding:0;}

.download-cont-bg{padding:15px;margin-bottom:15px;background:#f4f4f4;/*height:206px;*/}
.download-cont-bg .scroll-wrapper > .download.scroll-content{max-height:60px!important;}

.download-cont-bg .col-xs-10,.download-cont-bg .col-xs-2{padding:0;width:100%;}
.download-cont-bg h6{color:#282828;font-size:18px;margin:0;}
.download-cont-bg i{color:#8d8d8d;font-size:13px;}
.download-cont-bg .scroll-wrapper{margin-top:10px;}

.download-cont-bg .download-btn-bg{text-align:center;padding-top:15px;}
.download-cont-bg .download-btn-bg:before{display:inline-block;content:'';height:100%;vertical-align:middle;}
.download-cont-bg .download-btn-bg .btn-download{border-radius:5px;display:inline-block;vertical-align:middle;background:#0154a0!important;text-transform:uppercase;font-size:13px;}
.download-cont-bg .download-btn-bg .btn-download:hover{background:#0a4881!important;}
.download-cont-bg .download-btn-bg .btn-download i{color:#fff;margin-right:5px;}

/*readmore*/

.morecontent span{display:none;color:#606162;font-size:14px;}
a.morelink{display:block;float:right;text-decoration:underline!important;font-style:italic;font-size:14px;transition:none!important;}
a.morelink.less{text-align:right;color:#0154a0;transition:none!important;}
.fa-round { padding: 0; border-radius: 50%; -webkit-border-radius: 50%;-moz-border-radius: 50%;color: white;background-color: #848484;font-size: 21px;line-height: 31px; height: 1.5em; width: 1.5em; text-align: center;margin-left: 3px;}

/*readmore*/
.logo-bg .bottom-logo{width: 100%;text-align: center;}
.bottom-logo a {display: inline-block;padding: 16px 0;}
.logo-bg .bottom-logo img {max-width: 90%;}
.footer-logo{background-color: #F3F3F3;}
.site-request-password-reset {padding: 15px;float: left;width: 100%;}