.cat-wrapper, .search-wrapper .fa, .cart-drop a:hover, .fa-eye:hover, .fa-heart:hover, .sub-wrapper a,.sub-wrapper .btn-default,.btn-primary,.btn,.pdt-btn,.cart-content-bg a .shopping-btn-bg,.proceed-bg .btn-proceed-checkout,.shopping-btn-bg,.site-checkout .continue,.site-checkout .returning-customer .login-button,.product-options .fa-heart,.empty-wrapper a,.cont{background:#dc2522 !important; border-color:#dc2522 !important; }
.search-wrapper .fa:hover, .sub-wrapper a:hover,.btn-primary:hover,.btn:hover,.pdt-btn:hover, .wish-btn:hover,.cart-content-bg a .shopping-btn-bg:hover,.proceed-bg .btn-proceed-checkout:hover,.shopping-btn-bg:hover,.site-checkout .continue:hover,.site-checkout .returning-customer .login-button:hover,.empty-wrapper a:hover,.cont:hover,.product-options .fa-heart:hover{ background:#282828 !important;}


.cat-wrapper:hover,.sub-wrapper .btn-default:hover{ background:#be1816 !important;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .pn-right i, .navigation ul li a:hover, .cat-nav li a:hover, .sub:hover::after, .sub:hover a, li.sub li.sub:hover > a, .pdt-cart:hover,.pdt-cart:focus{ color:#db2522 !important;}

.products-wrapper, .product:hover, .fa-eye:hover, .fa-heart:hover{ border-color:#ac1e23 !important;}

.search-wrapper .fa-search {background: #dc2522 url(../images/search-icon.png) no-repeat center;}
.search-wrapper .fa-search:hover {background: #b90202 url(../images/search-icon.png) no-repeat center;;}
.ftr-social a {color: white;border: 1px solid #898989;}
.ftr-social a.fa-facebook:hover {background: #3c5b9b;border-color: #3c5b9b;}
.ftr-social a.fa-twitter:hover {background: #2ca9e1;border-color: #2ca9e1;}
.ftr-social a.fa-pinterest-p:hover {background: #cb2026;border-color: #cb2026;}
.ftr-social a.fa-youtube:hover {background: #fd3331;border-color: #fd3331;}
.fa-eye, .fa-heart {border: 1px solid #d9d9d9;    color: #777777;}
.fa-eye:hover, .fa-heart:hover {background: #ad1e23 !important;color: white !important;border-color: #ad1e23 !important;text-decoration: none;}
.price { color: #e31837; }
button.apply-code {background: #282828;}
button.apply-code:hover {background: black;}
.navigation ul li a:hover{color: #fff !important;}

button.apply-code {    background: #dc2522 !important;}