body{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;line-height:18px;}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
 
	.customcontentArea{min-height: 760px !important;}
	.head_phone a{ text-decoration:none;}
	.searchbox input[type="submit"] { border-radius:0 !important;}
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
body a{ transition:all ease-in-out 0.2s;}
img{outline:none;border:none;}
a{outline:none;color:#000000;border:none;}
a:hover{color: #202020;}
input{outline:none;}
.clear{ clear:both!important;float:none!important;margin:0!important;padding:0!important;line-height:0!important;height:0!important;font-size:0!important;border:0!important;background:none;}
.wrapper{width:100%;min-width:1020px;}
.content{width:1000px;margin:0 auto;}
.wrapper_content{width:1000px;margin:0 auto;}
.header{min-height:108px;}
.headtop{background: #f0f0f0;}
.logo_sec{padding: 10px 0;}
.srh_bub{ margin-top:2px;}
.headerRight{float:right;width:704px;padding-top: 24px;position: relative;} 
.headerRight .cart{float:left;text-align:center; padding-right:20px;margin-right: 0px;padding-bottom: 10px;}
.headerRight .cart span{display:block;font-size:11px;text-transform:uppercase;color:#727272;font-weight:bold;}
.headerRight .cart img{text-align:center;}
.headerRight .cart a{text-decoration: none;}
.cartPrice{text-decoration: none;text-align: left;margin-top: 15px;height: 22px;padding-left: 32px;font-size:15px;text-transform:uppercase;color:#414141;font-weight:normal;background: url(../images/cart.png) no-repeat left 0px;padding-top: 2px;}
.product_detail input{ height:25px!important;}
.headerRight .gift_top{float:left;text-align:center; padding-right:20px;margin-right: 0px;padding-bottom: 10px;margin-top: 17px;}
.headerRight .gift_top a{text-decoration: none;text-align: left;margin-top: 15px;height: 22px;padding-left: 28px;font-size:15px;text-transform:uppercase;color:#414141;font-weight:normal;background: url(../images/gift_top.png) no-repeat left 0px;padding-top: 2px;}
.gift_top a:hover{text-decoration: underline;}
.finduson_top{float: right;color: #7f7f7f;font-style: italic;font-weight: bold;font-size: 15px;margin-top: 10px;text-align:right;}
.social_block .finduson_top{ width:200px;}
.finduson_top > a{display: inline-block!important;}
.finduson_top img{display: block;}
.finduson_top span{font-size: 15px;text-transform: uppercase;float: left;display: block;padding: 8px 10px 0 0;}
.footer_block .finduson_top span {text-align: right;width: 100%;}
.finduson_top img:hover{opacity:0.6;filter:alpha(opacity=60);/* For IE8 and earlier */}
.freeshipping_header{color: #000000;font-size: 14px;font-weight: normal;text-transform:lowercase;float: left;margin-left: 75px;padding-top: 5px;margin-top: 5px;}
.freeshipping_header span{font-weight: bold;text-transform: uppercase;}
.cartPrice:hover{color: #000000;text-decoration: underline;}
.headerRight1{float: right;padding-top: 8px;}
.jaa{float:right;width:113px;margin-left: 20px;}
.head_phone{color: #000000;font-size: 17px;font-weight: bold;text-align: right;float: left; background: url(../images/phone_hed.png) no-repeat left center;height: 24px;padding-left: 22px;padding-top: 5px;margin-top: 5px;}
.headerBottom{background:#191919 url(../images/headerBottomBg.jpg) repeat-x;height:42px;}
.navOuter{background:#ccc;}
.nav ul{margin:0;padding:0;font-size:13px;}
.nav ul li{float:left;display:block;color:#fff;}
.nav ul li a{text-decoration:none;color:#fff;line-height: 19px;}
.nav ul li a:hover{color:#B5B5B5;}
.nav ul li a.active{color:#B5B5B5;}
.sale_menu a:hover{color: #000;}
.sale_menu a.active{color:#000;}
.home_icon{padding:12px 5px 10px 10px !important;background: none!important;}
.home_icon a,.sale_menu a,.nav-1 > a{}
.home_icon img{display: block;}
.nav-1{background: none!important;}
.contentmain{width:100%;/** background:url(../images/contentMain.png) center top no-repeat;**/}
.banner{height:410px;margin:20px 0;background:url(../images/bannerShadow.png) no-repeat bottom center;}
.miniBanners{ margin-bottom:10px;}
.miniBanners span{background:url(../images/miniShadow.png) no-repeat center bottom;display:block;float:left;width:312px;height:158px;padding-bottom:10px;}
.miniBanners .spanMiddle{ padding:0 32px 10px 32px;}
.miniBanners img{width:312px;height:158px;}
.miniBanners img:hover,.gift img:hover{box-shadow: 0px 0px 5px 2px #5e5c5c;}
.gift{float:left;width:285px;}
.Featured h2,.gift h2{margin:0;font-size:20px;color:#282828;text-transform:uppercase;padding:0px 0 10px 0;font-weight:normal;font-style:italic;}
.Product_Featured{ margin:0 -10px;}
.Featured ul{margin:0;padding:0;}
.Featured ul li{display:block;float:left;min-height: 311px;border:1px solid #c2c2c2;width:205px;padding:16px 10px;text-align:center;}
.Featured ul li:hover{ -webkit-box-shadow: 4px 6px 5px 0px rgba(204,204,204,1);-moz-box-shadow: 4px 6px 5px 0px rgba(204,204,204,1);box-shadow: 4px 6px 5px 0px rgba(204,204,204,1);transition-property: transform, opacity, box-shadow; transition-duration: 0.8s;}
.Featured ul  .middle{margin:0px 16px;}
.Featured ul li h3{height: 34px;margin: 9px 0;}
.Featured ul li h3 a{text-decoration:none;color:#4d4d4d;font-size: 12px;text-transform: uppercase;}
.Featured ul li h3 a:hover{text-decoration:underline;color: #202020;}
.Featured ul li p{} 
.Featured ul li .FeaturedPrice{color:#6f6f6f;font-style:italic;}
.Featured ul li .cartButton{  width:150px;text-align:center;margin:16px auto;text-transform:uppercase;font-size:14px;color:#3e3e3e;margin-bottom:0;}
.Featured ul li .cartButton a{background:#cdcdcd;color:#3e3e3e;text-decoration:none;font-weight:bold;display:block;padding:8px 0;font-style:italic;-webkit-transition: background-color .5s;
transition: background-color .5s;}
.Featured ul li .cartButton a:hover{ background:#b7b7b7;}
.footer{background:#f0f0f0;padding:20px 0 10px 0;margin-top:25px;}
.footer_block{padding: 0 5px;}
.footer_block ul li{display: block;float: left;width: 20%;}
.footer_block ul li a{display: block;color: #000;font-size: 13px;padding-top: 4px;text-transform: capitalize;text-decoration: none;}
.footer_block ul li a:hover{color: #5e5b5b;}
.footer_block h3{font-size: 13px;font-weight: bold;display: block;margin:0 0 1px 0;text-transform: uppercase;}
.member_block{text-align: left;}
.social_block .finduson_top{margin-top: 0;}
.copy{float: left;color:#000;font-size:13px;font-style: italic;margin-top: 20px;}
.copy span{margin:0;}
.copy a{color: #000;text-decoration: none;}
.copy a:hover{color: #5e5b5b;}
.go_top{float: right;}
.modal{ z-index:99999!important;} 
.go_top a { background: url("../images/top1.png") no-repeat scroll left top;display: inline-block;height: 40px;width: 40px;}
.go_top a:hover{background: url("../images/top1.png") no-repeat scroll -40px top;}
.footerLeft{width:800px;float:left;}
.footerLeft ul{margin:0;padding:0;font-size:11px;}
.footerLeft ul li{float:left;display:block;padding-right:8px;text-transform:uppercase;color:#444444;}
.footerLeft ul li a{text-decoration:none;color:#797979;}
.footerLeft ul li a:hover{color:#FFFFFF;}
.footerRight{float:right;}
.socialMedia{font-size:14px;text-transform:uppercase;color:#707070;}
.socialMedia span{display:block;float:left;font-weight:bold;margin-right:10px;padding-top:2px;}
.socialMedia a{display:block;float:left;margin-right:4px;}
.socialMedia img:hover{ opacity:0.6;filter:alpha(opacity=60);/* For IE8 and earlier */}
.cat_dropdown dd{ margin:0px;padding:0px;font-size:12px;width:45px;}
.cat_dropdown dt span:hover, { color:#000;}
.cat_dropdown dt span{display:block;padding:7px 8px 5px 8px;text-transform: capitalize;text-decoration:none;font-size:12px;color:#000;cursor:pointer;width: 145px;white-space: nowrap;overflow: hidden;}
.cat_dropdown dd ul {background:#dadada none repeat scroll 0 0;border:1px solid #ccc;color:#000;display:none;left:0px;top:30px;padding:5px 0px;position:absolute;width:auto;min-width:85px;list-style:none;height:78px;overflow-y:scroll;overflow-x:none;z-index:1000;float:none;left:0;margin:0;padding:0;}
.cat_dropdown dd ul li span{ padding:0 5px!important;text-transform: capitalize;display:block;color:#000;text-decoration:none;cursor:pointer;}
.cat_dropdown dd ul li span:hover { background-color:#ccc;}
.cat_dropdown dl{ margin:0;padding:0;}
.cat_dropdown{ width:170px;float:left;background:#dadada url(../images/cat_arrow.png) no-repeat 155px center;position:relative;z-index:90;padding-right:5px;margin:6px 0;}
.searchbox{background: url("../images/round_search_box.png") no-repeat top center;width: 227px;height: 30px;float: right;padding: 3px;}
.searchbox input[type="text"]{background: url("../images/icon_search.png") no-repeat left 7px;border: none;margin-left: 8px;padding: 6px 5px 5px 20px;width:138px;}
.searchbox input[type="submit"]{border: none;border-left:#dadada 1px solid;padding: 0 0 0 6px;cursor: pointer;background: none;width: 45px;}
.welcome_search{padding: 7px 0;}
.search input[type="text"]{width:300px;background:#fff;padding:6px 8px 7px 8px;border:#fff 1px solid;float:left;margin:0;color:#767676;}
.slider_b .carousel{ background:#fff;}
.search1{ padding:6px;float:left;padding-right:0;}
.search{ float:left; }
.newmenu{float: left;}
.newmenu ul{margin: 0;padding: 0;}
.newmenu ul li{display: inline-block;padding: 5px 10px 5px 5px;}
.newmenu ul li a{color:#B5B5B5;font-size: 13px;} 
.cartmenu{float: right;}
.cartmenu ul{ margin:0;padding:0;list-style:none;}
.cartmenu ul li{ float:left;color: #000000;font-size:14px;padding: 10px 5px;}
.cartmenu ul li.last{padding: 0;}
.cartmenu ul li a{ display:block;color:#000000; text-decoration:none;}
.cartmenu ul li a:hover{color: #6d6969;}
#slider {position:relative;height:400px!important;width:1000px!important;cursor:pointer;}
#slider img {position:absolute;top:0px;left:0px;display:none;width:1000px;height:400px;}
#slider img:hover{cursor:pointer;}
#slider a {border:0;display:block;}
.nivo-controlNav {position:absolute;bottom:15px;z-index:1000;padding:8px 10px;left:20px;}
.nivo-controlNav a {display:block;width:8px;height:8px;background:url(../images/bullet.png) no-repeat;text-indent:-9999px;border:0;margin-left:3px;float:left;}
.nivo-controlNav a.active {background-position:-12px 0;}
.nivo-directionNav a{ display:none!important;text-indent:-9999px;}
.nivo-directionNav a:hover {display:none!important;width:30px;height:30px;text-indent:-9999px;border:0;}
a.nivo-nextNav {background-position:-30px 0;right:15px;}
a.nivo-prevNav {left:15px;}
.nivo-imageLink {border: 0 none;height: 100%;left: 0;margin: 0;padding: 0;position: absolute;top: 0;width: 100%;z-index: 6;}
.best_sellers{ background:#010102 url( ../images/best_sellers_bg.jpg) repeat-x top center; padding: 14px 0 11px 20px;float:left;}
.best_sellers h2{font-family:Arial Black, Helvetica, sans-serif; font-style:italic;font-size:18px;color:#fff;text-transform:uppercase;padding-bottom:10px;}
.bestseller_details{ float:left;display:inline;width:324px;}
.best_pic{ float: left;margin: 0 18px 0 0;}
.best_wrap {float: left;width: 177px;}
.best_wrap h3 {font-size: 12px;font-weight:bold;line-height: 17px;margin: -3px 0 5px;text-transform: uppercase;}
.best_wrap h3 a{ color:#fff;text-decoration:none;}
.best_descr {color: #8C8C8D;font-size: 10px;}
.best_price {color: #004e35;font-size: 27px;font-style: italic;font-weight: 700;padding-top:10px;}
.see_all_best{ font-size:11px;color: #004e35;float:left;}
.see_all_best a{ background:url(../images/arrow.png) no-repeat right;padding:9px 10px 10px 0;display: inline-block;color: #004e35;}
.see_all_best a:hover{ color:#f4f4f4;} 
.content_area{ background:#fff url(../images/shadow.jpg) repeat-x top;padding: 15px 20px 20px 20px;}
.content_area h2{color: #2B2C2F;font-size: 18px;font-style: italic;font-weight: 800;padding-bottom: 17px;text-transform: uppercase;}
.content_area ul{ margin:0;padding:0;}
.productlist li{ border-right: 1px solid #E5E5E5;float: left;margin: 0 8px 0 8px;padding: 0 0 21px 0;width: 175px;display:inline;height:350px;}
.productlist li h3{ font-size: 12px;font-style: italic;line-height: 17px;margin: 0 5px 12px 0;text-transform: uppercase;color:#1D1E20;}
.productlist li h3 a{ text-decoration:none;color:#1D1E20;font-weight:bold;}
.productlist li .desc {color: #606162;font-size: 10px;line-height: 15px;margin: 0 5px 11px 0;}
.products-grid .desc {color: #606162;font-size: 12px;line-height: 15px;margin: 0 5px 11px 0;height:30px;overflow: hidden;}
.products-grid li {border: 1px solid #a1a1a1;display: inline;float: left;margin: 0 10px 19px;min-height: 280px;padding: 10px;text-align: center;width: 210px ;}
.pricebox { font-size: 20px;font-style: italic;font-weight:bold;color:#004e35;width:80px;}
.actions .add_to_cart{color: #fff;float: left;font-size: 10px;font-style: italic;font-weight: 700;height: 25px;line-height: 25px;text-align: center;text-decoration: none;text-transform: uppercase;background:url(../images/btn_bg.jpg) repeat-x top;padding:0 10px;margin-right:10px;}
.actions .add_to_cart:hover{ color:#0E0E10} 
.actions .btn_details{ color: #fff;float: left;font-size: 10px;font-style: italic;font-weight: 700;height: 25px;line-height: 25px;text-align: center;text-decoration: none; text-transform: uppercase;background:url(../images/btn1_bg.jpg) repeat-x top;padding:0 10px;}
.actions .btn_details:hover{ color:#004e35;}
.right_content{ width:332px;float:right;background:#0c0c0f;}
.right_head{ background:url(../images/right_head_bg.jpg) repeat-x top center;padding: 6px 0 8px 20px;color: #F0F0F0;font-family:Arial Black, Helvetica, sans-serif; font-style:italic;font-size:16px;text-transform: uppercase;}
.right_detail{ background:#1f2022 url(../images/right_content_bg.jpg) repeat-x top;padding: 20px 20px 20px 20px;color:#b7b7b7;font-size:11px;}
.right_detail span{color:#004e35;}
.guarentee { margin:0;padding:0;background:#fff;padding:5px;height:75px;width:280px;margin:0 auto;}
.guarentee  li{ float:left;display:inline;width:89px;margin-left:4px;}
.newsletter input{ width:282px;height:28px;line-height:28px;float:left;background:#ccc;border:none;padding:0 5px;margin-right:10px;outline:none;font-size:11px;}
.newsletter .subscribe{ background:#00603f;text-transform:uppercase;font-size:12px;color:#fff;text-align:center;padding:5px !important;float:left;width:87px;height:28px;line-height:18px !important;}
.newsletter .subscribe input{ font-size:11px;text-decoration:none;color:#fff;}
.special_detail ul{ margin:0;padding:0;padding-top:10px;}
.special_detail ul li{ border-bottom:solid 1px #4e4e50;padding:10px 20px;}
.special_detail ul li img{ display:block;float:left;margin-right:20px;}
.spec_wrap {float: left;padding: 5px 0 0;width: 190px;}
.spec_wrap h3 a {color: #b7b7b7;text-decoration: none;font-size:11px;}
.spec_price {color: #004e35;font-size: 20px;font-style: italic;padding-top:10px;font-family:Arial Black, Helvetica, sans-serif;}
.spec_price .spec_price_str {color: #5C6066;padding: 0 0 0 5px;text-decoration: line-through;font-size:14px;}
.actions1 .add_to_cart{color: #fff;float: right;font-size: 11px;font-style: italic;font-weight: 700;height: 25px;line-height: 25px;text-align: center;text-decoration: none;text-transform: uppercase;background:#282828 url(../images/btn_bg.jpg) repeat-x top;padding:0 10px;}
.pricelist{ float:left;}
.actions1 .add_to_cart:hover{ color:#333;}
.add_wishlist a{font-size:12px;color:#282828;padding-bottom:5px;display:block;}
.add_compare a{ color:#777777;font-size:12px;}
.product_detail label{  display:inline-block;color: black !important;margin-top:3px ;/*height:25px;*/text-align:right;padding-right:3px;float:left;}
.product_detail select{ padding:4px;height:25px;line-height:25px;width:200px;outline:none;}
.product_detail input{ width:20px;height:18px;text-align:center;float:left;outline:none;}
.product_detail textarea{ width:187px;padding:5px;margin-left:3px;outline:none;height:60px;}
.product_detail .add_to_cart {background:#cdcdcd;color: #3e3e3e;font-size: 10px;font-style: italic;font-weight: 700;line-height: 24px;padding:2px 10px;text-align: center;text-decoration: none;text-transform: uppercase;display:inline-block;margin-left:5px;float:right;}
.product_detail .add_to_cart:hover{background:#b7b7b7;opacity:0.7;}
.product-options .form-group{ margin-bottom:0 !important}
.sepor{ display:inline-block;padding:5px;float:left;}
.prouct_desc{ padding:15px 0;font-size:12px;color:#5c5c5c;line-height:18px;}
.prouct_desc p{ padding:10px 0;}
.content_area h4{ padding:15px 0;font-size:11px;text-transform:uppercase;font-weight:bold;}
.blocksubtitle {padding-bottom: 12px !important;padding-top:10px !important;font-size:12px;color:#74a93e !important;}
.Shop_by_head{ color:#cdcdcd;font-size:12px;padding-left:20px;}
.Shop_By ul{ margin:0;padding:0;padding-top:15px;}
.Shop_By ul li{ padding-left:30px;padding-bottom:5px;}
.Shop_By ul li a{ color:#ccc;font-size:12px;text-decoration:none;}
.breadcrumbs {margin: 0 0 10px;}
.breadcrumbs li {display: inline;font-size:11px;color:#9a9a9a;padding:0 0px;}
.breadcrumbs li a{ text-decoration:none;color:#333333;}
.content_area hr{ border: 0;color: #e5e5e5;background-color: #e5e5e5;height: 1px;text-align: left;margin:0;padding:0;width:630px;}
.star_rating{ padding:10px 0;}
.product_image{  width:460px;float:left;}
.product_image img{ display:block;margin:0 auto;}
.product_detail{ }
.email_to a{ color:#454545;}
.availability{ color:#6f6f6f;padding-top:5px;float:right;    text-align:left;}
.detail_compare{ float:right;position:relative;margin-top:4px;}
.quantity{ width:286px;float:left;padding-top:0 !important;}
.quan{ float:left;}
.quantity input{ background: #FFF;border: 1px solid #CCC;border-radius: 4px;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;color: #555;display: block;font-size: 13px;height: 34px;line-height: 1.42857;padding: 6px 0;transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;width: 36px !important;}
.right-banner img,.shipping img{float:left;}
.coloumtext{background:#FFFFFF;padding: 15px !important;font-size:12px;color:#5c5c5c;line-height:18px;}
.coloumtext h2{color: #2B2C2F;font-size: 18px;font-style: italic;font-weight: 800;padding-bottom: 10px;text-transform: uppercase;padding-top:5px;}
.coloumtext a{color:#282828;}
.coloumtext a:hover{color: #777777;}
.coloumtext p{padding:5px 0;}
.breadcrumbs li strong{font-weight:normal;}
.rating-links a{color: #282828;font-size: 12px;}
.rating-links a:hover{color: #777777;}
.short-description{color: #5C5C5C;font-size: 11px;line-height: 18px;margin-right: 20px;padding: 15px 0;}
.short-description h2{font-size:12px;color: #5C5C5C;padding:0;margin:0;text-transform:none;}
.product-tabs-content{padding:10px 0;}
.short-description{clear:both;}
#product_tabs_upsell_products_contents h2{font-size: 11px;font-weight: bold;padding: 15px 0;text-transform: uppercase;}
.mini-products-grid .product-name a{color: #1D1E20;font-size: 12px;font-style: italic;line-height: 17px;margin: 0 5px 12px 0;text-transform: uppercase;text-decoration:none;}
.mini-products-grid .product-name a:hover{color:#282828;}
.catView{margin-bottom:10px;}
.twocolumleft{background:#fff;}
.twocolumleft_left{width:285px;float:left;}
.twocolumleft_right{float:right;width:690px;font-size:12px;}
.twocolumleft_right p{padding:3px 0;}
#contactForm{width:600px;}
.sales-guest-form .form-alt li{margin-bottom: 12px;overflow:hidden;}
.Shop_By .right_detail span{color:#CCCCCC;}
.button.button span{ white-space:nowrap;}
.Shop_By .right_detail span:hover{color:#004e35;}
.Shop_By .right_detail a:hover{color:#004e35;}
.twocolumleft_left .right_head{background:none !important;color:#CCCCCC !important;font-size:14px !important;text-transform:capitalize !important;}
.twocolumleft_left .right_detail{background:none !important;color:#CCCCCC !important;padding-top:5px !important;}
.twocolumleft_left .Shop_By{width:198px;border:1px solid #CCCCCC !important;}
.twocolumleft_left .Shop_By .right_detail .actions button{clear:both !important;margin-top:25px !important;}
.twocolumleft_left .Shop_By .right_detail .actions button span{font-size:11px !important;}
.see_all_specials{float:right;padding-right:10px;}
.spec_price_str_details{text-decoration:line-through;font-size:12px;color:#FF0000;}
.product-options-bottom .add_to_cart{background: none repeat scroll 0 0 #CDCDCD;color: #3E3E3E;display: inline-block;float: left;font-size: 10px;font-style: italic;font-weight: 700;height: 24px;line-height: 24px;margin-left: 5px;padding: 0 10px;text-align: center;text-decoration: none;text-transform: uppercase;}
.product-options-bottom input{float: left;height: 19px;outline: medium none;text-align: center;width: 20px;}
.product-options-bottom label{  clear: both;display: inline-block;	padding-top: 5px;}
.product-options-bottom .price-box{margin-bottom:30px;}
.product-options-bottom .add-to-cart button.button{margin:0;}
#navigation { background: url(../images/background/menu_bg.gif) no-repeat top left;height: 44px;margin-bottom: 15px;}
#nav { font-size:12px;}
#nav li { position:relative;text-align:left;	}
#nav li.over { z-index:999;}
#nav a, #nav a:hover { display:block;text-decoration:none;}
#nav span { display:block;cursor:pointer;white-space:nowrap;}
#nav li ul span {white-space:normal;}
#nav li { float:left;margin:0;}
#nav a { float:left;color:#fff;text-shadow: 0px 1px #3f3f3f;line-height: 42px;padding: 0px 10px;}
#nav li.over a,
#nav a:hover, #nav li a:hover { color:#444;text-shadow: 0px 1px #fff;}
#nav a:hover { line-height: 42px;}
#nav li:hover a { color: #444 !important;text-shadow: 0px 1px #fff;}
#nav li.over, #nav li:hover {color: #444 !important;}
#nav li.active a{ text-shadow: 0px 1px #fff;color: #444 !important;text-shadow: 0px 1px #fff !important; }
#nav li.parent a { padding-right: 28px;}
#nav li.active a:hover { color: #444 !important;text-shadow: 0px 1px #fff !important;} 
#nav li.home, #nav li.home a:hover { -moz-border-radius: 8px 0px 0px 8px;-webkit-border-radius: 8px 0px 0px 8px;border-radius: 8px 0px 0px 8px;}
#nav li.home a{ padding-left: 12px;}
#nav li.home a:hover { color: #444;}
#nav ul li,
#nav ul li.active,
#nav ul li.over { float:none;border:none;background:none;margin:0;padding:0;text-transform:none;}
#nav ul li.parent { }
#nav ul li.last { padding-bottom:0;}
#nav ul li.active { margin:0;border:0;background:none;}
#nav ul a,
#nav ul a:hover { float:none;padding:0;background:none;line-height:normal;}
#nav ul li a { font-weight:normal !important;}
#nav ul { position:absolute;width:15em;top:38px;left:-10000px; padding:0;background: #000;}
#nav li.over > ul { left:0px;}
#nav li.over > ul li.over > ul { left:100px;}
#nav li.over ul ul { left:-10000px;}
#nav li:hover > ul li:hover {background-image:none !important;}
#nav li.parent > ul li a { background-image:none;/*text-shadow: 0px 1px #fff !important;*/ font-size:13px;}
#nav li.parent > ul li a:hover { background-image:none;/*text-shadow: 0px 1px #fff !important;*/ }
#nav ul li a {  padding:6px 10px;color:#fff !important;border-bottom: 1px solid #ddd; }
#nav ul li.last a { /*border-bottom: 0px;*/ }
#nav ul li a:hover {padding:6px 10px;color:#b5b5b5 !important;text-shadow: none !important;}
#nav ul ul { top:10px;border: 1px solid #bdbdbd;margin-left:75px;}
#nav ul ul li a { border-width: 1px 0px;}
.lastnavmenu ul{display: none;}
.lastnavmenu.over > ul{right:0px!important;display: block!important;}
.brandings_logo{ background:#fff;padding:18px;}
.brandings_logo img{padding-bottom:5px;}
.brandings_logo ul{ list-style:none;margin:0;padding:0;}
.brandings_logo ul li{ width:118px;float:left;margin-right:2px;}
.brandings_logo h2{color: #004e35;font-size: 18px;font-style: italic;font-weight: 800;padding-bottom: 17px;text-transform: uppercase;}
.brandings_logo h3{color: #004e35;font-size: 14px;font-style: italic;font-weight: 800;padding-bottom: 17px;text-transform: uppercase;margin:0;padding:0;}
.brandings_logo hr{color: #dedede;background:#dedede;}
.homelisting{height:295px !important;width:172px !important;}
.socila_media{padding:5px 0 0 0;}
.socila_media img{padding-right:5px;}
.productDetailview{margin-bottom: 20px;}
.productDetailview_left{float:left;width:465px;/** border-right:1px #CCCCCC solid;**/  padding-right:10px;min-height: 500px;}
.productDetailview_right{float:right;width:465px;}
.footerblock1_bg{background:url(../images/footerblock1_bg.jpg) top repeat-x #1f2022;width:100%;min-height:187px;}
.footerblock1_box1{min-height:187px;width:301px;border-right:solid 1px #3a393e;float:left;padding:0 15px;}
.footerblock1_box2{min-height:187px;width:301px;float:left;padding:0 15px;}
.footerblock1_box1 h3,.footerblock1_box2 h3{color: #F0F0F0;font-family: Arial Black,Helvetica,sans-serif;font-size: 13px;font-style: italic;padding: 6px 0;text-transform: uppercase;margin-bottom:20px;font-weight:normal;}
.footerblock1_box1 p,.footerblock1_box2 p
{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#8f9091;padding:5px 0;}
.guarentee_footer{padding:10px 0;}
.guarentee_footer li{display:block;float:left;padding:0 2px;}
.newsletter_footer{padding:10px 0;}
.content_area_home{ background:#FFFFFF;padding: 15px 0;}
.content_area_home h2{color:#282828;font-size:18px;text-transform:uppercase;border-bottom:1px solid #cdcdcd;margin:0;padding-bottom:5px;}
.content_area_home ul{ margin:0;padding:0;}
.pricebox_special{text-decoration:line-through;color:#CCCCCC;font-size:12px;}
.sperator_home{height:20px;}
.sperator_home2{height:40px;}
.storefinder{width: 311px;padding:10px;}
.storefinder h2{ color: #004e35;font-size: 14px;font-style: italic;font-weight: 800;padding-bottom: 17px;text-transform: none;}
.storefinder_search{background:#fff url(../images/findstore.jpg)  no-repeat top;width:294px;height:38px;padding:183px 10px 10px;}
.storefinder_search p{font-weight:bold;color:#27372a;font-size:15px;text-transform:uppercase;}
.storefinder_search h3{ color:#fcfbff;font-size:25px;text-transform:uppercase;text-align:center;padding:10px 0;}
.storefinder_search span{color:#1d2c27;display:block;text-align:center;font-size:13px;text-transform:uppercase;padding-top:4px;}
.storefinder_search label{color:#1d2c27;display:block;font-size:12px;text-transform:uppercase;float:left;font-weight:bold;padding:7px 5px 0 0;}
.storefinder_search input[type='text']{
line-height:29px;height:29px;background:#dcdbd7;width:110px;border:none;padding:1px;}
.storefinder_search input[type='submit']{background: none repeat scroll 0 0 #393438;color: #efefef;padding:7px;border:none;font-size:12px;text-transform:uppercase;font-weight:bold;}
.storeaddress{ background-color: #fff;border: 1px solid #DDDDDD;margin-top:5px; padding:10px;}
.storeaddress h6{font-size:11px;font-weight:normal;font-style:italic;}
.storeaddressbox{padding:5px 0;border-bottom:dotted 1px #666666;}
.storeaddressbox a{color:#5C5C5C;}
.storeaddressbox a:hover{color:#282828;}
.directshipping{padding-top:5px;}
.directshipping span{ text-align:right;font-size:10px;font-style:italic;}
.directshipping .hidethis{display:block;}
.directshipping span a {color:#666666;text-decoration:underline;}
.minbanners img{float:left;margin:0;padding:0;border:none;}
.coloumtext ul{list-style:disc;padding:0 0 0 42px;}
.breadcrumbs ul{padding:0;}
.productDetailview ul{padding:0;list-style:none;}
.form-list,.checkout-types{padding:0 !important;list-style:none !important;}
.homedeliverybutton a{background:url(../images/homedelivery.jpg)  no-repeat top;display:block;height:76px;width:100%;}
.homedeliverybutton a:hover{background:url(../images/homedelivery.jpg)  no-repeat bottom;display:block;height:76px;width:100%;}
.or{font-size:18px;font-weight:bold;text-align:center;font-weight:bold;padding:10px;}
.storename{font-weight:bold;color:#282828 !important;}
.storename:hover{ color:#000000 !important;}
.map_view{width:515px;margin:0 auto;}
.map_view #map { background: url("../images/map.png") no-repeat scroll 5px 10px transparent;font-family:Arial, Helvetica, sans-serif;font-size:14px;height: 485px;position: relative;width: 514px;}
.map_view #map li {background: none repeat scroll 0 0 transparent;font-size: 1em;list-style-type: none;margin: 0;}
.map_view #map a {color: #3A474D;cursor: pointer;display: block;font-size: 14px;font-weight: bold;overflow: hidden;position: absolute;text-align: center;text-decoration: none;text-transform: uppercase;}
.map_view #map a:hover, .map_view #map a:focus {background: url("../images/map_hover.png") no-repeat scroll 0 0 transparent;color: #FFFFFF;}
.map_view #map .western_australia a { height: 360px;left: 5px;top: 25px;width: 205px;}
.map_view #map .western_australia a:hover, .map_view #map .western_australia a:focus { background-position: 0px 32px;}
.map_view #map .northern_territory a {  height: 215px;left: 206px;top: 10px;width: 120px;}
.map_view #map .northern_territory a:hover, .map_view #map .northern_territory a:focus {  background-position: -216px 0px;}
.map_view #map .queensland a { height: 275px;left: 326px;top: 8px;width: 194px;}
.map_view #map .queensland a:hover, .map_view #map .queensland a:focus { background-position: -378px 2px;}
.map_view #map .new_south_wales a {  height: 130px;left: 357px;text-align: center;top: 269px;width: 161px;}
.map_view #map .new_south_wales a:hover, .map_view #map .new_south_wales a:focus { background-position: -376px -321px;}
.map_view #map .victoria a { height: 75px;left: 353px;top: 340px;width: 100px;}
.map_view #map .victoria a:hover, .map_view #map .victoria a:focus { background-position: -581px -113px;}
.map_view #map .australian_capital_territory a { height: 15px;left: 442px;top: 361px;width: 35px;}
.map_view #map .australian_capital_territory a:hover, .map_view #map .australian_capital_territory a:focus { background-position: -689px -322px;color: #202020;}
.map_view #map .tasmania a { height: 67px;left: 375px;top: 417px;width: 54px;}
.map_view #map .tasmania a:hover, .map_view #map .tasmania a:focus {background-position: -580px -321px;}
.map_view #map .south_australia a {height: 185px;left: 210px;top: 222px;width: 152px;}
.map_view #map .south_australia a:hover, .map_view #map .south_australia a:focus { background-position: -215px -319px;}
.map_view #map span { position: absolute;}
.map_view #map .western_australia span {left: 50%;top: 53%;display:block;}
.map_view #map .northern_territory span {left: 42%;top: 55%;}
.map_view #map .queensland span { left: 40%;top: 60%;}
.map_view #map .new_south_wales span { left: 38%;top: 40%;}
.map_view #map .australian_capital_territory span { left: 8px;top: -3px;}
.map_view #map .victoria span { left: 35%;top: 53%;}
.map_view #map .tasmania span { left: 28%;top: 50%;}
.map_view #map .south_australia span { left: 45%;top: 25%;}
#uvw-dialog-powered-by{display:none;}
#storesearch{width:479px;float:right;}
#storesearch label{color:#005d3e;font-weight:bold;}
#storesearch form{ background:#CCCCCC;margin:5px 0;display:block;padding:10px;} 
#storesearch input[type='text']{ width:300px;height:25px;border:1px solid #999999;}
#storesearch input[type='submit']{ background:#005d3e;padding:4px;border:1px solid #999999;color:#FFFFFF;}
.minbanners_outer{ padding:2px 0;width:999px;}
.email_to{display:none;}
#customer-reviews dl dt{font-size: 11px;font-style: italic;color: #0a0a0a;}
#customer-reviews dl dt span{font-weight: bold;}
#customer-reviews dl dt a{font-style: normal;font-size: 12px;color: #000;}
#customer-reviews dl dd{margin: 0;}
#customer-reviews dl dd small{font-size: 11px;font-style: italic;}
#customer-reviews .ratings-table{padding: 8px 0;}
.product-options-bottom .price-box,.product-options-bottom .add-to-links{display:none;}
.productDetailview_right .add_wishlist{text-align:right;}
.link-compare{display:none;}
.product_detail .price-box{float:left;}
.product_detail .sepor{display:none;}
.min_img_center{margin:0 14px;}
.min_img{float:left; background:url(../images/minbannersbg.png) no-repeat center 98px  ;padding-bottom:28px;}
.viewallbrands{text-align:right;}
.viewallbrands a{text-transform:uppercase;font-weight:bold;text-decoration:underline;font-style:italic;}
.home_left{float:left;}
.home_right{float:right;width:202px;padding-top:5px;}
.feed{margin-top:10px;}
.feed ul{border:1px solid #CCCCCC;margin:0;padding:0;}
.feed ul li{border-bottom:1px dashed #CCCCCC;padding:5px;}
.feed ul li h4{color:#666666;padding-bottom:5px;}
.feed ul li p{line-height:18px;}
.feed h2{background:#005f3f;margin:0;padding:5px;color:#FFFFFF;font-size:13px;}
.feed .block .block-title{background:#005f3f !important;margin:0 !important;padding:5px !important;color:#FFFFFF !important;font-size:13px !important;}
.feed .block-content{border:1px solid #CCCCCC !important;margin:0 !important;padding:0 !important;}
.feed .block-feed-item{border-bottom:1px dashed #CCCCCC !important;padding:5px !important;}
.allbrandings_logo{}
.allbrandings_logo ul{padding:0;margin:0;}
.allbrandings_logo ul li{ float:left;display:block;padding:10px 0;}
.video{float:left;padding-right:10px;}
.parteners li{border:1px solid #CCCCCC;padding:2px;margin:2px !important;width:150px !important;}
.parteners li img{width:150px;height:46px;}
.partenersh3{padding-top:5px;}
.product_detail .availability{display:none;}
.product_detail .form_productdetails{float:right;}
.product_detail .product_detail_inner{border:1px solid;margin: 10px 0 0;padding: 10px;}
.product_detail .quantity{ width:65px;float:left;margin-right: 20px;}
.productattribute{text-transform:capitalize;}
.productDetailview_right_des{padding:5px 0;}
.product_detail .regular-price{padding-top:5px;display:block;}
.productDetailview_right h2{padding-bottom:0px;margin: 0px;border: medium none !important;}
#products-list .regular-price .price{float:none;font-size:16px;}
#products-list .product-name{margin-bottom:10px;border-bottom:1px solid #f2f1f1;}
.customcontentArea{background:#FFFFFF;padding:15px 0;min-height: 500px;}
.customcontentArea .Product_Featured{width: 675px;}
.customcontentArea .Product_Featured ul li{width: 196px;}
.customcontentArea .Product_Featured ul .middle{margin: 0 10px;}
.cart-collaterals .button.button span , #checkout-review-load .button.button span{color:#000;}
.giftvoucher-product-info .price-box {margin-top: -3px;}
.giftvoucher-product-info input {margin: 2px 0 0 5px;}
.giftvoucher-product-info{float:left;width:300px !important;}
.giftvoucher-product-info #amount{  float: right;margin-left: 10px;width: 50px !important;}
.giftvoucher-product-info p{margin:0;padding:0;}
.giftvoucher-product-info input[type='text']{width:300px !important;text-align:left !important;}
.giftvoucher-product-info textarea{width:293px !important;text-align:left !important;}
#payment_form_giftvoucher .notice-msg{margin:10px 0;}
.block-reorder{display:none;}
.data-table thead th{background: url("../images/tail-manuf.gif") repeat-x scroll 0 0 #F8F8F8;border-bottom: 1px solid #DDDDDD;border-right: 1px solid #DDDDDD;color: #191919;font-weight: bold;padding:7px 7px 6px 8px;border-bottom: 1px solid #E7E7E7;}
.data-table {border:1px solid #E7E7E7;margin:5px 0;}
.data-table tbody td{border-bottom: 1px solid #E7E7E7;border-right: 1px solid #E7E7E7;}
.data-table th,td{vertical-align:middle;}
.data-table tbody td{padding:10px;}
.data-table tfoot td{padding:3px;}
.cart-table .btn-continue, .cart-table .btn-update{margin-top: 2px;}
#checkout-review-table-wrapper{padding: 5px;}
#checkout-review-table-wrapper .data-table{margin: 0!important;}
.productattribute{border-top: #ccc 1px solid;border-left: #ccc 1px solid;font-size: 13px;}
.productattribute td {border-bottom: 1px solid #CCCCCC !important;border-right: 1px solid #CCCCCC;padding: 5px !important;}
.cart-table .btn-continue span{color: #3E3E3E;float: right;font-size: 11px;font-style: italic;font-weight: 700;height: 25px;line-height: 25px;padding: 0 10px;text-align: center;text-decoration: none;text-transform: uppercase;}
.cart-table .btn-continue span:hover{background:#b7b7b7}
#brands_list li {float:left;padding: 0 37px;list-style:none;}
.brand-logo {margin-bottom: 20px;width: 168px;height: 77px;}
.brand-logo:hover { opacity: 0.3;}
.custom_sort{display: inline-block;font-size: 9px;font-weight: normal;padding-top: 1px;}
.giftvoucher-product-info label{margin-top: 3px;font-weight: bold;font-size: 11px;}
.star_rating{float: left;}
.add_wishlist_custom{float: right;width: 100px;padding: 10px 10px 10px 0;text-align: right ;}
.col2-set .content{width: 451px !important;}
.add_wishlist{display: none !important;}
.contactarea{padding:10px;border:#bababa 1px solid;background:#fff;}
.contactarea .contact-left{width:595px;float:left;}
.contactarea .contact-left label{display:inline-block;width:41px;padding-right:10px;text-align:center;font-weight:bold;}
.contactarea .contact-left input[type='text']{border:#dcdcdc 1px solid;padding:10px;width:519px;margin-bottom:10px;}
.contactarea .contact-left textarea{border:#dcdcdc 1px solid;padding:10px;width:519px;margin-bottom:10px;height:100px;}
.contactarea .contact-left button{float:right;width:98px;margin-right:2px;}
.contactarea .contact-right{width:302px;float:right;}
.contactarea .mapaddress{width: 400px;float: left;}
.contactarea .trading_hours{width: 490px;float: right;}
.contactarea .mapaddress span{display:block;margin:10px 0;padding:5px 0;border-bottom:#ccc 1px solid;font-size:14px;font-weight:bold;text-transform:uppercase;}
.contactarea .trading_hours span{display:block;margin:10px 0;padding:5px 0;border-bottom:#ccc 1px solid;font-size:14px;font-weight:bold;text-transform:uppercase;}
.contactarea .conmap{margin-top: 42px;}
#conres,#res{color:#FF0000;font-size:12px;font-weight:bold;display:block;}
#conres{ display: block;margin-bottom: 5px;padding: 4px;background-color: #FAEBE7;border-color: #F16048;color: #DF280A;}
.contactarea .err{border:#EB340A 1px solid!important;background-color:#FAEBE7!important;}
.paypal_footer{text-align:right ;padding-right: 5px;margin-top: 5px;}
.welcome_customer{color: #7f7f7f;font-style: italic;font-size: 15px;float: left;}
#checkout-shipping-method-load .sp-methods dt{display: none !important;}
#checkout-shipping-method-load .sp-methods dd{margin: 0 !important;}
#checkout-shipping-method-load .sp-methods input.radio{margin-top: -1px !important;}
.products-grid li.item,.Featured ul li{position: relative;}
.productDetailview_left .product-image{position: relative;border: #ccc 1px solid;}
.productDetailview_left .product-image .group:hover{cursor: -moz-zoom-in;}
.made_to_order{position: absolute;top: -10px;right: -10px;}
.made_to_order_list{position: absolute;top:-7px;right: -7px;}
#narrow-by-list ol.layered-links li a:hover{color: black;}
.sorter a:hover{color: #cccccc;}
.account-login .buttons-set button.button{float: left !important;margin-left: 0 !important;}
.account-login .f-left, .left{float: none !important;}
.account-login .buttons-set{margin: 0 !important;}
.box-reviews {margin-bottom: 15px;}
#checkout-paypaliframe-load{text-align:center ;}
#iframe-warning{text-align: left !important;padding: 9px;}
.col-main{width: 715px !important;}
#toPopup { font-family: "lucida grande",tahoma,verdana,arial,sans-serif;background: #FFF none repeat scroll 0px 0px;border: 10px solid #CCC;border-radius: 3px;color: #333;display: block;font-size: 14px;left: 50%;margin-left: -410px;position: fixed;top: 20%;width: 600px;z-index: 9999!important;}
.cart-collaterals{ text-align:right;padding-top:20px;}
.totals table{ width:100%;margin-bottom:20px;}
td .price{ padding:0 0 0 10px;}
#shopping-cart-totals-table  td  strong{ color:#e02f00;}
#shopping-cart-totals-table  td  strong .price{ color:#e02f00;}
.btn-update, .btn-proceed-checkout {float: right;padding: 10px 15px !important;}
.cart-table, .cart-collaterals{ background:#fff;}
.cart-table{ margin-bottom:0!important;}
.cartpage1{ background:#fff;padding:15px;}
.top-link-checkout:after{content: ""!important;}
#toPopup{font-family: "lucida grande",tahoma,verdana,arial,sans-serif;background: #FFF none repeat scroll 0px 0px;border: 10px solid #CCC;border-radius: 3px;color: #333;display: block;font-size: 14px;left: 50%;margin-left: -410px;position: fixed;top: 20%;width: 600px;z-index: 9999!important;}
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video{ z-index:9999;}
.step_head{ color:#202020!important;margin-top:5px;border-top:0!important;}
.step_head a{ float:right;}
.box-content{ padding:10px;}
.address h4{ font-size:13px;font-weight:bold;}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {float: none;}
.tabs-left .nav-tabs{border: 1px solid #ccc;padding: 6px 10px 0;}
.tabs-left .nav-tabs li{ width:100%;border-bottom:solid 1px #ccc;}
.tabs-left .nav-tabs li a{ color:#000;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ border:none;border-radius:0;border-bottom:solid 1px #ccc;background:none;}
.nav-tabs > li > a{ border-radius:0;padding:5px;border:none!important}
.nav-tabs > li > a:hover{ background:none;}
.nav li:hover a{background:none;}
.nav-tabs > li.active > a{ font-weight:bold;color:#000;}
.ui-slider-input{ margin-top:25px!important;display:block!important;}
.ui-content{ padding:0!important;}
.ui-rangeslider .ui-rangeslider-sliders{ margin:0 10px!important;margin-left:10px!important}
.checkbox.change_password { display: block;float: left;width: 20px;}
#Information .fieldset { border: 1px solid #ccc;clear: both;margin-bottom: 25px;margin-top: 35px;padding: 15px;position: relative;}
.twocolumleft_right ol{ margin:0;padding:0;list-style:none;}
.twocolumleft_right ul{ margin:0;padding:0;list-style:none;}
.twocolumleft_right h2{ margin-top:0;}
#checkoutSteps{ border:solid 1px #ddd;margin:0;padding:0;list-style:none;}
#checkoutSteps h2{ font-size:12px;}
.ui-accordion-header-active h2{ font-size:12px;color:#fff!important;}
.step-title{ position:relative;background:#eee;padding:12px;border-bottom:solid 1px #ddd;}
.step-title h2{ font-size:12px;color:#202020;font-weight:bold;margin:0;}
.step-title a{ position:absolute;right:10px;top:10px;}
.step{ padding:0 35px 10px 25px;background:#fff;}
.field{ width:50%;float:left;}
.field input, .field textarea { width:95%;padding:5px!important;height:auto;border:solid 1px #ccc;border-radius:0;margin-bottom:10px;}
.field select{ width:100%;padding:5px 0;border:solid 1px #ccc;}
.input-box input{ width:100%;padding:5px !important;margin:0px 0;border:solid 1px #ccc;margin-bottom:10px;}
.input-box{ padding-right:10px;}
.fields{ clear:both;margin-bottom:10px;}
.field label{ margin-bottom:0;}
.block-content dt {font-weight: bold;padding: 2px 10px!important;border-bottom:solid 1px #ccc;border-top:solid 1px #ccc;background:#eeeeee;text-transform:uppercase; color:#555;}
.site-checkout h1{ font-size:20px;}
#category-products .list-view { margin: 0 -10px;}
.empty{ padding:0 15px;text-align:center;}
.cat_name { margin-top: 2px;display: inline-block;width: 100%;max-height: 135px;overflow-y: auto;}
#category-products .items{ width:210px;}
.cat_name label{ display:block;} 
.step h3{ color: #232222;font-size: 12px;font-style: italic;font-weight: bold;line-height: 17px;padding-bottom: 2px;text-transform: uppercase;margin-top:0;}
.col-1, .col-2{ width:49%;float:left;}
.col-1{ margin-right:2%;}
.col2-set{ clear:both;}
input[type="radio"], input[type="checkbox"] { float:left;display:inline-block;line-height: normal;margin: 2px 5px 0 0;}
.col-2 .col-2{ margin:0;width:100%;}
.col-2  button.button{ margin-right:10px;}
.help-block-error{ display:none;} 
.has-error .help-block-error{ display:block;width:100%;} 
.sp-methods .price{ font-size:12px;}
#s_method_excellence_excellence{ margin-top:2px!important;}
.block-title span{ font-size:12px;text-transform:uppercase;}
.ui-accordion-header-active{ background:#000;color:#fff;}
.ui-accordion-header-active a{ color:#fff;}
.ui-accordion-header-active h2{ color:#FFF}
#checkout-form h4{ margin-top:0;font-size:13px;font-weight:bold;}
.ul{ margin-left:0;padding-left:15px;margin-bottom:15px!important;list-style:disc!important;padding-left:10px!important;}
.form-list{ margin-bottom:15px;}
.step ul{ margin:0;padding:0;list-style:none;}
#checkout-progress-wrapper .block-content{ background:#fff;padding:0;}
#checkout-progress-wrapper dl{ margin-bottom:0;}
#checkout-progress-wrapper .block-content dt {font-size: 12px;font-weight: bold;padding: 8px 10px!important;border-bottom:solid 1px #ccc;border-top:none!important;margin-bottom:1px;}
.site-checkout h1{ font-size:20px;}
.step .control-label{ display:none;} 
.wide { clear: both;display: block;float: none;}
.step input[type=checkbox] { width:auto;}
#checkoutSteps .section{clear: both;}
#payment_form_giftvoucher_dd{margin-left: 20px;}
.error-msg { border-color: #f16048; color: #df280a;}
.ui-widget-overlay{ display: none!important;}
.ui-dialog-content select { width: auto !important ;}
.ui-widget-header{ background:#e4e4e4;border:#e4e4e4;}
.ui-dialog .ui-dialog-content{ padding:15px;}
.ui-widget-content{ background:#fff !important;border:solid 1px #fff;-webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.46);-moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.46);box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.46);}
.ui-dialog .ui-dialog-content{ box-shadow:none;}
.home-pop h2{ margin-top:0px;font-size:16px;margin-bottom:10px;} 
.home-pop input { border: 1px solid #ccc;height: 35px;margin-bottom:0 !important;padding: 3px;width: 100%;border-radius:2px;padding:6px;transition:all ease-in-out 0.2s;}
.home-pop input:focus{ border-color:#bf1f3b;}
.ui-state-default .ui-icon {background-image: url(../../../images/ui-icons_ef8c08_256x240.png);}
#d_close { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;display: inline-block;float: right;padding: 15px 0 0;text-decoration: underline;}
#d_subscribe {background: #cdcdcd  none repeat scroll 0 0;border: 0 none;border-radius: 0;color: #000;display: inline-block;float: left;font-size: 14px;padding: 8px 25px;text-align: center;transition:all ease-in-out 0.2;}
#d_subscribe:hover { background: #82081e;}
div.items { -webkit-animation: fade 2s;animation: fade 2s;opacity: 1; }
@-webkit-keyframes fade { from {opacity: 0} to {opacity: 1}}
@keyframes fade { from {opacity: 0} to {opacity: 1}}
#my-orders-table{ margin-bottom:20px;}
.tab-content h3 { color: #000000;float: none;font-size: 14px;font-weight: bold;margin: 0;list-style:none;margin-bottom:10px;}
.addresses-primary h2, .addresses-additional h2{margin-bottom: 15px !important;text-transform: capitalize;background: rgb(241, 241, 241) none repeat scroll 0% 0%;font-size: 14px !important;font-weight: bold;padding: 7px 10px;}
.address a { text-decoration: underline;}
.account a { text-decoration: underline;}
.box-content a { text-decoration: underline;}
.box-account a { text-decoration: underline;}
.addresses-primary a {text-decoration: underline;}
#Addressbook .item{ list-style:none;margin-bottom:20px;padding:7px 10px;}
.account-title{ position:relative;overflow:auto!important;}  
.account-title .add_address{ position:absolute;top:0;right:0;background:#000;border:0;color:#fff;padding:8px 15px;}
.account-title h2{ margin-bottom:15px!important;}
.nav-sm{ margin:0;padding:0;}
.nav-sm li{ list-style:none;}
 #left ul.nav-sm li .sign {display: inline-block;width: 14px;padding: 5px 8px;background-color: transparent;color: #fff;}
#left ul.nav-sm li.parent>a>.sign{ margin-left: 0px;    background-color: #999;}
#left ul.nav-sm li .lbl {padding: 5px 12px;display: inline-block;}
#left ul.nav-sm li.current>a>.lbl {color: #fff;}
#left ul.nav-sm  li a .lbl{ font-size: 12px;}
.nav-sm ul{ padding-left:10px;}
#left ul.nav-sm>li.item-1.parent>a>.sign,
#left ul.nav-sm>li.item-1 li.parent>a>.sign{ margin-left: 0px;}
#left ul.nav-sm > li.parent > a{ border:none!important;}
#left ul.nav-sm li.parent > a > .sign{ background:none!important;}
#left ul.nav-sm li .sign{ color:#202020!important;padding: 0 2px!important;cursor:pointer;}
.nav-sm li.parent a:hover{ box-shadow:none!important;text-decoration: none;}
#left ul.nav-sm li .lbl{ padding:2px 1px!important;color:#4d4d4d!important}
.children{ background:none!important}
#left .nav-sm ul, #left .nav-sm ul li, #left .nav-sm > li > a:hover, .nav-sm > li > a:focus{ background:none!important;border:none!important;outline:none;}
.parent{ padding:5px 0;}
.gallery-view .item { text-align: center;}
.gallery-view .item img{ width:auto; height:auto; max-width:100%;margin:0 auto;display:inline-block !important;}
.gallery-view .carousel{ height:500px!important;line-height:500px!important;width:100%!important}
.gallery-view .carousel-indicators{ line-height:0;color:#202020}
.gallery-view .carousel-caption{ line-height:0;color:#202020; z-index:999;}
.gallery-view{ margin-bottom:20px;}
.btn-update, .btn-proceed-checkout, .btn-continue{ background:#bf1f3b;color:#fff;}
.btn-update, .btn-proceed-checkout span, .btn-continue span{color:#fff!important;}
#shopping-cart-totals-table td strong, #shopping-cart-totals-table td strong .price{ color:#bf1f3b}
.success-msg{ text-align:center;padding:30px 0 !important;}
.success-msg h1{ font-style:normal;color:#4F4F4F;}
.success-msg p{ color:#666;line-height:24px;}
.p-one{ font-size:21px;line-height:38px;}
.cont{ border:0;background:#BF1F3B;padding:10px 18px;font-size:15px;font-weight:600;color:white;margin-top:15px;transition:all ease-in-out 0.3s;}
.cont:hover{ background:#7C0B0B;}
.sm-icons a{ display:inline-block;font-size:18px;text-indent:0;line-height:15px;background:none;height:auto;margin:0 2px;color:#707070;}
.config-attributes input{ float: left;height: auto;outline: medium none;text-align: center;width: 250px;}
.topmenu li a:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;}
.findus a:hover {opacity:0.6;}
.finduson a:hover {opacity:0.6;}
/*.movetop:hover{	opacity:0.6;}*/
.items .cartButton a:hover{	background:#000;}
button.button:hover { background: #000 none repeat scroll 0 0;}
#shopping-cart-table .button { padding: 0 !important;}
#shopping-cart-table .button span { font-size: 11px;height: 25px;line-height: 25px;padding: 0 10px;}
.discount-form .input-text { padding: 4px 7px !important;width: 300px;}
.discount-form .input-box { padding: 0;}
.button.apply-code { margin-bottom: 10px;}
.Xpreview { display: inline-block;/*overflow: hidden;*/height: 150px;}
.Xpreview img{ margin-left: -3px;margin-top: -3px;}
.card-details label { display: inline-block !important;}
.ui-widget-content{ box-shadow: 0 0 0 1500px rgba(0, 0, 0, 0.46);z-index:99999 !important;}
.ui-draggable{  position:fixed !important;}
#left ul.nav ul li{ width: 100%;}	
.breadcrumb > li + li::before{ content: "> ";}
.navarea ul li ul li{ border-left:0 !important;}
.navarea ul li ul li:last-child{ border-bottom:0 !important;}
#checkoutSteps .ui-widget-content{ box-shadow:none !important;border-radius: 0;}
.owl-prev, .owl-next{ bottom: 0;left: 10px;margin: auto;overflow: hidden;position: absolute;text-indent: -999px;top: 0;width: 21px;}
.product-options{ background-color: #fcfcfc;border: 1px solid #dddddd;float: right;padding:15px;width:100%;margin-top:15px !important;}
.product-options dt { font-weight: normal;padding: 10px 0 0;}
.product-options dt label { font-weight: bold;}
.product-options dt span.required { color: #eb340a;}
.product-options dt .qty-holder { float: right;margin-right: 15px;}
.product-options dt .qty-holder label { vertical-align: middle;}
.product-options dt .qty-disabled { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 0 none;color: #444;padding: 3px;}
.product-options dd { border-bottom: 1px solid #ddd;margin: 0 0 5px;padding: 5px 10px 15px;}
.product-options dl.last dd.last { border-bottom: 0 none;margin-bottom: 0;padding-bottom: 5px;}
.product-options dd input.input-text { width: 98%;}
.product-options dd textarea { height: 8em;width: 98%;}
.product-options dd select { width: 99%;}
.product-options dd .multiselect option { border-bottom: 1px dotted #d9e5ee;padding: 2px 4px;}
.product-options ul.options-list { margin-right: 5px;}
.product-options ul.options-list li { padding: 2px 0;}
.product-options ul.options-list input.radio { float: left;margin-top: 3px;}
.product-options ul.options-list input.checkbox { float: left;margin-top: 2px;}
.product-options ul.options-list .label { display: block;margin-left: 18px;}
.product-options ul.options-list label { font-weight: normal;}
.product-options ul.validation-failed { padding: 0 7px;}
.product-options p.required { margin-bottom: 0;padding: 15px 0 0;}
.product-options dl{ clear:none !important;float: left;width: 243px;margin-bottom:0 !important;}
.owl-prev:after, .owl-next:after{  content:"\f053";font-family: FontAwesome;width:25px;height:25px;font-size:33px;color:#666;position:absolute;display:inline-block;left:0;top:0;bottom:0;margin: auto;text-indent:0;}
.owl-next:after{ content:"\f054";}
.owl-next{ right:0;left:auto; }
.cartpage .customcontentArea{ margin:0 -15px;}
#product-options-wrapper #products-f_size { width: 155px;height : 25px;padding : 0 12px;}
.empty-wrapper{ width:100%;float:left;text-align:center;padding-top:43px;}
.empty-wrapper i{ font-size:210px;color:#bfbfbf;}
.empty-wrapper h1{ font-size:25px;color:#747474;font-style:normal;font-weight:600;text-transform:none;line-height:40px;}
.empty-wrapper span{ font-size:13px;color:#7a7a7a;}
.empty-wrapper a{ display:inline-block;background:#000;padding:9px 10px;font-size:14px;font-weight:600;color:white;margin-top:20px;}
.empty-wrapper a:hover{ text-decoration:none;}
.empty-wrapper a i{ font-size:14px;color:white;}
.search_items {margin: 10px !important;width: 184px !important;}
.newproducts-carousel{display:none;}
.ui-front{ width: 600px !important;border-radius:0 ;border:1px solid #bf1f3b;padding:0;right: 0 !important;
    left: 0 !important;
    margin: auto !important;}
.ui-front .ui-dialog-titlebar{ padding:0;}
.ui-front .ui-widget-header .ui-dialog-titlebar-close{ position:absolute;top:5px; outline:none !important;margin:0;right:5px;opacity:1;z-index:9999999;background: none !important;color:#bf1f3b;border-radius:0;}
.ui-front .ui-dialog-title{ display:none;}
.ui-front .ui-state-default .ui-icon{ display:none;}
.ui-button-text:after{ position:absolute;content:"x";line-height:16px;font-family: FontAwesome;top:0;left:0;width:100%;color: grey;text-indent:0;font-family: 'Open Sans', sans-serif;font-size:18px;}
.left-pop{ width:65%;float:left;}
.right-pop{ width:35%;float:left;text-align:center;margin-top:-35px;}
.pop-head{ width:100% ;float:left; font-size:25px;padding:30px 0;margin-top:-15px;color:#bf1f3b;font-weight:600;font-family: 'Open Sans', sans-serif;text-transform:uppercase;}
.pop-cnt{ color:#757373;font-size:13px;line-height:21px;margin-bottom:15px;margin-top:-5px;width:100%;float:left;}
.sale_menu a { color: red;}
.thumb_product{display: table;width: 100%;height: 150px;}
.thumb_product a{display: table-cell;vertical-align: middle;}
.parent ul{ left:0 !important;}
.image-popup .modal-content img{ max-width:100%;}
.image-popup .modal-content { text-align: center;}
.image-popup .modal-dialog{ width:750px}
.help-block{ white-space: nowrap;float:left}
.field-products-f_size .help-block{ padding-left:76px;margin-top:-5px;}
.giftvoucher-details { padding: 15px;}
.payment-card-paypal {padding: 15px;}
.payment-card-paypal > dd {padding: 10px;}
.pagination li { border: medium none !important;display: inline-block !important;    float: none !important; margin: 0 -2px !important;    min-height: 10px !important;    padding: 0 !important;text-align: center !important;width: auto !important;}
.pagination {margin: 10px 0 15px 10px !important;text-align: center;width: 100%;}
.pagination li:hover{ box-shadow:none!important;}    
.pagination > li > a, .pagination > li > span{ color:#000;}    
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{ background:#ccc;border:solid 1px #ccc;color:#000;box-shadow:none!important;}
.check-row{ margin:0 -5px;}
.check-row .col-xs-4, .check-row .col-xs-6, .check-row .col-xs-12{ padding:0 5px;}
#checkout-form .ui-accordion-header-active{ margin-top:-1px;}
.form-control{ border-radius:0;}
button.button{ padding:7px 15px !important;}
.ui-accordion .ui-accordion-icons { border-radius: 0;}
#payment_form_giftvoucher_dd .form-group{ margin-bottom:5px;}
.ui-accordion .ui-accordion-content{ padding:15px;}
#payment_using_card .help-block{ margin-top:0;margin-bottom:10px;width:100%;}
#checkout-step-login h3 { border-bottom: 1px solid #e4e4e4;}
#checkout-step-login p { margin-bottom: 15px;margin-top: 15px;}
.Featured .summary {display: none;}
#checkoutSteps {font-family: arial;}
#checkoutSteps .ui-widget-content { font-size: 12px;}
#checkout-step-login li { margin: 4px 0;}
.container .product_det .product_detail h2 {font-size: 18px;border-bottom: 1px solid #cdcdcd;padding-bottom: 8px;margin-bottom: 6px;}
.home-text .round-home .fa-home::before{ content:'Home';font-family:Arial, Helvetica, sans-serif;font-size:12px ;line-height: normal;}
.ui-accordion .ui-accordion-header{ margin-top:-2px;}
.ui-widget-content{ background:white;}
.ui-widget-header{ background:none !important;border:0 !important;}
.ui-button{ border:0 !important;}
.home-pop{ display:none;}
.ui-dialog .home-pop{ display:block !important; float:left;}
.pro_det_img a{ cursor:zoom-in;}
.items.brand_logos{ width:235px !important;min-height: 0 !important;height:135px !important;}
.brand_logo{ width:100%;}
.brand_logo img{ max-width:100%;}
#category-products{ padding-top:15px;}
.brand_list h2{border-bottom:none !important;}
.addresses-additional a{ font-weight: bold;padding: 10px 0 0 10px;}
.copyright { font-style: italic;}
.nav > li > a:hover, .nav > li > a:focus {background-color: transparent;}
.update-wishlist{ border:0;background: black;color:white;color: #fff;cursor: pointer;font-weight: bold;padding: 5px 15px;text-transform: uppercase;}
.popup-absolute .ui-draggable{ position:absolute !important; top:35px !important;}
.addresses-primary li{ list-style:none;}
.addresses-primary .item h3 {font-size: 12px;font-weight: bold;}
.addresses-primary li.item { margin: 0 0 12px;padding: 0 10px;}
.account-title a{ display:inline-block;margin-bottom:15px;}
.site-signup .legend{ margin:-32px 0 0 !important}
.fm-footer .btn{ float:right;border-radius:0;}
.fm-footer a i{ margin-right:5px;font-size:18px;}
#product-options-wrapper .form-group .control-label, #product-options-wrapper .fieldset label{ width: auto !important;}
#product-options-wrapper .config-attributes label{ font-weight:normal;text-align:left;}
.config-attributes .field-products-recipientmessage textarea{ float:left;width:250px;margin-left:0;}
.config-attributes .form-group{ float:left;margin-bottom:5px;width:250px;}
.config-attributes .help-block{ margin:0 !important;}
.stored-shipping-address{ margin-bottom:10px;}
#billing-buttons-container{ margin-top:10px;}
.input[type="radio"], input[type="checkbox"]{ margin-top:5px !important;}
.sku-text{
    float: right;
    margin-top: -16px;
    color: #ccc;
    font-size: 12px;
}
.issuu-isrendered{width: 100% !important;}
.issu-promotion {margin-bottom: 15px;padding-right: 15px}
.promotion-startdate span{font-weight: bold;}
.hide-catalog{background: #BF1F3B;
    cursor: pointer;
    border: 0;
    color: #fff;
    width: auto;
    padding: 5px;
    margin-bottom: 15px;
    display: inline-block;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

.promotion-start span{font-weight: bold; margin-right: 5px;} 
.promotion-start{display: inline-block; float: left; margin-right: 50px;}   
.form-group .control-label, .fieldset label { width: 100% !important; }
.fieldset .legend{ margin:10px 0 10px 0 !important;}
.account-title{ margin-top:0 !important;}
.pp-left{ width:48%; float:left;}
.pp-left:first-child{ margin-right:4%;}
#form-signup .fieldset .legend{ margin:-36px 0 0 0 !important;}
.product_detail input.giftvoucher-text{height: 28px !important; text-align: left !important;}
.addresses-additional li{ list-style: none;}
.detail_cart .price {padding: 7px 0 0 0 !important; margin-right: 25px;}
.share {padding-top: 5px;float: left;margin-right: 25px;}
.pull-right.wishlist{ /*margin-top:-19px !important;*/}
#_d{ position:relative;}
.closeDiv{ right:10px; top:10px; width:10px; text-align:center; color:#666; height:10px; display:inline-block; position:absolute; z-index:999999; cursor:pointer;}
.close-warning{ display: none !important;}
.ring-size{padding-top: 7px; color: #000; font-style: italic; text-decoration: underline;}
.tabs-left .nav-tabs li a.active { font-weight: bold;}
.ribbon{ position:relative;}
.ribbon:after{ position:absolute; top:-23px; right:-23px; width:104px; height:104px; content:""; display:inline-block; background:url(images/custom_made.png) no-repeat center; }
.ribbon-detail{ position:relative;}
.ribbon-detail:after{ position:absolute; top:-7px; right:-7px; width:104px; height:104px; content:""; display:inline-block; background:url(images/custom_made.png) no-repeat center; }
.ribbon-cat{ position:relative;}
.ribbon-cat:after{ position:absolute; top:-23px; right:-16px; width:104px; height:104px; content:""; display:inline-block; background:url(images/custom_made.png) no-repeat center; }
#shipping-new-address-form input[type="checkbox"]{margin-top: 0px !important;}
#contact-form .form-group {width: 100%;}
#contact-form .btn-primary { float: left !important;}
.navbar-nav li{ float: left;} 
#_d{ z-index:999999 !important;}
#_l{ z-index:999999 !important; position:fixed !important; height:100% !important; background:rgba(0, 0, 0, 0.7) !important;}
.movetop .fa:after { content:none!important;}
.movetop .fa { font-size:19px!important; padding:18px 11px 9px!important;}
.fa.fa-arrow-up.fa-round { background:grey!important;}
.fa.fa-arrow-up.fa-round:hover {color:#000!important;}
.fa.fa-angle-up.fa-round {background:grey;}
.fa.fa-angle-up.fa-round:hover {color:#000;}
.movetop.pull-right a:hover { text-decoration:none!important;}