body{ color:#4c4c4c; }
.cart-main-bg{width: 100%;float: left;font-family: "Raleway",sans-serif; }
.cart-heading{/*background:url(../images/cart-heading.png) #282828 no-repeat;width:100%;height:72px;background-size:cover;*/width: 100%;float:left;/*padding-top:15px;*/border-top:1px solid #222222; }
.cart-heading h4{color:#4c4c4c;font-size:23px;font-family: "Raleway",sans-serif;float:left; }
input:focus, input:hover, input:active, input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus{ outline:none !important;}
.cart-heading ol.breadcrumb{margin:15px 0 15px;padding:0;background:none; float:right;}
.cart-heading ol li{padding:0 5px;float:left;font-size:14px;font-weight:500; }
.cart-heading ol li a{color:#959595; }
.cart-heading ol li a:hover{color:#fff; }
input{ border-radius:0;}
.cart-content-bg{padding-top:15px;background:#fff;margin-bottom:20px;width: 100%;float: left; }
.cart-content-bg .table-bg{float:left;width:100%; }
.cart-content-bg .table-header{background:#ebebeb;font-weight:normal; }
.cart-content-bg > .table > thead > tr > th{padding:10px 8px;border-bottom:none!important; }
.cart-content-bg .table input.form-control{padding:2px 5px;text-align:center;height:auto!important; }
.cart-content-bg th{ font-weight: normal!important; }
.cart-content-bg .form-control{border-color: #ebebeb;box-shadow:none; }
.cart-content-bg .form-control:focus {border-color: #ebebeb;outline: 0px none;box-shadow:none; }
.cart-content-bg textarea{resize:none; }
.cart-content-bg .table a{font-size:18px;color:#696969;margin-top:10px;margin-left:10px;cursor:pointer; }
.cart-content-bg .table a:{ text-decoration:none; }
.cart-content-bg .table a:first-child{margin-left:0px; }
.cart-content-bg .prdct-img{text-align:center;width:150px; }
.cart-content-bg .prdct-img img{max-width:140px;width:auto; }
.cart-content-bg .table .input-cls{width:70px; }
.cart-content-bg .table .unit-price,.cart-content-bg .table .subtotal{font-family: "Roboto",sans-serif; }
.sm-icons{width:100px;text-align:center; }
.cart-content-bg .table tbody{font-size:13px; }
.table{ border: 1px solid #f1f1f1; }
.table thead > tr > th { border-bottom: none; }
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td { border: 1px solid #f1f1f1; }

.cart-content-bg a .shopping-btn-bg, .cart-content-bg button{background:#3689c0;padding:8px 14px;color:#fff; border:0; transition:all ease-in-out 0.2s; }
.cart-content-bg a .shopping-btn-bg:hover, .cart-content-bg button:hover{ background:#196ca3; }

.cart-content-bg a .shopping-btn-bg i{margin-right:10px; }

.promo-code-bg{float:left;width:100%;padding:25px 0;border-top:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1;margin-top:20px; }
.promo-code-bg .pull-left p{margin:0 0 8px;color:#696969;font-size:13px; }
.promo-code-bg .ns-field{margin:0;width: 100%;float: left;background: #FFF none repeat scroll 0% 0%; }
.promo-code-bg .ns-field input{border:1px solid #cbcbcb;width:250px;height:36px;float:left;padding: 6px 12px;color: #666; }
button.apply-code {font-size: 14px;background:#282828 none repeat scroll 0% 0%;padding:0 14px;width:auto;height:36px;text-align:center;color:#FFF;line-height:35px;float:right; border:0; }
button.apply-code:hover{ background:black; }
.input-box button.apply-code{ float:left;}


.promo-code-bg .pull-right p span{width:140px;float:left; line-height:27px; }
.promo-code-bg .pull-right p b{font-family: "Roboto",sans-serif;font-weight:500; }
.promo-code-bg .pull-right p b span{ width:100px; }

.cart-content-bg .proceed-bg{float:left;width:100%;padding-top:20px; }
.notification-container{ clear:both; padding-top:15px; margin-bottom:-15px; }
.notification-container .alert{ margin:0; }

/*------------cart page----------------------------*/

/*------------checkout page----------------------------*/
.site-checkout{width: 100%;float: left;font-family: "Raleway",sans-serif; }
.site-checkout{padding:18px 0;margin-bottom:20px;width: 100%;float: left; }

.site-checkout .panel-heading {padding: 0px; border:0; }
.site-checkout .ui-accordion{ margin:0; padding:0;}
.site-checkout .ui-accordion li{  list-style:none;}
.site-checkout .ui-accordion li.section{margin-bottom:15px;}
.site-checkout .panel-heading a.collapsed {border:1px solid #e5e5e5; }
.site-checkout .panel-heading a { display: block; background: #fff; color: #414141; padding: 15px 10px; text-decoration: none; position: relative; border:1px solid #e5e5e5; }

.site-checkout .panel-heading a:after { content: '+'; position: absolute; right: 20px; top:7px; font-family: "Roboto",sans-serif; color:#c3c3c3; font-size:26px; }
.site-checkout .panel-heading a:before{left:0; width:5px; top:0; bottom:0; background:none; display:inline-block; content:""; position:absolute;}
.site-checkout .panel-heading.ui-accordion-header-active a:after { content: '-'; }
.site-checkout .panel-heading.ui-accordion-header-active a:before{  background:#282828; }

.site-checkout .panel{background:#f3f3f3;border:none;box-shadow:none; }
.site-checkout .ui-accordion-content {margin-top: 10px;background: #fff;border: 1px solid #DDD;padding:25px 20px; }

.site-checkout .panel-heading a .numbers{width:20px; height:20px;border-radius:50%;text-align:center;border:1px solid #dfdfdf;color:#dfdfdf;float:left;margin-right:15px;font-size:13px;font-family: "Roboto",sans-serif;padding-top:2px; }

.site-checkout .panel-heading.ui-accordion-header-active .numbers{border-color:#1E1E1E;color:gray; }
.site-checkout .panel + .panel {margin-top: 10px; }

.site-checkout .new-customer-bg{padding:0 15px 0 0; }
.site-checkout .new-customer-bg h1,.site-checkout .returning-customer h1{margin:0 0 6px;color:#414141;font-size:24px; }
.site-checkout .new-customer-bg .radio-bg{float:left;width:100%;padding:10px 0 20px; }
.site-checkout .new-customer-bg .radio-bg input{cursor:pointer; }
.site-checkout .continue{ padding:8px 25px; border:0; cursor:pointer;background:#282828;color:#fff;border-radius:0;font-size:16px;margin-top:28px;transition:all ease-in-out 0.2s; }
.site-checkout .continue:hover{background:#3689c0; }
.site-checkout .new-customer-bg p, .site-checkout .returning-customer p{font-size:13px; }

.site-checkout .returning-customer{padding:0 0 0 10px; }
.site-checkout .returning-customer .input-bg{float:left;width:100%;padding:10px 0; }
.site-checkout .returning-customer .login-button{padding:8px 15px; border:0; cursor:pointer;background:#3689c0;color:#fff;border-radius:0;font-size:16px;transition:all ease-in-out 0.2s; }
.site-checkout .returning-customer .login-button:hover{background:#282828; }
.site-checkout .returning-customer .pull-right a{color:#6d6d6d;font-size:13px;margin-top:13px;float:left; }
.site-checkout .returning-customer .pull-right a:hover{text-decoration:underline!important; }
.site-checkout ul{ padding:0; margin:0;}

.site-checkout .form-group{position:relative;float:left;width:100%; }
.site-checkout label{font-weight:normal;font-size:15px;color:#555555; }
.site-checkout input.form-control,.site-checkout  textarea.form-control{border-radius:0;box-shadow:none;font-size:14px; }
.site-checkout  textarea{resize:none; }
.site-checkout input.form-control:focus,.site-checkout  textarea.form-control:focus{border-color:#ccc; }
.site-checkout .continue-btn, .site-checkout .continue-btn{margin:0; }
.site-checkout .continue-btn{margin:10px;  }
.site-checkout .form-group{ margin-bottom:15px;}

.site-checkout .search-wrapper{margin-bottom:15px;font-size:12px;position:relative}
.site-checkout .styledSelect{padding: 6px 12px;color: #7A7A7A; }
.site-checkout .search-wrapper .select {width: 100%;border:1px solid #ccc; }
.site-checkout .search-wrapper select {height:auto; }
.site-checkout .styledSelect::after {top:14px; }
.site-checkout .padding-div{padding:0; }
.site-checkout .help-block{color:#A94442;font-size:13px;background:#fff; }
.required-filed{font-size:11px;font-style:italic;margin-bottom:5px; }
.control-label:after,.required-filed:before { content:"*"; }
.site-checkout .radio{float:left;width:100%; }
.site-checkout .radio-search{margin:5px 0; }

.payment-information-bg .table-bg{float:left;width:100%; }
.payment-information-bg .table-header{background:#ebebeb;font-weight:normal; }
.payment-information-bg .table{margin-bottom:0; }
.payment-information-bg > .table > thead > tr > th{padding:10px 8px;border-bottom:none!important; }
.payment-information-bg .table input.form-control{padding:2px 5px;text-align:center;height:auto!important; }
.payment-information-bg th{font-weight: normal!important; }
.payment-information-bg .table .input-cls{width:70px;text-align:center; }
.payment-information-bg .table .unit-price,.payment-information-bg .table .subtotal{font-family:"Roboto",sans-serif; }
.payment-information-bg .table tbody{font-size:13px; }

.payment-information-bg .grand-total-bg{float:left;width:100%;border:1px solid #F1F1F1;border-top:0;padding:20px 10px;background:#F3F3F3 ;margin-bottom:20px;margin-top:-1px;font-size:13px; }
.grand-total-bg .pull-right p{margin-bottom:5px; }
.grand-total-bg .pull-right p span{width:200px;float:left;text-align:right;margin-right:10px; }
.grand-total-bg .pull-right > p > b{font-family:"Roboto",sans-serif;font-weight:500; }
.grand-total-bg .pull-right .grand-total{font-family:"Roboto",sans-serif;font-size:20px;text-align:right;color:#3689C0; }

.gift-voucher-bg{float:left;width:100%;position:relative; }
.gift-voucher-bg .gift-voucher button.collapsed::before{content: '\f067';font-family: FontAwesome; }
.gift-voucher-bg .gift-voucher button::before{ content: '\f068'; font-family: FontAwesome; color:#fff; font-size:16px; margin-right:10px; padding-top:5px; }	
.gift-voucher-bg .applay-btn{ padding: 8px 15px; cursor:pointer; background: #3689C0 none repeat scroll 0% 0%; color: #FFF; border-radius: 0px; font-size:15px; transition: all 0.2s ease-in-out 0s; }
.gift-voucher-bg .gift-voucher-cont{width:100%;border:1px solid #F1F1F1;padding:20px 10px;overflow-y:auto; }
.gift-voucher-bg .gift-voucher-cont p{margin-bottom:7px; }
.gift-voucher-bg .gift-voucher-cont b{font-family:"Roboto",sans-serif; }
.gift-voucher-bg .ns-field{margin:0;width:100%;float:left;background: #FFF none repeat scroll 0% 0%;position:relative; }
.gift-voucher-bg .ns-field input{border:1px solid #cbcbcb;width:250px;height:36px;float:left;padding: 6px 12px;color: #666; }
.gift-voucher-bg .ns-field a {font-size: 14px;background:#282828 none repeat scroll 0% 0%;padding:0 14px;width:auto;height:36px;text-align:center;color:#FFF;line-height:35px;float:right; }
.gift-voucher-bg .help-block{top:5px;min-width:200px; }
.inner-container{ width:100%; float:left; background:white; border:1px solid #dddddd; margin:0 0 30px; padding: 0 15px; }
.pro_det_img {border: 1px solid #e7e7e7;height: auto;margin-bottom: 20px; text-align: center; width: 100%; position:relative; }
.product_det{ padding:20px 0 0 0; }
.product_detail h2{ margin:0; font-size:26px; font-weight:normal; color:#565656; }
.review-line{ width:100%; float:left; padding:5px 0 10px 0; border-bottom:1px solid #eaeaea; }
.review-line a{ display:inline-block; color:#7b7b7b; font-size:13px; margin-left:15px; }
.review-line a:hover{ text-decoration:none; color:#505050; }
.stars{ margin-top:3px; }
.pdt-text{ width:100%; float:left; font-size:15px; color:#4b4949; line-height:21px; margin:10px 0; }
.add-crt{ width:100%; float:left; }
.quan, .config-attributes .control-label{ display:inline-block; font-size:14px; line-height:29px; margin-right:10px; font-weight:normal !important; float:left; }
.config-attributes input{ border: 1px solid #eaeaea; height:33px; padding:5px; float:right; }
.share{ display:inline-block; margin-left:15px; }
.product-options{ float:left; margin-top:10px; margin-left:35px; }
.quantity{ display:inline-block; float:left; }
#products-qty{ width:60px; height:33px; border-radius:0; float:left; }
.form-control{ border-radius:0; border:1px solid #eaeaea; box-shadow: none !important; color:#868686; font-weight:300; }
.wish-btn{ float:left; width:39px; height:33px; background:#3689c0; color:white; text-align:center; line-height:33px; margin-left:10px; }
/*.form-group{ margin:0; }
*/.help-block{ clear:both; }
.pdt-btn{ background: #3689c0; color:white; text-align:center; line-height:33px; margin-left:10px; float:left; padding:0 12px; }
.confg-options{ display:inline-block; float:left; margin:0; }
/*.field-products-rating{ display:none; }*/
.sku-text{ position:absolute; right:15px; bottom:15px; color:#999; font-size:13px; font-weight:300px; }
.group { cursor:zoom-in; }
.pdt-btn:hover, .wish-btn:hover{ background:#175781; color:white; text-decoration:none; }
.dtls-head{ color:#565656; font-size:16px; font-weight:normal; }
.detail-view th{ font-weight:400; font-size:14px; }
.detail-view td{ font-weight:300; font-size:14px; }
.review_wrapper{width:100%;float:left;margin-top:13px; }
.review_head{ border-bottom:1px solid #eaeaea; padding-bottom:10px; }
.review_content{width:100%;float:left; }
.review_sub_wrapper{width:100%;float:left;padding:15px 0px;border-bottom:1px dotted #b6b6b6; }
.review_sub_wrapper:last-child{ border:0; }
.review_sub_left{width:91px;float:left; }
.review_sub_left_raw{width:100%;float:left;color:#454545;font-size:13px;font-weight:600;margin-bottom:4px; }
.review_sub_left_raw span{color:#989898;font-size:13px; font-weight:300; }
.review_sub_right{width:1000px;float:left;color:#5b5b5b;font-size:12px;line-height:21px;margin-left:15px; }
.review_sub_right span{font-size:15px;font-weight:600;color:#1d1c1c;width:100%;float:left; }
.review_form_wrapper{width:614px;float:left; }
.review_form_wrapper_head{width:100%;float:left;margin-top:5px;margin-bottom:10px; }
.review_name_txt{width:381px;height:33px;padding:6px;border:1px solid #cbcbcb;color:#878787;font-size:13px; }
.review_comment_area{height:164px;float:left;resize:none;margin-top:14px; }
.staring_wrapper{width:100%;float:left;margin:15px 0px; }
.staring_one{font-size:15px;color:#383838;font-weight:600;float:left;height:20px; }
.staring_two{width:180px;float:left;margin-top:3px;margin-left:10px; }
.review_btn{float:left;background:#3689c0;border:0px;cursor:pointer;color:#FFF;font-size:16px; padding:5px 12px; margin-bottom:15px; }
.review_btn:hover{background:#175781; text-decoration:none; color:white; }
.write-head{ border:0; }
.search-head{ float:left; font-size:18px; color:#686868; font-weight:normal; }
.summary{ float:right; color:#8b8b8b; font-weight:300; font-size:13px; }
.search-inner .summary{ margin-top:-32px; margin-right:15px; }
.navigation .dropdown:hover > .dropdown-menu{ display:block !important; }
.navigation .dropdown-menu{ border-radius:0; margin:0; padding:7px 0; }
.navigation .dropdown-menu li{ width:100%; float:left; }
.navigation ul.dropdown-menu li a{ border:0; width:100%; float:left; font-size:14px; padding:7px 10px; }
.quick-view-wrapper{ width:775px;background:white; position:relative; min-height:352px; }
.quick-left{ width:331px; height:100%; display:table;  position: absolute; }
.quick-left a{ display:table-cell; vertical-align:middle; text-align:center; border-right:1px solid #eaeaea; padding-right:27px;}
.quick-left:after{ width:42px; height:42px; display:inline-block; position:absolute; right:-21px; top:34px; border-left:1px solid #eaeaea; border-bottom:1px solid #eaeaea; content:""; transform:rotate(45deg); -webkit-transform:rotate(45deg); background:white; }
.quick-right{ padding:40px 20px; width:442px; float:left; position:relative; z-index:1; left:333px;}
.quick-view-wrapper button.close{ position:absolute; top:2px; right:10px; font-size:32px !important;}
.quick-head{ width:100%; float:left; font-size:21px; color:#4f4f4f; }
.star-row{ width:100%; float:left; margin:10px 0; }
.star-row .stars{ float:left; }
.quick-desc{ width:100%; float:left; font-size:15px; color:#6f6f6f; line-height:21px; }
.quick-desc a{ color:#201f1f; text-decoration:underline; }
.quick-view-wrapper button.close{ z-index:10; }
.quick-btns .fa-heart{ border: 1px solid #d9d9d9;color: #777777;float: left; font-size: 15px; height: 28px; line-height: 26px; text-align: center; width: 36px; }
.quick-btns .pdt-cart{ margin-left:0; float:left; }
.quick-price{ width:100%; float:left; font-size:22px; color:#f93f45; margin:10px 0; }
.range-slider{ width:100%; float:left; }
.cms-pages-view{ padding:15px 0; line-height:29px; }
.cms-pages-view h1, .cntct-head{ font-size:25px; margin-bottom:10px; margin-top:0; }
.cms-pages-view p{font-weight:300; margin:0; }
.cms-pages-view ul{ margin:10px 0; padding:0; }
.cms-pages-view ul li{ list-style:none; }
.cms-pages-view ul li:before{ content:"\f105"; margin-right:5px; font-family: FontAwesome; }
.modal {text-align: center; }

@media screen and (min-width: 768px) { .modal:before { display: inline-block; vertical-align: middle; content: " "; height: 100%; }}

.modal-dialog { display: inline-block; text-align: left; vertical-align: middle; }
.filter-outer{ padding:15px 0; }
.block-title {border-bottom: 1px solid #e4e4e4;font-size: 18px; padding-bottom: 6px;text-transform: uppercase; }
.block-title strong{ font-weight:500; }
.fltr-head{ margin-bottom:12px; font-weight:500; text-transform:uppercase; }
.list-head{ width:100%; float:left;margin:15px 0; padding:10px 0; border-bottom:1px solid #e4e4e4; }
.list-head h2{ float:left; margin:0; color:#4c4c4c; font-size:23px; }
.toolbar{ float:right; }
.toolbar select{ border:1px solid #cfcfcf; color:#717171; font-size:14px; padding:6px; }
.toolbar .pager{ float:left; margin:0; margin-right:15px; }
.amount, .limiter, .sorter{ float:left; }
.amount{ color:#717171; font-size:14px; margin-top:7px; margin-right:15px; }
.modal-content img{ max-width:100%; }
.fltr-head{ width:100%; float:left; font-size:14px; font-weight:500; margin:10px 0; }
.s_category {border-top: 1px solid #e7e7e7; padding-bottom:10px; width:100%; float:left; }
.s_category:nth-child(2){ border:0}
.s_category .cat_name{max-height: 135px; overflow-y: auto; width: 100%; }
.s_category .cat_name label{ width:100%; float:left; font-weight:300; }
.pagination{ margin:0; }
#category-products{ width:100%; float:left; }
.cms-pages-view h3{ margin:0; font-size:17px; text-transform: none; font-weight:500; margin:10px 0; }
.cms-pages-view h3 strong{ font-weight:500; }
.site-contact{ padding:15px 0; }
.contact-bottom{ width:100%; float:left; margin-top:15px; }
.mapaddress span, .trading_hours span{ width:100%; float:left; font-size:17px; font-weight:400; margin-bottom:10px; padding-bottom:5px; border-bottom:1px solid #ececec; }
.mapaddress span i, .trading_hours span i{ margin-right:6px;}
.mapaddress, .trading_hours{ font-weight:300; line-height:26px; }
.customcontentArea, .site-login{ padding:15px 0; }
.m-account-menu, .m-account-menu li{ width:100%; float:left; }
.m-account-menu li a{ color:#4c4c4c; width:100% }
.my-account-menu-container{ width:100%; float:left; background:#efefef; padding:10px; }
.my-account-menu-container .block-title{ border:0; font-size:16px; padding:5px 15px 10px; }
.my-account-menu-container .nav li a:hover, .my-account-menu-container .nav li a.active{ background:#d8d8d8; }
.account-title, .box-head{ width:100%; float:left; border-bottom:1px solid #efefef; padding-bottom:7px; margin-bottom:15px; }
.account-title h2, .box-head h2{ font-size:19px; font-weight:500; margin:0; float:left; }
.address h4{width:100%; float:left; border-bottom:1px solid #efefef; padding-bottom:7px; margin-bottom:15px; font-size:14px; font-weight:500; margin:0; margin-bottom:5px; }
.step_head { width:100%; float:left;background: #eee; padding: 10px 8px 10px; margin-bottom:15px; }
.step_head a{ float:right; }
.btn-primary{ border:0; border-radius:0; padding:7px 12px; }
.change_password{ float:left; margin-right:5px !important; }
.check-wrap{ width:100%; float:left; margin:5px 0 15px 0; }
.info-btn-wrap{ width:100%; float:left; margin-top:15px; }
.info-btn-wrap .btn{ float:left; }
.account-title a{ float:right; }
.book-ttl h2{ margin-top:11px; }
.ad-btm{ margin-top:15px; }
.customcontentArea .tab-content{ font-weight:300; }
.site-login h2{ margin:0; font-size:21px; margin-bottom:15px; font-weight:500; }
.reset-pas{ padding:15px; }
.site-login{ font-weight:300; }
.empty-wrapper { float: left; padding-top: 35px; text-align: center; width: 100%; padding-bottom:35px; }
.empty-wrapper i { color: #bfbfbf; font-size: 210px; }
.empty-wrapper h1 { color: #747474; font-size: 25px; font-style: normal; font-weight: 600; line-height: 40px; text-transform: none; }
.empty-wrapper span { color: #7a7a7a; font-size: 13px; }
.empty-wrapper a { background: #000 none repeat scroll 0 0; color: white; display: inline-block; font-size: 14px; font-weight: 600; margin-top: 20px; padding: 9px 10px; }
.empty-wrapper a:hover { text-decoration: none; }
.empty-wrapper a i { color: white; font-size: 14px; }
.site-signup{ padding:15px 0; }
#form-signup h2{ font-size:22px;margin-bottom: 15px; padding-bottom: 10px; border-bottom: 1px solid #efefef; margin-top:0; }
.fm-footer .btn{ float:right; }
.confg-options{ padding:0 10px; }
.btn{ border-radius:0; border:0; }
.ad-crt{ color:#333; font-weight:400; }
.wish-right{ width:150px; float:left; font-weight:normal; font-size:13px; }
.wish-img{ float:left; max-width:70px; margin-right:10px; border:1px solid #eaeaea; }
.wish-right span{ width:100%; float:left; }
.wish-right span a{ color:#4c4c4c; }
.wish-right .price{ font-size:13px;}
.brands-wrapper{ padding:40px 0 15px 0; width:100%; float:left; position:relative;}
.brands-wrapper .product a{ display:inline-block; width:100%; text-align:center;}
.brands-wrapper .product a img{max-width:90%;}
.brands-wrapper .summary {position: absolute;right: 5px;top: 15px;}
.brands-wrapper .items{ padding:7.5px;}
.brands-wrapper .row{ margin:0 -7.5px;}
.brands-wrapper .product{ border: 1px solid #e7e7e7; margin:0 !important; padding:10px;}
.brands-wrapper .pagination{ margin-top:7.5px}
.site-checkout{ width:100%; float:left; padding:15px 0;}
.panel-heading {background-color: #f5f5f5;border-color: #ddd;color: #333;}
.form-group .help-block{ margin-bottom:0;}
.billing_continue, .shipping_continue, #shipping-method-buttons-container .continue, .btn-checkout { margin-top:0 !important;}
.check-table{ width:100%; border:1px solid #dee2e5; margin-bottom:15px;}
.check-table td, .check-table th{ border:1px solid #dee2e5; padding:8px;}
.sub-total td, .sub-total th, .payment-summary td, .payment-summary th, .grand-total td, .grand-total th, .voucher-summary td, .voucher-summary th, .coupon-summary td, .coupon-summary th, .group-summary th, .group-summary td{ border:0; background:#dee2e5;}
.sub-total td:first-child, .payment-summary td:first-child, .grand-total td:first-child, .group-summary td:first-child{ text-align:right;}
.check-table .price, #payment_form_giftvoucher_dd .price{ font-family:"Roboto",sans-serif; font-size:16px}
.check-table h3{ margin:0; font-size:15px; font-weight:500;}
.fa-gift-font span{ font-family: "Raleway",sans-serif; margin-left:10px; }
.fa-gift-font{margin-bottom:15px; cursor:pointer;}
#payment_form_giftvoucher_dd .form-list{ line-height:27px}
.filter-outer .block-title{ margin-bottom:10px;}
.issu-promotion{ width:100%; float:left;}
.pr-right-btns{ float:right;}
.issuuembed{ width:100%  !important; height:400px !important;}
.promotion-start{ display:inline-block; margin-right:10px; color:#929292;}
.promotion-start span{ color:#333; font-weight:500;}
.one-field{ margin-bottom:15px;}
.success-msg{ text-align:center;padding:30px 0 !important;}
.success-msg h1{ font-style:normal;color:#4F4F4F;}
.success-msg p{ color:#666;line-height:24px;}
.p-one{ font-size:21px;line-height:38px;}
.cont{ border:0;background:#BF1F3B;padding:10px 18px;font-size:15px;font-weight:600;color:white;margin-top:15px;transition:all ease-in-out 0.3s;}
.cont:hover{ background:#7C0B0B;}
.close{ font-size:25px !important;}
.cnct-form{ margin-top:20px;}
.help-block{ margin-top:0; font-size:12px; font-weight:300;}
.star-small{ display:inline-block; font-size:5px;}
.rating-container .rating-stars::before{ text-shadow:none !important;}
.rating-container .rating-stars{ color:#fe9b02;}
.rating-disabled{ cursor:default !important;}
.model-close-sm{ position:absolute; top:3px; right:12px; z-index:99;}
.frame-sm iframe{ margin-top:18px; width:100%;}
.quick-left img{ max-width:295px; max-height:100%;}
.newproducts .tab-head{ font-size:17px; margin-bottom:5px; color: #272727; font-size: 22px; }
.newproducts .nav-tabs{ margin-bottom:15px;}
.newproducts .col-xs-3{ padding:15px;}
.newproducts .tab-pane{ padding-bottom:15px;}
.empty {padding: 20px; text-align: center;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s !important; -webkit-text-fill-color: #868686 !important}

.my-account ul{ padding:0; margin:0}
.my-account ul li{ list-style: none;}
.sm-head{ font-size:20px; margin-top:0;}
.user-addresses-form{ padding:10px; background:white;}
.user-addresses-form label{ font-weight: normal}
/*.ui-widget-content{ z-index:9999;}*/
.sm-flash .alert{ margin:0; margin-top:15px;}
.ad-btm li{ list-style:none; margin-bottom:10px;}
.detail_cart .price{ float:left; width: auto; margin-top:10px;}
.field-productreviews-stars .rating-xs {font-size: 1.3em;}
.field-productreviews-stars .label {font-size: 95%;}
input[type=checkbox], input[type=radio] {margin: 4px 4px 0 0;float: left;}
i.fa.fa-refresh {
    font-size: 30px !important;
    
}
.brand-view h1 {font-size: 25px;margin-bottom: -39px;}
.login-view h1 {font-size: 25px;margin-bottom: 7px;}
.signup-view h1 {font-size: 25px;margin-bottom: 0px;}
.yourshopcart-view h1 {font-size: 25px;margin-bottom: 3px;margin-left: 13px;}
.image-popup .modal-footer{ padding: 0; height: 0; position: relative;}
.image-popup .modal-footer .btn{ font-size: 31px;  line-height: 18px !important;  position: absolute; right: 0; top: -1px; height: 42px; padding-top: 0;}
.sm{ display: inline-block;float: left;height: 17px;margin-right: 7px;margin-top: 4px; width: 20px;}
.sm-laptop{ background:url(../images/menu-icons/laptop.png) no-repeat center; margin-top:2px;}
.sm-desktop{ background:url(../images/menu-icons/desktop.png) no-repeat center;}
.sm-accessories{ background:url(../images/menu-icons/accessories.png) no-repeat center;}
.sm-storage{ background:url(../images/menu-icons/storage.png) no-repeat center; margin-top:0;}
.sm-monitor{ background:url(../images/menu-icons/monitor.png) no-repeat center; margin-top:3px;}
.sm-printer{ background:url(../images/menu-icons/printer.png) no-repeat center; margin-top:3px; margin-bottom:2px;}
.sm-software{ background:url(../images/menu-icons/software.png) no-repeat center; margin-top:3px;}
.sm-mobile{ background:url(../images/menu-icons/mobile.png) no-repeat center; margin-top:2px; margin-right:0;}
.sm-tablets{ background:url(../images/menu-icons/tablets.png) no-repeat center; margin-top:1px; margin-right:2px}
.sm-gaming{ background:url(../images/menu-icons/gaming.png) no-repeat center; margin-top:2px;}
.sm-network{ background:url(../images/menu-icons/network.png) no-repeat center; margin-top:2px;}
.sm-camera{ background:url(../images/menu-icons/camera.png) no-repeat center; }
.sm-power{ background:url(../images/menu-icons/power.png) no-repeat center; margin-top:2px;}
.sm-drons{background:url(../images/menu-icons/drons.png) no-repeat center; margin-top:2px;}
.sm-giftvoucher{background:url(../images/menu-icons/giftvoucher.png) no-repeat center; margin-top:0px;}


.navbar-default {color: #fff;background-color: #ccc6c6;	border-color: #aca1a2;}
.navbar-default .navbar-nav > li > a {color: #fff;}
.navbar-default .navbar-nav > .dropdown > a .caret {border-top-color: #fff;	border-bottom-color: #fff;}
.navbar-default .navbar-brand {	color: #fff;}
.menu-large {position: static !important;}
.megamenu {	padding: 20px 0px;width: 1170px;left: 0;right: 0;margin: auto; border-radius:0; border: 0;}
.megamenu li ul {margin-top: 5px; padding-left:0;}
.megamenu li ul .sm{ display:none;}
.megamenu li {display: inline-block;vertical-align: top;}
.megamenu li li {width: 100%;float: left}
.megamenu .megamenu> li > ul {padding: 0;margin: 0;}
.megamenu> li > ul li {list-style: none;}
.megamenu> li > ul > li a {display: block;padding: 2px 8px;clear: both;line-height: 1.428571429;color: #333333;white-space: normal; font-size:13px; }
.megamenu a:hover, .megamenu a:focus{ outline:none;} 
.megamenu> li > ul > li > ul{ margin-left:10px;}
.megamenu > li{ margin-top:15px; border-top:1px solid #e7e7e7; padding-top:15px; min-width:210px; max-width:210px;}
.megamenu> li ul > li > a:hover, .megamenu> li ul > li > a:focus {text-decoration: none;color: #262626;background-color: #f5f5f5;}
.megamenu.disabled > a, .megamenu.disabled > a:hover, .megamenu.disabled > a:focus {color: #999999;}
.megamenu.dropdown-header {color: #428bca;	font-size: 18px;}
/*.dropdown-menu {display: block !important;}*/
.megamenu {-moz-column-width: 14em;	-webkit-column-width: 14em;	-moz-column-gap: 1em;-webkit-column-gap: 1em; padding:0 15px 15px 15px }
.megamenu > li > a{ font-size:14px;  font-weight:500; padding:0; margin-bottom:8px; float:left; }
.megamenu > li > a:hover{ background: none;}
.megamenu > li > a span{ margin-top:2px;}
.sub-wrap{ display:none;}
.triger-wrap{ position:relative;}
.triger-wrap:after{ content:"\f105  "; position: absolute; right:10px;top:0; font-family: FontAwesome; transition:all ease-in-out 0.2s;}
.megamenu li.active .triger-wrap:after{ transform:rotate(90deg);}
.rotate:after{ transform:rotate(0deg) !important;}
.form-vertical { display: inline;}
#shown-sub #shown-sub {display: none; position: absolute; top: 100%;left: 0; min-width: 200px; background-color: #fff; border:1px solid #ccc; z-index:99}
#shown-sub li:hover > #shown-sub {display: block;}
#shown-sub #shown-sub li a{ color:#666 !important; font-size:14px; width:100%;}
#shown-sub #shown-sub li a:hover{ background:#eee !important;}
#shown-sub #shown-sub li{ width:100%;}
.fa-shopping-cart{margin-right: 5px;}

/* BYOD Popup style Added by Dan */ 
.pop-title{ width:100%; float: left;font-size: 21px; padding: 15px 15px; color: #000; font-weight: 400;}
.byod-wrapper {min-height: 250px !important; background:url(images/byod-bg.jpg) no-repeat center; width:594px; border:2px solid #9e9e9e;}
.portal-wrapper {min-height: 250px !important; background:url(images/portal-bg.png) no-repeat center; width:594px; border:2px solid #9e9e9e;}
.pop-submit {width: 50% !important;}
.field-clientportal-code.control-label:after,.required-filed:before { content:""; color:#A94442; }
.byod-title{font-size: 21px; float: left; font-weight: 600;}
.byod-start{display: inline-block;margin-right: 10px;color: #929292;padding: 5px;margin-left: 30px;}
.list-head .pr-right-btns{padding: 20px;}
.byod-wrapper button.close{ font-size:24px !important; color:black !important; text-shadow:none; opacity:1 !important;}
.byod-wrapper .left-pop{ padding:0;}
.byod-desc{ font-size:14px; color:#363636; line-height:21px;}
.byod-wrapper .pop-submit{ max-width:101px; font-size:15px;}
.cond-apply { float: left;padding-left: 15px;width: 100%;}
.byod-wrapper .control-label{ display:none !important;}
#byodform-code{ width:240px; height:38px; float:left;}
.byod-wrapper .pop-left.col-md-6{ width:auto !important;}
.cond-apply{ font-size:10px; opacity:0.7; font-style:italic; margin-top:10px;}
.byod-wrapper .pop-title{ padding-bottom:0;}

.portal-wrapper button.close{ font-size:24px !important; color:white !important; text-shadow:none; opacity:1 !important;}
.portal-wrapper .left-pop{ padding:0;}
.portal-wrapper .pop-submit{ max-width:101px; font-size:15px;}
.portal-wrapper .control-label{ display:none !important;}
.portal-wrapper .pop-left.col-md-6{ width:auto !important;}
.portal-wrapper .pop-title{ padding-bottom:0;}
.clientportal-start{display: inline-block;margin-right: 10px;color: #929292;padding: 5px;margin-left: 8px;} 
.ui-widget-header{background: #337ab7 !important;}
.quote-text {font-size: 20px; font-weight: bold; margin-top: 5px; width:100%;}

#cardportal-visa {display: inline-block;background-image: url("images/creditcard_visa_w_greyscale.png");}
#cardportal-mastercard {display: inline-block;background-image: url("images/creditcard_master_w_greyscale.png");
		}
		.cardimage {
		    width: 51px;
		    height: 32px;
		    background-repeat: no-repeat;
		    background-position: top;
		    margin: 0 3px;
		}
		.credit-card-details {
		    display: inline;
		    margin-right: 20px;
		    vertical-align: bottom;
		}
		/*.eway-container{
		    max-width: none !Important;
		    width: 500px;
		    margin-left: auto;
		    margin-right: auto;
		}*/
		.eway-container{
			width: 100%;
			margin-left: auto;
		    margin-right: auto;
		}

		.credit-card-ccv .input-group {
			    margin-right: 136px;
		}
		.credit-card-ccv img {
		    float: right;
		    margin-top: 3px;
		}
		#EWAY_CARDEXPIRYMONTH {
		    float: left;
    height: 42px;
    padding: 5px;
    width: 100%;
		}
		#EWAY_CARDEXPIRYYEAR {
		    float: left;
    height: 42px;
    padding: 5px;
    width: 100%;
		}
		#checkout-form .eway-container label.error {
			
			width: auto;
			display: inline;
			color: red;
		    font-weight: 100;
		    font-size: 13px;
		}
		.card-title {
			color: #000; margin-bottom:5px;
		}

		.byod-wrapper .pop-submit {height: 37px;border: 1px solid #f7f3f3;}

		.gst_text {font-size: 13px; }
/* End */
#creditcard-form-wrapper .input-group-addon{width: 14% !important; float: left; height: 33px;}
#creditcard-form-wrapper input { width: 100%;float: left;}
#creditcard-form-wrapper label.error{ width: 100%; float: left; margin-top: 5px;margin-left: 0;}
#creditcard-form-wrapper .input-group{ width: 100%;}
.cat-cnt{ width:100%; float:left; margin:15px 0;}
.cat-cnt p{ line-height:24px; color:#626262; font-size:14px; font-family:open sans, san serif;}
.welcome{width:100%; float:left; font-size:14px; line-height:24px;  font-style:italic; height:120px; overflow:hidden; position:relative; margin-bottom:15px; font-family:open sans;}
.welcome a{ position:absolute; background:white; padding:0 16px; bottom:0; right:0; cursor:pointer; color:#070707; text-decoration:underline;}
.readmore { height:auto;}
.welcm-foot{ width:100%; float:left; text-align:center; margin-top:15px;}
/*.readmore a{ float:right; position:static;}*/


.scroll-wrapper {overflow: hidden !important;padding: 0 !important;position: relative; width:100% !important;}

.scroll-wrapper > .scroll-content {border: none !important;box-sizing: content-box !important;height: auto;left: 0;margin: 0;max-height: 180px !important;max-width: none !important;overflow: scroll !important;padding-bottom: 0;position: relative !important;top: 0;width: auto !important;}
.no-content{width:100%;float:left;text-align:center;color:#999;padding:45px 0;font-size:15px;clear:both;}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {height: 0;width: 0;}

.scroll-element {display: none;}
.scroll-element, .scroll-element div {box-sizing: content-box;}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {display: block;}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {cursor: default;}

.scroll-textarea {border: 1px solid #cccccc;border-top-color: #999999;}
.scroll-textarea > .scroll-content {overflow: hidden !important;}
.scroll-textarea > .scroll-content > textarea {border: none !important;box-sizing: border-box;height: 100% !important;margin: 0;max-height: none !important;max-width: none !important;overflow: scroll !important;outline: none;padding: 2px;position: relative !important;top: 0;width: 100% !important;}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {height: 0;width: 0;}


.scrollbar-macosx > .scroll-element,
.scrollbar-macosx > .scroll-element div
{background: none;border: none;margin: 0;padding: 0;position: absolute;z-index: 10;}

.scrollbar-macosx > .scroll-element div {display: block;height: 100%;left: 0;top: 0;width: 100%;}

.scrollbar-macosx > .scroll-element .scroll-element_track {display: none;}
.scrollbar-macosx > .scroll-element .scroll-bar {background-color: #6C6E71;display: block;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;-webkit-transition: opacity 0.2s linear;-moz-transition: opacity 0.2s linear;-o-transition: opacity 0.2s linear;-ms-transition: opacity 0.2s linear;transition: opacity 0.2s linear;}
.scrollbar-macosx:hover > .scroll-element .scroll-bar,
.scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter: alpha(opacity=70);opacity: 0.7;}


.scrollbar-macosx > .scroll-element.scroll-x {bottom: 0px;height: 0px;left: 0;min-width: 100%;overflow: visible;width: 100%;}

.scrollbar-macosx > .scroll-element.scroll-y {height: 100%;min-height: 100%;right: 0px;top: 0;width: 0px;}

/* scrollbar height/width & offset from container borders */
.scrollbar-macosx > .scroll-element.scroll-x .scroll-bar {height: 7px;min-width: 10px;top: -9px;}
.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar {left: -9px;min-height: 10px;width: 7px;}

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_outer {left: 2px;}
.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_size {left: -4px;}

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_outer {top: 2px;}
.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_size {top: -4px;}

/* update scrollbar offset if both scrolls are visible */
.scrollbar-macosx > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {left: -11px;}
.scrollbar-macosx > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {top: -11px;}
.iconic-list li:before{ display: none !important;}
.detail_cart a.pdt-btn{ background:#dc2522 !important;}
.detail_cart a.pdt-btn:hover{ background:#bd0603 !important;}
/*.price span{ font-weight:600 !important;}*/
.price {color:#000!important;}
.form-control.attribute-select {
    float: left;
    width: auto;
}
.portal-wrapper button.close span{
    color: #000 !important;
}

.strike-price span{font-size: 15px; text-decoration: line-through;color: #959595;}
.strike-price-desc {font-size: 14px;}
.special-desc {margin-bottom: 10px; color:#929295; font-size: 15px;color: #0154a0; font-weight: bold;}

/*-----------------------------------------------------------------------------------------@  manny checkout popup @--*/

.ui-widget-content{background:white; }
.ui-draggable {position:fixed !important;}
.ui-front{width:600px!important;border-radius:0;border:1px solid #bf1f3b;padding:0;z-index:99999;}
.ui-front .ui-dialog-titlebar{padding:0;}
.ui-front .ui-widget-header .ui-dialog-titlebar-close{position:absolute;top:5px; outline:none!important;margin:0;right:5px;opacity:1;z-index:9999999;background:none!important;color:#bf1f3b;border-radius:0;}
.ui-widget-header {background:none!important;border:0!important;}

.ui-front .ui-widget-header .ui-dialog-titlebar-close {
    position:absolute;
    top:5px;
    outline:none!important;
    margin:0;
    right:5px;
    opacity:1;
    z-index:9999999;
    background:none!important;
    color:#bf1f3b;
    border-radius:0;
	border:none!important;
}

.ui-front .ui-dialog-title{ display:none; }
.ui-front .ui-state-default .ui-icon{ display:none; }
.ui-button-text:after{ position:absolute;content:"x";line-height:16px;font-family: FontAwesome;top:0;left:0;width:100%;color: grey;text-indent:0;font-family: 'Open Sans', sans-serif;font-size:18px; }

.ui-dialog .ui-dialog-content{box-shadow:none;}
.ui-dialog .ui-dialog-content{padding:15px;}
.pp-cnt{text-align:center;font-size:14px!important;}

#creditcard-form-wrapper .input-group-addon{width:7%!important;float:left;height: 41px;}
#creditcard-form-wrapper input {width:100%;float:left; height:45px;}
#creditcard-form-wrapper label.error{width:100%;float:left;margin-top:5px;margin-left:0; }
#creditcard-form-wrapper .input-group{width:100%; }
#checkoutform-creditcard_expiry_month, #checkoutform-creditcard_expiry_year{ height:45px;}

.input-group-addon {font-size: 16px; line-height: 2;}

#ci-store button.button {
    background: #cdcdcd none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    padding: 7px 15px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    color: #3e3e3e;outline:none;font-size:13px;width:89px;margin-right:10px;}
.ui-dialog-content.ui-widget-content .pp-head{font-size:19px;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{border:none!important;}


.sub-total td:first-child, .payment-summary td:first-child, .grand-total td:first-child,.coupon-summary td:first-child,.voucher-summary td:first-child{text-align:right!important;}


.eway-pay {float: left !important;}

/*-------------------------------------------------------------------------------------------*/
ul#shown-sub li { text-align:left;}

/*Added By Dan - Appointment Style*/

.bk-head{ width:100%; float:left; margin-bottom:15px; border-top:1px solid #e9e9e9; padding-top:15px; }
.bk-head:before{ width:100%; float:left; content:""; border-top:1px solid #e9e9e9; margin-bottom:3px; top:-13px; position:relative; }
.booking-text{ font-size:16px; display:inline-block; float:left; margin-top:5px; }
.booking-text span{ font-weight:500; }
.booking-calendar, .booking-save{ float:left; }
.booking-calendar input{ width:118px; height:30px; border:1px solid #eaeaea !important; box-shadow:none; height:32px; cursor:pointer; display: inline-block; }
.booking-calendar{ float:left; font-size:14px; position:relative; }
.booking-calendar .fa.fa-calendar {position: absolute;top: 9px; color:#b0b0b0; display: inline-block; right:5px; }
.tl-book{ width:100%; float:left; text-align: center; }
.tl-one, .drop-wrap{ width:100%; float:left; font-size:14px; color:#626262; }
.tl-two span{ display:inline-block; border-radius:75%; font-size:11px; border:1px solid #c6c6c6; line-height:14px; position:relative; width:17px; height:17px}
.tl-two span:after, .tl-two span:before{ content:""; height:5px; width:1px; background:#c6c6c6; position:absolute; top:-5px; left:0; right:0; margin:auto; }
.tl-two span:before{ top: auto; bottom:-5px; }
.tl-two{ width:100%; float:left; margin:10px 0; }
.drop-wrap{ width:100%; padding-top:8px; text-align:center; border-top:1px solid #e9e9e9; float:left; margin-top:8px; }
.drop-wrap select{ border:0; background: none; display:inline-block; padding:5px; }
.book-table td{ padding:8px 0 !important; border: 1px solid #e9e9e9; width: 11%; }
.page-descri {width: 100; margin-top: 15px; margin-bottom: 15px; }
.booking-calendat-text{ float:right; font-size:14px; margin-top: 7px; /*color:#555555; */}
.booking-calendat-text span{ font-weight:600; }
.book-table table{ border:1px solid #e9e9e9; margin-top:10px; }
.book-table table .btn-primary{ font-size:11px; width:77px; border:0; padding:6px 0 !important; font-weight:normal; height:28px; }
/*.book-table table .btn-primary:hover{ background:#0d5e83; }*/
.bookingform-left, .bookingform-right {width: 50%; float:left}
.bookingform-left{ padding-right:7.5px; }
.bookingform-right{ padding-left:7.5px; }
.table-responsive{ width:100%; }
.popon-head{ width:100%; float:left; color:#4b4b4b; font-size:22px; }
.popon-sub{  width:100%; float:left; margin-top:15px; border-top:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; padding:15px 0; margin-bottom:15px; }
#appointment-booking .form-control{ border:1px solid #dcdcdc !important; box-shadow:none; }
.bookingform-right .btn-success{ background:#8b8b8b; padding:8px 15px; border:0; border-radius:0; font-size:15px; cursor:pointer; }
.bookingform-right .btn-success:hover{ background:#676767; }
#appointment-booking .control-label{ display: none !important; }
#appointment-booking .field-appointments-verifycode .form-control{ width:58%; float:left; }
.form-group.field-appointments-verifycode > img { position: relative;top: -6px; }
#appointment-booking .fa.fa-refresh {font-size: 17px;position: relative; top: -5px; cursor:pointer; }
#appointment-booking .help-block{ width:100%; }

/*End*/


/*--manny-------------------------------*/


.welcome-bg{border-top:double #ccc;padding:15px 3px 10px;margin-bottom:15px;}
.welcome{height:130px;}
.welcome.readmore{height:auto!important;}
.welcome a{padding: 0 6px;border-bottom:1px solid #070707;}


/*------Readmore section----------------------------------------------*/

.scroll-wrapper > .readmore.scroll-content{max-height:200px !important;}

div.box {
height:auto;
max-height:130px;
padding-bottom:10px;
/* overflow: hidden; */
}
div.box.is-truncated{height:130px;max-height:inherit;}
div.resize {
padding-bottom: 250px;
}
div.resize div.box {
position: absolute;
width: 40%;
height: 50px;
}
div.resize div.box.before {
right: 50%;
margin-right: 10px;
}
div.resize div.box.after {
left: 50%;
margin-left: 10px;
}
div.box.opened
{
height: auto;
}
div.box .toggle .close,
div.box.opened .toggle .open
{
display: none;
}

div.box .toggle.is-truncated .close
{
display: inline;
}

div.box .toggle .opened,
div.box.opened .toggle .close
{
display:inline;color:#9f2c6d;text-decoration:underline;font-size:17px!important;float:none;opacity:1;font-weight:normal;font-family:'futuraregular';
}
div .box-big{max-height: 300px;}
a.toggle{display:none;}
.description-content.is-truncated a.toggle{display:inline!important;}
a.toggle .open{color:#9f2c6d;text-decoration:underline;font-size:17px;font-family:'futuraregular';}
.description-content p{display:inline;margin-bottom:3px;}
.readmore {font-size:17px;}

/*------Readmore section----------------------------------------------*/

.download-bg{padding-bottom:15px;}
.download-bg h2{float:left;text-transform:uppercase;font-size:23px;color:#606162;font-weight:400;margin-top:25px;}
.download-bg #sub-form{margin:20px 0;}
.download-bg #s-text{width:414px;}
.download-bg #s-text,.download-bg #s-text:focus{height:37px;border:1px solid #dddddd;border-right:none;box-shadow:none;}
.download-bg .input-group-btn{border:1px solid #dddddd;border-left:none;height:37px;}
.download-bg .input-group-btn .btn-default:hover,.download-bg .input-group-btn .btn-default:focus{background:none;outline:none;box-shadow:none;color:#333;}
.download-bg .navbar-form{padding-right:0;}

.download-cont-bg{padding:15px;margin-bottom:15px;background:#f4f4f4;/*height:145px;*/}
.download-cont-bg .scroll-wrapper > .download.scroll-content{max-height:60px!important;}

.download-cont-bg .col-xs-10,.download-cont-bg .col-xs-2{padding:0;}
.download-cont-bg h6{color:#282828;font-size:18px;margin:0;}
.download-cont-bg i{color:#8d8d8d;font-size:13px;}
.download-cont-bg .scroll-wrapper{margin-top:10px;}

.download-cont-bg .download-btn-bg{text-align:center;height:100px;}
.download-cont-bg .download-btn-bg:before{display:inline-block;content:'';height:100%;vertical-align:middle;}
.download-cont-bg .download-btn-bg .btn-download{border-radius:5px;display:inline-block;vertical-align:middle;background:#0154a0!important;text-transform:uppercase;font-size:13px;}
.download-cont-bg .download-btn-bg .btn-download:hover{background:#0a4881!important;}
.download-cont-bg .download-btn-bg .btn-download i{color:#fff;margin-right:5px;}

/*readmore*/

.morecontent span{display:none;color:#606162;font-size:14px;}
a.morelink{display:block;float:right;text-decoration:underline!important;padding-right:15px;font-style:italic;font-size:14px;transition:none!important;}
a.morelink.less{text-align:right;color:#0154a0;transition:none!important;}
#creditcard-form-wrapper{ border:1px solid #ccc; padding:15px;}

/*#checkout-step-payment{ display:block !important;}*/
/*readmore*/
.edge-giftcard-bg h1{font-size:25px;margin-bottom:20px;margin-top:0;}
.edge-giftcard-bg .lft-bnr{width:100%;}
.edge-giftcard-bg .row{margin-left:-10px;margin-right:-10px;}
.edge-giftcard-bg [class^="col-"]{padding:0 10px;}

.giftcard-cont{font-size:14px!important;line-height:20px!important;}
.giftcard-cont h5{margin:0 0 5px;color:#424242;}
.giftcard-cont p{color:#737373;margin:0;}
.giftcard-cont .cont-row{float:left;width:100%;margin-bottom:20px;}
.giftcard-cont ul{float:left;width:100%;margin:0;}
.giftcard-cont ul li{float:left;width:100%;margin-bottom:20px;color:#737373;position:relative;padding-left:15px;font-weight:300;}
.giftcard-cont ul li:before{display:inline-block;content: "";width:7px;height:7px;border-radius:50%;left:0;top:5px;background:#979586;position:absolute;}​

/*--manny-------------------------------*/
p.line{font-weight: 600;line-height: 0; margin-bottom: 23px;font-size: 22px; text-align:center;}
.brands h2{ margin-bottom: 0 !important;}

.product .price {min-height: 47px !important;}

.product-options form{float:left;}
.logout-fix{ display:inline-block; text-align:center; position:fixed; left:-1px; border: 1px solid #3689c0;background: rgb(220, 222, 233); box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.18); top: 488px; z-index:99; color:#3689c0; font-size:13px; padding:8px 4px; cursor:pointer; transition:all ease-in-out 0.3s; border-radius:3px;}
.logout-fix:hover{ background:#3689c0; color:white !important;}
.logout-fix i{ float:left; font-size:18px;}
.logout-fix span { float: left; font-size: 15px;line-height: 17px; margin-top:5px; }
.logout-fix i, .logout-fix span{ width:100%;}
.logout-fix-clp{ top: 407px;}

/*----Manny------------------*/

.sm-power-products {
    background: url(../images/menu-icons/power-products.png) no-repeat center;
    margin-top: 0px;
}
/*.brand-logo {display: block;text-align: right;} // product listing page brand logo*/

#shown-sub #shown-sub ul{left:100%;top:-1px;}    
    

/*----Manny------------------*/
.v_m_logo {margin-top: 25px;}
.notice-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 22px;
    background-color: greenyellow;
    z-index: 99999999999999;
    text-align: center;
}

.brand-logo { float: left; width: 18%;}
.brand-logo > img { max-width: 100%;}
