
*{padding:0;margin:0;box-sizing:border-box;}
body{background:#f9f9f9;}
body a{transition:all ease-in-out 0.2s!important;}

#images_db{padding:0 15px 15px;}
.fixed-div{background:#f9f9f9;padding-bottom:20px;width:100%;}
.fixed-div h1{font-size:30px;float:left;}
.fixed-div .btn.btn-success{float:right;}
.fixed-div-con{border-bottom:double #acacac;float:left;width:100%;}


#popup-selectable{list-style-type:none;margin:0;padding:0;float:left;width:100%;margin-bottom:20px;background:#fff;padding:15px 10px;border:1px solid #f3f2f2;}
#popup-selectable li{font-size:1.4em;height:130px;max-height:130px;min-height:130px;text-align:center;display:table;list-style:none;padding:5px;}
#popup-selectable li .popup-selectable-img{display:table-cell;vertical-align:middle;border:1px solid #acacac;background:#fff;cursor:pointer;transition:all ease-in-out 0.2s!important;}
#popup-selectable li img{max-height:100px;width:auto;max-width:150px;}

#popup-selectable li .popup-selectable-img:hover{background:#29b6f6;color:#FFF;}
#popup-selectable .ui-selecting .popup-selectable-img{background:#29b6f6; }
#popup-selectable .ui-selected .popup-selectable-img{background:#319bcb;color:#FFF;}

.fixed-div  .btn.btn-success {
    background:#1ea6c7!important;
    border-radius:0!important;
    color:#fff!important;
    padding:6px 20px;border:0!important;margin-top:20px;transition:all ease-in-out 0.2s!important;
}
.fixed-div  .btn.btn-success:focus{outline:none!important;}
.fixed-div  .btn.btn-success:hover{background:#1c8da9!important;box-shadow:none!important;}

.wrapper-sticky{position:fixed!important;z-index:1;top:0!important;}
.wrapper-sticky + .container{margin-top:100px;}
