*{
    margin: 0px;
    padding: 0px;
    border: medium none;
    outline: medium none !important;
    list-style: outside none none;
    font-size: 100%;
    box-sizing: border-box;
}
body{margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#3a3138;}
.main-container{width:936px;margin:0 auto;}
h1,h4,p{margin:0;}

.top-header{float:left;width:100%;padding:20px 0;text-align:center;}
.top-header h1{margin:10px 0 8px;font-size:25px;}
.top-header p{margin:6px 0 0px;font-size:15px;}

.content-sec{float:left;width:100%;padding:20px 0;}
.box1,.box2{float:left;width:48%;padding:0 10px 0 0;}
.box2{padding:0 0 0 10px;}
.inbox2{width: 100% !important;}
.inbox{background:#fafafa;border:1px solid #eeeeee;float:left;width:100%;padding:15px;height:155px;}
h4{margin-bottom:10px;font-size:16px;}
h5{margin-bottom:10px;color:#515151;}
.inbox p{margin-bottom:10px;color:#8c8c7b;}
.inbox p:last-child{margin:0;}

/*.table-bg{padding:15px;float:left;width:100%;margin-top:20px;background:#fafafa;border:1px solid #eeeeee;}
.table {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.table-bordered {
    border: 1px solid #ddd;
}
.table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
.table-bordered>tbody>tr>td,.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border:1px solid #ddd;padding:8px;
vertical-align:top;}
.table-bordered>thead>tr>th{background:#5b5b5b;color:#fff;text-transform:uppercase;}
.table-bordered>tbody>tr>td{background:#fff;text-align:center;}

.td-img{padding:5px;border:1px solid #ccc;width:72px;float:left;text-align:center;}
.td-img img{max-width:60px;}
.td-cont{float:left;width:170px;font-size:12px;padding-left:10px;}
.td-cont p{margin:0 0 4px;}
.td-cont p.price{color:#e31837;}
.td-cont span{background:#2e823e;padding:3px 7px;color:#fff;float:left;border-radius:3px;}

.check-box{display:inline-block;padding-top:3px;border:1px solid #4dba8d;width:43px;height:23px;}
.tick{float:right;margin:3px 5px 0 0;}
*/
.bottom-cont{float:left;width:100%;margin-top:20px;}
.bottom-cont .btm-box1{height:auto;}
.signature-bg{background:#fafafa;border:1px solid #eeeeee;float:left;width:100%;padding:15px;position:relative;margin-top:20px;height:88px;text-align:center;}
.signature-bg .sign{position:absolute;bottom:15px;width:100%;}

.bottom-cont .btm-box2{height:240px;}
.margin{margin-top:25px;}
.thankyou-bg{float:left;width:100%;text-align:center;padding:20px 0 0;}

/*.footer{float:left;width:100%;background:#1d1d1d;}
.footer .logo-bg{float:left;width:100%;padding:10px;}
.logo-bg .btm-logo{float:left;}
.logo-bg .btm-logo1{float:right;}*/
.btm-p{padding:10px 0;text-align:center;background:#535050;color:#fff;float:left;width:100%;font-size:12px;}