/** Easy Tree style */   

.easy-tree { min-height: 20px; margin-bottom: 20px; background-color: #fff; color: #000; border: none; border-top: none; padding-bottom: 15px; }
.easy-tree > ol { padding-left: 15px; }
.easy-tree li { list-style-type: none; margin: 0; position: relative;padding: 10px 5px 0 5px;}
.easy-tree li::before, .easy-tree li::after { content: ''; left: -30px; position: absolute; right: auto }
.easy-tree li::before { border-left: 1px solid #e8e8e8; bottom: 50px; left:-16px; top:-5px; height: 112%; width: 1px }
.easy-tree li::after { border-top: 1px solid #e8e8e8; height: 20px; top: 21px; left:-16px; width: 16px }
.easy-tree li > span { border: 1px solid #000; border-radius: 3px; display: inline-block; padding: 5px; text-decoration: none }
.easy-tree li.parent_li > span { cursor: pointer }
.easy-tree > ol > li::before, .easy-tree > ol > li::after { border: 0 }
.easy-tree li:last-child::before { height: 27px }
.easy-tree li.parent_li > span:hover, .easy-tree li.parent_li > span:hover + ol li span { background: #ff6c60; color: #000; }
.easy-tree li.parent_li > span:hover + ol li.li_selected span { background: #e5e2e1; color: #e56155; }
.easy-tree li > span > a { color: #000; text-decoration: none; }
.easy-tree li > span > span.glyphicon-folder-close, .easy-tree li > span > span.glyphicon-folder-open { margin-right: 5px; }
.easy-tree li.li_selected > span, .easy-tree li.li_selected > span > a { background: #e5e2e1; color: #e56155; }
.easy-tree li.li_selected > span:hover, .easy-tree li.li_selected > span:hover > a { background: #fafafa; color: #ff6c60; }
.easy-tree .easy-tree-toolbar { background-color: #fff; }
.easy-tree .easy-tree-toolbar > div { display: inline-block; }
.easy-tree .easy-tree-toolbar > div > button { border-radius: 0; margin: 20px 5px; }
.easy-tree .easy-tree-toolbar .create .input-group { top: -15px; margin-left: 5px; margin-right: 5px; }
.easy-tree .easy-tree-toolbar .create .input-group input { border-radius: 0; }
.easy-tree .easy-tree-toolbar .create .input-group button { border-radius: 0; }
.easy-tree .glyphicon{color: #000;}
.easy-tree .fa-plus, .easy-tree .fa-minus{ color:#3c8dbc; text-align: center;width: 20px;cursor: pointer;}
input.selectcat.simple {
    margin: 16px 7px 0 10px !important;
    float: left;
}
