

.help-wrapper-bg .banner-content{width:882px;margin:25px auto;background:rgba(255,255,255,0.7);padding:34px 0;text-align:center;font-size:17px;position:relative;}
.help-wrapper{width:100%;float:left;position:relative;margin-bottom:15px;}
.help-left{width:255px;float:left;background:#f7f7f7;position:absolute;height:100%;left:0;top:0;}
.help-left li a {color:#818181;float:left;font-size:14px;padding:10px 15px;width:100%;}
.mm-selected a{color:#3a3138 !important; background:#e8ad3a !important;}
.help-wrapper *{box-sizing:border-box;}
.help-left li{transition:all ease-in-out 0.2s;}
.help-left li .active, .help-left li:hover, .help-left li .active span, .help-left li:hover span {color:#3a3138;background:#e8ad3a;}
.help-right{width:802px;float:left;padding:15px;margin-left:268px; background:white; border:1px solid #e1e1e1;}
.help-mod-block{width:100%;float:left;background:black;position:relative;margin-bottom:15px;}
.help-mod-block:last-child{margin:0;}
.help-mod-block img{opacity:0.7}
.popover-content{font-size:13px;line-height:22px;}
.step-img{position:absolute;opacity:0 !important;transition:all ease-in-out 0.2s;}
.tour-tour-element{opacity:1 !important;}

.help-head{width:100%;float:left;font-size:15px;font-weight:600;margin-bottom:20px;}
.h-blocks{width:100%;float:left;margin-bottom:15px;}
.h-block{width:177px;overflow:hidden;padding:4px 0;border-radius:2px;float:left;background:#e8ad3a;text-align:center;color:white;position:relative;margin-right:20px;}
.h-block:nth-child(2){ background:#71bdc8;}
.h-block:nth-child(3){ background:#ea1e59;}
.h-block:nth-child(4){ background:#9f2c6d;}
.h-block:last-child{margin-right:0;}
.h-block:hover{ color:white;}
.h-block:hover:after{transform:scale(1.5,1.5)}
.h-block:hover i:after{transform:scale(3,3);opacity:0;}
.h-block i{font-size:50px;line-height:70px;width:100%;}
.h-block span{width:100%;height:25px;font-size:15px;float:left;position:relative; top:-5px;}
.help-list li{width:100%;float:left;font-size:13px;margin-bottom:13px;}
.help-list li a{color:#6a6a6a;}
.help-list li a:hover{text-decoration:underline !important;}
.h-block i:after{left:0;position:absolute;top:14px;transition:all ease-in-out 0.2s;font-size:130px;color:#FFF;z-index:0; opacity:0.2;width:100%;}
.h-block i:before{text-transform:1px 2px 0 rgba(0, 0, 0, 0.2); z-index:7}
.h-block .fa-cogs:after{content:"\f085";} 
.h-block .fa-truck:after{content:"\f0d1";}
.h-block .fa-tty:after{content:"\f1e4 ";}
.h-block:after{border:1px solid rgba(100%,100%,100%,0.4);transition:all ease-in-out 0.2s;content:"";display:inline-block;height:89%;left:3%;position:absolute;right:0;top:4%;width:93%;z-index:99;}
.fa-handshake{line-height:0 !important;}
.fa-handshake{ content:""; background:url(../images/hanshake-big.png) no-repeat center; background-size:100%; height: 50px; margin-top:14px; width:54px !important;}
.fa.fa-cogs.fa-handshake img{max-width:60px;padding:13.5px 0;}
.fa-handshake:after{content:" " !important; background:url(../images/hanshake-big.png) no-repeat center;height:117%;background-size:91%; top:-4px !important;}
.help-home {left:19px;position:absolute;top:12px;z-index:99;color: white;}
.mm-title {font-size:14px;font-weight:600;padding-left:18px;}
.sale_table_head_right .submit_btn{float:right}
.help-mod-block img:first-child{width:100%;}

.a-img{left:360px;top:291px;}
.b-img{left:243px;bottom:173px;}
.c-img{right:78px;bottom:164px;}
.d-img{right:79px;bottom:223px;}
.e-img{left:73px;top:145px;}
.f-img{right:72px;bottom:201px;}
.g-img{left:73px;top:176px;}
.h-img{left:74px;bottom:14px;}
.i-img{right:72px;top:298px;}
.j-img{left:136px;top:172px;}
.k-img{bottom:12px;left:73px;}
.l-img{bottom:160px;right:72px;}
.m-img{bottom:109px;right:65px;}
.n-img{bottom:146px;right:175px;}
.o-img{bottom:148px;right:114px;}
.p-img{bottom:148px;right:63px;}
.q-img{bottom:79px;right:79px;}
.r-img{left:81px;top:268px;}
.s-img{right:78px;top:228px;}
.t-img{bottom:57px;left:99px;}
.u-img{bottom:27px;left: 116px;}
.v-img{top:213px;left:117px;}
.w-img{left:81px;top: 177px;}
.x-img{bottom:46px;right:89px;}
.y-img{bottom:64px;right:210px;}
.z-img{bottom:43px;right:284px;}
.aa-img{left:204px;top: 173px;}
.ab-img{bottom:36px;right:285px;}
.ac-img{left:201px;top:138px;}
.ad-img{left:337px;top:168px;}
.ae-img{bottom:78px;left:11px;}
.af-img{left:14px;top:317px;}
.ag-img{left: 230px;top:162px;}
.ah-img{bottom: 177px;right: 24px;}
.ai-img{bottom: 118px;left: 469px;}
.aj-img{left: 81px;top: 177px;}
.ak-img{right: 90px;top: 198px;}
.al-img{right: 208px;top: 216px;}
.am-img{right: 286px;top: 291px;}



.help-wrapper ul{ padding:0;}
.help-wrapper ul li{ list-style:none;}
.help-search{ width:100%; padding-left:25px; }
.help-search input{ width:739px; height:64px; border:1px solid #d5d5d5; float:left; padding-left:25px;}
.help-search a{ width:92px; height:63px; line-height:63px; background:#3a3138; display:inline-block;float:left; font-size:18px; color:white;}
.help-outer{ width:100%; float:left; background:white; /*border:1px solid #d6d6d6;border-top:0;*/ padding:30px 20px; margin-bottom:40px; box-shadow: 0px 0px 5px #d6d6d6;}
.h-head i{ background:#e8ad3a; width:29px; height:29px; color:white; float:left; border-radius:25px; text-align:center; font-size:16px; line-height:28px;}
.h-head span{ color:#6d6d6d; font-size:22px; margin-left:8px;}
.h-cnt{ width:100%; float:left; padding-top:15px; margin-bottom:30px;}
.h-cnt:last-child{ margin-bottom:0;}
.h-cnt ul li{ float:left; width:33.3%; list-style:inside;}
.h-cnt ul li a{ color:#6d6d6d; font-size:14px; line-height:32px;}
.h-cnt ul li a:hover{ text-decoration:underline !important;}
.h-head .fa-paper-plane{ background:#71bdc8; }
.h-head .fa-gear{ background:#ea1e59;}
.help-search-list-head{ margin:-30px -20px 0 -20px; border-bottom:1px solid #e5e5e5; padding:15px;}
.help-search-list-head span{ font-size:16px; color:#808080; float:left; margin-top:7px;}
.help-search-list-head a{ float:right; background:#9f2c6d; padding:7px 8px; color:white; border-radius:4px;}
.help-search-list-head a:hover{ background:#691645; color:white;}
.help-search-list-head a i{ margin-right:4px;}
.help-search-list-cnt{ width:100%; float:left;}
.help-list{ width:100%; float:left; padding:15px 0; border-bottom:1px solid #eeeeee;}
.help-list:last-child{ border:0;}
.help-list a{ font-size:20px; color:#575256;}
.help-list span{ font-size:14px; line-height:21px; color:#6d6d6d; width:100%; float:left; margin-top:10px;}
.hs-footer{margin:-1px -20px -20px -20px; text-align:center; border-top:1px solid #eeeeee; padding:0 20px;}
.hs-inner{display:inline-block; margin-top:15px;}
.hs-inner span{ float:left; color:#6d6d6d; font-size:17px; margin-top:6px;}
.hs-inner a{ float:left; border:1px solid #71bdc8; color:#71bdc8; /*width:127px;*/ height:35px; border-radius:3px; line-height:35px; margin-left:15px;padding:0 10px;}
.hs-inner a:hover{ background:#71bdc8; color:white;}
.hs-inner a.cht-btn{ border-color:#9f2c6d; color:#9f2c6d;}
.hs-inner a.cht-btn:hover{ background:#9f2c6d; color:white;}
.content-details{ width:100%; float:left;}
.content-details h3{ margin-top:0}
.content-details ul{ padding-left:15px; line-height:26px;}
.hs-inner.pull-left{ margin-bottom:-15px}
.hs-right{ float:right; font-size:16px; color:#6d6d6d; margin-top:20px; margin-bottom:-15px;}
.hs-right a{ text-decoration:underline;color:#6d6d6d;}
.modal-backdrop{ z-index:999}
button.vdo-close{ background:#71bdc8; opacity:1; color:white; text-shadow:none; border:1px solid white; width:32px; height:32px; position:absolute; right:-20px; top:-17px; border-radius:50%;}
button.vdo-close:hover{ opacity:1 !important; color:white;}
.help-vdo iframe{ width:100%; border:2px solid #a3a3a3;}
.help-vdo{ margin:15% auto;}



.screenshot-wrapper{float:left;}
.screenshot-wrapper img{width:auto!important;}