html, body {height: 100%; }
.wrap {min-height: 100%; height: auto; margin: 0 auto -60px; padding: 0 0 60px; }
.wrap > .container {padding: 70px 15px 20px; }
.footer {height: 60px; background-color: #f5f5f5; border-top: 1px solid #ddd; padding-top: 20px; }
.jumbotron {text-align: center; background-color: transparent; }
.jumbotron .btn {font-size: 21px; padding: 14px 24px; }
.not-set {color: #c55; font-style: italic; }
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal; line-height: 1; padding-left: 5px; }
a.asc:after {content: /*"\e113"*/ "\e151"; }
a.desc:after {content: /*"\e114"*/ "\e152"; }
.sort-numerical a.asc:after {content: "\e153"; }
.sort-numerical a.desc:after {content: "\e154"; }
.sort-ordinal a.asc:after {content: "\e155"; }
.sort-ordinal a.desc:after {content: "\e156"; }
.opt-banner{ float:right; }
.grid-view th {white-space: nowrap; padding:15px 10px !important; font-weight:500; color:#333; text-transform:uppercase; background:#fafafa;}
.grid-view th a{ color:#333;}
.form-control{ border-color:#b1b1b1;background:#ebebeb!important;color:#868585!important;}
.form-control:hover{background:#fff!important;}
.hint-block {display: block; margin-top: 5px; color: #999; }
.error-summary {color: #a94442; background: #fdf7f7; border-left: 3px solid #eed3d7; padding: 10px 20px; margin: 0 0 15px 0; }
.image_radio {margin-left: 25px; }
.add_new_option{ float: right !important; margin: 9px; padding: 0; color: #000; }
.bundle_items_options { /*margin-top: 20px; */}
#bundle-items-options_list > li {list-style: outside none none; }
.bundle_options_title {width: 260px; margin-bottom: 20px; }
.select-product-option-type {width: 175px; }
.delete_items {float: right;margin-right: 15px; }
.bundle_items_options ul { /*margin-bottom: 25px; */margin-top: 25px; margin-bottom: 1px !important; }
.bundle_items_options {border-top: 1px solid #ccc; margin-bottom: 2px; }
.bundle_items_list {border-bottom: 1px solid #ccc; }
.bundle_items_list {padding: 20px 5px; }
#bundle-items-options_list > li {margin-bottom: 20px; }
.bundle_items_options > ul {border-bottom: 1px solid #ccc; }
.select {width: 150px; }
td {padding: 7px 10px; border: 1px solid #ccc; }
th {padding: 5px 10px; border: 1px solid #ccc; }
.image_table {width: 100%; }
.add_image_buttons {float: right; margin-right: 35%; }
.add_prod_images {display: block; margin-bottom: 20px; margin-top: 40px; text-align: center; /*  width: 50%; */}
.add_selected_items { float: right !important; margin: 9px; padding: 0; color: #000; }
.bundle_items_table th {border-color: #ccc; border-style: solid; border-width: 1px; font-size: 0.9em; padding-bottom: 0; padding-top: 1px; text-align: center; }
.bundle_items_table td {border-color: #dadfe0; border-style: solid; border-width: 0 1px 1px 0; }
.bundle_items_table > table {width: 100%; }
.bundle_items_table tbody {text-align: center; }
.bundle_items_table select {width: 80px; }
.add_selection {margin-left: 15px; }
.bundle_items_table input {width: 100px; }
.default {max-width: 50px; }
.btn.btn-file > input[type="file"] {background: none repeat scroll 0 0 white !important; cursor: inherit !important; display: block !important; font-size: 23px !important; min-height: 100% !important; min-width: 100% !important; opacity: 0 !important; outline: medium none !important; position: absolute !important; right: 0 !important; text-align: right !important; top: 0 !important; }

.file-preview-thumbnails table td{ border-color: #dadfe0; border-style: solid; border-width: 0 1px 1px 0; }
.file-preview-thumbnails table th{ border-color: #dadfe0; border-style: solid; border-width: 0 1px 1px 0; }
.file-preview-image {height: 125px !important; width: auto !important; }
.file-preview-frame { height: 125px !important; }
.categories { width:300px; float: left; /*margin-right: 100px; */}
.search{width:420px; float:left; border: 1px solid #ccc; }
.product_search{ display:block; height:34px; width:100%; }
.search > span {font-size: 12px; margin-left: 10px; }
.categories > span {font-size: 12px; margin-left: 10px; }
.product_list {border: 1px solid #ccc; min-height: 35px; max-height: 175px; width: 100%; overflow-y: scroll; }
.product_checkbox {margin-left: 10px !important; }
.product_item {display:block; }
.product_item > label {color: #2f2f2f !important; font-size: 12px; font-weight: normal; }
.add_pdt{ float: right; margin: 10px 0; }
.clear {clear: both; font-size: 0; height: 0; line-height: 0; margin: 0; padding: 0; }
.tray_products_table{margin-top: 20px; }
.cost_price {width: 200px; }
.load_pdt{float: right;margin: 10px; }
.add_tray {float: right; }
.form-group > span {font-size: 1.5em; }
.tray_products{width: 100%; border: 1px solid #ccc; margin: 15px 0; }
.tray_attri{float: left; width: 20%; font-size: 14px; font-weight: bold; padding: 5px; }
.attri_details{float: left; width: 70%; padding: 5px; }
.traypdt_table{width: 100%; }
/*.form-group {margin-top: 10px; }
*/   
.add_tray_products{margin-top: 15px; }
.cost_price_promotions{width: 140px; }
.edit_tray {margin: 7px; }
.category_search {display: block; height: 34px; margin-left: 10px; width: 380px; margin-top: 15px; margin-bottom: 10px; }
.categories {border: 1px solid #ccc; float: left; width: 420px; min-height: 212px; margin-right: 20px; }
.category_product {border: 1px solid #ccc; margin-left: 10px; max-height: 175px; min-height: 35px; overflow: scroll; width: 395px; }
.product_box {margin-top: 20px; }
.ui-widget-header{ background:#191c22 !important; border:0 !important; padding:8px 15px !important; border-bottom:1px solid #E5E5E5 !important; border-radius:0 !important; }
.ui-dialog .ui-dialog-title { font-weight: normal; width: 100%; color:#FFF; font-size:17px; line-height:21px; }
.ui-widget, .ui-widget{ font-family: "Source Sans Pro",sans-serif; font-size:100%; }
.ui-widget-content{ border-radius:0 !important; border:0 !important; padding:0; box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.125); }
.ui-dialog-content label{ font-weight:normal; color:#333; }
.ui-dialog-content .form-control{ border-radius:3px !important; border:1px solid #E5E5E5 !important; }
.ui-dialog-titlebar-close{ background:none; border:0; }
.ui-dialog-titlebar-close:after{ position:absolute; left:0; top:0; content:"×"; font-size: 15px; line-height: 1; color: #FFF; text-shadow: 0px 1px 0px #FFF; opacity: 0.2; transition: all ease-in-out 0.3s; }
.ui-dialog-titlebar-close:hover:after{ opacity:0.7; }
.ui-dialog{ position:fixed;}
.ui-dialog .ui-dialog-titlebar-close{ top:58% !important;outline:none!important; }
.form-group.modal-footer{ margin-bottom: 0px; margin-top: 9px; display: block;float: left;width: 100%;padding: 10px 0px;text-align: left !important; }
/*.content{ background: none !important; }*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ background:none;border:0;font-weight:normal; }
.panel{ background:#323232 !important;border:0 !important}
.kv-sidenav li a{ border-bottom:0 !important;border-radius:0; padding:10px 5px 10px 10px; }
.left-side{ background:#323232 !important; }
table *{ border-color:#acacac !important; }
/*.table-striped > tbody > tr:nth-of-type(2n+1){ background:#fafafa;}*/
.wrapper{ background:#f9f9f9; }
.skin-blue .sidebar > .sidebar-menu > li{ border:0 !important; }
.nav > li > a:hover, .nav > li > a:focus{ background:none !important; }
.skin-blue .sidebar{ border:0 !important; }
/*.right-side{ background: none !important; }*/
.suppliers-view div{ margin-bottom:15px; margin-top:5px; }
.suppliers-view div label, .suppliers-update div label{ display:inline-block; font-weight:normal; margin:5px; width:100%; }
.suppliers-view div label span, .suppliers-view div label input{ display:inline-block; float: left; }
.icheckbox_minimal{ margin:0 7px 0 0 !important; float:left; }
.supplr{ margin-bottom:5px; }
.pg-float .pagination{ float:right; }
.margin{ padding:15px 0; }
body, html{ height:auto !important}
.summary{float: left;margin-bottom: 14px;padding-top: 9px;}
.update-btn{ float:right; margin-top:25px; }
.menu-top-area .form-control{ width:250px !important; }
.nav-tabs-custom > .nav-tabs.pull-right > li{ float:left !important; }
.img-sm{ width:100%; }
h3{ font-size:24px; }
h3 span{ color:#909090}
#main-banner .box, #mini-banner .box, #side-banner .box{ margin:10px 0;}
u a{  display:inline-block; color:#444;}
.box-header u a{ color:#444 !important;}
u:nth-child(2) a:hover{ color:#3c8dbc !important; }
u:last-child a:hover{ color:red !important; }
#banners-url_type label{ padding-left:0 !important; margin-bottom:10px !important; }
.check-container{ margin-bottom:10px; display:block; }
.cke_1 .cke_top{ background: #ffffff !important; border-color:#e3e3e3 !important; }
.cke_chrome{ border:1px solid #e9eded !important; }
.cke_reset_all, .cke_reset_all *{ /*color:white !important; */ text-shadow:none !important; }
.cke_bottom{ background:#222d32 !important; border:0 !important; box-shadow:none !important; }
.cke_1 .cke_toolgroup{ background:-moz-linear-gradient(center top , #f3f3f3, #bfced7) repeat scroll 0 0 !important; border:1px solid #9eb3bf !important; }
.cke_button_label{ color:#474747 !important; }
.cke_button_on{ background: #b5b5b5 -moz-linear-gradient(center top , #aaa, #cacaca) repeat scroll 0 0 !important; }
.cke_1 a.cke_button_off:hover, .cke_1 a.cke_button_off:focus, .cke_1 a.cke_button_off:active{ background: #ccc !important; }
.cke_1 .cke_toolbar_separator{ background-color: rgba(0, 0, 0, 0.2) !important; }
.sub-head{ width:100%; display:block; float:left; padding: 0 10px; margin:0; color:#999}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{ color:white ; }
#sortable li{ margin:0 !important; padding:0 !important; }
.dd-handle span{ padding-top:10px; margin:0 !important; }
.btm-upld{ margin:0; padding:15px; background:#ECECEC; border-top:1px solid #C3C3C3; }
.addnew_tray{ margin:15px 0 !important; }
.csv-file-upload{ margin-bottom:15px; }
.btm-upld label{ margin-bottom:15px; }
.sm-100{ width:100%; margin-bottom:15px; margin-right:0; }
.product_search.form-control{ width:100%; }
.search.sm-100{ padding:10px; }
.add_tray_products .col-md-6{ padding:0 5px; }
.add_tray_products .row{ margin:0 -5px; }
.sm-box-container .box-header{ color:#3C8DBC !important; }
.line-border{ width:100%; height:1px; background:#DDDDDD; margin-bottom:15px; margin-top:5px; }
.cf.nestable-lists #sortable li{ background:#ededed; margin-bottom:3px !important; padding:5px !important; border:1px solid #d9d9d9; border-radius:3px; height:42px !important; }
.cf.nestable-lists #sortable .dd-handle span{ padding-top:0 !important; padding-left:10px !important; }
.txt-btn{ padding:11px 0 23px !important; font-size:14px !important; }
.txt-btn a{ color:#5bc0de !important; }
.img-desc{ }
.img-head{ width:100%; font-size:16px; font-weight:600; margin-bottom:15px; }
.ui-state-default a.txt-btn, .ui-state-default a.txt-btn:link, .ui-state-default a.txt-btn:visited{ color:#5bc0de !important; }
.menu-icon-set{ float:right; font-size:13px; }
.menu-icon-set a{ padding:0 10px; font-weight:normal; }
.wrapper-right-menu .menu-icon-set a{ color:white !important; }
.wrapper-right-menu .menu-icon-set a:hover{ color:white !important; }
.menu-icon-set a i{ font-size:14px; }
.mrg-btm-0{ margin-bottom:0 !important; }
.brnd-btm{ width:100%; display:block; padding:15px; clear:both; }
@media (min-width:1200px){ .sm-table{ width:100% !important; table-layout:fixed; }
.cost_price_promotions{ width:100%; }
.sm-banners{ width:20%;}
}

@media (max-width:1400px){
	 .grid-view th{ font-size:12px;}
	}


.gritter-notice-wrapper {background: #000; }
.form-box .header, .bg-olive{ background:#9c0030 !important; }
.gl-img-row{ width:100%; height:175px; overflow: hidden; padding:5px; }
.btn-row-sm{ width:100%; text-align:center; line-height:0px; padding:10px 0; }
.txt-btn span a{ font-weight:normal; text-decoration:underline; color:#00ACD6 !important; }
.sm-img-container { list-style-type: none; padding: 0; }
#sortable.sm-img-container li { float: left; height: 280px; font-size: 4em; text-align: center; padding-right: 15px !important; padding-left: 15px !important; height:auto !important; }
.sm-img-container li .box{cursor:move; }
.sm-img-container li img{ width:100%; cursor:move; }
.kv-toggle .fa-angle-down, .kv-toggle .fa-angle-down{ font-size:16px !important; }
.categoryid{ padding-top:10px; }
li.active .kv-toggle{ }
.btn-right-sm{ padding-bottom:15px; float:right; }
.span-sm span{ width:160px; display:inline-block; }
.sm-min-row{ text-align:left; }
.one-span{ font-weight:normal !important; width:200px !important; }
.sm-min-row span{ width:100px; font-weight:600; display:inline-block; }
.icon-bar{ background:black;}
.navbar-btn { color: black; font-size: 20px; margin-bottom: 8px; margin-top: 8px; position: absolute;right: -43px; z-index: 9999;}
.navbar-btn:hover,.navbar-btn:focus{ color:black;}
.left-side::after{ background: #191c22; bottom: -50px; content: ""; display: inline-block; height: 50px; position: absolute; width: 100%; z-index: 999999;}
/*@media (min-width:993px){ .navbar-btn{ display:none !important; }
}*/
@media (max-width:992px){ .user-panel{ border-top: 1px solid #FFF; border-bottom: none !important; }
}
/* Added By Dan */

#shipments-trackingnumber{ height:33px !important; }
/* End */

.checkbox{ display:inline-block; float:left; margin:0; height:19px; margin-bottom:10px; }
.checkbox label{ padding:0; }
.sm-bd .form-group{ margin:0; float:left; }
.coming_soon{ padding:50px; text-align:center; color:#999; font-size:17px; }
#orderitems-message{ height:253px; font-size:12px; }
#ajax-update{ overflow:hidden; }
.messages-menu {display: none !important; }
.notifications-menu {display: none !important; }
.tasks-menu {display: none !important; }
.category-block{display: none; }
.order_from_supplier .cke_inner .cke_top{display: none !important; }
/*.sm-tb table th:nth-child(4){ width: 320px; }*/
.buttons-smrow{ float:right; margin-bottom:10px;}
/*.buttons-smrow .btn{ margin-left:5px; }*/
.buttons-update{margin-left: 8px; }
.content-header span, .question{ float:left; }
.question{ font-size: 15px; margin-left: 3px; margin-top: 2px; opacity: 0.7; cursor:pointer; }
.tooltip-inner {max-width: none !important; text-align:left; line-height:22px; font-style:italic; font-size:13px; padding-bottom:5px; }
#order-items .summary{margin-bottom: 0px !important; }
.promotions-select .summary{margin-bottom: 0px !important}
.cke_1 .cke_toolgroup{background: #ffffff !important; border-color:#ccc !important}
.cke_1 .cke_dialog_title{background: #ffffff !important; border-color:#ccc !important}
.cke_1 .cke_dialog_body{background-color:#bfced7 !important;border-color:#0C0C0C !important}
.cke_1 .cke_dialog_tab{color: #474747 !important; }
.cke_dialog_ui_button{color: #474747 !important; }
.cke_1 .cke_dialog_footer{background: #ffffff; background-image: -moz-linear-gradient(top,  #ffffff 0%, #bfced7 100%) !important; background-image: -webkit-linear-gradient(top,  #ffffff 0%,#bfced7 100%) !important; background-image: linear-gradient(to bottom,  #ffffff 0%,#bfced7 100%) !important; color: #474747 !important; outline-color:#0C0C0C !important; border-top-color: #0C0C0C !important; } 
.kv-sidenav .opened, .kv-sidenav .closed{ line-height:31px !important;}
.ui-dialog{ box-shadow: 0 0 0 1500px rgba(0, 0, 0, 0.46);position: fixed; z-index: 9999;}
.smrw{ width:100%; display:table;}
#buttons .buttons-smrow{ margin-bottom:15px}
.btn:hover{box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);}
.ship-check input{ float:left; margin-right:5px; margin-top:3px;}
.btn-default .fa.fa-angle-left {float: left;font-size: 22px;line-height: 0;margin-left: -2px;margin-right: 8px;margin-top: 9px;}
.sm-bn .box-body .box{ background: #fafafa;border: 1px solid #eeeeee; box-shadow: none;}
.sm-bn .box-body .box .box-body{ padding:0;}
.sm-rule-row{ width:100%; float:left; margin:0 !important; padding-bottom:15px;}

.sm-rule-row .remove-condition, .sm-rule-row select, .sm-rule-row input{ float:left; margin-right:15px;}
.sm-rule-row select{ width:260px !important; max-width:none;}
.remove-condition{ margin-top:7px}
.remove-condition a{ color:#333;}
.add-condition{ margin-bottom:15px;}
.input-daterange{ width:100% !important;}
#costumers-form ~ .input-daterange{ width:200px !important;}
.input-daterange .kv-container-from, .input-daterange .kv-container-to{ width:35% !important; float:left; display:inline-block !important}
.input-daterange span{ float:left; width:30% !important; margin:0 !important; padding:6px 5px !important;}


/*--------------------------------------------------------------------------------------------------------------------*/

/*.selctedbanners-bg{padding:0 10px;}*/
.box .box-header .drag-text{float:left;margin:7px 0 0;}
/*#s_banner{padding:0 25px;}*/
#s_banner .color-palette-box{background:none;border:none;}

#selctedbanners .box-body .row,#selctedbanners .box-body .row #sortable{margin:0;}

#sortable li.ui-sortable-handle{padding-right:10px!important;width:16.66666667%;height:110px;text-align:center;display:inherit;float:left;}
#sortable li.ui-sortable-handle:last-child{padding-right:0px!important;}
#sortable li.ui-sortable-handle img{width:100%!important;max-height:90px!important;border:1px solid #acacac!important;padding:10px;}

/*#products-form .input-daterange{ width:240px !important;}*/
.input-daterange .kv-container-from .form-control,.input-daterange .kv-container-to .form-control{padding: 6px 5px;}
.cf.nestable-lists #sortable li{width:100%!important;text-align:left!important;padding-right:5px!important;}
#sortable{width:100%!important;}
.cf.nestable-lists #sortable li .btn{color:#fff!important;}

/*--------------------------------------------------------------------------------------------------------------------*/

/*--Manny------------------------------------------------------------------------------------------------------------------*/

.cke_dialog_tabs a[title~=Link],.cke_dialog_tabs a[title~=Advanced]{display:none!important;}

/*--Manny------------------------------------------------------------------------------------------------------------------*/
