.container{ margin-top: 26px;}

.categories-index > h3 { border-bottom: 1px solid #ccc; margin-bottom: 25px;}

.ui-state-default{ list-style-type: none;}

ul.attribute-values{ list-style-type: none;}

.floatleft{ float: left;}

.option-details{ display: inline-block; margin-left: 10px;}

.submit_enabled { float: right;}

.store-dropdown { margin: 10px 0 12px; padding: 5px;}

#main-banner > h3 { clear: both; float: none;}

.autofile-upload { margin: 25px;}

.form-group.addnew_tray { margin: 15px;}

.file-error-message{ display: none !important;}

.date_offer .offer { display: block; float: left; font-size: 16px; padding: 10px 0; width: 45%;}

.inst_text{ padding-bottom: 20px;}

.from_field { width: 22%; float: left; padding-bottom: 20px;}

.btnarea span{float: left;margin-right: 20px;}

.button.accept{ margin-right: 25px;}

.sm-checkox  .form-group{ float: left; margin-bottom: 0;}

.sm-checkox u{ float: right;}

.sm-checkox u a{ padding-top:0}

.sm-checkox u:last-child a{ padding-right: 10px !important;}

.sm-checkox label{ padding: 0 !important;}

.sm-checkox .checkbox{ margin: 0}

.sm-checkox .help-block{ display: none;}

}

.select_all{ float: right;}

.save-float{ background:#3c8dbc !important; border-color:#3c8dbc !important; font-size:14px !important; padding:6px 15px !important}

.save-float.stick { position: fixed; top: 34px; right: 46px; font-size: 21px !important; width: 110px; z-index: 10000; box-shadow:0 0 27px rgba(0, 0, 0, 0.3);}

.menu-icon-set a {color: #367fa9 !important;}

#main-banner > h3{ clear:none !important;}

.av-path { color: #8b8b8b; font-style: italic;}

#selectedbannersmove{ background: #fff none repeat scroll 0 0; margin: 5px; padding: 10px; }

.tree-section{border-right:1px solid #ccc; overflow-y: scroll; max-height: 550px;}

.easy-tree-toolbar{display: none;}

.category-text{cursor: pointer; font-weight: normal !important;}

.selected-cat{font-weight: bold !important;}
.modal-dialog{  z-index: 99999 !important;}
.place-holder input{font-style: italic !important; }
.attribute-name-container i{ margin-right: 3px; }

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.main-page-bg{padding:0 0 15px;float:left;width:100%;}
.main-page-bg .row{margin-left:-10px;margin-right:-10px;}
.main-page-bg .col-xs-4{padding:10px 10px;}
.main-page-bg .col-xs-4 .box-bg{text-align:center;color:#fff;height:300px;display:table;width:100%;border:1px solid #acacac;overflow:hidden;}
.main-page-bg .col-xs-4 .box-bg .box-inner{display:table-cell;vertical-align:middle;text-align:center;font-size:25px;transition:all ease 0.1s;position:relative;}
.main-page-bg .col-xs-4 .box-bg .box-inner a{color:#fff;}

.main-page-bg .col-xs-4 .box-bg .box-inner .icon-bg{width:100%;text-align:center;}
.main-page-bg .col-xs-4 .box-bg .box-inner .fa{font-size:45px;}

.box-bg .box-inner .fa.fa-rotate-90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


.main-page-bg .col-xs-4 .box-bg .box-inner ul{width:70%;height:100%;position:absolute;right:-75%;transition:all ease 0.1s;top:0;font-size:15px;margin:0;padding:0;box-shadow:0px 0px 10px rgba(0,0,0,0.2);text-align:left;background:rgba(0,0,0,0.2)}
.main-page-bg .col-xs-4 .box-bg .box-inner ul li{float:left;width:100%;list-style:none;}
.main-page-bg .col-xs-4 .box-bg .box-inner ul li a{float:left;width:100%;padding:10px 15px;color:#fff;position:relative;}
.main-page-bg .col-xs-4 .box-bg .box-inner ul li a:after{content:"\f105";font-family:FontAwesome;right:-10px;position:absolute;transition:all ease 0.2s;top:0;font-size:18px;top:7px;}
.main-page-bg .col-xs-4 .box-bg .box-inner ul li a:hover,.main-page-bg .col-xs-4 .box-bg .box-inner ul li.active a{background:#7c1c37;}
.main-page-bg .col-xs-4 .box-bg .box-inner ul li a:hover:after,.main-page-bg .col-xs-4 .box-bg .box-inner ul li.active a:after{right:12px;}

.main-page-bg .bg-color1{background:#f4285d;}
.main-page-bg .bg-color2{background:#f4d168;}
.main-page-bg .bg-color3{background:#6ee7b5;}
.main-page-bg .bg-color4{background:#da6ee7;}
.main-page-bg .bg-color5{background:#148972;}
.main-page-bg .bg-color6{background:#ee6b14;}
.main-page-bg .bg-color7{background:#f4a368;}
.main-page-bg .bg-color8{background:#68c4f4;}
.main-page-bg .bg-color9{background:#494f59;}

.main-page-bg .bg-color2 .box-inner ul li a:hover,.main-page-bg .bg-color2 .box-inner ul li.active a{background:#a38630!important;}
.main-page-bg .bg-color3 .box-inner ul li a:hover,.main-page-bg .bg-color3 .box-inner ul li.active a{background:#31946b!important;}
.main-page-bg .bg-color4 .box-inner ul li a:hover,.main-page-bg .bg-color4 .box-inner ul li.active a{background:#762a7f!important;}
.main-page-bg .bg-color5 .box-inner ul li a:hover,.main-page-bg .bg-color5 .box-inner ul li.active a{background:#16443b!important;}
.main-page-bg .bg-color6 .box-inner ul li a:hover,.main-page-bg .bg-color6 .box-inner ul li.active a{background:#a44304!important;}
.main-page-bg .bg-color7 .box-inner ul li a:hover,.main-page-bg .bg-color7 .box-inner ul li.active a{background:#824e29!important;}
.main-page-bg .bg-color8 .box-inner ul li a:hover,.main-page-bg .bg-color8 .box-inner ul li.active a{background:#2e617c!important;}
.main-page-bg .bg-color9 .box-inner ul li a:hover,.main-page-bg .bg-color9 .box-inner ul li.active a{background:#2e3033!important;}


.main-page-bg .col-xs-4 .box-bg:hover .box-inner .icon-bg{width:30%;font-size:15px;}
.main-page-bg .col-xs-4 .box-bg:hover .box-inner .fa{font-size:25px;}
.main-page-bg .col-xs-4 .box-bg:hover .box-inner ul{right:0;}

.main-page-bg .col-xs-4 .box-bg.no-hover:hover .box-inner .icon-bg{width:100%!important;font-size:25px!important;}
.main-page-bg .col-xs-4 .box-bg.no-hover:hover .box-inner .fa{font-size:45px!important;}


/*//----------------------------------------------------------------------------------------------------------------------------------------------------------------*/