.nav-inner, .cat-wrapper, .pdt-cart, .cat-head, .pdt-btn, .login-button, .cont, .btn-primary, button.submit-wishbtn, button.submit-wishbtn:hover{background: #808080 !important;}
.cart-content-bg a .shopping-btn-bg, .cart-content-bg button, .btn-success{background: #808080 !important;}
.site-checkout .continue:hover, .empty-wrapper a, .cart-drop a:hover, .product .fa-eye:hover, .product .fa-heart:hover {background: #808080 !important;}
.search-outer,.product .fa-eye:hover, .product .fa-heart:hover{border: 1px solid #808080 !important;}
.pagination>.active>a{background: #808080 !important; border-color: #808080;}